[2017-09-17 21:05] gajus commented on #821
Just in case, locally, the way I've worked around this is by dropping use of `array` altogether, using string type, and documenting that user needs to provide multiple values using a specified separator. Then just splitting the string when interpreting `argv`.

[2017-09-17 21:06] bcoe commented on #933
@tfili definitely sounds like a bug. `-abcde` has a special meaning in the parser, allowing you to set multiple boolean flags at the same time. My guess is that this multi-flag parsing is stepping on the toes of the configured `output` variable.

If you're so inclined, would love some help digging into this further. The codebase that will be the culprit is [yargs-parser](https://github.com/yargs/y

[2017-09-17 21:07] pscanf commented on #956
Ah, my misunderstanding then, sorry. Thought it was a case like #862 . Waiting for `9.0.0` then. :)  Cheers!

[2017-09-17 21:08] bcoe commented on #932
@amcasey 👍 I agree this is weird! I think it's `flatdoc` that's applying this style. Could I convince you to open the issue on https://github.com/yargs/yargs.github.io, which is where we render the docs.

If you have any interest in contributing, I would also very happily land a fix if you get a chance to dig into it 😉

[2017-09-17 21:11] bcoe commented on #895
@borela, as @dvishniakov suggests try adding `.demandCommand()` and removing:

[code]

The above code creates a default command that executes and shows help, so you're seeing help for this command not for the top-level yargs object which has command1 and command2 installed... I also note that you have two `command1`s in your example code, it should probably be `command1` and `command2`.

[2017-09-17 21:14] bcoe commented on #928
@MichelleShieh this is the historic demand API, which had about 1,000,000 different types of arguments you could pass to it. I recommend instead using `demandCommand` and `demandOption` (each of which are documented).

These allow you to configure positional arguments and flag arguments separately, rather than having the confusing `demand()` API.

[2017-09-17 23:03] bcoe commented on #956
@pscanf no worries, excited that people are itching for the next release.

[2017-09-17 23:07] bcoe commented on #925
@ev1stensberg what's the specific code that's giving you an issue? a few months ago we introduced a library which validates the arguments parsed to yargs' core API, my guess is we're being too strict in a specific edge-case.

CC: @FallingSnow sorry for dropping this on the floor for so long.

[2017-09-17 23:10] jordansexton commented on #929
Yeah, special preference for `false` or falsy values would be hard to be consistent/predictable with. However, a default value shouldn't inherently conflict just by being declared. I think the expected behavior would separate the concept of a conflicting value from default values.

This might be accomplished by evaluating conflicting values that are provided as args, and then applying defaults. Al

[2017-09-17 23:26] bcoe commented on #953
@digitalkaoz going to reply in your pull-request 👍

[2017-09-17 23:41] bcoe commented on #929
@jordansexton I agree with what you're saying ... I don't think the fact that we've applied a default value for an argument should result in it being flagged as a conflict.

Because the default values are applied in the parsing library `yargs-parser` and the conflicts logic is applied in yargs itself, the actual implementation might be a bit of a pain ... I think your second suggestion would work

[2017-09-17 23:43] jordansexton commented on #929
Yeah, I'll take a look at the code and see if I can get it done.

[2017-09-17 23:46] jordansexton commented on #929
@bcoe So, defaults are applied in yargs-parser, which should be okay for what I'm thinking, provided that yargs itself can see the defaults where it would need to @ https://github.com/yargs/yargs/blob/0e0c58dd737f856ee4b3d595ddfb835247db9503/lib/validation.js#L324-L333

Can it?

[2017-09-18 00:01] jordansexton commented on #929
Okay, so it looks like https://github.com/yargs/yargs-parser/blob/00bde7d60c433c188f2529a33bab187d40645f7d/index.js#L677-L683 would need to change to include `flags.defaulted` and/or `defaults` in the returned object.

Then https://github.com/yargs/yargs/blob/0e0c58dd737f856ee4b3d595ddfb835247db9503/yargs.js#L1063-L1073 and its call location a few lines up would need to be changed to pass `argv` a

[2017-09-18 00:05] jordansexton commented on #929
I'm considering that `Parser.detailed` should just return all the determined flags and so on, and just let the caller decide what it cares about. Treating `flags.defaults` as a special case for this feature seems weird. And then `runValidation` can be changed to a signature of `(argv, parsed, ...)` or `(argv, flags, ...)` and cherry pick aliases, defaults, and whatever else each individual `valida

[2017-09-18 03:10] gluons commented on #957
Thanks

[2017-09-18 11:27] LinusU commented on #894
This should probably be closed now, in Yargs 9.0.0 you can call `.parse()` to get the same behaviour as `.argv`, but with a function call instead of a getter 🎉 👏

[2017-09-18 15:40] Morishiri commented on #888
I've created pull request making it possible, You may want to take a look: https://github.com/yargs/yargs/pull/958

[2017-09-18 16:09] servel333 commented on #888
@Morishiri Thanks! Looks like a good PR.

[2017-09-18 16:14] sloanlance opened #959 ""command" means "argument"?"
I'm new to yargs after trying "commander" and finding it inadequate.  commander was recommended to me by a colleague, but npm tells me yargs is the most popular package with the features I want.  I've used many CLI parsers over the years with various programming languages.

I'm a little confused by yargs' terminology.  Are "commands" the same as "arguments"?  I thought `command()` was only for pro

[2017-09-18 16:28] Morishiri commented on #938
It is happening that way, because it is parsed as number. And 9.0 equals 9.
If you want to receive '9.0' value you may want to set your variable type to string

I've created example yargs call:

    const args = yargs
        .option('number-option', {
            number: true
        })
        .option('string-option', {
            string: true
        })
        .argv;
    console.log(args);

W

[2017-09-18 17:21] amcasey commented on #932
Done. 😄

[2017-09-18 17:21] #932 closed

[2017-09-18 21:51] evocateur commented on #935
I would really like to add type validation for command positional arguments. I'm at a loss when trying to describe (or even indicate) that an optional positional argument has a default, and adding the same key to the `options` makes it output in the flags listing as well...

[2017-09-18 21:58] bcoe commented on #935
@evocateur good news, I've been hacking on a solution to this and actually got fairly far while traveling yesterday. My partial solution is to run the positional command variables through yargs-parser. I would love some help seeing this work over the finish line, since it's brought up a few other issues I'd like to address, so is turning into a bigger issue than I'd like.

Perhaps you could open a

[2017-09-18 21:58] #935 closed

[2017-09-19 22:10] #894 closed

[2017-09-22 12:00] matatk commented on #959
I believe that I'm running into the same issue here.  I have been trawling yargs' GitHub issues to see if it is possible to provide a name (i.e. alias) for a positional argument, a la #728 '"flagless" arguments without a command'.  However, that issue was closed in favour of #467 'add support for default commands to yargs'.

It may well be that #467 solves the [issue I'd like to address](https://g

[2017-09-22 19:20] richburdon opened #960 "Parse method's output is always empty."
The docs (http://yargs.js.org/docs/#api-parseargs-context-parsecallback) imply that console logging is captured and passed to the `output` function, but in my test below, the console.log inside the command handler does the output and an empty string is always passed to the `parse` handler.

[code]

Version 9.0.1

[2017-09-23 17:44] bcoe commented on #960
@richburdon the default output if you don't pass `--help` is empty, try the following and I think things will be working as expected:

[code]

Also worth noting, you shouldn't need to set `exitProcess(false)` if you're using `.parse()` -- it will do this automatically.

[2017-09-23 22:20] bcoe commented on #959
@sloanlance @matatk the limitations in the command API is very much on the top of my mind right now. I've been working on a branch that introduces all the same features to positional arguments in commands that are available for arguments. In this new world the API would look something like this:

[code]

Where `.positional` would be pretty much an alias for `.option`, except that anything defined

[2017-09-25 02:50] ethancfchen opened #961 "'version' alias not work anymore."
My `yargs` settings:
[code]

My code:
[code]

Command
[code]
It will show `false, 'stage'` in my console.
If I change `alias: 'version'` to `alias: 'bbb'` and my code becomes `const inputVer = argv.bbb;`
With the same command and I got `'prerelease' 'stage'`

Node: v7.10.0
yargs: 9.0.1
yargs-parser: 5.0.0

[2017-09-26 10:05] laggingreflex commented on #893
This is by design, I think (@bcoe please correct me if I'm wrong).

When you use the command syntax, and when you use `showHelp` from *inside* a command (i.e. you've entered `<your-app> example-command` in the CLI), then the `showHelp` would only show help for that particular command (`example-command` in this case).

So inside the `*` command it only shows help for that command - `*`, and not the

[2017-09-26 16:04] Morishiri commented on #961
Hi,
I did a little digging around the topic and it got changed in version [9.0.0](https://github.com/yargs/yargs/blob/master/CHANGELOG.md#900-2017-09-03). Since then version and help options are enabled by default.
So while using it as you presented you are aliasing `version` with `v`, not the other way around.
To do what you want in `yargs > 9.0.0` you need to disable `version` option as follows:

[2017-09-26 16:11] ethancfchen commented on #961
Oh thanks very much! I think I should read more before I upgrade next time.
Thanks again, you save my time.

[2017-09-26 16:11] #961 closed

[2017-09-26 17:07] Morishiri commented on #947
As I merged #952 - closing this.

[2017-09-26 17:07] #947 closed

[2017-09-26 17:09] #888 closed

[2017-09-26 17:11] #884 closed

[2017-09-26 17:18] #827 closed

[2017-09-26 17:29] Morishiri commented on #233
I was just looking for some issues to close and I think this is really nice idea to implement and I think I will do it, but we need to make some agreements first.

How should it behave if more than one flag is set? I think it should be treaten the same way as `conflicts`, but I need confirmation on that.
@bcoe , @errorx666 do you have any other ideas on how should it behave?

[2017-09-26 22:01] tecfu commented on #884
Sweet. Thanks for fix.

[2017-09-27 04:50] errorx666 commented on #233
That sounds right.

[2017-09-27 10:10] ezzatron opened #963 ""Automagic" conversion of number-like strings is unexpected and frustrating"
I'm building a CLI with lots of options, spread across lots of nested commands. I recently noticed (by pure luck) that an option that was accepts a phone number was being "automagically" converted to a number and losing the leading zero. After some digging, the cause is this feature:

one. This way you can just `net.createConnection(argv.port)` and you can add
numbers out of `argv` with `+` withou

[2017-09-27 10:43] xxxtonixxx commented on #893
Hmmm, yes, @laggingreflex, that works, thanks :+1:

However, I would like a better way to do it, cleaner

[2017-09-27 11:49] ezzatron commented on #963
It also seems to be completely impossible to stop this happening for arguments, even when using a custom coercion function.

[2017-09-27 14:00] Morishiri commented on #963
Hey,

actually there is really simple way to deal with it. Having script like this:
[code]
look at the option called `string-option`. By assigning it `string: true` property you are stopping `yargs` from parsing it like a number.

Output from
[code]
is
[code]

so as you can see `15` is `string`, while `12` was parsed as a number.

[2017-09-27 21:50] ezzatron commented on #963
Thank you! That will make the problem easier to deal with.

Do you know the same is possible for regular (non-option) arguments? The automatic number parsing seems to happen there too.

[2017-09-27 22:42] nexdrew commented on #963
Note that you can also disable the feature entirely via yargs config in your package.json. See the `parse-numbers` option here: https://github.com/yargs/yargs/blob/master/docs/advanced.md#customizing

[2017-09-27 22:57] bcoe commented on #963
@ezzatron worth noting I'm doing some work on yargs' parser's handling around number conversion, since it breaks some aspects of bringing command parsing closer to option parsing.

[2017-09-27 23:14] ezzatron commented on #963
@nexdrew That's exactly what I was looking for, thanks!

I might submit a PR to add that information to the "Tricks - Numbers" section of the docs, which is where it would have been handy to find that information.

@bcoe Thanks for the heads up :)

[2017-09-27 23:35] bcoe commented on #963
@ezzatron patches to docs very much appreciated, also if you have any thoughts about how to make this feature less shocking; I had on my mind even that I might disable this feature by default in a major release ... I was a little concerned this might break too many programs though.

_Word of warning, I found some bugs with turning off number parsing entirely, which I'm in the process of fixing on

[2017-09-28 02:40] ezzatron commented on #963
My personal preference would be for it to be disabled by default, and addressed in a major release like you suggested. Less magic is good, and major releases are for breaking things.

With a good change log and/or migration guide, I don't think people will get upset. Especially if all they have to do to get the old behavior back is explicitly set `parse-numbers` to `true` in their top-level config

[2017-09-28 15:28] zzharryzz commented on #929
Hey everyone. I don't know of how much use this sample will be, but it seems booleans and default values aren't the only affected types. The code below is in NodeJs, and the javascript file is called _test.js_
[code]
Executing ```node test.js hello --w``` yields ```Arguments work and run are mutually exclusive```

[2017-09-29 18:52] aackerman opened #964 "Unable to define a command handler as an async function"
I want to define the command as an async function and have it do all the work, instead I have to call the function inside of the command to work around this deficiency.

In this case innerYargs is a Promise value that was returned from the async function.

[code]

[2017-09-29 18:59] #964 closed

[2017-09-30 04:36] #893 closed

[2017-09-30 14:59] #938 closed

[2017-10-01 17:44] acwest commented on #731
I have found (in version 9.0.1) that array parsing appears to return an array containing null if any other positional arguments are present

[2017-10-02 07:41] AaronBurmeister commented on #942
@bcoe, thanks for your help.

I implemented the approach you suggested above.

The middleware proposal looks good to me. This case would be an example on why the context may be helpful as you would need to pass the configurations path in this example: (e.g.)
[code]
This would presume that the middleware would be executed after each yargs function call.

[2017-10-02 07:41] #942 closed

[2017-10-02 11:11] quilicicf commented on #929
Hi I've bumped into the same issue as @zzharryzz and resorted to using the check method instead.
I'd be willing to contribute if it helps, just tell where to look for!

[2017-10-03 06:26] gregorskii commented on #963
Hi all,

I found I had to remove yargs from subprocess I was using because it appears that the auto-coercion appears to run automatically even when the value is defined as a string in the options. I was passing twitter reply to ID's which are extremely large integers. When using argv for this purpose it was incrementing the value by one for an odd reason.

In the source code is the coercion runnin

[2017-10-03 06:35] bcoe commented on #963
@gregorskii I believe there's a bug in the coercion that does apply this logic unfortunately, I will work on getting my fixes landed soon to this behavior.

[2017-10-03 06:44] gregorskii commented on #963
Awesome, just switched back to regular arts for this project, and it’s a pretty weird use case. But good to know a fix is coming. Thanks!

[2017-10-03 15:45] alexreg opened #965 "Add `-h` short option"
Could we have an `-h` short option, equivalent to `--help`?

[2017-10-03 17:06] Morishiri commented on #965
@bcoe what do you think about that?
What about programs which are using `h` as alias for some command already? Will it break them?

[2017-10-03 17:22] alexreg commented on #965
It could be configurable, of course. :-)

[2017-10-03 17:49] bcoe commented on #965
@alexreg @Morishiri I thought about this when I made `--help` default to enabled. my main concern is that I think it's too likely that `-h` will collide with people's existing configurations (`--help` and `--version are specific enough that I thought it was safe).

You can totally just add `.alias('h', 'help')` to your configuration though, to get the effect.

[2017-10-03 17:54] alexreg commented on #965
Ah right, that should do the job then. Thanks!

[2017-10-04 05:14] bcoe commented on #963
@gregorskii @ezzatron see https://github.com/yargs/yargs-parser/pull/104, which I think is a step in the right direction.

[2017-10-04 14:14] tkarls opened #966 "How to exit process after command is done"
Consider:

[code]

I would expect the program (invoked with test-exit) to finish after printing "test". But it does not. Am I doing something wrong or is this how it is supposed to work?

Node js documentation explicitly says I should not call process.exit() either.
https://nodejs.org/api/process.html#process_process_exit_code
[code]

Please advice me on a solution for my cli app :)

[2017-10-04 14:21] tkarls commented on #966
Please ignore me.
It was the attached debugger that prevented the app to exit *hides in shame*

[2017-10-04 14:21] #966 closed

[2017-10-04 17:43] #965 closed

[2017-10-05 13:34] borekb commented on #895
The combination that worked for me was:

[code]

Maybe this could have a more straightforward way in yargs, something like

[code]

[2017-10-09 21:50] borekb opened #969 "Easier way to disable type hints in output"
There's a previous question about `[boolean]` in `--help` and `--version` #319, with this suggested workaround:

[code]

However, this feels like a workaround indeed :) How about some global switch like this?

[code]

[2017-10-12 18:17] duckisland opened #971 "yargs freezes at PowerShell Command prompt with abbreviated commands"
Creating a simple node app.

CODE FRAGMENT:
const argv = yargs
	.command('add', 'Add a new note.', {
		title: {
			describe: 'Title of note',
			demand: true,
			alias: 't'
		},
		body:{
			describe: 'Body of the note',
			demand: false,
			alias: 'b'
		}
	}).help().argv

When calling this program:
node app.js add -t="Test title" -b="Testing yargs"

The above example causes PowerShell to freeze wi

[2017-10-12 21:09] bcoe commented on #971
@duckisland we have integration tests in `PowerShell`, don't suppose you could share a link to the repo having this problem?

[2017-10-12 22:09] alexreg commented on #929
I still get this problem on 9.0.1... it seems boolean options *always* conflict.

[2017-10-13 06:46] #676 closed

[2017-10-14 10:31] quilicicf commented on #929
Yup, my problem with string/integer parameters vanished with version 9 but there's still an issue with booleans.

Check out [this code](https://github.com/quilicicf/Gut/blob/master/lib/audit.js#L6) for an example.
I  tried adding `from-base-branch` to the list of conflicting arguments on commits number but it always results in conflicts.

[2017-10-14 21:15] #851 closed

[2017-10-15 13:34] panrafal opened #978 "Version 9.1.0 is not published to NPM"
The last available version on GitHub is `9.1.0`, while on NPM is `9.0.1`. Is `9.1.0` not ready yet?

[2017-10-18 20:10] wKovacs64 opened #987 "Generated completion script install instructions ignore custom completion command"
**Problem description:**

When using a custom completion command, the generated bash completion script includes installation instructions in a comment at the top which contain the hardcoded `completion` command rather than the actual command name. Thus, they are incorrect when using a custom completion command.

**Relevant code:**

[code]

**Input:**

[code]

**Current output (snippet):**

[code]

[2017-10-18 22:22] alexreg opened #989 "Has `yargs.positional` been removed?"
It's still in the docs, but when I use it in my code, I get:

What's going on here? Has it been removed? If so, what's the alternative?

[2017-10-18 23:00] bcoe commented on #989
@alexreg this feature hasn't yet been released, but the docs landed on `master` yesterday. To try out the new feature (I'd love feedback) run:

`npm i yargs@next`

[2017-10-18 23:03] #987 closed

[2017-10-18 23:10] alexreg commented on #989
Oh right, I see. Thanks! It looks like a good idea from what I read in the docs. I think it would be best not to have any logic done based on the command string, in fact (simply use it as a dumb usage string).

[2017-10-18 23:21] bcoe commented on #989
@alexreg we've been using the command string DSL for a few major releases of yargs now, so probably going to stick with it for the time being. If you want to override this with an arbitrary usage string, you can use `yargs.usage('foobar')` in the same builder function that you use to define the`.positional()` arguments 👍

[2017-10-18 23:21] #989 closed

[2017-10-18 23:28] alexreg commented on #989
Yeah, I'm just generally against DSLs wherever possible, especially when JavaScript has the virtue of being such a great DSL of its own! But fair point. Thanks for the tips. :-)

[2017-10-18 23:30] alexreg commented on #989
Oh, only other thing I would suggest: maybe you could add the `positional` function to the top-level `yargs`. That would be very handy.

[2017-10-19 05:53] bcoe commented on #969
@borekb I'm reluctant to add any more toggles to yargs, as it starts to complicate the API and makes it hard to sift through help.

 Out of curiosity, what's your reason for not wanting to display the type hints? In my opinion this provides a really useful hint to your users.

[2017-10-19 05:57] bcoe commented on #966
@tkarls no worries \o/ glad this is sorted out.

[2017-10-19 06:16] borekb commented on #969
Hi @bcoe, I have two motivations:

1. `--version` and `--help` are not really perceived as booleans by the users so I'd rather not confuse them or make them wonder whether they need to provide `--version=true`.
2. Most CLI apps don't provide type hints in their help output and I'd like to use yargs to build a CLI that looks "standard". Easy way to turn types off feels natural.

Hope this helps exp

[2017-10-19 06:23] bcoe commented on #969
I can point you at where to change this code, if you want to perhaps publish a scoped fork of yargs with no usage messages. I think this is edge-case enough, that I'd rather not land this toggle into the main codebase.

[2017-10-19 06:33] borekb commented on #969
I don't think I'm going to be maintaining a fork just for this :) Is the workaround from OP reliable in your opinion? If so, I'm happy with it but I don't understand what that code is doing and whether it won't break if I add more boolean options. Maybe another way would be to avoid `.help()` and `.version()` and provide my own type-less alternatives? Thanks for any hints.

[2017-10-19 06:37] borekb commented on #969
Maybe I could re-implement the built in help command, I never looked at how to do that.. At least I would maintain just this small "fork" (I expect copy & paste of some internal function of yargs).

[2017-10-19 06:55] borekb commented on #969
That sounds good! I agree that yargs is [complex enough](http://yargs.js.org/docs/) already, I was starting with it two weeks back and first-time experience was relatively convoluted. So 👍 for keeping it simple and finding other ways to customize it.

[2017-10-21 17:38] LEQADA commented on #933
@bcoe are you sure that it is a bug. Looks like a feature. I found [a line ](https://github.com/yargs/yargs-parser/blob/fba00ebfa77a097dd7d6bbf420bba8ba3a941436/index.js#L151)

[code]
It seems like there should be a `short-option-groups` option set to `false` to make this condition to work. By default it is set to `true`
https://github.com/yargs/yargs-parser/blob/fba00ebfa77a097dd7d6bbf420bba8ba3a

[2017-10-23 08:22] LEQADA commented on #863
I think it is already treating them as booleans. And default value is `true`.

[2017-10-24 14:58] ehmicky commented on #978
Seems like they just published 10.0.3 on npm

[2017-10-24 15:53] brian428 opened #994 "NPM Script args can't be forwarded to other scripts any longer?"
It looks like something changed (in v9 or v10?) related to args forwarded by one NPM script to another script.

I have two simple NPM scripts:
[code]

In the past, I could run `build.prod.aot.mock` and use `yargs.argv` to check whether the `FORCE_MOCK` argument was present. But now, `yargs.argv` does not contain this key.

If I check `process.env.npm_config_argv`, I can see the argument there:
[co

[2017-10-24 15:58] brian428 commented on #994
Sorry, I should have noted that I'm using Node 8.7, NPM 5.5.1, and Yargs 10.0.3.

[2017-10-24 16:36] nexdrew commented on #994
@brian428 Might be worth checking/inspecting/logging `process.argv` just before you use `yargs.argv`.

In my testing, npm just appends the `--FORCE_MOCK` arg to the "forwarded" run script, which, in your example, would be available on `process.argv` for the `gulp print.banner` command (after the `&&`) but not the `gulp build.prod.aot --color --env-config prod --build-type prod` command (before the

[2017-10-24 17:59] brian428 commented on #994
Aha! Thanks Andrew. I bet this stopped working when I appended the print.banner command (which was fairly recently). It's such an innocuous addition that I would never have thought that was the problem. I'll rework my script to avoid the `&&`.

[2017-10-24 17:59] #994 closed

[2017-10-24 18:05] brian428 commented on #994
FYI, that was exactly the problem. Thanks again.

[2017-10-24 19:02] nexdrew commented on #994
@brian428 No worries, glad you got it sorted out!

[2017-10-24 22:57] ecoutu opened #995 "Options defined with dot notation not detected by demandOption"
When defining an option using dot notation as well as `demandOption`, yargs always complain about a missing argument:

[code]

[code]

It is possible to work around this by defining the option without dot notation and then adding an alias using dot notation:

[code]

[code]

[2017-10-24 23:58] ecoutu commented on #995
I'm looking at doing a quick fix for this. Couple questions:

* I was thinking [`validation.requiredArguments`](https://github.com/yargs/yargs/blob/master/lib/validation.js#L90-L119) would need to check nested objects.
* Do you have a utility / convention / preferred method for doing deep inspection / assignment / retrieval? Normally I would use something like lodash's `_.get` but obviously don't

[2017-10-25 06:43] sparcut opened #996 "Scuffed donation button"
Viewing `README.md` in Windows 10 Google Chrome, the font on the "Support via Gratipay" button is real scuffed. (When viewed in Firefox, font is fine.)

![chrome_2017-10-25_17-40-08](https://user-images.githubusercontent.com/16233822/31984133-06ec6d8c-b9ac-11e7-9c6f-d5598b9a4c2c.png)

[2017-10-25 11:21] dolanmiu opened #997 "Possible to have options for different commands"
At the moment, I have options for commands. This is good, but is it possible to have **different** options for **different** commands?

For example, I have an option called `provider` which is **required**. I want this _only_ on one of the commands. However, it is required for both commands!

[code]

[2017-10-25 16:21] Morishiri commented on #997
Hi,

check this out:

    const args = yargs
        .command('first', 'description', (y) => {
            return y.option('a-option', {
                description: 'a',
                required: true
            });
        })
        .command('second', 'description', (y) => {
            return y.option('b-option', {
                description: 'b',
                required: true,

[2017-10-25 16:28] Morishiri commented on #978
9.1.0 was created by accident actually, but as we already have v10 this is no longer an issue IMHO. Closing :)

[2017-10-25 16:28] #978 closed

[2017-10-25 18:28] panrafal opened #998 "$0 for commands should include the command (and parent commands)"
If a command has an example, $0 will be replaced with just the binary name.
This means, that you have to include the command name and it's parent commands in the examples.

This breaks the composability of commands, as they should not know in which context they will be used.

If I have this module:
[code]

And I use it in this context:
[code]
The example will show `binary test`, instead of `binary

[2017-10-25 23:36] ecoutu commented on #995
WIP branch to give you an idea of where I'm going: https://github.com/yargs/yargs/compare/master...ecoutu:dot-options

I've implemented `.option('foo.bar', // ...)` now I'm looking at handling the `dot-notation` configuration.

[2017-10-26 10:53] dolanmiu commented on #997
@Morishiri this would not work for me because it does not support handler (as far as I'm aware)

It would be nice for something like this:

[code]

[2017-10-26 17:06] richtera opened #999 "Just upgraded and it broke all my commands :-("
Turns out I was using --version for something other than displaying the version. I am not sure if --version and --help should be defaulted to be on?

[2017-10-26 23:26] sukrosono opened #1000 "Setting version options to number disable it's output"
#### Affirmation
disable output is when i call `cliProgram -v` it show nothing, doesn't show version number.

**yargs version** `9.0.1`
yargs work as expected before i want to change the options type to number.

expected

It's disabling when i wrote this
[code]
same effect with either:
[code]
#### Maybe related

  1.  option version with option object aliasing to v, resulting -v, --version disappe

[2017-10-27 00:10] bcoe commented on #999
@richtera certainly open to a discussion if anyone else wants to jump in; but, my experience was that the first two lines of almost all of my scripts in yargs were enabling `.help()` and `.version()`.

To fix things in your application, all you should need to do is add `.help(false).version(false)` to disable this functionality.

tldr; sorry that you got bit by a breaking change ☹️ but I'm persona

[2017-10-27 00:12] bcoe commented on #998
@panrafal good catch, I think we should be able to just pull over the logic from the `Commands:` stanza.

[2017-10-27 00:26] richtera commented on #999
Ok I'll change my code but I was surprised that declaring an option called version didn't disable the version output

[2017-10-27 00:31] bcoe commented on #999
@richtera that's a fair point; I could imagine disabling help or version if you declare an option('help') or option('version').

[2017-11-01 22:07] richburdon commented on #960
Thanks!

[2017-11-01 22:07] #960 closed

[2017-11-01 22:12] zenflow commented on #510
To those subscribed: I've submitted PR #1001 to address this. Reviews are appreciated.

[2017-11-02 18:19] carldunham opened #1003 "Support ES modules in `commandDir`"
Just dropping this in here as an enhancement request, now that Node 8 is LTS. It would be nice to be able to write new apps as ES modules and scripts.

Happy to take a run at a PR if it makes sense, or when the time is right.

[2017-11-02 18:22] carldunham commented on #1003
May be related to #968

[2017-11-10 21:50] rahulch95 opened #1005 "Yargs currently doesn't have a way to list all the possible commands."
It would be really nice to have a way to get all the possible `yargs` commands. This would help in documenting all the commands in a CLI, which is very helpful for managing large CLIs.

**Elaboration:**
Currently I am working on a very large CLI app with > 250 commands (and growing), with multiple layers of nesting using `commandDir`, and it gets really hard to discover commands that are nested (e

[2017-11-12 17:38] edmBernard opened #1006 "Mixed arguments"
With this yargs code:
[code]
In the following situation, yargs was not able to output error and mixed arguments:
[code]

Maybe something is wrong in my code, Is there a way to avoid that ?
Is there a way to block arguments with "--" to be parse by others ?

[2017-11-12 17:51] edmBernard commented on #1006
ok I failed in my code with the rigth options the error is correct:
[code]

but still  strange behavior with `nargs`

[2017-11-12 19:57] edmBernard opened #1007 "requiresArg don't work with number type"
[code]

work with `string`
[code]

don't work with `number`
[code]

[2017-11-14 07:25] DaelDe opened #1008 "Create new instance of yargs to support console use case"
I am implementing a console where different plugins can provide their own commands and command help. For this use case I need to have a new instance of yargs for each plugin. At the moment it seems there is only one global instance sharing all the options.

Is this possible?

[2017-11-14 11:49] BafS commented on #935
Any new about this problem ?

A good solution may be able to add an alias with an empty string like `.alias('', 'input')` so `./test input.txt` would give `input: 'input.txt'`.

[2017-11-14 18:14] aa7955 opened #1010 "Question: Filename appearing next to command in help menu"
Just a quick question. I am not sure if this is a NodeJS issue or what, but when I run the example yargs code, I get the following in my terminal:

[code]

In the example, the filename is not next to the command `hello` under the `Commands` section. Just wondering how to get the filename out of that section so that it looks like the one from the example:

[code]

[2017-11-15 17:32] Morishiri commented on #1010
It was changed in https://github.com/yargs/yargs/pull/983. It is replacing every `$0` to filename. I guess it cannot be configured not to.

[2017-11-15 18:38] ajalger commented on #1010
Thanks @Morishiri. This is definitely a fugly change, especially if you print out commands that need more than one input ... arg

[2017-11-15 18:43] Morishiri commented on #1010
We could actually do something about it, @bcoe can you please drop your opinion on this as I think it should work as it worked before.

[2017-11-15 18:51] bcoe commented on #1010
We opted to start placing the filename in the command output, because it helps better clarify what's happening when you have top-level positional arguments configured, which in the past would have looked like:

[code]

☝️ where you have positional arguments with nothing bound to them. I think that by placing the actual bin being executed as part of the command description we provide clearer help o

[2017-11-15 18:53] ajalger commented on #1010
I understand that @bcoe. Just wondering if there is a way to expand the help table then because I am getting arguments on multiple lines like:
[code]

[2017-11-15 19:02] bcoe commented on #1010
@ajalger that's a pretty long application name and it takes a lot of arguments, even if we exposed an API for increasing the left-hand column width, I think you'd be making the right-hand column look pretty ugly, because you'd end up with something that looks like this:

[code]

What if you had an alternate bin name that's shorter, like `autr`; and we exposed an API for changing `$0` if we don't a

[2017-11-15 19:06] ajalger commented on #1010
@bcoe yeah this was just an example command-line app. Indeed the filename is longer than expected because it was just used to differentiate one file from another. I wouldn't do that for something that is meant for production.

I'll experiment a little and come up with something that works. Thanks a lot.

[2017-11-15 19:19] bcoe commented on #1010
@ajalger 👍 maybe a slightly clearer API for changing `$0`? I could also imagine making the left column a little bit wider?

[2017-11-15 19:22] ajalger commented on #1010
If the left column is a little wider, I'd be cool with that. @bcoe

[2017-11-16 23:44] aduh95 opened #1011 "yargs processes --no-XXX boolean options differently"
Greetings,

It seems that yargs have trouble parsing aliases with a dash in it. I have a `--no-browser`  option in my program but yargs does not listen to it. You can reproduce this bug with yargs v10.0.3 by creating a `yargs.js` file:

[code]

As expected, the `-n` CLI argument triggers yargs' option:

[code]

But surprisingly, the `--no-browser` flag has no effect what so ever, but instead anoth

[2017-11-17 00:27] nexdrew commented on #1011
Hi! I think this is probably a little hard to find in the docs, but you can disable the special treatment of the `--no-` flag prefix by putting this in your package.json:

[code]

This is [briefly mentioned in yargs docs here](https://github.com/yargs/yargs/blob/f8efa0168c7cd6ad5a9f2d44a787bf80c0f300fa/docs/advanced.md#customizing-yargs-parser) and also [mentioned in the yargs-parser readme here](

[2017-11-17 09:04] aduh95 commented on #1011
Hey @nexdrew, thanks for your answer, it was what I was looking for, it now works as expected!

[2017-11-17 09:04] #1011 closed

[2017-11-18 16:18] ezze commented on #781
The workaround proposed above doesn't work for me for both 6.6.0 and current 10.0.3 versions. My environment is the following:

Ubuntu 16.04 LTS
Node 6.11.0
Webpack 3.8.1

These warnings are caused by single import line:

[code]

For yargs 6.6.0 I get:

[code]

For yargs 10.0.3 I get:

[code]

[2017-11-18 16:22] ezze commented on #312
@bcoe, I think that packing `LICENSE` and `CHANGELOG.md` is another in @rgranger's Webpack output. I still have [similar warnings](https://github.com/yargs/yargs/issues/781#issuecomment-345452630) trying to bundle `yargs` with Webpack 3.

[2017-11-19 06:49] moranje commented on #781
Same goes for:

[code]

Yargs 8.0.2
Mac Os High Sierra
Node 8.9.1
Webpack 3.8.1

[code]

[2017-11-20 06:39] bcoe commented on #781
@tcoulter are you still able to run yargs through webpack? perhaps you can share a repo in which you're doing this?

[2017-11-21 08:53] Asgator commented on #781
@bcoe i am don't can

[2017-11-22 19:11] richburdon commented on #1010
I have another reason to remove it.

I'm using `yargs` in a CLI that processes `realine` I.e., you invoke the CLI then each line is a statement that gets executed. So at that point the executable isn't part of the command syntax.

Would really appreciate making this optional.

[2017-11-23 09:57] HassanUsman opened #1012 "Add me as a member in yargs"

[2017-11-23 13:57] tkarls opened #1013 "Allow us to call the default completion function from a custom one"
So, I have a app with a few commands and a couple of arguments to each command.

For some of these arguments I want to provide a custom completion function to be able to provide completion for the argument values.

The problem is that I still want to leverage the automatic completion functionality for the commands and argument names.

Is there a way to call the automatically generated function fro

[2017-11-23 17:59] bcoe commented on #1003
@carldunham sorry for the slow reply, have been neck deep in another codebase the past couple months. I would love help adding support for ES Modules to commands.

Feel free to join the yargs slack channel, if you want direction from me as you dive into this feature.

[2017-11-23 18:19] bcoe commented on #1005
@rahulch95 I love this idea. I could definitely imagine adding a public method like `.availableCommands()` that returns a string representation of every command that has been configured (or maybe a simple object representation that includes positional arguments?).

Would love some help implementing this, if you have any interest.

[2017-11-23 18:21] bcoe commented on #941
@mxl, as @farism indicates, I believe the underlying issue is that `--no` has special meaning in yargs (representing negation) so you're getting a collision between these two features when setting a default value for `no-arg`.

One option would be instead configuring `arg`:

[code]

alternatively, you should be able to use the approach that @farism suggests, disabling negation in the parser.

[2017-11-23 18:21] #941 closed

[2017-11-23 18:22] bcoe commented on #996
Good news, Gratipay shutdown anyways; almost immediately after we added the button. I've removed it from the README 😛

[2017-11-23 18:22] #996 closed

[2017-11-23 18:26] bcoe commented on #995
@ecoutu 👋 your implementation is looking reasonable so far. I think your gut is right, let's not pull in an additional dependency just for the `_.get` functionality; feel free to introduce an additional helper function however, for instance we have `obj-filter.js` which is used to filter specific keys from an object.

If you want to ask me any questions directly, please feel free to join the commu

[2017-11-23 18:30] bcoe commented on #1006
@edmBernard this behavior with nargs seems a bit weird, but is _kind of_ what I'd expect. Because you had port configured with `nargs: 1`, it will try to consume at lease one argument after its declaration. In the case of your example code, I believe it consumed the `--password` field, which it then parsed as `NaN` (since you have it configured as a number).

Feel free to open a new issue if you h

[2017-11-23 18:30] #1006 closed

[2017-11-23 18:35] bcoe commented on #997
@dolanmiu this should work like a charm:

[code]

[2017-11-23 19:02] bcoe commented on #1007
great catch 👍

If you're interested in making a contribution to this project, I would love help digging into this bug; otherwise, hopefully we'll get through some of our issue backlog soon.

[2017-11-23 19:05] bcoe commented on #1008
Hey @DaelDe 👋 sorry for the slow reply.

You should be able to do this by using `require('yargs/yargs')`, rather than using the singleton.

[code]

Please let me know if this does the trick for you.

[2017-11-23 19:05] #1008 closed

[2017-11-23 19:08] bcoe commented on #1010
@richburdon @ajalger @Morishiri open to suggestions if we can figure out something better than the filename, that still provides appropriate contextual information when default (root level) commands are run.

[2017-11-23 19:09] bcoe commented on #1012
@HassanUsman would love to have your contributions. Please don't hesitate to join the community slack.

[2017-11-23 19:09] #1012 closed

[2017-11-23 19:12] bcoe commented on #1013
@tkarls I don't believe there's currently a way to pull this off. If you have any thoughts about how to implement this feature, I'd be grateful for your contribution.

[2017-11-23 20:11] richburdon commented on #1010
Makes sense as a default @bcoe, but why not a boolean configurable option?

[2017-11-23 23:51] dolanmiu commented on #997
Thanks

What you suggested works

Although, it would be cooler if yargs worked like the above code I mentioned

[2017-11-23 23:51] #997 closed

[2017-11-24 03:38] HassanUsman commented on #1012
Where is the slack joining link?

[2017-11-24 06:50] DaelDe commented on #1008
Grrreast, thanks :)

[2017-11-24 07:04] edmBernard commented on #1007
I will try to dig on this bug.
Unfortunately, I'm not a javascript expert.

[2017-11-24 08:08] tkarls commented on #1013
Well, perhaps one way would be to add a new argument to the completion function that passes in the generated one. That way, instead of calling done one can call the generated one if one so chooses?

[2017-11-24 12:06] tkarls commented on #1013
@bcoe So, I tested the waters some...
https://github.com/yargs/yargs/compare/master...tkarls:enable-fallback-to-standard-completion?expand=1

Can't say that I'm 100% satisfied with the solution. To make it backwards compatible I had to add the yargs completion function as the last argument. I.e. after the done callback. I would have preferred to have the done callback last.

I didn't open a pull r

[2017-11-24 16:44] Morishiri commented on #1012
In README :)

[2017-11-25 11:01] edmBernard commented on #1007
In this function https://github.com/yargs/yargs/blob/master/lib/validation.js#L59
default value is compare with parsed argument.
Default value for number is `undefined` so it didn't match any of ` [true, false, '']` and so never push missing argument status : https://github.com/yargs/yargs/blob/master/lib/validation.js#L74

[2017-11-25 12:29] edmBernard commented on #1007
@bcoe I'm not sure that adding `undefined` in default value array will be a good thing.  [validation.js#L60](https://github.com/yargs/yargs/blob/master/lib/validation.js#L60)
I don't see if there will be border effect
The change https://github.com/edmBernard/yargs

[2017-11-28 06:15] bcoe commented on #781
@moranje @ezze if anyone feels like digging into this further, feels like it could potentially be a good first contribution; I think the way forward would be to resolve one `WARNING` at a time.

[2017-11-28 06:29] bcoe commented on #1010
@richburdon my immediate reaction to another boolean configuration option is; oh my goodness, yargs has so many config options already! I'm sure we can figure out a layout that better suits folks if we think on it a bit 😄

[2017-11-28 06:32] bcoe commented on #997
@dolanmiu thanks for the feedback 👍 glad you're unblocked for the time being.

[2017-11-28 06:40] bcoe commented on #1013
@tkarls this is looking great 💯 one thought comes to mind -- you're right, it's definitely a bit ugly that `done` comes before the default completion.

Here's an idea, what if you look at the [number of arguments that the function expects](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/length) before you invoke it; then invoke the closure with accordingly

[2017-11-28 06:56] bcoe commented on #1007
@edmBernard I would try adding `undefined` to the list, and running the existing test suite; our tests are pretty thorough, so we should know immediately if it's an issue. I think you could probably crib this code for adding a test:

https://github.com/yargs/yargs/blob/20bb99b25630594542577133d51e38a4c6712d31/test/validation.js#L362

I find a good start for debugging things (and learning a new lan

[2017-11-28 07:25] edmBernard commented on #1007
I add test for number, string, array and boolean. I create pull request : https://github.com/yargs/yargs/pull/1015

[2017-11-28 13:52] ezze commented on #781
@bcoe, I played a little bit with `yargs-parser` for simplicity. It produces only a single warning mentioned above:

[code]

A code snippet to reproduce this warning:

[code]

Starting from [here](https://github.com/webpack/webpack/issues/196) I investigated that Webpack developers don't think that requiring modules dynamically is a good idea, and all such dynamic dependencies should be resolved d

[2017-11-28 15:26] fogine opened #1016 "Configure implicit help cmd per a command definition"
I make use of `default` command in `yargs` and load user defined custom shell commands when no built-in command definition matched user input.

[code]

The problem is that I can't make all the following help generating commands work:

[code]

I tried to do all sorts of stuff with `.help()`, `.help(false)`, `.showHelp()` methods however only single case of the following options works at the time:
E

[2017-11-28 23:05] ezze commented on #781
This is [another related Webpack issue](https://github.com/webpack/webpack/issues/4175). A solution proposed there is Webpack specific and doesn't suit this project (due to it doesn't rely on Webpack).

Webpack replaces the original `require` function and stores it in [__non_webpack_require__](https://github.com/webpack/webpack/blob/ab2270263e9af5b0dd83e454c20ab3aa1797424a/lib/APIPlugin.js#L17). S

[2017-11-29 07:52] tkarls commented on #1013
Thanks,

I'll take another look at it hopefully later this week and see if I can make the interface better by looking at the number of arguments as you suggest!

[2017-11-30 22:17] rahulch95 commented on #1005
@bcoe Sure! Where do you suggest I get started to get a general overview for the yargs code/the relevant parts that I should look into before I can get started on the `.availableCommands()` function?

[2017-12-01 09:41] DaelDe commented on #1008
Actually it does not work as expected. I am able to create many instances but in the help the name of the script is printed. I create one yargs instance for one sub-command. How can I tell xargs to use another script name?

At the moment I get the following from showHelp:
[code]

But I want to set Main.js to something else. Just setting the first value in argv array does not work. How can I achiev

[2017-12-04 12:22] florianleroux opened #1017 "Scientific notation with arguments without flag"
How to prevent arguments without a corresponding flag (argv._) to be interpreted as number?

example:

test.js:
[code]
terminal:
[code]
I would like to have: `[ '4317e500900' ]`

[2017-12-06 01:00] RyanZim commented on #929
Just ran into this bug now.

[2017-12-07 01:21] robbiespeed opened #1018 "help option always shows only the help and version options"
[code]

using `--help` only ever shows:
[code]
Even if help is disabled via `.help(false)`

Having the help option set to any other string works as expected

version 9 has this issue as well, but not 8

[2017-12-07 06:50] ljharb commented on #929
I'm running into this issue as well; it makes it impossible to have mutually exclusive options where one or both are booleans.

@bcoe what I would expect is that *if* the argument is a boolean, it only considers it "set" if it's `true`. Similarly, conflicts should be checked before default values are applied.

[2017-12-07 07:16] ljharb commented on #858
@bcoe I want a top-level package configuration key that's available to all subcommands; and can replace an otherwise-required argument. Is this possible?

[2017-12-08 08:28] the-spyke commented on #883
Same issue here. I don't what to use strict mode as I need to parse unspecified options. My temporary solution is to use a flag in handlers.

[2017-12-08 23:19] synedra opened #1020 "Support for 'command help [subcommand]'"
There are those CLI systems out there that support 'command help [subcommand]'.

I've tried wrangling the yargs and argv objects, and I just can't seem to make it work.

command [subcommand] --help does exactly what I want.

How can I express, inline, that that's what I want to happen?

[2017-12-11 08:37] ogonkov commented on #963
Just found this bug via broken bundle made through webpack

[2017-12-11 08:37] ogonkov commented on #963
Webpack broke my bundle, because of this bug

[2017-12-14 05:31] bcoe commented on #1016
@fogine sorry for the slow reply, have been fairly slammed with work.

how are you planning on loading the user's custom commands? are they in a set folder on disk? I think we might be able to simply things slightly.

[2017-12-14 05:44] bcoe commented on #1017
@florianleroux 👋 sorry for the slow reply -- have been fairly slammed with work.

we recently introduced the concept of `positional` arguments to address this issue:

[code]

I can confirm that this approach works for giant integers that would break numeric types, e.g., `test.js 4317999999999999999999999999999999999999` ... however, oddly, `4317e500900` still parses as `Infinity`.

I will leave th

[2017-12-14 05:47] bcoe commented on #1018
@robbiespeed could you provide a snippet of code having this issue? we have quite a few tests surrounding help output, so I'm wondering if there's an edge-case we didn't think of.

[2017-12-14 05:50] bcoe commented on #1020
hey @synedra 👋

This should work for you correct; `command [subcommand] help`?

we recently opted to make it so that `help` had to fall as the last positional argument in order to trigger help. My reasoning was that some folks are using yargs to write chat applications, and allowing help in any positional argument made it a bit too easy to trigger help:

`chat-bot send-message "help I'm locked out

[2017-12-14 12:53] fogine commented on #1016
That's the thing, ultimately it's up to the user how and where he stores command definitions.
I just provide public API for registering custom user shell commands in addition to built-in commands in our framework.

In practice, it means that our framework has `yargs` instance with commands registered  which come built-in. if no command is matched then I emit an event with the `yargs` instance on o

[2017-12-14 17:04] synedra commented on #1020
The problem is that we have a set of commands which all work under the same package with the same rules.  It worked in commander, but I'd prefer to use yards.

It would be swell if I could somehow convince it that <help> before the subcommand was acceptable as well.  Or I could even explicitly list each subcommand as a secondary target for help.  But it doesn't seem to be possible.

Kirsten

[2017-12-14 23:42] ljharb commented on #995
This exact issue is blocking me right now (glad it already exists!)

Any chance this fix could go out quickly?

[2017-12-14 23:58] ljharb commented on #995
fwiw, this seems to already work with `demandOption: true`, but not with `.demandOption`.

[2017-12-15 00:09] ecoutu commented on #995
Unfortunately I lost a bit of steam on this - I ended up using another mechanism for my needs.

I was hung up on the best way to handle the `dot-notation` option being false as it's not actually looked at anywhere in yargs itself, but the underlying [yargs-parser](https://github.com/yargs/yargs-parser) library. I couldn't find any existing examples of yargs accessing the options that yargs-parser

[2017-12-15 07:13] ljharb opened #1021 "coerce doesn't apply to dot-notation options"
Despite #599 being closed, I'm finding that a key with a dot in it is not getting the coercion function applied (just like demandOption is not working in #995).

[2017-12-15 07:39] ljharb commented on #1021
This seems to be a bug in yargs-parser; specifically, the `applyCoercions` function doesn't recurse into objects and apply to dot-notation keys?

[2017-12-15 11:42] fogine commented on #1016
To elaborate on my previous post, the following is high level representation of the framework 's API:

`./node_modules/.bin/bi-service` being framework's cli gateway to the user's project.

[code]

[code]

When user runs one of built-in commands, there is no need to load additional user defined ones. eg:

[code]
However, the following would try to load custom user commands and dispatch any matched

[2017-12-17 06:57] Darkylin opened #1022 "middleware feature haven't publish to npm"
I can only npm install with git.

[2017-12-18 04:26] #923 closed

[2017-12-18 04:43] bcoe commented on #1021
@ljharb taking a look at this issue, this was a design decision (and different than the issue described in #995).

To apply coercion to an object, it's applied to the top level key:

[code]

tldr; I see dot notation as a property of the top level key:

`foo.bar` indicates that the key `foo` is an object, which happens to have the property `bar`. You can then apply coercions to `foo` and modify the

[2017-12-18 04:43] #1021 closed

[2017-12-18 04:45] ljharb commented on #1021
@bcoe I tried that; `.coerce('foo', fn)` makes `foo` show up in the help output, so I don't think that's a viable solution.

[2017-12-18 04:46] ljharb commented on #1021
I think that if dot notation options are allowed, they should work with everything else; if they aren't going to, then why have that option in the first place?

Is there any way I can configure my `yargs` instance to apply coercions to a nested property, without altering the help output/list of available commands?

[2017-12-18 04:59] bcoe commented on #995
@ecoutu @ljharb echoing my thoughts in #1021, I'd rather avoid applying configuration to the nested keys of objects (this adds a ton of complexity to the parser); For most applications I think you could get away with something like this:

[code]

If it is mission critical that you validate the presence of a specific key on an object argument, perhaps you could get away with something like this?

[

[2017-12-18 04:59] #995 closed

[2017-12-18 05:19] bcoe commented on #1021
@ljharb I'd like to put a stake in the ground and say that we'll never allow specific keys on an object to be configured, e.g., "foo.bar"; this adds a lot of complexity, and I believe _a lot_ of yargs' functionality will not work as expected -- dot notation should be thought of as a way of saying, the argument "foo" is an object, with these keys on it "a", "b", "c", etc. Rather than a way of sayin

[2017-12-18 05:19] ljharb commented on #995
@bcoe as commented in https://github.com/yargs/yargs/issues/1021#issuecomment-352325015, doing `.option('foo')` makes "foo" show up in the help output, when i only want "foo.bar" showing up.

[2017-12-18 05:20] ljharb commented on #1021
Conceptually, "foo.bar" is a single option. That I've configured the parser options - a secret implementation detail that I'm free to change at any time - to enable dot-notation parsing is irrelevant. I'm totally comfortable with writing my yargs code to validate/coerce "foo" all at once! However, "foo.bar" remains the only thing that should show up.

[2017-12-18 05:25] bcoe commented on #1021
@ljharb I think you should be able to get this behavior by disabling `dot-notation` entirely in the parser:

https://github.com/yargs/yargs-parser#dot-notation

You can do this by adding:

[code]

to your application's `package.json`; this should allow you to then define "foo.bar" and describe it separately from "foo.snuh", etc. -- I think for your use-case it would be better not to rely on the _c

[2017-12-18 05:27] ljharb commented on #1021
That certainly seems like it would work; but then it would mean that users couldn't define nested objects in their config :-/

[2017-12-20 04:46] #1017 closed

[2017-12-20 07:36] sijad commented on #550
I have similar problem, when i try to run my command:

[code]

I get numbers as actual numbers (e.g. `1`, `2`)

[2017-12-20 15:21] fgarcia commented on #883
for those waiting for this feature, here is how I do it

[code]

[2017-12-20 15:32] florianleroux commented on #1017
it work
thank you @bcoe

[2017-12-21 04:28] skygragon opened #1024 "[question] possible to chain commands?"
just wondering if I can call cmd-B during process cmd-A?

[2017-12-21 14:29] edmBernard commented on #1007
https://github.com/yargs/yargs/pull/1015 have been merge

[2017-12-21 14:29] #1007 closed

[2017-12-26 16:39] joeledwards opened #1025 "Options attached to subcommands do not appear in the subcommand’s summary"
I attempted to attach an option to a subcommand via the yargs function.

An example script `tsb.js` has the following contents:
[code]

When I check the usage of subcommand `foo`, I don't see the `--raw` option, even if I can use it.

[code]

However, the value supplied by the `--raw` option is supplied as expected:

[code]

[code]

[2017-12-26 23:08] cktang88 opened #1026 "Use 'system-locale' instead of 'os-locale'"
Would a PR to use [system-locale](https://www.npmjs.com/package/system-locale) instead of [os-locale](https://www.npmjs.com/package/os-locale) be welcome? It seems to be basically a drop-in replacement, and is much more lightweight.

[2017-12-27 03:44] nexdrew commented on #1025
See #851. If you want your option to be displayed in help text, then it looks like you either need to use the `.option()` method (example 1 below), give your option a description via the `.describe()` method (example 2 below), or do both (example 3 below):

[code]

[code]

[code]

It looks like the fix applied in #962 only applies to the `.option()` method and not to the type-specific methods like

[2017-12-27 10:24] hxl-dy commented on #781
const yargs = require('yargs/yargs')(process.argv.slice(2));

[2017-12-28 22:28] strugee commented on #1022
Can you specify more clearly what you're talking about and what the expected behavior is? Do you just want the current code to be published to npm as a new version...?

[2017-12-29 03:07] skygragon opened #1027 "how to describe embedded option in builder object(not a function) ?"
The example is below, how could I describe 'keyword'? I tried positional() but it seems only work in a builder function...

[code]

[2017-12-29 04:12] skygragon commented on #427
exactly, the choices line is too long to read, why not break them into different lines to make our eyes  feel better?

[2017-12-31 12:54] StevePotter opened #1029 "Can Yargs help with printing command to re-run a CLI"
Thank you for your beautiful library.  My experience with it has been so positive.

I have a CLI that has multiple prompts.  Those prompts can be skipped if the user passes in the right arguments.  When exiting it, I print something like 'To rerun this without prompts, run `node myscript.js --verbose --start-simulator`, with the command depending on options passed.

I would love it if Yargs had a

[2017-12-31 16:13] fvilers opened #1030 "Positional argument, build, and argument separator behavior"
Hi!

I'm using yargs to build a CLI. The CLI is made up of commands. The application is initialized like this:
[code]

The cmds directory contains various commands and one of them has a positional argument that should be treated as string as it is sometimes composed only by numbers, it must remains a string.

Here's how the command is written:
[code]

Here's the odd behavior, client_id is coerced

[2017-12-31 17:42] soimy opened #1031 "Failed on guessversion()"
Correct me if I was wrong. It's my first attempt switching from `commander`.
Following the API I wrote my cli setup but end up with fs.accessSync exception `path/to/cli.js/package.json` not found
So I digged a little deeper and find out this line in `yargs.js`
[code]
which will pass filename `path/to/cli.js` instead of `path/to/` to `find-up`.
After adding `require('path').dirname(require('require

[2017-12-31 18:34] soimy opened #1032 "guessLocale() return `en_US` which is not found"
Somehow in function `guessLocale`: `os-locale` module return `en_US` leads to missing `en_US.json`
I can only force locale to `en` in `require('yargs').locale('en')`

[2018-01-01 22:07] #963 closed

[2018-01-01 22:16] bcoe commented on #963
@ogonkov @ezzatron @Morishiri there are now a few upstream fixes in `yargs-parser` which address this issue:

https://github.com/yargs/yargs-parser/pull/110

We don't attempt automatic conversion to numbers if the conversion would result in losing information. I will have a new version of yargs out the door today.

[2018-01-01 22:21] bcoe commented on #1026
@cktang88 at this time I'd rather stick with `os-locale`, mainly because it has a larger user-base (which I find helps keep things bug free).

Thanks for the suggestion though, new library suggestions are always something I'm willing to consider.

[2018-01-01 22:21] #1026 closed

[2018-01-01 22:22] bcoe commented on #1027
@skygragon 👋 haven't put any work into supporting positional argument in builder objects yet, definitely something I'd consider adding -- any interest in working on this? perhaps you could start by proposing what you'd expect the API to look like?

[2018-01-01 22:37] bcoe commented on #1030
@fvilers I feel this is a bug with the parser, if we see leading 0s, I don't think we should try to parse the number.

[2018-01-01 22:40] bcoe commented on #1029
👋 hey @StevePotter, thanks for the kind words.

we don't have this functionality in yargs itself; _however_, friend of the project @satazor has created the library [yargs-unparser](https://www.npmjs.com/package/yargs-unparser).

Perhaps we could add a tiny bit of documentation in the `tips and tricks`, or `advanced` section of yargs' docs, pointing folks at this library? also, @satazor perhaps we

[2018-01-01 22:42] bcoe commented on #1024
@skygragon if you use a function for the `builder`, and within the builder call `yargs.command` you should be able to create a nested commands in your application:

[code]

[code]

does this do the trick for you?

[2018-01-01 22:42] #1022 closed

[2018-01-01 22:42] bcoe commented on #1022
I will be releasing a new version of yargs within a couple hours.

[2018-01-01 22:46] bcoe commented on #1031
@soimy I haven't personally bumped into this issue, but feels like using `dirname` would be a worthwhile sanity check.

Would you mind submitting a patch?

[2018-01-01 22:46] bcoe commented on #1032
an unrecognized locale should default to English, could you provide a stack trace?

[2018-01-02 02:32] bcoe opened #1035 ""extends" should also trigger for files without extension that end in "rc""
It's a common convention for a configuration file to end with the suffix `rc`., e.g., `.nycrc`; it seems like a good extension to the `extends` functionality would be to also support filenames of the form `.*rc`.

Currently `extends` only supports the `.json` extension. fixes https://github.com/istanbuljs/nyc/issues/732

CC: @genepaul

[2018-01-02 06:52] soimy commented on #1032
Here is the stack trace:
[code]

[2018-01-02 07:39] fvilers commented on #1030
Looks good to me. Does it mean I should open an issue in https://github.com/yargs/yargs-parser ?

[2018-01-02 07:43] bcoe commented on #1030
@fvilers 👍 yeah, I would appreciate that.

[2018-01-02 08:16] fvilers commented on #1030
Done! https://github.com/yargs/yargs-parser/issues/112

[2018-01-02 08:16] #1030 closed

[2018-01-02 15:39] StevePotter commented on #1029
Hey that's awesome, exactly what I needed!

On Mon, Jan 1, 2018 at 5:40 PM, Benjamin E. Coe <notifications@github.com>
wrote:

--
Stephen Potter,
Developer @ Vydia.com

[2018-01-02 15:43] arunasank commented on #1035
I'm interested in working on this✋

[2018-01-02 23:55] sindresorhus commented on #781
You could use this module instead of `require` to make webpack ignore it: https://github.com/sindresorhus/require-fool-webpack

[2018-01-03 06:26] #1031 closed

[2018-01-03 06:29] bcoe commented on #1032
@soimy what version of Node.js are you using, I wonder if perhaps this logic doesn't work in newer Node versions?

https://github.com/yargs/y18n/blob/master/index.js#L94

[2018-01-03 06:30] bcoe commented on #1029
@StevePotter awesome \o/ @satazor is going to work on transferring this library into the org -- so that it's easier to find.

[2018-01-03 06:30] #1029 closed

[2018-01-03 07:12] soimy commented on #1032
I'm using latest LTS which is v8.9.3, also tested on v8.3.0 and v9.3.0

ENOENT reported on this line actually:
https://github.com/yargs/y18n/blob/master/index.js#L115

[2018-01-03 15:18] xTaz1 opened #1038 "Compatibility with pm2 ?"
I pass the parameters like this `pm2 start server.js -- -parameter=123`. My js code
[code]
But I want to use first variant.

[2018-01-03 22:28] itai-codefresh commented on #684
Any updates about this?
It is a very needed feature.
@wmnnd will you be able to expose your code so maybe we can use it?

[2018-01-03 22:43] wmnnd commented on #684
@itai-codefresh Nope, I ended up using `nopt` instead. You can check out [dblsqd-cli](https://www.npmjs.com/package/dblsqd-cli) to see how I implemented it.

[2018-01-05 13:01] quilicicf commented on #510
Hi, I've tested the 10.1.0 with a command like this:
[code]

When the function _replicate_ contains an `await` statement, the parsing fails with this error:
[code]

Am I doing something wrong ?

[2018-01-05 17:52] zenflow commented on #510
@quilicicf The third argument is the command builder, not the command handler https://github.com/yargs/yargs/blob/master/docs/api.md#commandcmd-desc-builder-handler
Insert a `() => {}` noop for the third argument

[2018-01-06 05:48] samrg472 opened #1039 "Hyphenated option breaks strict validation"
Version: 10.0.3

Take this sample code:
[code]

Running the sample with various arguments:
[code]

[2018-01-06 07:03] samrg472 commented on #1039
I managed to figure out what is happening.
[code]
https://github.com/yargs/yargs-parser/blob/master/index.js#L350-L352

It looks like the `setArg` is only called on arguments from the command line. Does it make sense to add new aliases from that function? I tested camel case aliases without those 3 lines of code and camel case aliases still work as expected. This fixed the strict parser as well 😄

[2018-01-06 19:27] thangngoc89 opened #1040 "Remove pinkie-promise in the dependencies chain"
The original author of pinkie-promise: @floatdrop has unpublished all of his packages from npm (leftpad anyone? ) . And someone is taking control of the package in npm. pinkie-promise is used in `find-up` of yargs.

You can follow the thread here https://github.com/floatdrop/pinkie-promise/issues/4

[2018-01-07 10:23] soimy commented on #1032
Turns out that I enabled break on all error in node-inspector debugger ... so the debugger stopped even the error was caught.
Closing this issue.

[2018-01-07 10:23] #1032 closed

[2018-01-07 13:51] arunasank commented on #1035
I was taking a look at some files that have the extension `rc`, and the contents seem different in different files. For example:

## .npmrc
[code]

## .babelrc
[code]

And the nycrc file seems to be a json file. So, do we intend to only support files with a json format?

[2018-01-08 09:30] quilicicf commented on #510
Thanks @zenflow!
I was confused by reading the feature request because the async function is in third position there.
Actually, I'd need the builder to be async in my use case: I have argument defaults that depend on a global configuration file. If the configuration file does not exist, the user is asked to fill the configuration then the initial command proceeds.

I don't know if my use case is o

[2018-01-08 12:55] onbjerg commented on #876
This is done, right?

[2018-01-08 13:09] Khaledgarbaya commented on #876
@onbjerg yep `npm i yargs@next`

[2018-01-08 13:09] #876 closed

[2018-01-09 03:19] zenflow commented on #510
@quilicicf

I did not notice that, but you're right! If @vjpr (or someone else with the permission) sees this, could you please correct the examples in the issue description for posterity? I.e. Insert a noop `() => {}` for the third argument since that is the command builder, not the handler.

It will be more complicated to make the command builder async. But you should open an issue for it!

Is t

[2018-01-09 03:31] zenflow commented on #1040
Check out this similar issue: https://github.com/lerna/lerna/issues/1182

[2018-01-09 04:15] thangngoc89 commented on #1040
Hi. I posted this in the very early minutes of the incident (way before npm even reported an incident). So this can be close now.

[2018-01-09 04:15] #1040 closed

[2018-01-09 05:55] bcoe commented on #1040
missed this issue because I was ironically helping out (to a small degree) with the npm ops around the incident -- a more thorough post from my peers at npm will be going up soon.

[2018-01-09 09:09] quilicicf commented on #510
Well I don't use it in my use case but I can test it if that helps.
I'll open an issue for the command builder too, thanks!

[2018-01-09 11:20] jddxf opened #1041 "requiresArg is enforced when option is not passed"
index.js
[code]
`node index.js` now fails, but it worked in versions prior 10.0.3.

I ran into the problem when using webpack-dev-server, but I think it probably is not the only thing being affected.

I have spent some time on this, and found the behavior was introduced in https://github.com/yargs/yargs/pull/1015.

[2018-01-09 14:17] quilicicf opened #1042 "Allow command builder to accept a promise"
## Feature request

Allow the command builder to accept a promise like follows:

[code]

This feature is the same as the one from #510 but for the command __builder__.

## Use case

The defaults of a command's parameter depend on the configuration of the app.
In some cases the configuration is not defined => the app prompts the user and helps him bootstrap the configuration then runs the initial c

[2018-01-10 18:06] fogine commented on #1016
Any thoughts, @bcoe ?
Do you see it as valid use case?
Thanks.

[2018-01-10 22:47] ljharb commented on #1041
i'm confused, shouldn't this fail?

[2018-01-10 23:55] jddxf commented on #1041
@ljharb I suppose `node index.js --a` should fail while `node index.js` should not. Option `a` itself is not required.

Here's a real life example: https://github.com/webpack/webpack-dev-server/blob/3e220fe1c9dcdc7b688090f0f4661e06a1e87c91/bin/webpack-dev-server.js#L112. Should `webpack-dev-server` fail when option `open-page` requires an argument and the option itself not passed? I suppose not.

[2018-01-13 11:13] gombosg commented on #1041
I experienced the same issue after an update.
[code]
used to work, now it's not working after the update. Setting a default value is a temporary workaround.

[2018-01-13 13:38] diogoribeiro23 commented on #550
@bcoe I would like to pick this up! Would you mind telling me some specifications that you want implemented or you just want Yargs to be self-aware of the JavaScript numeric bounds and if it bigger, parse it as a string?
Thanks!

[2018-01-15 19:32] #1041 closed

[2018-01-15 19:50] bcoe commented on #1035
@arunasank 👋 I've been dealing with some family health issues, so have been working on open-source sporadically; I would _love_ to have your help on this issue. Please don't hesitate to ask me questions in Slack...

I'm on the fence; if we could support INI format with minimal work, it could be interesting (but I think we should open a separate ticket for discussion.

[2018-01-16 09:17] saurabh-deep commented on #1010
Hey guys! Is there a workaround so that the command name is printed in the output instead of the command file name?

[code]

[2018-01-16 12:59] Nautigsam opened #1044 "Order of positional and option"
I have this code that sets a positional and an option inside a command context:
[code]

When I call the script like this `node test.js com pos --opt`, it works properly, but when I change the order of the option and the positional like this `node test.js com --opt pos`, I get this error:

`Not enough non-option arguments: got 0, need at least 1`

From my experience of other CLI systems, the order

[2018-01-16 13:54] nexdrew commented on #1044
Since you have not defined a type for the `opt` option, it thinks `--opt pos` means you want to set the value of `opt` to `pos`. If `opt` is meant to be a boolean option, then try setting the type in one of the following ways:

1. Via the [`option` method](http://yargs.js.org/docs/#api-optionkey-opt)

[code]

2. Via the [`boolean` method](http://yargs.js.org/docs/#api-booleankey)

[code]

I person

[2018-01-16 14:13] Nautigsam commented on #1044
It worked! Thank you for the hint.

[2018-01-16 14:13] #1044 closed

[2018-01-16 21:35] alex-phillips opened #1045 "Help dialog without script prefix"
I just updated a project to the latest version of args, and I noticed that the generated help output now prefixes all of the commands with the script run (i.e., `index.js my_command` instead of previously just `my_command`). Is there a way to suppress this? It seems extremely redundant depending on the project.

Sorry if I missed it in the docs.

[2018-01-16 21:50] gusvargas commented on #1008
@DaelDe seems a bit hacky but this works:

[code]

[2018-01-17 02:13] gusvargas opened #1046 "strict not reporting error on undeclared arguments"
Sorry if I misinterpreted the docs for `strict` but I'm expecting any undeclared command-line arguments to generate an error. Unfortunately, I'm only seeing this behavior with respect to options, not arguments.

**Example:** (https://runkit.com/gusvargas/5a5ea8d0aa4f7700128dcdf5)

[code]

**Expected output:**
Something like
[code]

**Actual output:**

[code]

Things I've tried:
- `.demandCommand(1

[2018-01-17 07:13] DaelDe commented on #1008
@gusvargas grrreat, this was the last missing piece. Works like a charm now 👍

[2018-01-17 19:28] amarzavery opened #1047 "How to provide example for a specific command in a command module ?"
As mentioned in the example for specifying individual commands in a specific file over [here](https://github.com/yargs/yargs/blob/master/docs/advanced.md#providing-a-command-module).

[code]

How can one provide an example for this specific command?

I tried to provide an example based on a sample provided for yargs over [here](https://github.com/yargs/yargs/blob/master/docs/examples.md#yargs-is-h

[2018-01-17 20:01] Igmat commented on #538
@maxrimue

It doesn't help in all cases because, this script name also is shown up in commands. Probably it's easier to add option for cli name?

[2018-01-18 15:24] Nautigsam opened #1048 "Hide script name in commands list"
When I print help, I get the list of commands prefixed with script name. I don't think it is a common thing among CLI programs (try `git --help` for example).
Maybe we should have a way to hide script name.

[2018-01-19 00:36] bhj opened #1051 "Publish 10.1.2?"
Latest on npm is still 10.1.1. Thanks 😄

[2018-01-20 05:23] rrwen opened #1052 "Function to modify argv"
Hi,

I would like to request for way to add a function that modifies `argv` in between `yargs` methods:

[code]

It may bring some flexibility to transforming `argv` in a simple way without the restrictions of .`coerce()` or in the case of .`command()`, where `argv` only gets returned if the command is called.

Thanks for the great package!

[2018-01-23 18:47] bcoe commented on #1051
@bhj @elliottsj yargs@11 is out with a few minor fixes.

[2018-01-23 18:47] #1051 closed

[2018-01-23 22:30] LandonSchropp opened #1055 "Thank you"
I used `yargs` for the first time yesterday, I have to say I'm extremely impressed with this library. Everything worked exactly how I expected it to, the documentation was fantastic, and the amount of functionality `yargs` added for such little configuration was amazing. I just wanted to say thanks for all the hard work. Creating a library that works this seamlessly isn't an easy thing to do, and

[2018-01-25 14:26] akashdignitas opened #1059 "NODE JS"
how to add a sentence in cli in node js using yargs

this is what i do

node app.js add --title:'Akash Secrets'

the whole 'Akash Secrets' is not coming under title key

[2018-01-25 14:28] Morishiri commented on #1059
Don't use `:` sign. It should be `=`.

So this:
`node app.js add --title:'Akash Secrets'`

becomes this:
`node app.js add --title='Akash Secrets'`

[2018-01-25 14:57] akashdignitas commented on #1059
Thanks for Help its blooming ....

[2018-01-25 14:58] #1059 closed

[2018-01-26 13:53] pgraham opened #1060 "Documentation pattern cause lint error with standard"
The following pattern for defining commands causes a lint error with [standard](https://github.com/standard/standard):

[code]

The error is:

    Expected an assignment or function call and instead saw an expression

This can be eliminated by assigning the result to a value:

[code]

However, if the script doesn't need to reference the `argv` variable, there is a different error:

    'argv' is a

[2018-01-26 13:56] pgraham commented on #1060
NM, found `.parse()`

[2018-01-26 13:56] #1060 closed

[2018-01-27 13:16] #530 closed

[2018-01-28 13:25] #1038 closed

[2018-01-30 00:09] itai-codefresh opened #1062 "way to remove an option from a subcommand"
is there a way to remove an option that was defined in a parent command form a subcommand?

[2018-01-30 14:16] vmx opened #1063 "Implicit type detection of default value"
What do you think of having implicit type detecting if a default value is given.

Example:

[code]

Running it will output (as expected):
[code]

But if you want to set `verbose` to `false` it only works with `--no-verbose`. If you run it with `--verbose=false` the output is:
[code]

`verbose` is a string. I would expect it to be a boolean.

To fix this, you need to explicitly set `type` to `boole

[2018-01-30 17:33] helio-frota commented on #1018
@robbiespeed this draft project can be used to reproduce: https://github.com/helio-frota/yargs-help-foo

This specific line is causing the same behavior on the project I shared on the previous comment:
https://github.com/helio-frota/yargs-help-foo/blob/master/bin/foo#L7

[2018-01-31 10:46] lili21 opened #1064 "dynamic describe for command ?"
I'd like to show different describe with different arguments.Maybe `describe` can be a function ?

[code]

[2018-02-01 03:01] #1064 closed

[2018-02-01 22:35] gusvargas commented on #1046
@DennyGD Thanks for the tip. I tried it out here: https://runkit.com/gusvargas/5a5ea8d0aa4f7700128dcdf5

[code]

But I still wasn't able to do what I'd expect, i.e., it's not throwing.

[2018-02-02 07:34] DennyGD commented on #1046
Sorry about that - my bad. Actually, I ended up calling `demandCommand` in the builder function. In your case it would be:

[code]

[2018-02-03 17:31] adrianth opened #1065 "Ability to alter the command name in the output of the help command"
From what I can tell, the command name that is being used in the output of the help command is the name of the JavaScript file that yargs was set up from. I would like to alter the command name, or at least exclude the ".js" extension and use just the base name of the file. For example, instead of:

[code]

We should have:

[code]

Is there a way to accomplish this that I've missed in the document

[2018-02-04 17:53] richburdon commented on #1010
@bcoe, here's my output; do you see what I mean?

[code]

[2018-02-08 19:12] nanovazquez commented on #286
A couple of months ago, I was in need of something like this, and I created this: [yargs-interactive](https://github.com/nanovazquez/yargs-interactive). This tool helps you to create, with the same code, a CLI tool with interactive support, but also noninteractive and mixed mode. This tool helps my team to develop CLI libraries that are going to be used by humans and CI tools.

I'd like to revive

[2018-02-08 22:13] istvandomokos opened #1066 "Improve performance during validation."
Hi,
Just an idea, but I recognized during to work on my project (using yargs) that the "validation.customChecks(argv, aliases)" is run before the remaining checks (like "validation.limitedChoices", "validation.implications" and "validation.conflicting" at yargs.js:1120). I made some memory and cpu intensive checks in my custom .check(...) function, and if the options where wrongly set (there were

[2018-02-09 17:20] Junkern opened #1067 "commandDir does not work with Typescript files"
I am using `commandDir`:

[code]

Under `cmds` there is one file with

[code]

If the file is a `.js` file it gets correctly loaded by `yargs`. When I rename the file ending to `.ts` it is completely ignored :(

Am I missing something here?

[2018-02-10 20:27] cbuteau opened #1068 "External modules command dispatching works in debugger not in runtime"
Hello,

previously I had used yargs simply to handle options on scripts where all the yargs action was embedded in the script.

Now building a utility to dispatch command line tools I have tried to make it load command modules and load them.

[code]

When I run the script through a debugger I see the various commands being dispatched.

[code]

When I just run it

[code]
It always dumps
Not enough

[2018-02-12 11:02] E314c opened #1069 "`yargs.parse(argv,callback)` issues call back before handler promise is finished."
yargs v11.0.0

When using yargs.parse() with a callback, expected behaviour is for callback to be called after yargs parse has completed. It is also expected that command handlers accept promises in their returns.

Example code:
[code]

outputs:
[code]
expected:
[code]

Context: I'm using yargs inside REPL and need the callback to fire _after_ the command has finished processing, so REPL can conti

[2018-02-12 11:10] E314c commented on #1069
Worth confirming that with the workaround idea from #918 works how I'd want it to:

[code]

But I feel like it's a tad cludgy to utilise side-effects of modifying `argv`  in order to achieve intended behaviour.

[2018-02-12 13:15] cbuteau commented on #1068
nevermind....it was a problem with my alias not feeding parameters...

[2018-02-12 13:15] #1068 closed

[2018-02-12 13:18] sakulstra commented on #893
I was facing the same issue and @laggingreflex's suggestion worked out :+1:.

Anyways this feels a lot like a workaround and could be handled inside the lib i guess (e.g. add a flag to showHelp or a specialized command for the generic catch case - `showHelpOnInvalidCommand(true)`).

[2018-02-14 12:24] porst17 opened #1070 "Strict mode doesn't work for option names containing dashes"
Undeclared option names without internal dashes are properly rejected:
[code]
Undeclared option names with internal dashes aren't:
[code]
The problem goes away if the `yargs-parser` option `camel-case-expansion` is set to `false` (via `package.json`), but at least in the default configuration it seems to be broken.

[2018-02-15 11:44] zenflow commented on #918
@richburdon Async (promise-returning) command handler support was added with PR #1001 .. I think you can probably close this

[2018-02-15 11:53] zenflow commented on #1069
I will see if I can fix this, since I introduced the issue with PR #1001

[2018-02-15 12:55] E314c commented on #1069
I wouldn't say introduced so much as it seems it was never built to handle it.

Is there any intended usage for the return of a `handler` function? or is the return generally ignored?

For a "proper" fix, you may have to make a lot of stuff async and return the promise back up.
You could also circumnavigate it by attaching the result of the handler to the argvs and checking/waiting further down th

[2018-02-15 13:01] zenflow commented on #1069
Nope. The return value is completely ignored, unless it's a promise, in which case the resolution value is still completely ignored.

[2018-02-16 01:50] pvdlg opened #1071 "Make `setPlaceholderKeys` optional"
The `setPlaceholderKeys` function has been added in #116. It sets all the options not set by the user in the CLI to `undefined`. This problematic the options object returned by `yargs` get merged with another one.
For example if you have an options object coming from a config file or somewhere else, and you want to merge it with `Object.assign` to the `yargs` options in a way that `yargs` options

[2018-02-17 01:30] liangzeng opened #1072 "Calling .parse() with no arguments is equivalent to calling yargs.argv ?"
https://github.com/yargs/yargs/blame/master/docs/api.md#L23

[code]

![image](https://user-images.githubusercontent.com/8503065/36336709-3377a042-13c5-11e8-9359-6991aa620788.png)

[2018-02-19 22:10] porst17 opened #1074 "requiresArg and nargs doesn't work if arguments to an option start with --"
Suppose you want to pass a string to an option and it happens that this string starts with `--a` (or any `--`). Obviously,
[code]
makes no sense because `--a` is interpreted as another option. But this works:
[code]

But now I want to make this argument to the option mandatory via `requiresArg`:
[code]
I would assume, that it would parse this into `{ _: [], help: false, version: false, test: '--a'

[2018-02-20 17:58] edwinandrivet opened #1075 "[Behavior] Array typed option with requiresArg"
Hey everyone,

I couldn't find any issue mentioning this so here is my problem :
If I create an option with the following code :
[code]
And run it like this :
[code]
The parsed arguments are :
[code]
But if I remove the requiresArg option, it behaves as I want it to :
[code]

I'd like to get my array filled as in the second exemple but also have at least one mandatory argument given to "names". Am

[2018-02-21 09:24] Richie765 opened #1076 "Strict mode not working for positional arguments"
When positional arguments are defined using `.usage` or `.positional` you can still supply extra arguments in strict mode without getting an error. I used the following work-around to avoid this, but I think strict should handle this by itself.

[code]

Great package, thanks!

[2018-02-21 09:39] Richie765 opened #1077 "Boolean arguments shouldn't accept values"
A boolean parameter can accept any value, e.g. `--boolean=value` as the doc says:

[code]

But I think it doesn't make sense and it's inconsistent. Also, the argument _is_ set as it's value but only if it is 'true'. For instance:

[code]

I think if a superfluous value is passed, that is likely a usage error and should be reported as an error. To make it consistent I think it's best to always trea

[2018-02-23 00:06] s-panferov commented on #744
I searched over the codebase about exactly same use case and found this issue. My use-case looks almost the same. I'm trying to write a set of command that you can run:

1) From command line, using `my-aswesome-tast-runner command` syntax
2) From code, by calling `command.exec(args)` function.

This can be accomplished in two ways

[2018-02-24 17:00] quilicicf commented on #684
That feature would be awesome indeed. I tried looking at the code to see if I could come up with an implementation but there are things I don't quite understand in the code.

From what I gather, a method `commandGroup` should be added in `yargs.js`. That method should work like `group` does but for commands, with a `getCommandGroups` method to get them.

Where I'm getting lost is with the `preserv

[2018-02-26 03:21] plroebuck opened #1078 "Provide configuration option such that aliases are not returned via yargs.argv"
Option `return-aliases` would be set `true` by default and provide what happens currently.
But if set `false`, aliases would not be returned (including ones created via `camel-case-expansion`). Settable like other yargs-parser options in `package.json` config `yargs` variable.

[code]

When set `false`, it would eliminate this post-processing step from my project's code.

[2018-02-26 04:25] plroebuck opened #1079 "Make number type act like .choices() for invalid or missing input"
Currently for options of type [`number`](https://github.com/yargs/yargs/blob/master/docs/api.md#numberkey), if the user provides the option and fails to provide valid input,
the value is returned as either `NaN` or `undefined`. _No idea who needs that._ Can we make it act more like [`.choices()`](https://github.com/yargs/yargs/blob/master/docs/api.md#choiceskey-choices) and just implode? Not doing

[2018-02-26 04:53] plroebuck commented on #538
@josephfrazier yeah, but that doesn't do much for non-local relative paths -- that said, I prefer just using `path.basename` regardless. Usage for a UN*X-based command only shows its basename, regardless of its invocation path.

Don't think **ANY** installation paths should be displayed via `--help` usage message.

[2018-02-26 13:59] plroebuck commented on #465
@bcoe, any progress?

[2018-02-26 15:25] plroebuck commented on #307
This is still broken as of yargs-v11.0.0.
Should throw an exception if `.boolean()` method is used with `.count()` for the same option.

[code]

[code]

[2018-02-26 18:32] plroebuck commented on #1077
Yeah, some of these are wrong given the documentation for [`.boolean()`](https://github.com/yargs/yargs/blob/master/docs/api.md#booleankey) and
reasonable user expectations.

[code]

[code]

Here, I'm assuming that since `--boolean=[true|false]` both give English expected answers (rather than Javascript "truthy" variants), there's some hardcoded comparison going on. Was unsure whether to expect `-

[2018-02-26 21:22] genepaul commented on #1035
@arunasank, have you had a chance to work on this? Otherwise, I can take a crack at it now that I actually have time to get back to this.

[2018-02-26 23:52] plroebuck commented on #1077
Tried using `.implies()` which looks like it should handle this without success.
[code]

Appeared one of yargs [unit tests](https://github.com/yargs/yargs/blob/master/test/validation.js) was doing something similar, but didn't work for me...

[2018-02-28 01:05] arunasank commented on #1035
:wave: @genepaul I'd still like to work on this if you can help me.

[2018-02-28 06:41] arunasank commented on #1035
Oh, saw that you PR-ed already. 👍 Thanks for the fix!

[2018-02-28 15:01] genepaul commented on #1035
@arunasank, sorry to pull it out from under you, but when I made the change it was a lot easier than I expected it to be, so I just submitted the PR.

[2018-02-28 22:26] #1070 closed

[2018-03-01 05:11] arunasank commented on #1035
Don't worry about it - maybe we can work together on another issue. : ) Thanks again for the fix!

[2018-03-01 21:30] raijinsetsu opened #1081 "Group of global options lost on child command"
I found that the groups do not propagate down to child commands, though the options do. Sample code:

[code]

If I execute "node index --help", I see my those logging options in the "Logging" group.
If I execute "node index sub-command --help", they are no longer grouped but the options marked as global appear mixed in with the sub-commands options.

The only workaround I have currently is to spec

[2018-03-04 18:04] #1035 closed

[2018-03-04 21:57] bcoe commented on #1081
@raijinsetsu my expectation as well is that `.group` would be inherited by commands.

[2018-03-04 21:59] bcoe commented on #1035
@arunasank @genepaul good news, I intend to start having a monthly meetup (both in person, and online, for triaging issues on yargs, Istanbul, conventional-commits, etc., and distributing work to the community). I'll try to pick a time that works well across timezones -- unfortunately it might be a bit early in the morning in Bangalore ...

[2018-03-04 22:02] bcoe commented on #1039
@samrg472 let's start by adding a failing test case, if you don't mind 👍 then we can work on figuring out the best solution together (happy to help you land the work yourself).

CC: @porst17

[2018-03-04 22:18] bcoe commented on #1077
@Richie765 @plroebuck if you don't mind, let's open this discussion on [yargs-parser](https://github.com/yargs/yargs-parser) rather than yargs.

It's always been the behavior of boolean that you can provide a `false` or `true` string, and that providing something other than these accepted values is undefined behavior (defaulting to `false` in most cases for this undefined behavior seems pretty rea

[2018-03-04 22:18] #1077 closed

[2018-03-04 22:43] WeeJeWel commented on #1010
Why not simply print the command as defined in package.json#bin ?

[2018-03-04 23:09] samrg472 commented on #1039
@bcoe Here's a test case, under the "strict mode" tests in the suite.
[code]

[2018-03-05 00:49] arunasank commented on #1035
@bcoe yes! I can do anytime between 6 and 8 am except on Wednesdays when
I've an office call at 7.30. I'm a morning person. : )

[2018-03-05 11:58] ifisidro opened #1084 "Customize yargs' output"
Hi everybody,

In our project some members would like to have a different output format than the given by **yargs**. Both for the command (our binary) without arguments and for a command without the proper arguments, we would like to have a different output.

Kind regards,

[2018-03-05 12:07] gombosg commented on #929
Bug still confirmed for yargs 11. Options always conflict with boolean arguments (with a 'false' default value).
Non-boolean arguments are fine.
Workaround is to disable the boolean type, often this doesn't cause any issues.
@jordansexton , did you come up with that PR?

[2018-03-06 01:13] jordansexton commented on #929
No, sorry, I haven't made any progress on this. I worked around it by just not using defaults for booleans, and then forgot to look into it beyond the comments above.

[2018-03-08 15:52] tiboun opened #1085 "fail is called twice with different messages"
[code]

I've overrided fail function and the result of the output with **init** is :
[code]
when **yargs.showHelp()** is commented

and

[code]

It seems that fail is called twice instead of having all the failure message once. Is it a wanted behavior ? I If so, can you tell me how to log all the messages before printing help ?

Thanks

[2018-03-08 17:05] tiboun commented on #1072
yargs l.18 => processArgs = processArgs || [] // handle calling yargs().
yargs l.989 => get: () => self._parseArgs(processArgs),
yargs l.528 => if (typeof args === 'undefined') args = processArgs

In 11.1.0, your code doesn't fail. Maybe you should upgrade your version.

[2018-03-14 07:53] xiayuxiaoyan opened #1087 "question dose it support es6 module？"
if i do not use babel, can i use yargs like follow
import yargs from 'yargs'

[2018-03-15 15:20] aduh95 commented on #1087
Have you tried it before asking your question?

I tried to save a file `test.mjs` with the following content:

[code]

Then I run it with the following command:

[code]

[2018-03-15 18:44] dshepsis opened #1088 "Documentation incorrectly says .help() prints help message. Should reference .showHelp()"
Currently, the documentation [here](https://github.com/yargs/yargs/blob/master/docs/api.md#help) and [here](http://yargs.js.org/docs/#api-help) claims that:

This is incorrect in the current version of yargs, as far as I can tell. The documentation should reference [`yargs.showHelp()`](https://github.com/yargs/yargs/blob/master/docs/api.md#showhelpconsolelevelerror) instead.

[2018-03-16 23:49] impressiver commented on #895
Or just show the list of possible commands if no command is specified (same as `—help` as far as I can tell).

[2018-03-18 15:57] faressoft opened #1089 "Is there any way to add a new line before the help contents ?"
I noticed that there is always a blank line after the help contents, but there are no blank line at the beginning. I am looking for consistency, so is there any way to print a blank line at the beginning ?

<img width="583" alt="screen shot 2018-03-18 at 5 55 57 pm" src="https://user-images.githubusercontent.com/1908658/37567872-e128147a-2ad5-11e8-9fde-3d8fe6595425.png">

[2018-03-18 19:01] bcoe commented on #1089
@faressoft looking at a few of the common bins on my computer, it seems  as though most bins don't have a `\n` at the start or the end of the help output:

---

[code]

[code]

[code]
---

to add a newline before the help output you can do something like this:

[code]

☝️ but, I think a better solution might be for us to nix the blank newline at the end of help output (this would better match tool

[2018-03-18 19:01] #1089 closed

[2018-03-19 10:03] faressoft commented on #1089
@bcoe Yes indeed, removing the \n at the end will be better.

[2018-03-19 12:12] magicdawn commented on #1067
And the `yargs.command` method

[2018-03-19 21:04] kellyselden commented on #1074
My tests are triggering this with yargs 11:

[code]

I get the error:

[code]

[2018-03-20 00:57] sangeeth96 opened #1091 "Validation fails when x => y where y is 0"
Here's the test case that mimics the issue I encountered:

[code]

Running `mocha`, this prints the following:
[code]

This should clearly not be failing as 0 is a valid number but on my project, I get implication error when 0 is passed as the value. Note that other values work fine. I believe this is because the code relies on JS coercion to determine if the implied key exists or not. I have alre

[2018-03-20 04:16] #1072 closed

[2018-03-21 00:29] sharonswli opened #1092 "Process exits when chaining config methods in v.11.0.0"
Hello,

I'm having trouble using the yargs API [here](https://github.com/yargs/yargs/blob/master/docs/api.md) to add some configurations to my script. It seems like while `const argv = require('yargs').argv` works great, as soon as I add custom configurations to my `yargs` object, the script terminates early and prints out `1.7.0` on my console...No warning and no errors, just `1.7.0`.

[code]

Th

[2018-03-21 03:20] bkrodgers opened #1093 "One and only one of X options (demandOption + conflicts)"
Am I missing something, or is there no way to specify that of option X, Y, and Z, I want to require one but not allow more than one?  That is, other than using a `.check()` function?  I can't use `demandOption`, because then they both have to be specified.  I can use conflicts to enforce the mutual exclusivity, but looks like I need to use check to provide a function to do the check.  That's not a

[2018-03-21 09:07] Booom3 commented on #1010
I just ran into this issue too. My use case is that I am writing a Discord bot and using yargs to provide a very authentic and rich command line-line like experience for bot configuration through the chat. It's working wonderfully but this shows the name of the .js file the bot is running on instead of what you actually use to invoke the bot commands. If nothing else I would like to be able to cha

[2018-03-21 17:54] keithbentrup opened #1094 "Is this how check(fn, [global=false]) is supposed to behave?"
Am I misunderstanding how global should behave? If I set it to `false`, I expect my check function to only apply to the current command. However, `false` seems to disable it completely.

Here's a simplified version of a CLI I'm working on. The 1st commands expect no additional args. The 2nd may have several.

[code]
When `check(verifyOnly1Arg, false)`, the check isn't run on either. When `check(ve

[2018-03-22 14:37] aj-r commented on #1018
@bcoe I'm having this issue, too, in `v11.0.0`, running on Windows 10. If I run my file with no command specified, I get the full help output:

[code]

However, as soon as I add the `--help` parameter, I lose all of the useful help info:

[code]

The same issue happens when I try to get help for a specific command, i.e. `ts-node src/main.ts import --help`. Since all of my parameters are optional,

[2018-03-24 14:04] ChristianJacobsen commented on #1010
I'd love this feature. Currently working on CLI using readline (same as people above). Adding an option to skip printing it would be a godsend.

[2018-03-24 20:22] richburdon commented on #1010
@ChristianJacobsen my workaround is the string replace the command when I'm running in interactive mode. It's hacky but it works well:

[code]

[2018-03-26 01:12] mmacfadden opened #1096 "Positional arguments before subcomand."
I am using the commandDir function to implement commands and subcommands. I have a scenario similar to the following:

[code]

The directory structure would be like this
[code]

The server command always should be followed by a URL. All of the subcommand will require a url. The idea here is that I would like to descrive the "server" command something like this

`exports.command = "server <url> <co

[2018-03-26 14:52] mmacfadden commented on #1096
After reviewing this closer, it looks like my workaround of putting the positional parameter in the sub command, while accepted as valid configuration, doesn't work either. It seems like that is related to #826. So perhaps this is just not possible?

[2018-03-26 16:19] mmacfadden opened #1097 "Parent Command Global Handler"
We have several nested commands like this:

[code]
We are using command modules and the commandDir method of yargs, such that each of these commands is in a separate file. The issue is that for every command we want to take some common actions.  For example, when the code executes we would like to always print the server url:

[code]

There are other common actions. Presently, we have created some

[2018-03-27 11:21] dorellang opened #1098 "requiresArgs: true breaks expected array parsing behavior in v11"
I noticed that when you have an array option with `requiresArgs: true`, then only one argument is parsed, even when the docs state that `--foo foo bar` should be parsed as `['foo', 'bar']`.

For instance, the following code:
[code]

Would parse ```node test.js -i item1 item2 item3```   as

[code]

But according the docs I would expect `argv.i == argv.items == ['item1', 'item2', 'item3']`, which ha

[2018-03-27 14:37] nazar-pc opened #1099 "Automagic conversion is still present on positional arguments"
The same issue as #963 (which seems to be resolved), but for positional arguments:
[code]
[code]

How can I get all 64 zeroes without conversion to number and back to string?

UPD: Found `"yargs": {"parse-numbers": false}` and it works, but still I believe this is an issue.

[2018-03-27 23:29] FallingSnow commented on #929
Just ran into this issue. Two options that have a default of `false` and listed as conflicting causes `Arguments encoder-preview and delete are mutually exclusive`. Setting defaults to undefined instead of false does work but it removes the `[default: false]` from the --help output.

[2018-03-30 07:41] plroebuck commented on #929
While I advocated not changing the existing setup (thinking about potential dependent package breakage issues), here's additional [discussion](https://github.com/yargs/yargs-parser/issues/116) in the yargs-parser concerning changing the default boolean to `undefined`.

[2018-03-30 17:55] ahmadnassri opened #1100 "optional positional argument followed by required ones, results in odd behaviour"
~seems like positional argument order is not respected, or at least processed in reverse ...~

I think I stumbled into this oddity by mistake, but nevertheless, perhaps some user warning is needed when positional arguments start with optional followed by requried.

[code]

[code]

[2018-03-31 21:45] bcoe commented on #781
@erossignon dropped this issue on the floor, I apologize, assuming we can keep the unit tests running, I'd be comfortable pulling in @sindresorhus' `require-fool-webpack`.

[2018-03-31 23:07] bcoe commented on #1100
@ahmadnassri in your definition, you have an optional argument `[first]` before two required arguments `<second>` and `<third>`; this behavior would be undefined, and we should probably make raise an exception.

Try instead:

`yargs.command('$0 <first> <second> <third>', '', command, builder).argv`

or:

`yargs.command('$0 <first> <second> [third]', '', command, builder).argv`

depending on what y

[2018-04-01 01:43] ahmadnassri commented on #1100
ah, indeed, that seems odd that I ended up with an optional argument as the first one ... I certainly see this no longer as an error, but rather an edge case worthy perhaps (as you suggested) of raising a warning. I'm going to update the issue title accordingly! :+1:

[2018-04-01 14:49] plroebuck commented on #513
Additional [discussion](https://github.com/yargs/yargs-parser/issues/116) in the yargs-parser concerning determine if a yargs.argv argument was set explicitly by the user.

[2018-04-03 17:59] FlandreDaisuki opened #1101 "Locale not work in conflicts error message"
Here is my code:
[code]
and output:
[code]

[2018-04-04 01:47] bcoe opened #1102 "command error propagation is not predictable"
see #953, #955 for examples of folks bumping into issues around error propagation in commands.

@evocateur ran into this issue in Lerna, and has some potential thoughts about a better implementation.

let's start a discussion here, regarding API improvements.

[2018-04-04 01:48] bcoe commented on #953
let's start a discussion in #1102 about how to better handle asynchronous commands.

[2018-04-04 01:48] #953 closed

[2018-04-04 02:03] bcoe opened #1103 "make yargs advanced configuration available through API (not just implicitly)"
yargs' parser settings can currently be configured using the `yargs` stanza in your package.json. This works for some use-cases, but it can be difficult for (as an example) writing unit tests.

Let's introduce the a `yargsConfiguration` API method that allows you to programmatically configure these advanced settings, and takes precedence over finding a package.json.

This is a prerequisite for imp

[2018-04-04 04:03] evocateur commented on #1071
This definitely smells like a yargs-parser option to me (although that begs the question, should (can?) setPlaceholderKeys be a yargs-parser method?)...

[2018-04-04 05:31] evocateur commented on #1071
I have often wondered myself, it does feel a bit out of place.

[2018-04-04 19:41] grnch commented on #1079
the value is returned as either NaN or undefined. _No idea who needs that_. Can we make it act more like .choices() and just implode?

This part has definitely bitten me more than once. If I specify that an argument is a number, and the user enters something that is not a number, yargs should immediately let the user know they entered an invalid value. Continuing with `NaN` like it does now is jus

[2018-04-05 03:51] pvdlg commented on #1071
@evocateur should I open a PR that remove `setPlaceholderKeys` to at least see the impact on the tests?
@bcoe do you know what was the purpose of implementing `setPlaceholderKeys`?

[2018-04-05 04:01] evocateur commented on #1071
Yes, let’s see what breaks. I have personally yearned for its absence, chiefly for the Object.assign() use case.

[2018-04-05 04:16] pvdlg commented on #1071
See #1105.

It changes 2 tests:
- one that was explicitly testing the `undefined` "placeholder" behavior
- one that seems to be unintentionnal

[2018-04-06 11:39] dario-rodriguez commented on #1067
It works for me.
Maybe you should use the correct way to export in Typescript, example:
[code]

[2018-04-07 16:02] SimonSchick commented on #571
@bcoe Would you be willing to re-visit this? With TypeScript and native modules on the horizon I think supporting a specific export such as `handler` or simply `default` would be beneficial.

[2018-04-07 19:50] bcoe commented on #1071
@pvdlg thanks for taking this on; I agree with your assertion that this is the better behavior.

I think (as @evocateur indicates) it would be good however to make this configurable (I think we should switch the default behavior to not setting placeholder keys however).

Let's add the configuration option described in these tickets: https://github.com/yargs/yargs/issues/1103, https://github.com/ya

[2018-04-09 14:09] SimonSchick commented on #1069
@zenflow it would actually be really useful if the return value was passed into the `parse` callback.

[2018-04-10 18:07] NeoLegends commented on #682
This is affecting me as well. Has something else be done about this?

[2018-04-10 18:17] pvdlg commented on #1071
@bcoe I looked at the code but not sure where options are currently retrieved.
It seems #1103 and #1053 are about adding a function to programmatically change options. Am I right assuming the ability to set options already exist? If this is the case I could check the value of the `set-placeholder-key` option and apply the function when this option is `true`.

Could you help me to figure out where

[2018-04-12 19:59] christianbradley commented on #621
I have this issue as well, any update @nexdrew ?

[2018-04-13 21:58] ianwremmel commented on #1067
@Junkern, I think what you're looking for is the `extensions` option for `commandDir()`:

[code]

You need to tell yargs that it should recognize `.ts` files. (and, of course, you'll want to run with `ts-node` or an approprirate require hook in development).

[2018-04-14 22:29] ljharb commented on #859
It seems like yargs could check the `.length` of the coerce function; if it's `0`, expect sync, if it's `1`, it will get a callback that's async (and could also await the return value)?

[2018-04-16 06:51] Junkern commented on #1067
Thanks for the answer! I am working with a different command line tool now, but I hope this helps other people ;)

[2018-04-16 22:08] s-panferov commented on #895
All of the solutions above does not work if provided command is not known (e.g. when you put a random string instead of a real command). Please re-triage this a as a feature request, because the desired behavior cannot be achieved right now.

[2018-04-18 04:36] jeffora opened #1106 "v11.0.0 is `@latest` on npm, not v11.1.0"
Just wondering if there's any reason why `yargs@latest` on npm is pointing to `yargs@11.0.0`, and not `yargs@11.1.0`? Was this just a publishing error?

[2018-04-19 07:11] timaschew commented on #733
@bcoe I need some similar behaviour, at least get this working with `reset()`.

Currently I'm defining 3 commands and have 3 global options, which should not appear in the help of each command (but for me it's okay that the values appear in `argv`.

I'm expecting that `require('yargs').reset()` would exactly not print those options from the global config.

Here is my setup

[code]

[2018-04-19 07:26] timaschew commented on #733
Oh found out now that `.global('cwd', false)` is what I need in combination with`reset()` within the command.

[2018-04-19 16:17] yhaskell commented on #1018
Smallest example that reproduces:

[code]

For some reason, changing first line to
[code]
fixes this issue.

[2018-04-19 17:32] borela commented on #895
@bcoe That works but is it possible to remove the error message `Not enough non-option arguments: got 0, need at least 1`? it is redundant if the usage is being displayed, I added `.demandCommand(1, "")` but it still include the line breaks as if the error message is there.

[2018-04-20 13:16] rocketspacer opened #1107 "--help show commands with $0 included"
Code (index.js):
[code]
Run:
[code]
Expect:
[code]
Got:
[code]

Node Version: 9.11.1
Yargs Version: 11.0.0

![image](https://user-images.githubusercontent.com/17026876/39052863-977c6512-44d7-11e8-94fd-2e34a8d96710.png)

[2018-04-20 19:38] Smolations commented on #1065
I am actually having the same trouble. I am using args to work with a slack bot's slash commands, but `$0` always represents `index.js` so when I show the help, the js file shows up. I'd love to be able to replace it with the slash command if possible. I'll let you know if I find a workaround, but I'd love to see some feedback on this...

[2018-04-20 20:43] Smolations commented on #1048
Or just a way to change it. Then you could change it to `null` or an empty string or something to hide it.

[2018-04-20 20:57] Smolations commented on #1010
Wow, third issue on this topic. Wish I would have seen this one before looking at #1048 and #1065. I am working on a chat bot as well. I was able to workaround this particular issue using the callback provided in the `.parse()` method. I've included an example in #1065.

[2018-04-22 16:09] aorinevo opened #1110 "Feature Request: (PR-AN-01) Global middleware"
Thank you for this awesome software! :)

## Context
We built a cli tool to help us install, build, and run our applications.  We are now trying to capture analytics about how this tool is being used by developers:
  - frequently used commands
  - common errors
  - etc ...

For this, we would like to log data on every command.  To do this, we would need to execute a function in every handler. There

[2018-04-23 08:18] aorinevo commented on #1110
Published this feature to npm with public access under `@aorinevo/yargs`.

## Install
[code]

## Example
[code]
On each cli command, someMiddlewareFunc and someOtherMiddlewareFunc get called first - in the order in which they appear - then any command level middleware, and finally the handler for the command.

[2018-04-23 12:40] aorinevo opened #1111 "PR-AN-03: Fix broken editor markdown"
In api.md, double underscore breaks markdown on line 605.

<img width="1103" alt="screen shot 2018-04-23 at 8 38 53 am" src="https://user-images.githubusercontent.com/3240137/39127060-eef6f932-46d1-11e8-8bbc-a6b98680684a.png">

[2018-04-23 12:40] aorinevo commented on #1111
Fix by replace with `\_\_`

[2018-04-23 12:46] aorinevo opened #1112 "PR-AN-04: Refactor documentation"
## Context

Refactor yargs' documentation to make it easier to find relevant apis.  We can also use this as an opportunity to replace html with markdown - some markdown plugins for editors break when mixing html with markdown.

## Proposal

- Break documentation's api into separate files (i.e. command.md, etc...)
- Replace anchor tags in md files with markdown (see https://gist.github.com/asabaylu

[2018-04-23 13:33] aorinevo commented on #1111
Opened PR https://github.com/yargs/yargs/pull/1113

[2018-04-23 19:28] aorinevo opened #1114 "Move Code of Conduct section to CODE_OF_CONDUCT.md"
Complete the [Community Profile Checklist](https://github.com/yargs/yargs/community)
  - Move Code of Conduct section from [here](https://github.com/yargs/yargs/blob/master/contributing.md) to [CODE_OF_CONDUCT.md](https://github.com/yargs/yargs/community/code-of-conduct/new?template=contributor-covenant)
  - Add an issue or pull request template

<img width="1019" alt="screen shot 2018-05-01 at 12

[2018-04-23 22:11] aorinevo commented on #1111
Merged https://github.com/yargs/yargs/pull/1113

[2018-04-23 22:11] #1111 closed

[2018-04-24 11:58] aorinevo commented on #1112
Sections already have markdown that adds an href.  Need to remove html anchor tag and check refs to sections within page.

[2018-04-24 12:08] aorinevo commented on #1112
@bcoe should we move deprecated apis to the bottom of the file into their own section?

[2018-04-24 12:50] aorinevo commented on #1112
Update PR:
  - Moved deprecated API to its own section
  - Currently section has h1 tag but should be replaced with h2 to meet accessibility requirements
  - May want to consider replacing method tags from h2 to h3

[2018-04-26 17:56] papandreou opened #1116 "Boolean negated --no-xxx variant isn't discoverable in the command line help"
A tool I help develop takes a boolean `--recursive` option that defaults to true. This has caused some confusion, because it isn't really obvious from the help how to turn it off: https://github.com/Munter/subfont/issues/20

I don't have a specific suggestion, but would you entertain the idea of having the help explicitly list the `--no-...` variant of the switch?

[2018-04-27 00:10] aorinevo commented on #1116
@papandreou It is possible to set the default value to false, if that is what you're expecting when a user passes the recursive flag:
[code]

[2018-04-27 00:17] papandreou commented on #1116
I want `true` to be the default, and it all works fine. The problem (as you can see in the linked thread) is that it is non-obvious from the help text that it's possible to turn it off by providing `--no-recursive`:

[code]

So what I'm suggesting is to somehow explicitly list `--no-recursive` also.

[2018-04-27 00:51] aorinevo commented on #1116
I think one thing to consider, if you explicitly list `--no-` for all boolean flags, is that the size of the help menu could, at worse, double.

An alternative might be to add to the description of the tool a reminder that `--no-` can be used to invert the default values.

For example,
[code]

[2018-04-27 01:37] aorinevo opened #1117 "PR-AN-06: Split yargs.js"
## Feature Request

Separate yargs.js into separate files by api method.  Under lib directory, create an api directory.  For each api method, create a file - use the method name for the filename.  Port the code over to the file, and require it into yargs.js.

[2018-04-27 04:27] aorinevo commented on #1117
PR reduced yargs.js by 63 lines.

[2018-04-27 11:58] papandreou commented on #1116
@aorinevo, A general reminder at the top or bottom would be an improvement. However, I think it'd be more in-your-face obvious if it accompanied the (probably rare) boolean switches that have `true` as the default.

Something like:

[code]

Or:

[code]

[2018-04-27 23:01] jails commented on #1107
This behavior has been introduced in all `>=10.0.0` versions (probably by https://github.com/yargs/yargs/pull/990) so as a workaround I'm just sticking back to `9.0.1`.

[2018-05-01 03:25] bcoe commented on #1117
@aorinevo 👍 made a few comments on the pull request. I'm on the fence about this refactor, but open to kicking around some alternatives.

[2018-05-01 03:25] bcoe commented on #1110
just landed this feature request, great work @aorinevo.

[2018-05-01 03:25] #1110 closed

[2018-05-01 07:25] jeffora commented on #1106
Hey @bcoe thanks for the answer. That makes sense, but if it's released under a `next` dist-tag, wouldn't it make sense to highlight that in the CHANGELOG or similar? As it currently stands, `npm dist-tags ls yargs` shows the following:

[code]

but your CHANGELOG.md shows a release of `11.1.0` that's only possible to install by explicitly running `npm install yargs@11.1.0`. If that's intentional,

[2018-05-01 12:45] aorinevo opened #1120 "Add support for ES6 using Webpack/Rollup"
Use webpack (v4.x.x) and babel to precompile and bundle yargs' files.

This would let developers use ES6 while maintaining support for node 4, 5, and 6.

[2018-05-02 08:08] Khaledgarbaya commented on #1110
So Late to the party OMG this amazing, Thanks @aorinevo

[2018-05-02 17:28] bcoe opened #1121 "completion and recommend commands fail in conjunction"
reported by @evocateur

[2018-05-02 21:19] speakerwiggin opened #1122 "README.md on NPM page no longer links to github docs correctly"
## Intended result:
1. Click `Yargs API` under `Table of Contents` on https://www.npmjs.com/package/yargs
2. Redirected (or new tab opens to) https://github.com/yargs/yargs/blob/master/docs/api.md

## Actual result:
1. Click `Yargs API` under `Table of Contents` on https://www.npmjs.com/package/yargs
2. Redirected (or new tab opens to) https://www.npmjs.com/docs/api.md

[2018-05-04 03:52] masaeedu commented on #621
Is there any workaround for this?

[2018-05-04 23:25] decentralion commented on #781
A more convenient workaround is to use [webpack node externals], which has webpack ignore node modules, thus avoiding the problem. According to [Backend Apps with Webpack], bundling the files in is important for frontend files, but unnecessary for the backend, and clearly anything using yargs must be in the backend.

For example, SourceCred uses that fix here: https://github.com/sourcecred/sourcec

[2018-05-08 20:08] robcresswell opened #1125 "Required positional arguments"
I might be missing the point here, but I can't figure out why how I would define a required positional argument. If, for example, I want to supply a path to a command without having it be a named option:

[code]

With an option, I can use `demandOption` and `requiresArg` to enforce the option usage and make sure it has at least one parameter, but it seems unneccesary to use a flag for the default

[2018-05-08 20:17] robcresswell commented on #1125
Ignore me, I'm an idiot. For anyone else reading, I didn't realise how declarations work when using the builder stuff. I had to define it as:

```command: create <file>```

to make it a required arg.

[2018-05-08 20:17] #1125 closed

[2018-05-09 12:58] #1087 closed

[2018-05-10 16:53] #1121 closed

[2018-05-10 16:57] bcoe commented on #1071
@pvdlg could I convince you to join our community slack:

http://devtoolscommunity.herokuapp.com/

and we can move towards finishing up this work.

[2018-05-10 17:13] bcoe commented on #1069
partial implementation here, would love more help:

https://github.com/nyamadori/yargs/pull/1

[2018-05-10 17:49] pvdlg commented on #1071
Absolutely!

[2018-05-11 15:22] jimhigson opened #1128 "npm has 11.0.0 (not 11.1.0) tagged as latest"
See the [versions on npm](https://www.npmjs.com/package/yargs?activeTab=versions)

Npm thinks 11.0.0 is the latest version, but it looks like 11.1.0 should be.

[2018-05-12 22:31] pvdlg commented on #1071
See https://github.com/yargs/yargs-parser/pull/123 that adds the `set-placeholder-key` configuration (default to `false`).

[2018-05-14 09:36] klemenoslaj opened #1130 "Option with hidden appears if it contains the default value"
# Description
Hidden flag in an option configuration get's overruled by some properties.
One of such properties is `defualt`, defining the default value for the option.

I would expect that `hidden` flag does not get overruled by any other property.

Is that by any change bythe design?
If so then it makes sense for such information to land in the documentation.

# Working example

## Code
[code]

[2018-05-17 15:15] blendsdk opened #1131 "--help on subcommand not showing options"
In the following example calling `sayhello --help` does not show the option `--name` in the generated help

[code]

When running:
[code]

It returns:
[code]

When running:
[code]

It returns:
[code]

Why does `script sayhello --help` not work? What am I doing wrong here?

Thank you.

[2018-05-18 04:36] vonagam commented on #1097
Hi, had same problem recently.

The answer is `visit` function in `opts` of [`commandDir`](https://github.com/yargs/yargs/blob/master/docs/advanced.md#commanddirdirectory-opts). It receives command object and can modify it before returning.

You can add middleware or replace handler with wrapped version to implement common functionality.

[2018-05-18 14:02] aorinevo commented on #1131
Hi blendsdk,

Can you try calling showHelpOnFail before command?
[code]

[2018-05-20 00:46] vshymanskyy opened #1133 "recommendCommands() interferes with completion"
when both recommendCommands() and completion() are effective, it starts recommending command options during the completion, which results in unnecessary help prints.

Should just perform auto-complete without invoking recommends

[2018-05-20 20:33] aorinevo commented on #1131
Hi alvis,

Can you post the code snippet that sets up your yargs?

[2018-05-20 23:29] aorinevo commented on #1131
In my app, I noticed that order matters when calling `.help`.  For example, if I call `.help` immediately after requiring yargs, the help menu shows using the `-h` and `--help` flags.  If I call `.help` after `.options`, help menu does not show using `-h`.

[code]

[code]

[2018-05-21 03:03] alvis commented on #1131
My config doesn't use `.help()` at all.

It fails with a config as simple as
[code]

One more interesting thing is if I further simplify the config by removing `.demandCommand()`, even `-h` doesn't work. It prints nothing.

[2018-05-21 16:23] vitalets opened #1134 "middleware does not work"
Example from the [docs](https://github.com/yargs/yargs/blob/master/docs/api.md#middlewarecallbacks):
[code]
Output:
[code]

Env:
[code]

[2018-05-21 16:33] aorinevo commented on #1134
Hi vitalets,

This code isn’t in v11.0.0.  Try v11.1.0.

[2018-05-21 16:53] vitalets commented on #1134
Hi @aorinevo

The same thing with 11.1. To be sure that correct version is used:
[code]

Also npm is showing the latest available version is 11.0.0 not 11.1, that is strange:
![image](https://user-images.githubusercontent.com/1473072/40319313-69423674-5d30-11e8-87ba-68d327afaf93.png)

[2018-05-21 20:23] cassels opened #1135 "config.extends doesn't require from node_modules at cwd"
I have three packages:
1. `yargs-cli` (yargs app)
2. `yargs-cli-extension` (yargs config)
3. `app`

The `yargs-cli` adds the local config file like so:
[code]

The `yargs-cli-extension` is a library that exports a config:
[code]
The `app` has a `.myrc` config file in the root directory like so:
[code]

## Expected Behavior
If I install the `yargs-cli-extension` as a dependency of `app` and run `ya

[2018-05-22 11:28] aorinevo commented on #1134
Looks like the code is in master but not in any of the tagged versions.  This should be available in the next release.  An option to start using the latest features in master is to namespace yargs in npm off of the master branch and pull that into your project.  That’s what I am doing (see @aorinevo/yargs on npm) until the next release of yargs.

[2018-05-22 13:44] kopax opened #1136 "Can't hide commands with `false` for description."
I can't hide commands with `false` for description.

I have looked at #190 and it appear it has been merged.

Hoever, my version is `11.0.0` and it seems that it is not working:

[code]

produce this :

[code]

[2018-05-22 13:54] kopax commented on #1136
solved with `hidden: true`

[2018-05-22 13:54] #1136 closed

[2018-05-24 07:23] btruhand opened #1137 "when in singleton mode, calling parse() multiple times results in undefined behavior"
So my situation is that I want to use a required positional argument with some non-required options. To my surprise the positional argument is not picked up as I expected. Here is what the command look like
[code]

If I try to give an argument that is not part of the argument choice this is what I get:
[code]

So obviously the argument is properly picked up. Not sure what is going on here. This is

[2018-05-24 22:31] lizardruss commented on #1131
I ran into this issue today. Here's the workarounds I found:

1. Turn off `esModuleInterop` in your `tsconfig.json`
2. Use `require` instead of `import`

This works:
[code]

This fails:
[code]

I'm guessing that the code generated for imports when `esModuleInterop` is on is causing this. I hope that helps!

[2018-05-25 15:51] alvis commented on #1131
Can confirm that what @lizardruss described is valid on typescript 2.8.3. It's very weird as esModuleInterop doesn't affect anything, but just --help. Will investigate.

[2018-05-25 16:21] alvis commented on #1131
So actually it's a known potential issue.
The magic behind esModuleInterop is the __importStar helper as follow
[code]

With `var k in mod`, many packages should work just fine as it effectively copies proerties from the original export. However, it's also noted in the [document](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-7.html#support-for-import-d-from-cjs-form-commo

[2018-05-29 05:59] timoxley commented on #719
@bcoe thanks

[2018-05-29 18:46] mathroc commented on #895
I have something I like with `.recommendCommands().strict()`

[2018-05-30 12:10] allnulled opened #1141 "Using other input, instead of process.argv"
As I have noticed, the API is thought to work only with process.argv.

But there are libraries out there that can transform a string into an array, just like the array found at process.argv.

We could maybe, as the JS let us add properties even to a function, do something like:

require("yargs").args("node my-command as string")...

And so, we can respect the whole API as it is right now.

I have

[2018-05-31 16:55] ZaDarkSide opened #1142 "banner() or header() that works like epilogue()"
I would like a function to display a banner or header before the actual command list help, it should work like epilogue().

[2018-06-06 03:45] oscarocornejo opened #1144 "exception thrown when yargs.parsed.newAliases is undefined"
Found something of an issue when using `yargs.showHelp()`
[L761](https://github.com/yargs/yargs/blob/master/yargs.js#L761)

it seems that when `self._parseArgs(processArgs)` is called, it is not saving the results to `self.parsed`

if you put a breakpoint on this line: [L1012](https://github.com/yargs/yargs/blob/master/yargs.js#L1012), you will see that the `self.parsed` property contains the appr

[2018-06-06 04:14] borela opened #1145 "[Feature Request] Hide default value and flag type"
Currently, my project shows:

[code]

But the default values and types pollutes it, is it possible already to hide them? I would like something like this:

[code]

[2018-06-06 10:43] jjoselv opened #1146 "Can a command be required by default and not required if some option is present?"
The desired functionality =>
`cli.js import my-id`
Result:
`Importing my-id`

`cli.js import`
Result (as if the ID was required):
`Must provide an id`

`cli.js import --list`
Result:
`List of available imports: my-id, my-id2`

Thanks!

[2018-06-07 01:48] binarymist commented on #319
This doesn't seem to work.

[2018-06-07 02:01] binarymist commented on #969
I have to agree with @borekb, it doesn't make sense to have a type for an option that doesn't require a type. Custom options can be detyped by simply adding an empty string, it seems that `version` and `help` can not be though https://github.com/yargs/yargs/issues/319#issuecomment-395266705

[2018-06-07 02:41] binarymist commented on #251
It seems that yargonaut is applying some extra non printable characters? `require('yargonaut').style('green');`

![image](https://user-images.githubusercontent.com/2862029/41075396-8fcc193a-6a60-11e8-87af-c0038c5651bb.png)

How would you go about applying an rgb hex to the headgins alone (Commands, Options), and then a different styl to the command and a different one to the options?

Thanks.

[2018-06-07 04:10] binarymist opened #1147 "default command not work in commandDir"
Default command in `screen.js`

[code]
produces:

(node:10145) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): ReferenceError: yargs is not defined
(node:10145) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate the Node.js process with a non-zero exit code.

Add in `const

[2018-06-07 05:33] binarymist commented on #1147
I missunderstood how this is supposed to work, due to the docs being a bit lacking. Is working now.

[2018-06-07 05:33] #1147 closed

[2018-06-07 06:27] binarymist commented on #251
I can't seem to find a `usage:` key?

[2018-06-07 07:03] binarymist commented on #251
Although if we have the two imports the opposite way around to what the [docs](https://github.com/nexdrew/yargonaut#install) specify, we get a yargs instance.

[2018-06-07 11:40] nexdrew commented on #251
@binarymist Hi 👋 unfortunately I am no longer maintaining yargonaut and it may be incompatible with the latest version of yargs. [Please read this for more info.](https://github.com/nexdrew/yargonaut/issues/9#issuecomment-351807371)

[2018-06-07 13:05] 4matic commented on #1142
Yes! I also needed this feature.
In my case I wanted to use ascii banner for cli header like [this](http://patorjk.com/software/taag/#p=display&f=ANSI%20Shadow&t=CLI%20BANNER).

Any ideas when it could be done?)

[2018-06-07 20:05] nborko commented on #929
I am also running into this issue, but for type "count."  In my case, I have a "debug" count option that increases the logging level, which should conflict with a "loglevel" option that explicitly sets the logging level.  So, specifying loglevel always results in "Arguments loglevel and debug are mutually exclusive" even when debug is not specified (but has a default value of 0).

[2018-06-08 01:11] borela commented on #895
Thank you all, I can close this, the latest version of yargs is working as I intended previously.

[2018-06-08 01:11] #895 closed

[2018-06-08 01:27] binarymist commented on #251
Ok, so basicallly the answer is to move to sywac. Although it's really anoying as I've just spent a couple of days on this, I do understand your reasoning and it makes sense. I've seen quite a few times project founders do this, and the second, third project in the same catagory inherits all the learnings (same mistakes not made) from the former projects. I have a few questions:

* There are very

[2018-06-11 18:45] lodo1995 opened #1148 "Equivalent of yargs.positional for command modules"
In a command module I can do

[code]

but I have no way to specify default value, type, description and so on for `target`.

If I put it in `exports.builder` it ends up listed like a normal option, which means that

[code]

produces

[code]

Ideally, I would like to be able to write something like this:

[code]

[2018-06-11 22:47] styfle commented on #1134
Related to #1128

[2018-06-11 22:48] styfle commented on #1128
Ping @evocateur

[2018-06-11 23:18] evocateur commented on #1128
I’m not authorized to make changes to yargs on the registry.

[2018-06-12 09:07] jaguilar87 commented on #1134
Any update on this? I'd really like to see middlewares in a release 🙏

[2018-06-12 17:51] haykam821 opened #1149 "Redirecting help/version output"
I am trying to use Yargs in a non-TTY environment, yet using the `help` subcommand, `--help` option, and `--version` option will only print it to console and exit. I have tried my own implementation:

[code]

However, this only shows help with that command. How could I make it work so that the output is redirected to my `argv.send` function and the process not exit?

[2018-06-12 17:56] haykam821 commented on #1141
Please, stop with all, of the commas, that you use unnecessarily.

Anyways, there is already `yargs.parse` for this functionality:

[code]

[2018-06-13 00:49] aorinevo commented on #1134
@jaguilar87 if you need to use the feature now, you can publish and install a namespaced version.

Here are the steps:
  - Fork and clone the project from Github
  - In package.json:
      - change the `name` property from yargs to `{{namespace}}/yargs` (i.e. `@aorinevo/yargs` in my case)
      - change `repository.url` property to the git address of the forked project
  - Publish the project to n

[2018-06-13 16:59] aorinevo opened #1150 "FEATURE: Add Redux for State Management"
# Introduction

In certain places, yargs does state management.  There are several different ways this is done, some of which lead to tight coupling between modules.

By adding Redux, we can consolidate and standardize the different state management implementations, resulting in cleaner; and more predictable and decoupled code.

# Migration Plan

- Create `aorinevo/I-1150_master_AN_redux` is the m

[2018-06-13 17:03] aorinevo commented on #1150
Opened PR #1151

[2018-06-13 17:05] aorinevo commented on #1150
+ @bcoe and @evocateur

[2018-06-14 00:38] aorinevo commented on #1150
<img width="675" alt="screen shot 2018-06-13 at 8 38 27 pm" src="https://user-images.githubusercontent.com/3240137/41385459-c5af858a-6f49-11e8-96ae-e48819889e88.png">

[2018-06-14 22:41] aorinevo commented on #1150
@nexdrew, @bcoe mentioned that you worked on some of yargs’ state management code.  I am working on migrating that to redux (see PR #1151).

If you have some time, I’d like to learn more from you.

Any ideas or suggestions would be greatly appreciated.

Thank you in advance!

[2018-06-16 17:36] shynome opened #1152 "yargs.parse `name '-i xxx'` result is not { _: ['name','-i xxx'] }, it is { _: ['name'], i: ' xxx' }"
yargs version: 11.0.0

test.js
[code]

log:
[code]

[2018-06-16 18:15] sidmani commented on #1134
Installing from the master branch via GitHub is the workaround I'm using right now.

[2018-06-16 23:59] kerfallak commented on #1065
while defining your command you can just call parse like this and replace the filename to your desired command name. to be safe you can use argv.$0 to refer to the filename and use regex to replace the string in your output.
[code]

[2018-06-17 00:02] kerfallak commented on #1010
while defining your command you can just call parse like this and replace the filename to your desired command name. to be safe you can use argv.$0 to refer to the filename and use regex to replace the string in your output.
[code]

[2018-06-17 01:22] adrianth commented on #1065
Just tested the code and it does what I need. Thank you, @kerfallak. I only have one more question: do you still need to do the `.argv` at the end if you're calling `parse()`? I thought they do the same thing. I tested and everything seems to work fine without it.

[2018-06-17 14:40] adrianth commented on #1065
Perfect, thanks @kerfallak

[2018-06-17 14:40] #1065 closed

[2018-06-17 23:34] aorinevo commented on #1150
I am currently working on migrating state management in `lib/usage.js` to redux in three phases.
  - Phase 1 - Complete
    - add `/actions/usage.js`
    - add `/reducers/usage.js`
    - add `usageReducer` to `lib/store.js`
    - migrate one property of state from current state management to redux (i.e. showHelpOnFail)
    - add coverage for `actions/usage.js` and `/reducers/usage.js`
  - Phase 2

[2018-06-18 00:01] aorinevo commented on #1120
See PR #1153

[2018-06-18 10:43] speedpacer opened #1154 "argv._[1] and !== 'undefined'"
Maybe this is an misunderstanding on my part but no matter how many arguments pass, I always get the "arg2 is defined".

[code]

[2018-06-18 12:50] speedpacer commented on #1154
Disregard. It was my misunderstanding.

[2018-06-18 12:50] #1154 closed

[2018-06-18 15:42] evocateur commented on #1150
Awesome!

I definitely agree we should drop Node 4 in the next major.

[2018-06-19 00:48] evocateur commented on #1120
I'd rather use Rollup, tbh. Much cleaner generated output, for one thing

[2018-06-19 03:09] aorinevo commented on #1120
Ok, I'll take a look.

[2018-06-19 03:59] aorinevo commented on #1117
Discussed refactoring state management instead (see #1150)

[2018-06-19 03:59] #1117 closed

[2018-06-20 09:30] rsalunga29 commented on #621
is there a fix on this issue?

[2018-06-20 20:01] oncletom opened #1156 "zsh completion hints"
Hello,

I was inspecting zsh completion and discovered it was not working.
Too bad!

By screening into https://github.com/mklabs/tabtab/blob/master/scripts/zsh.sh, I found out there was not much to change to port the existing template.

From this bash handlebar template

[code]

To this zsh completion template

[code]

I have no idea what's going on but it works — although it seems to recommend ev

[2018-06-20 20:08] oncletom commented on #1156
There are plenty of beautiful stuff happening in https://github.com/f/omelette/blob/master/coffee/omelette.coffee too.

[2018-06-20 21:21] oncletom commented on #1156
The last element being `bashcompinit`, to enable bash completion for zsh.

[code]

[2018-06-21 16:39] abuzarhamza opened #1157 "yargs unable to handle option on command levels"
I am using the node js yargs module to the options passed to the terminal. My script has multiple commands with each command having different input for other commands.

When I am running the command `myscriptname cp -i 12345 `it gives the following message on the terminal

here is my yargs code to handle terminal option in command

[code]

[2018-06-21 19:40] unshift commented on #1134
[code]

May be easier than publishing a scoped package.

[2018-06-22 13:35] Idono87 opened #1158 "Question: Should Yargs not fail in strict mode when an unknown command is given?"
I've got this piece of code that relies on yargs running a default command if no other has been passed. Problem is that yargs never fails if a misspelled or unknown command is passed in strict mode while the default command is declared. Arguments are on the other hand cuaght. Should this be happening or is it a bug?

The following example properly highlights the problem. By passing the command 'te

[2018-06-22 13:36] emolr commented on #1045
+1

[2018-06-22 13:37] emolr commented on #1045
Please let me know if any suggestions comes around :)

[2018-06-22 13:56] aorinevo commented on #1134
The approaches given by @unshift and @sidmani are much easier than publishing a scoped package, but introduce a lot more risk.  Every time your project is installed, it will take the latest from master.  Since master is not an official release, you run the risk of pulling in code that could break your project.

Using a scoped package allows you to better control what gets built into your project;

[2018-06-22 13:58] emolr commented on #1045
@alex-phillips take a look at https://github.com/yargs/yargs/issues/1010

[2018-06-24 11:35] allnulled commented on #1141
Nothing to do with what I am saying, as the APi you are using does not provide the whole functionality that the `yargs` library gives.

Sorry if the way I express annoys you, but it is not my business, as the commas I use are needed to express what I want to express.

[2018-06-24 14:41] rwjblue commented on #335
Looks like this was addressed by https://github.com/yargs/yargs/pull/470.

[2018-06-24 16:20] aorinevo commented on #1120
@evocateur, I added a build script - `npm run build` - to transpile down to ES2015 using Rollup. See PR https://github.com/yargs/yargs/pull/1164.

I wasn't able to get the spec runner to work work with the new ES6 syntax (i.e. imports/exports).

Any ideas on how to do this?

[2018-06-24 18:46] aorinevo commented on #1120
Adding a transpiler makes sense for apps targeting multiple browsers but since yargs is able to target specific versions of Node.js, we can simply drop Node versions over time.  We would also end up adding too much complexity for small gains.

Closed PRs #1164 and #1153

[2018-06-24 18:46] #1120 closed

[2018-06-24 22:02] #1010 closed

[2018-06-24 23:20] haykam821 commented on #1141
What do you mean? It’s functionally the same as `yargs.argv`.

[2018-06-25 10:42] vitalets commented on #1134
You can stuck to branch/tag/commit when installing from GitHub.
[code]

[2018-06-25 12:11] Linard11 commented on #1142
usage() will be printed above the command list when typing given the `help` command or `--help`

[2018-06-26 04:42] #1071 closed

[2018-06-26 04:44] bcoe commented on #1114
\o/ done, thanks @aorinevo

[2018-06-26 04:44] #1114 closed

[2018-06-26 04:46] bcoe commented on #1122
I believe this is corrected now, it was a bug on npm's side of things.

[2018-06-26 04:46] #1122 closed

[2018-06-26 05:00] bcoe commented on #1107
you can now use the method [`scriptName`](https://github.com/yargs/yargs/pull/1143) (which will be released soon) to control the name of your script -- giving you a bit more control over the program name displayed in front of commands.

the reason for the script name prefixing a command is to disambiguate the difference between sub-commands and the top-level command of your application (if you're

[2018-06-26 05:00] #1107 closed

[2018-06-26 05:02] bcoe commented on #1128
`11.1.0` is a candidate release on the `next` branch, we do this from time to time during the QA process.

[2018-06-26 05:02] #1128 closed

[2018-06-26 05:06] bcoe commented on #1116
I hear where you're coming from, but I think that the docs get a little bit verbose if we document this much of the parser's behavior by default ... if your customers need the hint I recommend putting it in the description of the argument, and perhaps your README.md file.

It's worth noting that you can also specify `--recursive false` 👈 which is equivalent to `--no-recursive`.

[2018-06-26 05:06] #1116 closed

[2018-06-26 05:12] bcoe commented on #1116
to expand a bit, just so I don't look like a jerk running around closing issues; there are a bunch of parsing rules like this:

* how we automatically parse floating point numbers and integers.
* how we parse arrays; based on passing flags multiple times.

It feels like a bit of a slippery slope documenting all of this in yargs' help output.

[2018-06-26 05:15] bcoe commented on #1101
@FlandreDaisuki thanks for pointing this out! my guess would be that this translation might be missing from the `zh_TW` translation file. Any interest in adding the translation?

https://github.com/yargs/yargs/blob/master/locales/zh_TW.json

would love your help.

[2018-06-26 05:17] bcoe commented on #1130
@klemenoslaj thank you for the bug report, this definitely seems like a bug. If you feel like taking a stab at fixing the issue let me know; and feel free to join the community chat here for coordinating work:

http://devtoolscommunity.herokuapp.com/

[2018-06-26 05:20] bcoe commented on #1131
@alvis thanks for digging into this! feel free to open a follow up issue, or better still to submit a patch, if there's anything we can be doing on yargs' end to better interoperate with TypeScript.

[2018-06-26 05:20] #1131 closed

[2018-06-26 05:27] #1134 closed

[2018-06-26 06:11] FlandreDaisuki commented on #1101
The translation of exclusive arguments existed.
https://github.com/yargs/yargs/blob/6ab6a95de6358f8e42466c424567a28ed0bd45cf/locales/zh_TW.json#L39
https://github.com/yargs/yargs/blob/fc13dcd803375f3acd3df79380d8d3ecb20a881b/locales/en.json#L39

[2018-06-26 08:04] laggingreflex commented on #1048
Fixed in #1143

[2018-06-26 08:04] #1048 closed

[2018-06-26 10:39] vitalets commented on #1134
Done in #1165.

[2018-06-28 00:37] btruhand opened #1170 "Array argument not collected correctly when requiresArg is also set"
I have the following command options
[code]

Running the command and printing `argv` gives me
[code]

As you see the `-f` option only received a single argument. Using `-f ... -f ...` would work as expected (both argument values captured)

Removing `requiresArg` seems to solve this problem

I can understand that an array option doesn't really need `requiresArg` for the program logic to work (you c

[2018-06-28 11:04] Linard11 opened #1171 "strict() ignores options that contain -"
`test.js`

[code]

**Expected behavior:**
[code]

**Actual behavior:**
[code]

_Though it works fine when given a option without a `-`:_
[code]

[2018-06-28 11:09] Linard11 opened #1172 "throws inside check() do not need to specify the message key while throws inside coerce do"
To make yargs fail I can simply throw inside a check() callback function with:
`throw 'check failed!'` and yargs will print this string as the YError, but when throwing inside a coerce callback function the same throw will result in the generic `yargs error` and I have to a throw as `throw { message: 'coerce failed!}` in order to see my error message on the console.

[2018-06-28 12:22] Linard11 commented on #1157
`cd , compare_dollar`
will be interpreted as
command: `cd`
positionals: `<,>` `<compare_dollar>`

to give an alias for your command you need to put it in an array like this:
`['cd', 'compare_dollar']`
The string at index 0 will be the 'real' name of the command with every other string in the array as an alias. Positionals can be defined only at the string at index 0, and will be ignored if defined

[2018-06-28 12:31] Linard11 commented on #1145
Afaik, there is no option to change the formatting of the of the help print out yet, besides usage() and epiloge() which will add a header/footer to it

[2018-06-28 12:50] Linard11 commented on #1146
If I understand you right, you don't want the command to be required/not-required, but a positional for it?

So that:
`my-app import <ID>`

but
`my-app import --list`
will not throw an error that ID is required.

The only thing I can think of right now is to make the ID positional optional, is to do a manual check with check() to throw if it wasn't specified and --list wasn't either, imitating the

[2018-06-28 13:35] Linard11 opened #1173 "Subcommands only display option groupings of its own options and the option of its parent command"
If calling a subcommand with `--help`/`help`, it will only print groupings that were defined in the command itself, or the parent-command, but ignoring any groupings that were made in (anchestor-)commands further up the nesting, or in the global context:

**MCVE:**
`test.js`

[code]

**Expected behavior:**
[code]

**Actual behavior:**
[code]

[2018-06-28 13:52] jjoselv commented on #1146
Ok! I though I was missing an api command or something that does that.

Thanks a lot, I'll use that! 👍

[2018-06-29 08:12] Linard11 opened #1174 "Positional Argument Aliases have faulty help description"
When using positional argument aliases like `command <id|name>` and defining both positionals via `yargs.positional()` if will generate a faulty help mixing the description and [type] of both.

**MCVE:**
[code]

**Expected behavior:**
node test.js --help

test.js com <ID|NAME>

The Command

Positionals:
  ID  the id                                                 [number] [required]
  NAME  the na

[2018-06-29 08:33] wyqydsyq commented on #1010
@bcoe why was this issue closed?

I am still not aware of any way to override the command name?

For example I get this output:
[code]

I want to be able to replace the `index.ts` with `projects` as this script is exposed as a yarn script and ran as `yarn projects build MyProject`

[2018-06-29 09:53] allnulled commented on #1141
Thank you bro. That was exactly what I was looking for, I can combine this with `string-argv` and get the desired behaviour. Thank you.

[2018-06-29 09:54] allnulled commented on #1141
Shame on me.

[2018-06-29 09:54] #1141 closed

[2018-06-29 16:30] bcoe commented on #1010
@wyqydsyq `scriptName` can now be used to modify the bin name as you see fit:

https://github.com/yargs/yargs/pull/1143

At this time, we have no plan to remove command name from the command listing, as it helps distinguish between top-level and nested commands.

For a chat bot, you should be able to set  `scriptName` to "", for `projects` you should be able to run `scriptName('projects')`.

Let m

[2018-06-29 20:58] nicolaschan opened #1175 "Get help text as a string instead of logging to console"
I'm using yargs to parse some command strings, and I'd like to be able to get the help text as a string instead of logging to console.

Is this possible to do?

Thanks in advance!

[2018-06-29 23:10] Linard11 commented on #1174
Yeah, I went with <IDENTIFIER> instead, but it feels to me that this way, the positional alias are useless when you can't have multiple alias with their own description, which would seem to be almost always the case if you alias them like this.

My intention was to have two options for the function of the positional, so you can choose either one of them, with their own description and functionalit

[2018-07-01 22:55] vpulim commented on #846
+1 for adding support for comma separated array parameters

[2018-07-02 23:01] wyqydsyq commented on #1010
@bcoe why was this closed? As far as I can see the issue is unresolved -- a hacky workaround is not a good solution.

[2018-07-02 23:03] wyqydsyq commented on #1010
Yeah the change in that PR is exactly what I was after, thanks!

[2018-07-04 09:10] kenshinji opened #1176 "can't run example/usage-options.js"
After I issued `node usage-option.js`, it displays error message like below.

[code]

I wonder whether the example code is deprecated.

[2018-07-04 20:37] tagazok opened #1177 "Ask user confirmation during command execution"
My CLI expect a user to make a `fuel init` with some parameters to synchronise with our online service.
However, you can still use the CLI without doing this command.
So, when a user type a command like `fuel generate intent Travel`, it should :
- Call an API using the credentials given during the init.
- Do some local stuff

Is it possible to ask the user something like :
`You haven't set any cre

[2018-07-04 20:44] aorinevo commented on #1177
Hi @tagazok, you can use yargs middleware api - currently part of yargs@next, which will fire before any command.  In the middleware’s callback, you can do your check and even prompt the user to login using another npm package like prompt.

[2018-07-05 14:44] jaguilar87 opened #1178 "Global middleware don't work in 12.0.1"
I've tried this code:

[code]

OUTPUT:
[code]

No trace of the middlewares :(

[2018-07-05 16:43] aorinevo commented on #1178
Hi @jaguilar87, I was able to reproduce the issue.  I resolved it by calling middleware first before the command method.

[code]

[2018-07-05 18:30] bcoe commented on #1178
the order of the middleware definition, vs., the order of the command definition shouldn't matter. Definitely a bug we'll dig into.

[2018-07-06 01:06] aorinevo commented on #1178
PR #1179 fixes this issue.

[2018-07-07 15:49] dlong500 opened #1181 "Specify order of options when there are global and command options"
Right now when showing help it appears that any global options appear first followed by options defined within a command.

Is there a way to make it so that the command options appear first followed by the global options?  It could even be useful to allow some global options to appear before the command options and have the rest appear after, but at least for now I'd settle on have all global opti

[2018-07-10 15:29] laggingreflex commented on #538
Fixed in #1143. You can now set it with `.scriptName()`

[2018-07-10 15:29] #538 closed

[2018-07-10 15:29] laggingreflex commented on #811
Fixed in #1143. You can now set it with `.scriptName()`

[2018-07-10 15:29] #811 closed

[2018-07-13 03:01] losymear commented on #1018
Changing `import * as yargs from 'yargs'; ` to `const yargs = require('yargs')` works for me;

[2018-07-16 13:20] jjoselv commented on #1101
This may be that is declared like
[code]

instead of

[code]
?

This also produces conflict when trying to colorize with Yargonaut.

May I patch this?

[2018-07-16 13:50] RedDeathAt614 commented on #685
Ditto...

[2018-07-18 20:29] RyanZim commented on #929
This seems to be fixed in yargs v12.

[2018-07-19 02:27] zzzgit opened #1184 "how to make the option default to --help?"
`mytool`
`mytool --help`

I want to make the two cli input print the same results, how can I implement this by yargs?

[2018-07-19 15:14] borela commented on #1145
@bcoe Would you a pull request of a function like "hideExtras()" to hide the types and default values?

[2018-07-19 15:19] borela commented on #1145
Another solution, suggestion would be `hideTypes()` and `hideDefaultValues()`.

[2018-07-21 00:23] kopax commented on #603
I am having issues when using with babel. I have a test that does :

[code]

I had to do `.replace('src', 'lib')`  because the src is throwing errors due tu `import` synthax.

Any idea how to do it in a reliable way?

[2018-07-23 09:04] zzzgit opened #1185 ".defaults() will be removed in farther version?"
![image](https://user-images.githubusercontent.com/1060733/43067515-25e1aee6-8e9a-11e8-828a-2bb385cd4760.png)

sorry for my poor english.
what will be removed? `.defaults()` itself or `.defaults()`'s alias?

[2018-07-23 09:12] zzzgit commented on #1184
i get it:

`.demandCommand(1, 'You need at least one command before moving on')`

[2018-07-23 09:12] #1184 closed

[2018-07-24 08:57] zzzgit opened #1186 "ckeck for `exclusive` should run earlier than `choices`"
like in git, --get and --set are exclusive
`selesa config --get username --set 333`
will get:
[code]
`selesa config --get username --set token`
`Arguments get and set are mutually exclusive`

so, I think there is a bug in `yargs`, ckeck for `exclusive` should run earlier than `choices`

[2018-07-24 21:21] ownadi commented on #1148
You can always define builder as function, like:

[code]

[2018-07-24 21:33] ownadi commented on #1047
Use function form of builder

[code]

[2018-07-25 21:04] maniator commented on #1150
Hey all

Coming in here from a conversation with @aorinevo on slack.

I am not sure what advantage using redux (which is a frontend state management library) is needed for a simple one and done command line tool?

Can the data be stored in individual instances?

[2018-07-25 21:05] maniator commented on #1150
I honestly think adding complicated redux logic into something that can be just a stored map is a bad idea

[2018-07-25 21:11] maniator commented on #1150
You can consider using an Observable in which you can store and pipe data from it whenever.

[2018-07-25 21:31] bcoe commented on #1150
@maniator @aorinevo I've definitely felt a little gun shy about pulling in all of redux, even though I do think there's some benefits to rethinking how we manage state. My concerns with yargs being:

* coupling: usage, yargs, validation, etc., all take each other as arguments.
* ability to rollback to prior state; commands are currently implemented as a top-down traversal and when a failure happen

[2018-07-25 23:09] alexkli opened #1188 "new option type "file""
Many CLI options are meant to be paths to files. Instead of having to use `string` as type today, and doing the basic file handling in your app, it would be nice to have a dedicated `file` type for options in yargs.

If an option is of type `file` yargs would:

* check if the file exists and if not throw an error with a standard message
* run it through `path.resolve()` and return that as option v

[2018-07-26 01:54] evocateur commented on #1150
@maniator Yargs is not that simple, sorry.

Observable... When was that going to be added to the ECMA spec, again?

Redux is "just functions," we're not pulling in anything (relatively) giant like `react-redux`.

[2018-07-27 10:52] sigorilla opened #1189 "Parsing unknown options in strict mode"
Hi! I have problem with unknown options in strict mode

[code]

Normal execution:
[code]

But if change option `--force` to unknown `-f` I see this:
[code]

But it's unexpected error. I expected that output should be as in the next example:
[code]

[2018-07-30 09:02] diesal11 opened #1190 "Implies always fails when the value key is a nested value"
Take the following Yargs code/configuration:

[code]

The following script call should work, but fails.

[code]

The error seems to lie in the Validator, specifically `validation.implications`, as it doesn't check for nested values.

I.E. `argv['orientation.calibration']` instead of `argv.orientation.calibration`

[2018-07-30 12:04] diesal11 commented on #1190
FYI I am currently working on a PR to fix this issue and will report back when finished

[2018-07-31 03:51] diesal11 commented on #1190
It appears this also effects other validator based methods like conflicts, demand ect.

I will update my PR to fix all these issues.

[2018-07-31 07:28] Loilo commented on #1156
For anybody interested: Until there's official support for zsh completion, I made [this little tool](https://github.com/Loilo/completarr) (with the aforementioned [omelette](https://github.com/f/omelette)).

[2018-08-03 08:10] coreyfarrell opened #1192 "Incorrect completion"
Using latest yargs with `test-script.js`:
[code]

Run './test-script.js --get-yargs-completions "-"`, it lists `--version`, `--verbose` and `--help`.  The `-v` option is not listed.

Run `./test-script.js --get-yargs-completions "--v"`, it lists `--version` and `--help`.  The generated bash completion script filters out `--help` so with the completion script installed `./test-script.js --v<tab>` f

[2018-08-03 14:48] Tarasaur opened #1193 "Yargs exports.builder not correctly modeling a long option preceded by positional arguments"
Hi!

I am unable to successfully model a complex command using a sequence of positional arguments followed by a long option flag.

Example usage I want to achieve:
[code]

I have something like the following:
[code]

[code]

[code]

However, when running my command, `argv.entryFlag` always seems to be false, even when it is present in my command.

I tried explicitly assigning arguments and trigger

[2018-08-07 13:11] honzajavorek commented on #1188
FWIW, in Python's _click_ there are two types to handle this: [file](http://click.pocoo.org/5/arguments/#file-arguments) and [path](http://click.pocoo.org/5/arguments/#file-path-arguments)

[2018-08-09 04:04] kyeotic opened #1196 "command handler called after validation failure (positional)"
Version: `12.0.1`

I have a command module that requires a single positional argument. I invoke it with no arguments, and its handler is still called. According to the [command docs](https://github.com/yargs/yargs/blob/master/docs/advanced.md#command-execution) failed validation should block the handler.

Here is the module

[code]

Here is the yargs loader

[code]

and the console

The console ou

[2018-08-09 04:07] tyrsius commented on #1196
For additional weirdness, calling `yargs.parse()` multiple times causes the failure handler to be called multiple times.

[2018-08-10 00:11] tyrsius opened #1197 "global fail"
I'm running into an issue with a chat bot caused by global failure handlers. The commands are dynamic, so I construct a yargs instance inside a chat message handler. The global failure handlers mean every failure is slowly growing the failure handlers, [with no possibility of resetting the list](https://github.com/yargs/yargs/pull/583/files#diff-28c68bcb725c8a875aee510ab49d5e14R394)

I understand

[2018-08-10 00:57] tyrsius commented on #1197
Nope, you can get an instanced yargs with `const yargs = require('yargs/yargs')` that does not have this issue

[2018-08-10 00:57] #1197 closed

[2018-08-11 06:50] alexkli commented on #1188
BTW, for now I am using `coerce` to resolve a path argument like in this example:

[code]

[2018-08-11 22:09] #1178 closed

[2018-08-11 22:27] #1101 closed

[2018-08-12 20:10] cnishina opened #1198 "Throw an error if the yargs.Options type is invalid"
Should yargs throw an error if type is not a valid type identified by yargs? Here is an example:

[code]

Running the command:
[code]

Yargs assumes quietly assumes that it is a number value, not a string, and changes the value to 2.2. Should yargs throw a runtime error to show that this is invalid and there is an issue?

If this sounds reasonable, I'll try to come up with a fix.

[2018-08-15 13:36] laggingreflex opened #1199 "Array doesn't expand as .env var"
Have a config like `.options({a: {type: 'array'}}).env()`

And env var `A=1 2`

* Expected: `argv.a = [1, 2]`

* Actual: `argv.a = '1 2'`

[2018-08-15 16:17] aduh95 opened #1200 "Update dependencies for Node 11"
When I use `yargs` with the nightly version of Node.js, I got the following error:

[code]

The problem has been fixed by https://github.com/sindresorhus/execa/pull/125, and I think upgrading `os-locale` dependency to v3 should solve this.

FYI Node.js 11 is expected to be released on 2018-10-23 [[source]](https://github.com/nodejs/Release#release-schedule).

[2018-08-15 16:40] lundibundi opened #1201 "Strict long/short option parsing"
Is it possible to have strict long/short option parsing?
What I mean by that is if I have `.alias('help', 'h')` it will not parse

* `-help` as help (this one is due to 'short-option-groups' and `-h` but if I disable 'short-option-groups' I will instead have `help` as a whole option and still get `--help` basically)
* `--h` as help

Therefore the only valid options will be `-h` and `--help`.

From

[2018-08-15 21:46] hudovisk commented on #1099
Same problem here, any tips on how to resolve it?

[2018-08-15 21:49] nazar-pc commented on #1099
@hudovisk, there is a tip in the first comment, just try it

[2018-08-16 14:14] hudovisk commented on #1193
Same problem here

[2018-08-16 16:12] rogierschouten opened #1202 "Allow to inject environment"
It is possible to inject process.argv and process.cwd() into yargs like this:

[code]

This is handy for testing purposes, it allows to enter a commandline into yargs and see the results. However, other dependencies of yargs cannot be injected like this. This includes process.env (for the .env API function) and maybe others.

Please allow to dependency inject everything that yargs uses so that it

[2018-08-17 07:42] tripodsan commented on #1202
this could also help to work around #873 by using strict mode and injecting the required env variables _manually_.

[2018-08-17 13:55] lilleyse opened #1203 "implies doesn't work if value is zero"
[code]

A command like `node command.js --longitude=0` proceeds when it should have produced an implication failure message.

[2018-08-18 14:02] wmertens commented on #946
It would be great if yargs could be configured to stop parsing at the first unparseable, basically treating it as `--`.

That way, you can do `./app --foo bar.js --foo` and you'd get `{_: ['bar.js', '--foo'], foo: true}`

[2018-08-19 01:01] fabiomcosta commented on #918
@zenflow trying a similar example and then running the `run` command won't show the expected `OK` on stdout. There seems to be an issue on the async handler support, the program is closing before they are finished.

For example, try:
[code]

Would you expect to see `OK` when you run the `run` command?

[2018-08-23 04:43] nic-hartley commented on #1088
I think you've misread the documentation. It's not saying "calling `.help()` prints the help message", it says "calling `.help()` adds a `--help` option and a `help` subcommand which, when used, displays the relevant help message."

[2018-08-25 14:27] sangaman opened #1204 "Yargs is treating negative numbers with decimal point as flags"
I have a command that requires three non-option arguments,

[code]

The first is configured as a string and the last two are numbers. Trying to pass a negative number for the last argument only works if it's an integer, otherwise it fails:

[code]

I'd need the last three examples to work, and in each case they should pass the `isNumeric()` check or a regex that checks for 0-9 and decimal points.

[2018-08-26 16:50] vamshi9666 opened #1205 "Error: Cannot find module './lib/middleware'"
i tried to use _webpack_ and after seeing i realized , its something with yargs.
in yargs.js
`./lib/middleware.js` is imported
and there is no` middleware.js` in `lib/`

**Log is as in image below**
`
Error: Cannot find module './lib/middleware'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:581:15)
    at Function.Module._load (internal/modules/cjs/loader.js:507:25)
    a

[2018-08-26 17:05] aorinevo commented on #1205
Hi @vamshi9666,

I'm not sure what the issue is but the file is definitely there: https://github.com/yargs/yargs/blob/master/lib/middleware.js

Might be an issue with you you're bundling yargs with webpack.

[2018-08-27 23:59] andrewcpacifico commented on #1130
@bcoe this issue was fixed?

I thought to make a PR to fix it, but I cannot reproduce it.

My test script:

[code]

My output:

[code]

[2018-08-29 14:28] onury commented on #251
I agree that content & styles should be handled separately.
But yargs' API makes it almost impossible to style the output properly.
At least some API should be added to "help" enable colors.

[2018-08-31 08:52] marcincubernews opened #1209 "Yargs vulnerable to Denial of Service"
Any plans to fix the following:

MEDIUM SEVERITY
Denial of Service (DoS)
Vulnerable module: mem
Introduced through: yargs@12.0.1
Detailed paths
Introduced through: aws-cfm-utils@marcincuber/aws-cfm-utils#79f71e6219feee28029f424ae5fc08153f270384 › yargs@12.0.1 › os-locale@2.1.0 › mem@1.1.0
Overview
mem is an optimization technique used to speed up consecutive function calls by caching the result of

[2018-08-31 20:48] spencern commented on #1209
`os-locale` was updated today: https://github.com/sindresorhus/os-locale/pull/31

[2018-09-01 06:09] cspotcode opened #1210 "Expose additional metadata via .getCompletions()"
I'd like to integrate yargs completions with PowerShell.  However, in PowerShell, tab completions are more than a list of strings.  They can include an (optionally different) display label and a tooltip.  For example, here are tab completions for npm commands:

![pwsh-tab-completions](https://user-images.githubusercontent.com/376504/44942531-4a13d400-ad81-11e8-8407-20935d8ffc1c.gif)

Aliases are i

[2018-09-01 14:19] dominykas opened #1211 "Medium severity vulnerability in mem (sub-dependency included with yargs v12.0.1)"
Running `snyk test` on yargs `v12.0.1` (latest release on npm) results in:

[code]

`os-locale` has [already been upgraded](https://github.com/yargs/yargs/pull/1195) and `master` does not have this problem anymore, so all this needs is a new `npm publish`.

Thanks!

[2018-09-03 14:10] x-yuri opened #1212 "Documentation is misleading about boolean flags"
https://github.com/yargs/yargs/blob/v12.0.1/docs/api.md#booleankey

From what I can see, `true` and `false` arguments may be used to [affect][1] flag option value.

[1]: https://github.com/yargs/yargs-parser/blob/v10.1.0/index.js#L184-L185

That is, one can use one of:

[code]

[2018-09-04 05:17] Delagen commented on #1209
#1211

[2018-09-04 05:17] Delagen commented on #1211
#1195

[2018-09-04 08:57] dominykas commented on #1211
Duplicate of #1209, sorry.

[2018-09-04 08:57] #1211 closed

[2018-09-04 08:58] dominykas commented on #1209
#1195 has been merged and `master` does not have this problem anymore, so all this needs is a new `npm publish`.

[2018-09-04 10:51] mzedeler opened #1213 "Overriding --version flag"
I haven't used yargs before and just needed to write a small utility taking one parameter named `version`.

It turns out that yargs mangles this parameter, not making it available as expected.

To reproduce:

Run this:

    node -e 'const { argv } = require("yargs").option("my-value").option("version"); console.log(argv)' -- --version=42 --my-value=test

Expected:

The `argv` parameter that is bei

[2018-09-05 02:35] cspotcode commented on #1149
I think yargs should allow us to dependency-inject the `console` object, just like it allows for the `argv` array.  It can also provide a 'string' option for convenience, where all output goes to a string.  Something like `yargs.output`

[2018-09-05 08:54] aduh95 commented on #1200
Fixed in `v12.0.2`

[2018-09-05 08:54] #1200 closed

[2018-09-06 13:32] BigstickCarpet commented on #969
Here's another workaround that works for me.  The `yargs.parse()` method takes an optional callback argument.  If you specify a callback function, then Yargs will **not** display any output.  Instead, it passes the output as a string to the callback function.  You can then modify the string to remove the types.

[code]

[2018-09-06 13:32] BigstickCarpet commented on #319
Here's another workaround that works for me.  The `yargs.parse()` method takes an optional callback argument.  If you specify a callback function, then Yargs will **not** display any output.  Instead, it passes the output as a string to the callback function.  You can then modify the string to remove the types.

[code]

[2018-09-06 21:07] rhuddleston commented on #1209
Don't we need version 3.0.1?

[2018-09-07 06:48] dominykas commented on #1209
@rhuddleston it will update itself as it matches semver

[2018-09-08 10:20] JamesMessinger opened #1214 "Middleware does not accept a single function"
According to [the docs for the `.middleware()` method](http://yargs.js.org/docs/#api-middlewarecallbacks):

However, it currently (as of v12.0.2) only works with an array of functions.  Passing a single function does nothing.

[code]

[Here is a reproduction of the issue on RunKit.](https://runkit.com/bigstickcarpet/yargs-middleware-bug)

The problem is caused by this block of code:
https://github

[2018-09-08 12:33] JimiC commented on #1214
Confirmed. Currently, if you need to pass a single function, it's mandatory to add it to an `Array` and pass that.

What I don't get either, is why and when a `callback`  is an `object` (See also https://github.com/yargs/yargs/blob/v12.0.2/test/middleware.js#L24).
From what I know a `callback` is **always** a `function`.

[2018-09-08 12:42] BigstickCarpet commented on #1214
@JimiC - Agreed.  I think the `'object'` in the type check was just a typo or misunderstanding.  It probably should have always been `'function'` instead

[2018-09-08 13:09] SimonSchick commented on #1069
I did something like that a while ago:

[code]

[2018-09-08 14:26] BigstickCarpet commented on #1214
@aorinevo - Here's the PR: https://github.com/yargs/yargs/pull/1215

[2018-09-08 14:27] JimiC commented on #1214
And the related test is also adjusted.

[2018-09-11 07:07] omgimanerd commented on #1046
Can the developers confirm that this is a bug regarding the functionality of `.strict()`? I would think that if `.strict()` is specified, extra arguments should cause an error. I interpreted the docs this way as well.

[2018-09-25 18:21] cmoulliard opened #1216 "Can a positional arg be mandatory"
This syntax works `jira get SB-456` using this code

[code]

but yargs doesn't complain that `id` is missing when we execute this command `jira get`

Is there an option to tell to args that positional is mandatory ?

[2018-09-30 09:56] brewster1134 opened #1218 "dynamic commands/options or command/option swapping"
so i have a command that creates a new node/library, which works fine...

[code]

and i want to build a cli around modifying those nodes, which also works fine... for example after i create a node, i can add a dependency to it...

[code]

however, to make a more readable cli, i was curious about the ability to do something like...

[code]

this is a bit of a contrived example, so im just looking f

[2018-10-01 14:31] Nautigsam opened #1219 "coerce not called if option not given"
I have this command definition:
[code]

But when option `--task` is not provided, the `coerce` function is not called. Is it really the expected behaviour? Shouldn't the function be called with `undefined` nonetheless?

[2018-10-01 21:59] compwright commented on #920
This can be closed; the fix was released in yargs-parser@8.1.0.

[2018-10-02 06:37] atian25 opened #1220 "nested key don't work well with alias"
[code]

expected:

[code]

actual:

[code]

[2018-10-02 16:42] pvdlg commented on #1130
I couldn't reproduce either. However I found a very similar bug when an option is in a group.
See fix in #1221

[2018-10-03 14:36] ohjimijimijimi commented on #1213
+1

[2018-10-03 17:08] corymcdonald opened #1223 "Upgrade os-locale in yargs 11 to support webpack 3"
Issue #1209 details that yargs is vulnerable to a DOS attack through the `os-locale` node package. This is resolved in version 12, because the os-locale version is `^3.0.0`.

I opened a pull request in webpack to resolve this https://github.com/webpack/webpack/pull/8130 by upgrading to yargs 12.0.  But support for node 4 was removed in 12.x which is a breaking change for webpack 3.

So I was hopin

[2018-10-04 15:16] bcoe commented on #1223
@corymcdonald well I have no objection to this, the problem is that os-locale `^3.0.0` drops support for Node 4:

https://github.com/sindresorhus/os-locale/commit/3edb63cd5e9269f46b45cc47444e990c2b81aaf2

which is part of why yargs was bumped from 11 to 12; any thoughts as to how we could solve this issue while still keeping webpack on Node 4? CC: @sokra.

[2018-10-04 15:20] corymcdonald commented on #1223
Well it looks like `mem@1` is the real issue here - @sindresorhus do you think we can release a previous version of os-locale to update the `mem` library so we resolve this vulnerability?

[2018-10-04 17:00] bcoe commented on #1223
@corymcdonald I like this solution, let's work with @sindresorhus to back port a security fix if possible.

[2018-10-06 19:54] #1170 closed

[2018-10-06 23:10] bcoe commented on #1214
@JamesMessinger @JimiC please try `npm i yargs@next`, which should have a patch that fixes this; if the release is looking good, I'll promote it next week.

[2018-10-06 23:11] bcoe commented on #1178
@jaguilar87 @aorinevo please try `npm i yargs@next` which should correct this issue; if it's looking good, I can promote a new release early next week.

[2018-10-06 23:13] #1209 closed

[2018-10-06 23:13] bcoe commented on #1209
@marcincubernews I believe this should be corrected in yargs>=12.0.2.

[2018-10-07 00:36] btruhand commented on #1170
I have totally forgot about this... but thanks for the work!

[2018-10-08 09:37] JimiC commented on #1214
LGTM :+1:

[2018-10-08 18:59] mbrookes commented on #1223
Doesn't seem possible: https://github.com/sindresorhus/os-locale/issues/32#issuecomment-422108321

[2018-10-08 19:06] bcoe commented on #1223
@mbrookes @corymcdonald it's a pain, but perhaps see how hard it would be for `mem` to back port the fix?

[2018-10-09 12:52] DennyGD commented on #1216
It should work if you just change the type of brackets:
`get [id]` to `get <id>`

[2018-10-10 22:53] micmmakarov commented on #911
I'd like to separate arguments that are passed after '--' and I'm looking for a way to do in in yargs :)

[2018-10-11 07:07] zzzgit opened #1227 "can i write something to terminal in yargs?"
can I write something to the terminal in `yargs`?

I tried to use `console.log("something")`, but it doesn't work at all.

[2018-10-12 02:45] #1227 closed

[2018-10-12 20:45] mitchshaw opened #1229 "Unexpected token ... When Using require('yargs').argv;"
Hello! I'm relatively new to github so please bear with me if I cross into the taboo by mistake.

My issue involves v12.0.2 and v12.0.3-candidate.0 of yargs. I'm only using yargs for 4 lines:

[code]

...And the way I'm running it just to cover my bases:

[code]

An extremely simple use case. However, when running this on my Ubuntu AWS VM I get the following error:

[code]

I looked through the fo

[2018-10-12 20:54] mitchshaw commented on #1229
Quick Update:

On a hunch from reading more posts I downgraded from 12.0.2/12.0.3-candidate.0 to 12.0.0 and that resolved my issue for the time being. I'm still curious as to why this is a problem on the more recent versions.

I'll leave this open for the sake of investigation but my current problem is solved.

[2018-10-15 04:20] diesal11 opened #1230 "Nested object/key path bug fixes & improvements"
The parsed `argv` object from `yargs-parser` returns values for argument names with dots `.` as nested object values. Currently not all API methods correctly support nested objects, while other methods could potentially feature better support for objects.

This issue will track all bug fixes and proposed features for bringing nested object support up to scratch throughout the Yargs API.

### Issue

[2018-10-15 07:00] zzzgit opened #1231 "can't use readline in a yargs app"
[code]

is I use this code snippet in a `yargs`-based app, it will get something wrong.
if I type `abc`, it will be dispalyed as "`aaabbbccc`"

[2018-10-18 20:35] perissology opened #1232 "chained middleware argv references are not updated"
When multiple middleware are ran, it appears that the `argv` param is not updated until after all middleware are completed. If would be useful to be able to chain middleware & access the updated `argv`

ex:

[code]

[2018-10-20 07:06] ajgamble-milner commented on #1232
Each middleware function is passed a reference to `argv`, so you can mutate the object directly:

[code]

[2018-10-20 13:36] perissology commented on #1232
yes, that's what I ended up doing, but it seems like a bit of a workaround

[2018-10-20 14:53] aorinevo commented on #1232
Hi @perissology,

I wanted to share another option in the case that middleware1:
  - is not just updating argv, and
  - middleware2 needs to do something with the return value of middleware1

In this case, combine the two middleware functions into one (see example):

[code]

[2018-10-20 15:02] aorinevo commented on #1232
One more note:
By definition, yargs middleware functions accept only one parameter, a reference to arv, and return undefined.  So, in my example, it's incorrect to call middleware2 a middleware function.

[2018-10-23 19:46] #1232 closed

[2018-10-24 00:58] masaeedu commented on #360
@bcoe Here's a failing test:

[code]

This fails (and apparently crashes the test runner) with:

[code]

I'm not familiar enough with yargs to figure out how to express this as a testcase that results in a single testcase failure instead of crashing mocha.

[2018-10-25 08:30] rmlevangelio commented on #1137
Up

[2018-10-25 13:15] jurijzahn8019 commented on #1018
This works also `import yargs from "yargs";` in `"yargs": "^12.0.2"`

[2018-10-25 15:03] masaeedu commented on #360
The issue is actually arising in the separate yargs-parser library, so it should probably be addressed there. The argument string is tokenized correctly, but somewhere in the body of [this loop](https://github.com/yargs/yargs-parser/blob/68dd3a18f04b819c25b48f523a861c81c17c82b8/index.js#L147) (lines 147 to 305), the element corresponding to the contents of the quotes get broken apart and processed

[2018-10-25 19:54] btruhand commented on #1137
@rmlevangelio I don't know if anyone is working on this or not but I never managed to make things working for this case. In the end I just went with options arguments instead

[2018-10-25 22:13] #1018 closed

[2018-10-26 08:14] jehon opened #1234 "Load a user config file if it exists"
Hello

How do I load a user config file if it exists?

Let's say that I want to allow people to have a .my-service.json in the root folder of their project, or even in their home folder. How to say to yarns:
"The user defaults are stored somewhere in a file named 'my-service.json', if you find some, please load it..." ?

Thanks in advance !

[2018-10-26 15:23] buehler opened #1235 "bug: custom completion with promise does trigger validation"
Hey there, I'm currently experiencing the following bug:

When using completions, a synchronuous handler does not trigger the validation (which is correct),
but when I have a command `foobar <arg>` and try to use the completion `node . --get-yargs-completions foobar` with a custom completion handler that returns a promise

[code]

It does trigger the validation of the required argument and therefo

[2018-10-26 16:00] billybarnum opened #1236 ".strict() not validating (global) options properly"
I have an option called logging-level, with no alias, that isn't getting validated properly.

        .option('logging-level', {
            description: 'Logging severity level.',
            global: true,
            type: 'string',
            choices: ['error', 'warn', 'info', 'verbose', 'debug', 'silly'],
            default: 'info'
        })

I read [.strict() does not work as expected](htt

[2018-10-29 10:02] sophister opened #1237 "async middleware"
hi, it seems `yargs` does not support `async` middleware? I've add an async middleware, but not work:

[code]

[2018-10-29 12:06] aorinevo commented on #1237
HI @sophister,  I would love to see middleware work for async functions but at the moment we only support sync.  If you have the time and would like to work on a PR for this, I'd be happy to review it.

[2018-10-30 13:12] roccomuso commented on #1094
Same. Following.

[2018-10-31 07:06] buehler commented on #1235
As I investigated, the same happens when using `async`.

[2018-11-02 01:27] mster opened #1239 "Define options scope"
Hello there!

Using `yargs` in a project of mine and was curious if this feature was supported in the current version:
Is option scoping supported?

What do I mean by option scoping:
Say, on the top level we define options, as well as options for a sub command, such as:
[code]

Running `my-cli-tool --help` produces, as expected:
[code]

However, running `my-cli-tool a --help` produces:
[code]

I k

[2018-11-02 16:07] bleathem commented on #444
I'm seeing this in yargs@12.0.2

[2018-11-05 03:17] #1130 closed

[2018-11-05 03:18] bcoe commented on #1130
@pvdlg @andrewcpacifico @klemenoslaj this should be fixed 👍

[2018-11-05 08:43] #1100 closed

[2018-11-06 08:03] zzzgit opened #1240 "is there a default command?"
[code]

Can I define a default command, which will be executed if I supply nothing after the script-name.

[2018-11-07 05:42] boneskull opened #1241 "defaultDescription should work with positional()"
Within a command builder function:

[code]

but help shows:

[code]

It should show `[default: "yabba dabba doo"]`.

[2018-11-08 08:15] #1205 closed

[2018-11-08 16:31] xerq opened #1242 "Positional Rest parameters?"
Hi. Is there a way to define positional Rest parameters?
Right now the following command:
[code]
gets parsed as:
[code]
if I define the command as: `message <name> <textMessage>`
I tried to change the type of textMessage to Array, but it didn't help, it still only put the first element in the array. I know I could put the textMessage argument in quotes, but I'm searching for another way, because i

[2018-11-08 16:43] xerq commented on #1242
Found it while looking at the yargs' slack bot https://github.com/yargs/pirate-joe/blob/master/commands/flip.js
The solution is: `flip <strings...>` and then join the argv.strings

[2018-11-08 16:43] #1242 closed

[2018-11-08 17:49] henderea opened #1243 "An option that allows unknown flags to be included in a varargs?"
I have a script I'm converting from ruby that allows me to run arbitrary shell commands in a special mode.  I define the command as something along the lines of `$0 <cmd> [args...]`, but if i pass an unknown flag as part of `args`, it gets taken out and treated like a regular flag.  Is there any way I can set my script to skip parsing and validation of unknown flags?

Basically, I want a mode that

[2018-11-09 16:14] #946 closed

[2018-11-09 16:14] bcoe commented on #946
@Qard @wmertens I will try to get this released sometime today, sorry for the slow turn around.

[2018-11-10 00:56] bcoe commented on #1055
@LandonSchropp @dennisreimann thank you very much for the kind words 😄 makes working on OSS fun.

[2018-11-10 00:56] #1055 closed

[2018-11-10 03:09] mster opened #1245 "Micmic `.options()` paradigm for `.command()`"
Hello 👋

I haven't seen an issue on this, but apologize if I missed it.

I was wondering if it would be possible to mimic the `yargs.options(OPTIONS)` paradigm for the `yargs.command()` feature.

I found the options feature to be extremely helpful for both writing and reading code using `yargs`. I personally implemented a bit of a work-around to achieve my goal, storing command parameters in a ser

[2018-11-12 17:44] tanium-kdp commented on #911
@micmmakarov I'm trying to solve something similar; best workaround that I've found is to just grab `process.argv` and then use `findIndex` and `slice` to grab everything after the `'--'` (obviously, also handling the case where `findIndex` returns `-1` when not found).

[2018-11-19 15:02] vasco-santos opened #1246 "camelCase argument in command requires inferred alias"
After [yargs/yargs-parser/commit/08c011796f83e84fe50ffb066a87ae2effadfc75](https://github.com/yargs/yargs-parser/commit/08c011796f83e84fe50ffb066a87ae2effadfc75) got merged, commands using camelCase parameters were automatically inferred to have a dash case alias.

When we use this feature combined with using `...` to optionally accept a list, throws an error `Unknow argument`, for instance in  [i

[2018-11-19 17:54] bcoe commented on #1245
@mster I think describing `positional` commands might be what you're looking for, I very much had this use-case in mind:

https://github.com/yargs/yargs/blob/master/docs/api.md#positionalkey-opt

[2018-11-19 23:25] #1246 closed, assigned to nobody

[2018-11-19 23:35] mster commented on #1245
Should work for my use-case! Thank you :)

[2018-11-19 23:35] #1245 closed

[2018-11-20 18:44] jean-emmanuel opened #1248 "« "boolean-negation": false » only works when running from the package directory"
When running a node app from a directory that doesn't contain the appropriate package.json, boolean negation is always enabled. Any chance this could be disabled programmatically ?
Thanks a lot for the lib :)

[2018-11-21 08:33] brewster1134 commented on #851
to hide from the help menu, you can pass `false` for the description

[code]

[2018-11-22 19:33] swedebugia opened #1250 "Build or build+test dependencies"
Hi
I'm wondering how many of the devdeps are strictly needed for building? How many are needed if we want to test it too? (no docs or linting needed)

We are trying in Guix to figure out how to package npm-libraries in a reproducible way.
See also: https://lists.gnu.org/archive/html/guix-devel/2018-11/msg00201.html

I'm using a guile-script to make a graph of this package and the devdependencies a

[2018-11-26 21:01] orgrimarr commented on #1145
I have the same issue, when i add a description + a type, yargs pollutes the output. (--help)
I found in the documentation a command to fit the text to the console size:
`. wrap(yargs.terminalWidth())`
This may help you

[2018-11-27 03:54] ZaDarkSide commented on #1142
Thanks.

[2018-11-27 03:54] #1142 closed

[2018-11-27 14:47] remcohaszing opened #1252 "Allow to only process explicitly defined environment variables"
Yargs allows to define arguments using unprefixed environment variables by simply calling `.env()` on the yargs object. This option is great, but this parses **all** environment variables. This then causes conflicts if for example yargs strict mode is enabled.

I would like to be able to pass arguments as environment variables, but to only have those parsed that have been explicitly defined using

[2018-12-03 20:01] henderea commented on #1243
Has anyone had a chance to look at this issue?  I should be able to have a varargs include undefined flags as-is.  If the argument `-l` falls inside a variadic argument and isn't defined in my code, it shouldn't fail the strict check and should instead just stay in the variadic argument.

[2018-12-08 07:53] brewster1134 commented on #923
i am still seeing coerce running multiple times. with no alias, it runs twice... with an alias, it runs 4 times.

i am using the latest version of yargs & yargs-parser
[code]

[2018-12-10 06:00] DrunkenPoney opened #1253 "Command failed. message: yargs error?"
I've built a command line with yargs and I wanted to try it to see if it works but I got this message: `yargs error`.

So i've added a fail callback so I can see the stacktrace but it wasn'T helpful at all since I still can't see where's the problem coming from.<br>
Here is the stacktrace:
[code]

It's seems to crash when I call/use argv which seems to be a getter.

So nothing of this helps me to

[2018-12-10 21:53] trevorlinton opened #1254 "middleware may need to run before required check"
One use case that's valuable to use a middleware is to lookup a value that's optional or required on an argument if there's a separate mechanism for finding it. (Think about the heroku cli and how they default the app argument by looking at the .git repo you're currently in).  This could be implemented with middleware, however the middleware runs after required checks are done.  In this circumstan

[2018-12-10 22:15] aorinevo commented on #1254
Hi @trevorlinton,

I can see the value of having middleware called before required/sanity checks and would be happy to review a PR for this.  One thought is maybe to differentiate the middleware functions called before required/sanity checks from the ones that run after the checks are complete.  Maybe call them preChecksMiddleware.

[2018-12-11 09:40] amurdock commented on #1237
Hi @aorinevo, I'm looking at putting a PR together for this but thought I'd get some feedback on the approach first. My preferred approach would be to chain middleware promises before the command is run. Since the command itself supports promises this should work reasonably seamlessly. Something similar to ...
[code]

Thoughts?

[2018-12-11 16:07] trevorlinton commented on #1254
I created a PR here: https://github.com/yargs/yargs/pull/1255/files I just named it `preChecksMiddleware`, at the moment only globally available, as I'm not sure the utility of having it on a per-command basis (and overloading `command` didn't seem ideal).

[2018-12-11 16:38] trevorlinton commented on #1254
I should mention, the `preChecksMiddleware` gets passed two objects, the first is the parsed argv as the middleware, but the second is an object containing the array of commands as the property `commands` that could be executed, and a map of the available options and their aliases as `availableOptions`.  This is important for most of the purposes the `preChecksMiddleware` would be performing.

[2018-12-11 19:01] bradfordlemley commented on #1069
Another option to create an async command:
[code]

[2018-12-13 19:38] matthiasg commented on #895
@borela may I ask what that means 'it is working as I intended' ? `.demandCommand().recommendCommands().strict()` seems to work fine is that as intended ?

[2018-12-13 19:56] borela commented on #895
@matthiasg Yes, that works the way I wanted, I am not seeing the generic error message `Not enough non-option arguments: got 0, need at least 1` anymore, it shows the command had a typo.

[2018-12-14 21:55] brewster1134 opened #1258 "pre-command hooks"
I want to run some code before each command callback, and need the name of the command for it

each of my commands creates its own cache in a `.tmp` folder, and want to delete each commands cache each time it runs.  for example the command foo, creates a cache in ./.tmp/foo. i want to delete only that cache before each time it runs. i can delete it from each command callback, but curious if there

[2018-12-14 22:07] aorinevo commented on #1258
Hi @bewster1134, sounds like yargs global middleware of command middleware might work.  Have you tried that?

[2018-12-14 22:10] brewster1134 commented on #1258
that is exactly what i needed! ... never thought to search for middleware. ty!

[2018-12-14 22:10] #1258 closed

[2018-12-16 23:53] cspotcode commented on #873
It seems like there's a pretty clear, intuitive distinction between argument sources that *will* commonly include unexpected options (config / rc files, env variables) and sources that *should not* include unexpected options. (argv array)

For any given argument source:
a) in strict mode, omit those options even if they're found.  Pretend they're not there.
b) in non-strict mode, *do* parse all op

[2018-12-17 17:06] cspotcode opened #1259 "Specify yargs-parser options via `yargs` JS API"
Use-case: I want to write a command-line tool that uses yargs to parse command-line options.  I have a `--foo` boolean flag.  I do *not* want yargs to allow `--no-foo`.  So I want to pass `{'boolean-negation': false}` to yargs-parser.  (although you can certainly think of situations where other people might want to write CLI tools and pass other flags to yargs-parser; I'm just using this as an exa

[2018-12-17 17:08] cspotcode commented on #1259
Might be related to #1248

[2018-12-17 18:55] AnthonyWC opened #1260 "Preserve casing with ENV"
From the API page [API page](https://github.com/yargs/yargs/blob/master/docs/api.md)

With .env([prefix]), the environment variable casing is converted from upper case to lower; is there an option to preservice upper casing?

[2018-12-18 01:12] boneskull commented on #1259
While I think such a thing would be useful, and considering the paucity of information in #1248, yargs is careful to load its config from the `package.json` of your CLI app.  It won't look elsewhere unless `require.package.main` *isn't* your app.

Untested, but that's what I can deduce from reading the code.

[2018-12-18 01:15] boneskull commented on #1259
this is important to mention:

`boolean-negation: true` means `--no-foo` will *expand* that to `foo: false`.  It *does not mean* `--no-foo` is not allowed.  You need to enable "strict" mode via `yargs.strict()` if you want this behavior.

[2018-12-20 21:49] gitgrimbo commented on #1018
I'm using `const yargs = require('yargs')` but see this problem.

yargs 12.0.5
node 11.3.0

E.g. using the `--help` option only shows version and help.

[code]

but if I do the following I see all my options printed.

[code]

I've tried
- omitting calls to `yargs.help()`
- `yargs.help(false)`
- overriding help `yargs.option("help", { ... })`

but no difference.

[2018-12-23 13:47] joaomilho opened #1261 "completion incompatible with catch all"
So I have a command defined as:

[code]

If I run `mycmd completion` I get: `Unknown commmand completion`.

Now if I remove the catch all, that is:

[code]

It works alright.

[2018-12-23 17:47] jean-emmanuel commented on #1248
Note: packaged node applications (eg electron apps) are likely to be run from an arbitrary directory that may not contain the app's `package.json`.

[2018-12-27 16:43] davidkjackson54 commented on #251
Has sywac been abandoned? I don't see any movement on it for over 6 months and the doc is minimal.

[2018-12-27 16:49] nexdrew commented on #251
@davidkjackson54 No, sywac has not been abandoned. It's at a relatively stable point and I use it for all my own CLIs. I just haven't had time to work on the docs or road-mapped features in a long time, and no one else has volunteered to help. I am still maintaining the project and will continue to do so for the foreseeable future.

[2018-12-27 17:38] davidkjackson54 commented on #251
Thanks that is great to know.  I have a need to be able to support positional parameters for example:
cli.js  jobs status --jname

where jobs and status are both positional parameters and jname is a required subparm.
I know yargs can handle this but I haven't been able to find any documented on how to accomplish this in sywac.  I also need to have the help auto generated for this.   So a user coul