[2020-11-04 03:41] ljharb commented on #1789
Added in 12.16 behind a flag; the flag was removed in 12.17.

[2020-11-05 12:37] hnw opened #1797 "Errors in sub-command's handler never caught by fail() only when handler function is synchronus"
When some error occurred in yargs sub-command handler and error handler is defined by `yargs.fail()`,
I expect the errors would be caught by the error handler. In fact, `fail()` works properly in following example.

[code]

[code]

However, the behavior becomes different if the handler is synchronous function.

If we remove `async` keyword from previous example and rerun, then we'll get following

[2020-11-05 20:49] ixis-doug opened #1798 "can't import yargs/helpers in esm-shimmed environment"
`import { hideBin } from 'yargs/helpers'` fails when invoking like `node -r esm index.js`

The esm module is a production-quality ESM loader and works with old versions of node (and current versions) without any funny configuration required (like setting `"type": "module"` in package.json).

The following error is printed:
[code]

tested yargs 16.1.0 on node 12.16 and 12.19 with esm 3.2.25

[2020-11-08 15:13] KhushrajRathod commented on #1794
Hi!
I'm not completely sure what needs to be changed -- I'm willing to work on this if someone can give me a brief
:)

[2020-11-09 00:39] ljharb commented on #1798
Duplicate of #1789.

[2020-11-09 15:08] #1794 closed

[2020-11-11 16:35] lewisdiamond opened #1802 "Coerce is called multiple times"
Coerce should always be run once and only once.

[code]
[code]

[2020-11-13 15:25] #1798 closed

[2020-11-13 22:13] AviaHumble opened #1803 "Multiple options messing with each other."
I have a simple Yargs setup, and it works fine with one option running on a switch case to get the 2nd parameter. But as soon as I open a second option, the 2nd option runs when the 1st is run.

[code]

[2020-11-13 22:17] AviaHumble commented on #1803
Never mind, found the issue. I was calling Track no matter what, causing it to return an undefined code, which is then logging in the console as not existing.

[2020-11-13 22:18] #1803 closed

[2020-11-14 09:23] jehon commented on #1360
For those coming here, here is how I did:

[code]

Hope it help someone...

[2020-11-15 17:44] #1789 closed

[2020-11-15 18:44] bcoe commented on #1798
@ixis-doug let me know if `yargs@16.1.1` does the trick for you.

[2020-11-15 18:48] bcoe commented on #1789
@gpoole thank you for the bug report, this should be patched in the latest release now. @ljharb thanks for the idea of nesting inside `helpers/` with an additional `package.json`; It feels like the latest release of yargs solves this issue, and cleans up the directory structure a bit.

[2020-11-16 17:44] bcoe commented on #1796
Hey @kamalyzl, thanks for taking the time to open an issue. This bug has already been patched in the latest version of yargs and y18n,

[2020-11-17 19:47] apolopena opened #1808 "Word wrap issue: yargs with chalk (or certain ANSI escaped strings)"
Word wrapped help text in yargs doesn't seem to play nicely with chalk (or vice versa ;) under certain circumstances which I have illustrated in a simple implementation below. I know ANSI sequences need to be carefully wrapped and that is why chalk offers [`wrap-ansi`](https://github.com/chalk/wrap-ansi). Is there anyway to make this example work without changing internals?
[code]
**Expected resul

[2020-11-18 07:18] gpoole commented on #1789
Thanks @bcoe! Works perfectly now.

[2020-11-18 14:08] DasdWaller opened #1809 "Example (string.js) error "Too many arguments provided. Expected max 1 but received 2.""
OS: Windows 10 (latest)
Node: 14.15.1
NPM: 6.14.8
Use: NVM  for Windows (NVM4W) and Windows Terminal

1. I create a `project-cli` file on bin directory
2. Install the `16.1.1`version of `yargs` package
3. The code on `project-cli`:
[code]
4. I set `bin` and values on `package.json`
5. I run `npm link`
6. I run on windows terminal:
`project-cli -x 000123 -y 9876`

Show error:
[code]

[2020-11-20 08:52] SkReD opened #1811 "in strict mode first part of dot-path option incorrectly marked as unknown"
**Problem**
Error raised for part of the dot-path option key

**Example**
[code]

**What is actual behaviour**
Error `Unknown argument: obj` is raised

**What is expected behaviour**
No error

**How to reproduce**
Here is PR with failing test on the problem
https://github.com/yargs/yargs/pull/1810

[2020-11-22 16:12] bcoe commented on #1811
Hey @SkReD, thank you for opening this issue. See the [comment here](https://github.com/yargs/yargs/pull/1810#issuecomment-731770689), yargs doesn't support configuring individual properties on objects.

If you'd like to open a feature request on `yargs-parser`, this is something folks have requested in the past.

[2020-11-22 16:12] #1811 closed

[2020-11-22 16:13] bcoe commented on #1809
[.string()](https://github.com/yargs/yargs/blob/master/docs/api.md#stringkey) accepts a single argument, which is a single option you'd like to have interpreted as a `string`.

If you'd like to configure more than one at a time, you can pass `.string(['x', 'y'])`.

[2020-11-22 16:13] #1809 closed

[2020-11-22 22:55] bcoe commented on #1329
Closing in favor of the newer https://github.com/yargs/yargs/issues/1351

[2020-11-22 22:55] #1329 closed

[2020-11-22 22:58] bcoe commented on #1351
When a default command is used, middleware works as expected on the latest release (Refs: https://github.com/yargs/yargs/pull/1813).

I would like to make it so middleware is applied even if you don't specify a default command, perhaps we could refactor the codebase to always have a default command registered.

[2020-11-22 22:59] #1229 closed

[2020-11-22 22:59] bcoe commented on #1229
@mitchshaw there have been several major releases since you were bumping into this issue (I'm guessing the problem has probably been addressed).

Let me know if you're continuing to bump into issues.

[2020-11-22 23:04] #756 closed

[2020-11-23 18:58] samermurad commented on #756
@bcoe hey there, having the same issue, I have a list of brands, which I specify by name, and the coercion loads theirs options,

so for example: `npm run myScript -- --brand=A`

is coerced into:
[code]
 my `choices` are basically the keys of the available brands, so literally `Object.keys(brands)`.

To be completely honest, my case is a bit more special because I also have a yargs middleware the

[2020-11-23 22:02] bcoe commented on #756
@samermurad if you can think of a good place to clarify this (perhaps in the middleware section, or under and advanced topic), would appreciate the patch.

[2020-11-24 11:20] samermurad commented on #756
@bcoe should I just update the documentation accordingly? or should I patch the `coerce` behavior as well?

[2020-11-24 14:42] bcoe commented on #756
@samermurad I would rather nudge people towards `middleware` for performing transforms, and would like to fix the bug that middleware doesn't fire if you have no commands.

The problem with trying to make significant changes to coercion, is that it happens in `yargs-parser` during the parsing step, not in `yargs` during validation. I believe that changing this behavior would be a pretty significan

[2020-11-25 18:03] MichaelKorn opened #1814 "multiple commands with strict()"
If I interpret the API correctly, then it is intended that multiple commands can be given. Otherwise `demandCommand([min=1], [max], [minMsg], [maxMsg])` would not be very useful.

**Minimal example:**
[code]
call it with `node test.js foo bar`

**What was expected?**
`argv = { _: [ 'foo', 'bar' ], '$0': 'test.js' }`
This is also the result without `.strict()`.

**What happens?**
The output is:
[co

[2020-11-26 07:56] SymbioticKilla commented on #1796
Can you update it in Version 15? Or it is EOL Version?
Thanks!

[2020-11-26 08:55] LiranBri opened #1815 "internal call/execution for another command"
Hi,
I have a CLI with few commands. lets call them A and B.
is it possible that when the user triggers command A i would internally trigger another command B via code?

thanks

[2020-11-27 11:28] samermurad commented on #756
@bcoe
I totally agree
so I should just add some examples for "sophisticated" middlewares in the advanced section?
This brings up a complicated question regarding the flow and behavior of middlewares vs options/coercion, don't you think? I mean the middlewares technically allow you to do anything, the so it doesn't matter how much you setup your `yargs` flow, you can end up missing your whole confi

[2020-11-28 19:10] bcoe commented on #756
@samermurad bother you to open a new issue for this conversation, I'm likely to lose track of this since it's in a thread from 2017.

[2020-11-30 20:25] vbansal22 opened #1816 "hideBin not declared in type definition file"
causes typescript compilation errors as follows:

For `import { hideBin } from 'yargs';`

`Module '"../node_modules/@types/yargs"' has no exported member 'hideBin'.ts(2305)`

[2020-11-30 23:15] bcoe commented on #1814
@MichaelKorn because you've defined the command `foo`, `bar` is being seen as an argument to `foo`, if you want `foo` to accept an argument, you can do this:

[code]

[2020-12-01 13:08] toverux opened #1817 "Package subpath './package.json' is not defined by "exports" in /.../node_modules/yargs/package.json"
For an unknown reason, my build fails at some point with the following error:

There is no more context on why the package.json from yargs is required.

However, adding this key in the `exports` of yargs' package.json works :

[code]

Since yargs decided to add explicit exports, it would be a nice to let external tools read yargs' package description.

[2020-12-01 17:20] bcoe commented on #1817
@toverux could you provide an example of where this is failing?

[2020-12-01 17:55] #1796 closed

[2020-12-01 17:56] bcoe commented on #1796
@kamalyzl @SymbioticKilla, I've back ported the fix.

[2020-12-02 06:00] mingtsay commented on #1817
I also have this issue when I run `react-native link` in my react native project.

[2020-12-02 11:42] toverux commented on #1817
In my case, this is with NativeScript. Maybe it's scanning node_modules for plugins? (not familiar enough with it yet).
I will try to provide more context tomorrow if I can, but the issue seems clear though, any tool `require`ing the package.json of yargs would fail, as `exports` acts like a whitelist, only files listed in it are now reachable through the Node resolution algorithm.

https://nodejs

[2020-12-02 20:14] bcoe commented on #1817
@toverux if you've confirmed adding the additional export works, mind submitting a patch?

[2020-12-03 00:21] toverux commented on #1817
Will do!

[2020-12-03 12:58] MichaelKorn commented on #1814
@bcoe, sorry for the confusion. The demandCommand() in the example was a holdover from an experiment. I corrected the mistake (max should be >1).
I would like to allow two independent commands with one call.

[2020-12-03 15:59] mdevils commented on #894
I was very confused when I was reading documentation with all those lines ending with `.argv` and it was never used. I guessed that I need to do something with the `argv` field value. Took me some time to figure out that side-effect happens when you access `argv` property.

Maybe documentation should be updated with `.parse()` instead of `.argv`?

[2020-12-04 04:13] #1817 closed

[2020-12-04 11:49] OsmanAltun opened #1820 "Help- and version option description not shown"
**The code:**
[code]

**Expected output:**
[code]

**Actual output:**
[code]

**Note**
No need for a workaround since I already got one, but I just wanted to mention this so it would get fixed.

[2020-12-04 12:53] OsmanAltun commented on #883
Specifying default command still removes all commands from yargs.showHelp(callback).

+1

[2020-12-04 23:50] gabegorelick commented on #873
You can sometimes work around this by eschewing `.env` in favor of `.config` with an object constructed just from environment variables that you care about. For example:

[code]

This way, yargs doesn't freak out about unknown environment variables (because it doesn't parse environment variables at all).

I think this highlights that another way to think about this issue is that `.env` doesn't pro

[2020-12-05 00:10] gabegorelick opened #1821 "Positional variadic options that may contain dashes"
I want to implement an interface that collects all options after a positional option. The options are not known ahead of time.

Usage would look something like:
[code]

If a real life example helps, this is similar to how [`docker run`](https://docs.docker.com/engine/reference/run/) works:

[code]

allowing you to run something like this:

[code]

Crucially, in this example, `-n hi` is passed to `

[2020-12-05 06:56] ashwynh21 commented on #1310
Please help, I must be doing something wrong or there is an actual issue. I'm using typescript and Webpack as a bundler to build a CLI.

[code]

Simply does not work, none of the callback functions provided are called.

[2020-12-05 23:17] bcoe commented on #1817
give `yargs@16.2.0` a shot.

[2020-12-07 00:58] bitsofinfo commented on #1323
Any eta on this? experiencing the same thing `--version` is an arg i need to parse but can't get it

[2020-12-07 08:13] SymbioticKilla commented on #1796
@bcoe back ported means it will be also released for 15.x version?

[2020-12-07 22:09] toddwseattle commented on #1794
So the deno sample in the readme still doesn't seem to work as the type of yargs is {}? working around by recasting to any but that's pretty ugly.  Would be happy to do something different if I'm not understanding.

[2020-12-07 23:50] jltwheeler commented on #1780
@joekiller / @bcoe any advice on how to best test error handling of async command handlers?

Example, if we had a command handler function like:

[code]

How could we best do this?

I've tried implementing @joekiller's code snippet above, but because it is setting `exitProcess(false)` jest can't seem to pick up that I'm throwing an error with a rejected promise i.e. by running await expect(someAsy

[2020-12-07 23:51] joekiller commented on #1780
I've only been able to spy the error console on the side otherwise I think
yargs will swallow it.

Sent via mobile

On Mon, Dec 7, 2020, 6:50 PM Josh Wheeler <notifications@github.com> wrote:

[2020-12-07 23:53] joekiller commented on #1780
So you want to spy the error instead of log console

const spyConsole = jest.spyOn(console, 'error').mockImplementation();

[2020-12-07 23:56] jltwheeler commented on #1780
Thanks for the speedy reply!!

Does that mean I should also add a console.error to my handler code (below) in order for the spy to work?

And does that mean that there is no way to test the rejected promise and the thrown error then?

[code]

[2020-12-07 23:58] joekiller commented on #1780
I believe the rejected promise message will regurgitate into the error log so that it should catch exceptions too

[2020-12-08 10:34] remorses opened #1825 "use both -h and --help as help flags"
I would like to have both `-h` and `--help` show the help message

This doesn't work
[code]

[2020-12-08 19:35] tswaters opened #1828 "middleware that returns a value does not camel case keys in argv"
Consider the following, 'test.js':

[code]

If this is called without arguments, e.g.:

[code]
If `some-option` is provided via argv, e.g.:

[code]

I would expect the values returned from middleware to also be converted to camel case.

It should also be noted that returning the camel-case key from middleware, e.g. `{someOption: 'test'}` will fail validation.

Also worth noting that passing "uh-oh

[2020-12-08 19:37] tswaters commented on #1828
Err, sorry didn't mention but --

[code]

( p.s., yes I know, I should update my node version :S  don't think it relates though )

[2020-12-08 20:30] OsmanAltun commented on #1825
This works:

[code]

[2020-12-09 08:46] remorses commented on #1825
Thank you

[2020-12-09 08:46] #1825 closed

[2020-12-09 16:34] joekiller commented on #1780
@jltwheeler it appears you are correct that the handler will swallow the rejected promise. I've had to wrap my handlers in a generic catch to pick up errors in the test...

[code]

[2020-12-09 16:48] OsmanAltun opened #1829 "Feature: showVersion function"
**Description:**
A function which has the same signature as the showHelp function.
Ability to print version information or execute `callback(version: string)`.

[2020-12-09 17:04] adoyle-h opened #1830 "-h not show description in sub commands"
## Versions

- yargs: 16.2.0
- nodejs: 12.13.1

## Reproducible Case

[code]

## Actually Results

![image](https://user-images.githubusercontent.com/1998490/101660060-b4983c00-3a81-11eb-9077-ea0632673dcb.png)

## Expected

[code]

[code]

Notice: I want to printed both `Usage:` prefix and the command description.

If I set description in `.usage` like that,

[code]

The yargs will create an error

[2020-12-09 18:16] joekiller commented on #1780
@jltwheeler If you chain in a [.fail(async (msg, err, yargs) => reject(err))](https://yargs.js.org/docs/#api-reference-failfn) handler in there and reject your test will pick up the error. hurray! It doesn't print it to log though (boo). But if you catch the error you can inspect it.

Here is an updated example:

[code]

[2020-12-09 18:47] pownkel opened #1832 "env() removes capitalization from camel case variable names"
In the update to v16, it looks like the behavior of env() changed to convert all env variable names to lowercase. Here's an example to illustrate:

[code]

Running this on v15.4.0 prints
[code]
While in v16.0.0 and later, the same code prints
[code]
Updating to v16 broke some of our code as our camel case env variables were no longer found under their original names. I'm not sure whether the chang

[2020-12-09 19:02] joekiller commented on #1780
Note that I could only attach the fail reject to my test handler, not to the real cmd as `.fail` rejecting the promise in the _real_ yargs handler yargs will blow up with an uncaught promise failure exception.

[2020-12-10 00:12] jltwheeler commented on #1780
Thanks @joekiller! So this method works perfectly with testing your command error handling in jest. When you say _It doesn't print it to log though (boo)_, do you mean when you come across the error when calling yargs normally (outside of jest), users aren't able to see the error message in their console? Or by wrapping your entire yargs process in a try and except, it is possible?

[2020-12-10 11:26] OsmanAltun commented on #1830
Template literals:
[code]
You can remove indentation if needed with the stripIndent tag.

[2020-12-10 13:16] adoyle-h commented on #1830
@OsmanAltun Thank you. That can solve my problem, but looks a little inelegant.

[2020-12-10 15:39] newmanw commented on #1079
This got me as well.  Expecting that when I define type: 'number' that the input is validated to actually be a number.

[2020-12-10 16:40] dimritium opened #1833 "--help not printing command specific options"
My code is like below:
[code]
Output of help command is as follows:
[code]

How to show help section for ```set``` option in ```org``` command?

[2020-12-11 04:29] jasonkuhrt commented on #1679
TS 4.1 should be able to handle this feature now.

[2020-12-16 14:43] pitgrap commented on #1832
We got the same problem in our CI after updating to v16.

environmentVariable: `TEST_DATA_CLI_testPropertiesUrl`
Code: `yargs.env("TEST_DATA_CLI").demandCommand(1, "You need at least one command before moving on.")...`
Log:

[code]

Took me a while to find this issue as the cause for the failing CI. We have reverted to v15.

[2020-12-16 20:32] pjsharpe07 opened #1837 "Prototype Pollution in older version on y18n"
Hello all

There is a prototype pollution in older versions of y18n - [see here for details](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-7774).

There was a fix in y18n in 4.x and 5.x. I submitted a PR into a yargs version that is a dependency of a package I use [PR for 7.x](https://github.com/yargs/yargs/pull/1836) and it looks like there a similar PR for [v15.x](https://github.com/ya

[2020-12-17 02:48] ryancat opened #1838 "Feature request: API to check if a given command string is known to yargs"
I am working on a command line tool that relies yargs to execute some commands (and sub commands). Since we are in the middle of migration gulpfile to using yargs, I would like to check if a given string array (process.argv) is known to my commands. If that's a known command, I will make it go with yargs command line tool. Otherwise it should still use gulpfile.

I am implementing this using custo

[2020-12-17 07:55] JasinYip commented on #345
This is an unusal design. As we can see most usages are determined as `true` while the boolean flag had given, like Node.js' flags, npm `--save-dev`, etc.

[2020-12-17 20:19] bcoe commented on #1837
yargs@7.x was initially released 4 years ago, is there a dependency using yargs that could be updated rather than back-porting?

[2020-12-17 20:27] bcoe commented on #1837
Having thought on it a bit, I'm not going to back port to a version of yargs this old, it's getting to the point where half the PRs I get are for security issues that aren't actually issues for CLI applications.

Where I'll make an exception is back porting one or two major versions, on a case by case basis, I'm not going to do the archeology necessary to get 7.x working with this patch.

[2020-12-17 20:27] #1837 closed

[2020-12-17 20:30] bcoe commented on #1837
@pjsharpe07 I do appreciate you taking the time to interact with the project, and if you can point me towards the upstream dependency of yargs causing issues for you, I'm happy to help get them upgraded.

[2020-12-17 20:31] bcoe opened #1839 "Policy: Addressing CVEs raised by old versions of yargs"
Rather than opening a new issue for a CVE, please start a conversation here.

We can decide on a case by case basis if it makes sense to attempt a back port, or to help the upstream dependency update yargs.

[2020-12-17 20:37] pjsharpe07 commented on #1837
@bcoe that makes perfect sense. yargs 7.7.x is brought in by [gulp](https://github.com/gulpjs/gulp/blob/v4.0.2/package.json#L34) -> [gulp-cli](https://github.com/gulpjs/gulp-cli/blob/v2.2.1/package.json#L51). fwiw, gulps' most recent tag: [2.3.0](https://github.com/gulpjs/gulp-cli/blob/v2.3.0/package.json#L51) seems to be using the same version.

Thank you for your response and time!

[2020-12-17 20:54] bcoe commented on #1837
@pjsharpe07 what I find challenging, is that I want you to not need to deal with this issue; but trying to juggle all the updates necessary for these back-ports is frustrating and hard.

Maybe we can help gulp get upgraded, to me this is a better policy if workable.

[2020-12-17 21:01] bcoe commented on #1839
@pjsharpe07 I can't bring myself to give you a hard **no** on back-porting, for the benefit of gulp 😆

Let's try the approach of having this catch all thread, and we can decide on a case by case basis how to approach things -- then I can close CVE PRs and direct people to this conversation.

[2020-12-17 21:34] pjsharpe07 commented on #1837
@bcoe I think getting them onto a newer version is a great idea. There seems to have been other attempts [to update gulp-cli](https://github.com/gulpjs/gulp-cli/pull/218)

[2020-12-17 22:01] bcoe commented on #1838
@ryancat this sounds like a reasonable feature request ... the challenging part is that we lazy load commands, so at the outset don't know all the possible commands.

[2020-12-17 22:04] bcoe commented on #1679
@jasonkuhrt I've been nudging people towards continuing to use `@types/yargs`, since the delta between this project and yargs was pretty huge ... sounds like we could address this feature request by making a patch to DefinitelyTyped?

[2020-12-17 22:08] bcoe commented on #1833
Hey @dimritium, I'm pretty sure this is working as intended. It will show the command specific options if you ask for help for the specific command:

[code]

I believe this tracks with how many CLIs work, e.g., git:

[code]

vs:

[code]

[2020-12-17 22:08] #1833 closed

[2020-12-17 22:13] bcoe commented on #1830
@adoyle-h this is currently by design, the description is used when listing commands, not when displaying help for a specific command.

[2020-12-17 22:15] bcoe commented on #1829
@OsmanAltun just curious what your use case is 😄 (_not a no to the feature_).

[2020-12-18 07:37] ryancat commented on #1838
Thanks for the reply!

If I understand correctly, since `yargs` has `command` or `commandDir` API that reads argument command names and aliases, even though the command handler maybe lazy loaded, the command name should be known statically before parsing.

In my case I am building the lookup tree based on nested commands, and looking for command accordingly. For example command `foo-bar-baz` will

[2020-12-18 14:13] OsmanAltun commented on #1829
[code]
instead of
[code]
A way to use version string without having to save it in a variable first. Not that big of a deal, but the flexibility to do as you please is nice (like commands being an alias of command function). The PR I made with bugfixes is WAY more important than this, cuz I need workarounds for those.

[2020-12-18 19:09] ryancat commented on #1838
Another thing I would like to point out is being able to know what command is expected will make yargs more flexible when handling delegated commands. For example, if I am using yargs to create a tool that works by redirecting some commands and sub-commands to use other tools, I want to make sure those commands are not treated as `unknown commands` to yargs when setting `strict` or `strictCommands

[2020-12-18 20:52] eponymous301 opened #1840 "Is there a (built-in) way to make arg required unless other arg is present?"
Sort of a `demandUnless` or `impliesOptional` directive, e.g. contrived example:

[code]

I'm guessing that the general way to handle this is by making a function and adding via  .check() at top level, but in my current project I've been defining options as JSON and using .options(myOpts), was hoping there was a way to do this directly within the definition of a single option, like:
[code]

[2020-12-20 22:37] rogerpence commented on #997
This page provided _very_ good help for me. Thank you very much. Yargs is a great piece of software.

[2020-12-21 22:35] bcoe commented on #997
@rogerpence thank you 👏

[2020-12-21 22:46] bcoe commented on #1838
The problem is the `builder`, which itself can call `.command()` or `.commandDir()` and, today, we run the builders lazily. We could start with the simple implementation, which returns commands that have been registered at any given level, prior to the nested builder being run.

[2020-12-21 22:55] bcoe commented on #1840
@eponymous301 I'd be tempted to implement this as a `.check()`:

https://github.com/yargs/yargs/blob/master/docs/api.md#checkfn-globaltrue

I'm hesitant to grow the validation API, if we can instead make sure that *check* works for these needs.

[2020-12-21 22:59] eponymous301 commented on #1840
No worries, that's what I wound up doing.

[2020-12-21 22:59] #1840 closed

[2020-12-21 23:18] bcoe commented on #1829
[code]

☝️ this works? I'd never thought pf passing a method from yargs itself as a handler.

---

We already treat the `help` command as an alias for `--help`, if we were to add a `version` command by default, would we still need this functionality?

[2020-12-22 16:03] OsmanAltun commented on #1829
For my case, I also specify the help command explicitly, because the command needs to be present in the help output. It would  be nice if there was a way to include the commands in the help output (because I didn't know that this was a thing, and so does the end user probably lol). However, what you mentioned would be a nice addition.

The project I am working on also has listeners for errors. Whe

[2020-12-23 15:04] nchudleigh opened #1841 "Deno bundle yargsParser initialization failure"
Trying to write a cli with Deno, went to go and try the example from the readme and the bundled code fails at runtime.

Works fine if you just deno run main.ts, but the hope was to use the bundled code (compiled to binary) for distribution.

Any ideas on why this  may be happening? Wasnt sure if this was more of a Deno issue or a yargs issue, so if I am barking up the wrong tree let me know.

[cod

[2020-12-24 01:04] verhovsky opened #1842 "Convert ANSI-C quoted strings to their value"
This makes sense:

[code]

This could be better:

[code]

In bash, strings of the form `$'string'` are a special type of string:

[code]

See https://www.gnu.org/software/bash/manual/bash.html#ANSI_002dC-Quoting

It would be helpful it yargs returned the raw value for these types of strings as well, instead of making the user parse it themselves, as this caused (is causing) an issue: https://githu

[2020-12-24 21:59] bcoe commented on #1841
@nchudleigh I haven't experimented with Deno much, beyond writing the unit tests to get yargs running on it.

Do you need to explicitly add `yargs-parser` to the bundle?

[2020-12-25 04:00] douniwan5788 commented on #333
I don't understand, how is the `commands` related to `named positional arguments`?

[2020-12-25 19:06] YashTotale opened #1843 "Package subpath "./node_modules/yargs/package.json" is not defined by exports in undefined"
My rollup build is unable to resolve yargs.

Here's the full error:

"./node_modules/yargs/package.json" is not defined by "exports" in undefined

Here's my [GitHub repository](https://github.com/gator-org/gator).

There's another issue (#1817) that referenced a similar problem, however, the fix for that one does not seem to work for this issue.

My Yargs version is `16.2.0`.

[2020-12-30 00:27] salmansaleempiaic opened #1844 "ES6 IMPORT RESULTS UNDEFINED"
![Screen Shot 2020-12-30 at 5 26 57 AM](https://user-images.githubusercontent.com/61205073/103322441-b1c8af80-4a5f-11eb-94ec-b58220948671.png)

[2020-12-30 05:19] nikmalenovic opened #1845 "project module link to yargs on Windows attempts to run "rimraf build && tsc" and fails to find tsc"
I ran into a problem installing on a fresh installation of Windows (Version 10.0.19041.685 x64) using node (v15.5.0 x64) with npm (7.3.0). I installed yargs in global cache without problem, e.g.

[code]

but linking to my local project fails miserably because somehow yargs thinks it needs to recompile:

[code]

I've attached the complete log [2020-12-29T23_21_10_877Z-debug.log](https://github.com/

[2020-12-30 09:01] andreash opened #1846 "Text colors on https://yargs.js.org/docs/"
At 59 my eyes may not be the best any more. If I had a free wish, I'd wish that you guys would choose different text colors on https://yargs.js.org/docs/ to increase the readability. The mint green is what nags me...

![image](https://user-images.githubusercontent.com/95178/103340991-e0598100-4a85-11eb-9281-186b84cad393.png)

[2020-12-30 09:30] fendis0709 commented on #1310
Thanks, @paurush11 It works now.
I wonder why this could happen?
What's the point of using `console.log(yargs.argv)` at the end of the code?

[2020-12-30 11:12] biaocy commented on #1846
I think the problem is not related to age. I'm 29, and I feel the same with you. Plus, the conent is great, but the font-size is too small.

![image](https://user-images.githubusercontent.com/7885426/103347765-df027580-4ad2-11eb-8677-51ebc898c04b.png)

[2021-01-01 15:20] sgupta98mnit commented on #1310
@fendis0709 try yargs.parse() at the end instead.

[2021-01-02 17:13] nchudleigh commented on #1841
Tried that and didnt have any effect, the issue now seems to be cliui access issue.

[code]

I have tried explicitly bundling both of them and it gives the same issue.

I went to the yargs-parser repo and tried the same process of bundling the example in the readme and it had an issue with finding which OS it is on.

[code]

Perhaps this is a deeper issue with the dependency, in any case I need to

[2021-01-02 17:13] #1841 closed

[2021-01-02 18:07] nchudleigh commented on #1841
Just tried it again with Deno version 1.6.3 and it appears to have been fixed.

[2021-01-03 05:03] Hornwitser opened #1847 "Docs: calling .parse() is subtly different from .argv"
[The API docs](https://github.com/yargs/yargs/blob/2d70e453a6c6673b6b94be2b446406b7d7db0bbb/docs/api.md) mentions that calling `.parse()` with no argument is equivalent to calling `.argv`. But during development of my app I found that not to be the case: The following code fails when using `.argv` but works as I expected it to when using `.parse()`

[code]

If `.argv` is replaced with `.parse()` i

[2021-01-04 20:27] bcoe commented on #1845
@nikmalenovic `tsc` is only required if you're cloning yargs and running in development mode; so this seems potentially like a bug with npm on Windows related to installing globally.

You could isntead run `npm i --production -g`, which would avoid running development dependencies.

In general though, I recommend not installing yargs globally, it should be a local dependency for a library (_I thin

[2021-01-04 20:27] #1845 closed

[2021-01-04 20:30] bcoe commented on #1844
@salmansaleempiaic please provide code that I can copy and paste rather than a screen shot 👍 better still, could you provide a project I can clone on GitHub?

yargs does support ESM, and my guess is you have something configured slightly wrong in the project.

[2021-01-04 20:35] bcoe commented on #1843
@YashTotale I suggest opening an issue with rollup as well. As I don't know where to start investigating this, and yargs is working for our own usage of rollup.

If there's additional configuration I can add to the export map that helps, I'm happy to.

[2021-01-04 20:57] bcoe commented on #1235
@buehler not 100% sure when I fixed this, but it seems to be fixed in #1823

[code]

☝️ outputs:

[code]

With no error.

[2021-01-04 20:57] #1235 closed

[2021-01-05 04:08] fendis0709 commented on #1310
Thanks @sgupta98mnit
I think we should use "yargs.parse()" after declaring yargs code (or at the end of code), in order to initialize yargs command.

[2021-01-05 04:12] YashTotale commented on #1843
@bcoe I decided not to use Rollup and use Yargs' recommended [`@vercel/ncc`](https://www.npmjs.com/package/@vercel/ncc) to build and compile my project.

[2021-01-05 04:12] #1843 closed

[2021-01-05 13:22] markus456 commented on #1318
This seems to also affect variadic positional arguments:
[code]
[code]
Removing `"duplicate-arguments-array": false` from the parser configuration results in expected output:
[code]
Explicitly specifying the type of the variadic argument as `array` with `.positional` doesn't seem to affect it.

[2021-01-07 12:24] gempain opened #1848 "Array arguments causes"
Hi there, and thanks for the great package, been using it for years now.

We've been having some issues lately with array options conflicting with command arguments in [@getmeli/cli](https://www.npmjs.com/package/@getmeli/cli). Basically:

[code]

throws

[code]

but this works (moved `--branch` up one line):

[code]

The `branch` option is of type `array`, but AFAIK to add items to the array, you

[2021-01-08 00:31] bcoe commented on #1843
@YashTotale 👍 sounds good, I'd still love to know what the heck is happening, I will need to dig into it at some point.

Is `ncc` working well?

[2021-01-09 02:45] bcoe commented on #1848
Ordering of options should have no effect. Don't suppose you can isolate a minimal reproduction, without pulling in the whole `@getmeli/cli`?

[2021-01-09 17:54] bcoe opened #1849 "Registered middleware should be called even if no commands are defined"
I find it surprising that middleware doesn't work unless you've registered a command, what would it look like for global middleware to always be applied?

This will take some investigation (_maybe it's a terrible idea._)

Refs: https://github.com/yargs/yargs/pull/1823

[2021-01-09 18:17] bcoe commented on #859
I would like to investigate landing this feature as part of the major release being worked on here:

https://github.com/yargs/yargs/pull/1823

[2021-01-09 18:18] bcoe commented on #1042
I would like to investigate landing this work before we release the next major version of yargs.

Refs: https://github.com/yargs/yargs/pull/1823

[2021-01-09 19:46] bcoe commented on #1791
@wesleytodd I believe I fixed this as part of my work in #1823

There's also now a helper `await yargs.getHelp()`, which you could use rather than the callback based approach. I'd love feedback, you can install via:

`npm i yargs@next`

[2021-01-11 01:43] #1791 closed

[2021-01-11 02:30] #1849 closed

[2021-01-11 02:31] bcoe commented on #1351
Refs: #1823

[2021-01-11 11:33] gempain commented on #1848
@bcoe apologies, I should've given more efforts into trying to provide a minimal reproduction example - thanks for bearing with me on this one !

Here it is (`yargs` 15.4.1):

[code]

This doesn't work:

[code]

but this does:

[code]

Note that I unsuccessfully tried configuring the `branch` option as follows:

[code]

I was able to narrow down to an even smaller minimal reproduction (but I left

[2021-01-11 16:28] YashTotale commented on #1843
Yeah, `ncc` is working great!

[2021-01-12 18:10] bcoe commented on #1848
@gempain confirmed that this also happens in `16.2.0`, I believe this has likely always been an issue in how we parse positional arguments for commands.

[2021-01-12 20:37] gempain commented on #1848
@bcoe I would be surprised to be the only project using Yargs this way, it's strange that no one has ever reported this. It must have been introduced at some point.

[2021-01-13 09:20] DeeDeeG commented on #878
I personally support the `argv._` array being totally protected, or making it an opt-in configuration to allow `-_`/`--_` underscore flags.

Or more generally, having it not be possible for hyphenated arguments to end up in with the non-hyphenated arguments array.

[2021-01-16 15:49] foxriver76 opened #1853 "actively calling showHelp shows different output then help on fail does"
In our code we use commands and "subcommands", calling our tool via `iobroker object` will result in our code processing the command and then calling `yargs.showHelp()`, the generated output looks like:

[code]

I would expect, that it shows `  iobroker object get <id>` and not `iobroker get <id>`  as it is done when I call `iobroker object --help`:

[code]

Why is there a difference, is this inte

[2021-01-18 20:57] bcoe commented on #1853
@foxriver76 in the version of yargs on `master` (_not yet released to npm_), we've added a method `await getHelp()` which will return a help string to you.

Could you try this out, and see if it gives you appropriate output? my hope was that this would make the use case of outputting help programmatically easier. I did also fix some bugs with `showHelp()` in the process, so I'd try both.

[2021-01-18 21:23] foxriver76 commented on #1853
Hey, thanks for your reply.

I've installed `17.0.0-candidate.0` from GitHub, unfortunately this does not change the behavior. Also

[code]

is printing the output w/o the desired `object` keyword. There has to be a difference between calling `getHelp` (and `showHelp`) and giving the output via `--help` flag. As mentioend above, using `--help` flag outputs the help correctly.

[2021-01-19 18:51] ctcoleman opened #1854 "Getting typeerror yargs.[methodname] is not a function using ES6 + node.js + yargs"
So, I'm doing a nodejs tutorial, but the tutorial isn't updated to ES6 and I just wanted to update the code as I go along. I get the program to run just fine using require('yargs'), but keep getting yargs.command, yargs.argv, etc. is not a function. This happens with any and all yargs methods. I receive the error whether I try to use it in this example or any other. It's my understanding that node

[2021-01-24 22:42] gardenappl commented on #1702
I found a way to simulate this:

[code]
Seems to do exactly what you want. The help menu shows `--completion` as an option while the `--completion` "command" is hidden. Launching the script with `--completion` option does what you expect.

[2021-01-31 22:58] kevinoid opened #1857 "#parse() calls callback twice for --get-yargs-completions with #completion()"
With `yargs@16.2.0`, the following code:

[code]

Prints:

    parse callback called with  [ null, { _: [], '$0': 'foo.js' }, '' ]
    parse callback called with  [
      undefined,
      {
        _: [],
        'get-yargs-completions': true,
        getYargsCompletions: true,
        '$0': 'foo.js'
      },
      'completion'
    ]

Indicating that the parse callback is called twice.  The first

[2021-02-01 07:38] UchihaYuki opened #1858 "Can't set default value for nested options."
[code]
argv.listen.port and argv.listen.hostname is undefined.

[2021-02-02 21:22] ehmicky opened #1859 "Using an equal sign (or not) with an array option changes the value"
When using the following code:

[code]

Using a `=` or not changes the parsed value, which is quite confusing:

[code]

[2021-02-02 21:27] ehmicky opened #1860 "Using an equal sign with short/alias options and an empty string"
Short options do not seem to work when using an equal sign and an empty string.

Example:

[code]

[code]

Note that this works correctly when not using an empty string:

[code]

[2021-02-03 17:44] biggianteye opened #1861 "strict() and strictCommands() do not appear to complain on unknown commands"
The documentation for `strict()` says that

But this is not the behaviour I am seeing with version 16.2.0

Here is my test code:

[code]

In the above code, no commands or options are defined and so everything is unknown. Here is an example of an unknown command (`foo`) being accepted:

[code]

Unknown options behave as expected, based on the documentation. Here is an example of an unknown option

[2021-02-04 19:09] ljharb opened #1862 "yargs v15.4 has a breaking change in a minor version"
`npx publishers publishers` worked fine with yargs v15.1, v15.2, and v15.3, but v15.4.0 has broken it. It may be related to the major updates of yargs-parser (altho there's a major bump of yargs-parser in each yargs minor, and only v15.4 caused the problem).

I'm using `.command('*'`, in case that's relevant. (I can't upgrade to yargs 16, since that drops node 8, so hopefully a backport is possibl

[2021-02-06 16:15] the-spyke commented on #1318
Yargs `16.2.0` having

[code]

and calling `mycommand -s asd -s qwe` I get

[code]

Notice that `s` is okay, but `source` is still an array.

[2021-02-07 14:29] kpayson opened #1863 "client side parsing"
Can yargs be used client side in an angular app?  I want to be able to parse ot what a user types in an xterm.js window?  I wasn't able to import and use the yargs libraries though.

[2021-02-08 02:04] bcoe commented on #1863
Here's an example of using yargs in the browser:

https://github.com/yargs/yargs/blob/master/example/yargs.html

Let me know if you can get it working?

[2021-02-08 15:05] kpayson commented on #1863
Do you know how I can get this to work in angular?  Is there an npm package that is available?
when I have _import Yargs from 'https://unpkg.com/yargs@16.0.0-beta.1/browser.mjs'_ in my ts file it shows as an error in vs code and it won't compile.

[2021-02-08 18:42] bcoe commented on #1863
@kpayson would you be able to provide the error that you're seeing? It might be worth also googling how to use ESM modules in Angular, or opening an issue on their project.

[2021-02-11 10:27] alex3683 opened #1864 "Yargs should throw an error when using reserved names for options"
I wanted to add an option called `version` with type string but no matter what I passed as value the resulting argument value was always `false`. I wasted nearly an hour trying to find out what I did wrong. I then stumbled over the `version()` method, enabling the magic `version` option, used to display the app version. Only then I knew that I have to rename my option in order to not collide with

[2021-02-15 21:23] #1853 closed

[2021-02-15 21:31] bcoe commented on #1853
@foxriver76 could you please try `npm i yargs@17.0.0-candidate.1`, I believe I figured out a fix.

[2021-02-16 00:06] #1351 closed

[2021-02-18 16:12] kertsman opened #1868 "Update y18n to version 5.0.5"
Hello, could you , please, update y18n to version 5.0.5 because "black duck software" says it will be more secure. Thx

[2021-02-18 23:24] ericcornelissen opened #1869 "Unexpected error for argument value "----""
On `yargs@16.2.0` I discovered a bug causing the application to crash unexpectedly if one of the values in the arguments array provided to the `yargs` function is exactly `----` (i.e., 4 hyphens). As far as I can tell any other number of hyphens works fine, I did not test any other version of yargs. The error produced by this input can be found below and it is thrown (if I'm not mistaken) by this

[2021-02-19 21:05] JoshMcCullough commented on #1782
The code that verifies the `demands` should be updated to support nested params. Should be pretty trivial at first glance, not sure if someone is already working on it.

[2021-02-20 00:34] jpbriggs408 opened #1870 "`.check()` method doesn't clear `checks` array when exiting or completing"
**Overview**
It is my understanding that one should be able to chain calls to `.check()`. However, it appears that this is not the case, and that the scope never clears. This seems to be due to a `let checks = [];` that is declared in the module scope, effectively turning it into a static array.

**Context**
In working on an update to our build system, I added a new CLI option. We need to enforce

[2021-02-20 06:27] g00dnatur3 opened #1871 "document hideBin"
in all your example you have `hideBin`

every single one

its something new i didnt see in the past

if you are using it all the time, why not bake it into the core require

why do i need to have more lines of code?

you never even explain what it does - atleast i cant find it

so im supposed to go read your code to find out what it does

to me its just more ceremony code

can we get rid of ceremo

[2021-02-21 21:12] #1764 closed

[2021-02-21 21:13] bcoe commented on #1764
@prographo closing this since I didn't hear a response, @prographo let me know if you still need any help.

[2021-02-22 02:12] #1869 closed

[2021-02-22 02:21] bcoe commented on #1870
@jpbriggs408 I'm in the process of overhauling how `check` and `coerce` work, so that they both share the [middleware implementation](https://github.com/yargs/yargs/blob/master/docs/api.md#middlewarecallbacks-applybeforevalidation).

If you get a moment would love you to try out https://github.com/yargs/yargs/pull/1872 (make sure it works for your complex use case). You can install it via `npm i y

[2021-02-22 15:46] ericcornelissen commented on #1869
Thanks for the timely fix @bcoe :smile:

One minor thing: it seems the issue persists if the `----` is followed by a `\n` or `\r`, likely due to the details [the regular expression you used to fix the initial issue](https://github.com/yargs/yargs-parser/pull/354/files#diff-27a21e75a84582473061a84e0c7873f525af6a34f615f556e8a15d2d7649e8beR218). I'm not sure if you consider this a problem. But if you

[2021-02-22 17:14] tzellman opened #1874 "Nested environment variables are being lowercased (regression?)"
In `v15.4.1`, when passing in nested environment variables, the case of the nested fields would remain how they were defined.

e.g.

`const argv = yargs.env('CONFIG')....`

and defining an environment variable like `CONFIG_some__nested__camelCase__id=foo`.

In `v15.4.1` this would parse as `{some: {nested: {camelCase: {id: 'foo'}}}}`

In the latest `16.2` release, I am seeing: `{some: {nested: {ca

[2021-02-22 18:13] jpbriggs408 commented on #1870
@bcoe thanks for the response! That seems like a great change, and I am looking forward to seeing that make its way to a release. Unfortunately, #1872 does not work for us. However, using the other approach that you mentioned does indeed work! Thank you very much for the help!

[2021-02-22 18:46] #1870 closed

[2021-02-22 18:47] bcoe commented on #1870
@jpbriggs408 👍 what problems did #1872 cause?

[2021-02-22 18:50] bcoe commented on #1782
@JoshMcCullough what makes this feature complex, is we'd want to support configuring nested options holistically, for every feature in yargs.

Not impossible, but I think there would need to be a bit of an overhaul of both the parser and yargs to understand the `foo.bar` syntax.

[2021-02-22 19:25] jpbriggs408 commented on #1870
@bcoe no new problems, but also did not fix the failing tests. Stepping into the debugger indicates that, as before, the same intentionally failing case finds its way into later tests.

[2021-02-23 16:11] JoshMcCullough commented on #1782
Gotcha. My use of yargs is very limited, so I didn't mean to trivialize this this issue/fix, though I already realize that I did. :-)

[2021-02-24 03:55] adoyle-h opened #1877 "yargs.showHelp() not print all commands from the default command (*) handler."
I want to print the same help info when entering `cli` and `cli -h` in shell. But now it only prints options, no commands. How to achieve it?

Same case to https://github.com/yargs/yargs/issues/893#issuecomment-307696373 .

[2021-02-24 13:00] OsmanAltun commented on #1877
I think #1826 fixes this.

[2021-02-24 17:52] bcoe commented on #1782
@JoshMcCullough  oh no worries, I didn't take it as such.

I've just been dragging my feet on changes to object syntax, because I know if it was done on in a one off, feature by feature, implementation, we'd spend the next 5 years finding parts of the parser where we'd missed supporting it.

Need to figure out some sort of pre-processing step that hits everything at once.

[2021-02-25 08:59] foxriver76 commented on #1853
Sorry for the delayed reply, unfortunately, the inconsistencies remain the same.

[2021-02-25 15:34] davidfilat commented on #1854
Same here!

[2021-02-26 23:58] SimoneGianniHNP commented on #1854
Actually, it's badly broken. I've been using the following example from yargs examples here:
https://github.com/yargs/yargs/blob/master/docs/examples.md#yargs-is-here-to-help-you

Except i replaced require with import:

[code]

It behaves strange:

[code]

Notice that -f has not been normalized to both "f" and "file", as it should be.

[code]

Notice that it did not recognize --file as an alias of

[2021-02-27 19:02] doitadrian opened #1879 "Question: two commands, one with positional arg, one without it"
I thought this was possible but it seems it's not working:

[code]

So, one command is `xyz`, and the other is `xyz <something>`.

No matter in which order these are, the second command will always get triggered.

Am I maybe missing something here?

I might do it just with a single command, and use `[something]` instead `<something>`, used in the example above. But just wanted to double-check.

Th

[2021-02-28 17:49] bcoe commented on #883
_Cleaning up some stale issues, apologize this one was open for so long.

@wclr @Zelgadis87 @gempain there is now the method available `.strictCommands()`, which I believe provides exactly the behavior you want -- failing on unknown commands, including the default, but allowing any flags.

@OsmanAltun is working on a fix for `.showHelp()` listing commands in #1826, but I think `.strictCommands()``

[2021-02-28 17:49] #883 closed

[2021-02-28 17:53] bcoe commented on #1868
The latest version of yargs, yargs@16.2.0, already has y18n set to `5.0.5`:

[code]

[2021-02-28 17:54] bcoe commented on #1868
If there is a specific version of yargs you would like to request a back port for, please leave a comment here #1839.

[2021-02-28 17:59] bcoe commented on #1879
@doitadrian you can have subcommands on a single command, so you could have:

[code]

and configure these separately. But, you can't have the same command `xyz` both accept arguments and not accept arguments.

I would instead use `[something]` to indicate that the positional is optional, and have logic in your program that deals with the case where no positional argument is provided.

[2021-02-28 18:01] doitadrian commented on #1879
Thanks a lot @bcoe for the response.

I went with the `[something]`, but I also understand the solution you proposed here.

I will close this issue just so it doesn't create a mess.

[2021-02-28 18:01] #1879 closed

[2021-02-28 18:07] #1112 closed

[2021-02-28 18:11] bcoe commented on #1820
@OsmanAltun I think what's actually happening here, is that because `.help()` and `.version()` are special options which are automatically registered, overriding their description is not having the intended affect. Probably because, when an inner command fires, it just re-adds the `.help()` and `.version()` with their default description.

Here's a workaround I'd suggest, if you want to override t

[2021-02-28 18:11] aorinevo commented on #1150
Closing this for now.  If there is interest in picking this up again, I'd be happy to continue the work.

[2021-02-28 18:11] #1150 closed

[2021-02-28 19:38] bcoe commented on #1854
@davidfilat @ctcoleman in ES6, yargs is no longer a singleton, so you need to call `yargs()` to get an instance of yargs, at which point the API is identical, here's a simple example:

[code]

Here's your example rewritten:

[code]

----

@SimoneGianniHNP I don't have a clue what's happening to you, and can't reproduce locally. Could you create an example repository that demonstrates this behavior

[2021-02-28 20:45] davidfilat commented on #1854
Thank you @bcoe! I found the same example in the Github repo README! But your comment will relieve a lot of headache for a lot of people! :D

[2021-02-28 20:55] SimoneGianniHNP commented on #1854
@bcoe before setting up the project, maybe one word can point you in the right direction: TypeScript :D

[2021-03-02 17:02] zypA13510 commented on #880
@bcoe Sorry, I was busy with other things last year. No promise but I'll take a look.

[2021-03-02 17:39] zypA13510 opened #1883 "bug: .check() should not have thrown when fn returned a string"
According the [API documentation](https://github.com/yargs/yargs/blame/b368f95a33f610789fff947b5c3e90494ac3639f/docs/api.md#L120):

However, if `fn` returns a non-empty string (which would be a truthy value), yargs will still throw and exit.

Example:
[code]

The intention is to require both a and b, or alternatively both c and d. But since they are string type, yargs will throw at [lib/validation

[2021-03-02 17:42] zypA13510 commented on #1883
I know adding a `Boolean()` call surrounding the return value will workaround this. But still this is a bug. We should either fix the code or fix the docs.

[2021-03-03 11:08] fxck opened #1884 "Package exports for 'node_modules/yargs' do not define a valid './helpers' target"
Getting this error, node v13.2.0, "yargs": "^16.2.0",

used the simple example

[code]

[code]

[2021-03-03 11:26] fxck commented on #1884
works fine with v14.15.4, is yargs not compatible with older versions of node?

[code]

given this I would assume it should be working with anything above 10..

[2021-03-03 11:27] fxck commented on #1884
hm.. works with v12.21.0 as well, so it has something to do with 13 particularly..

[2021-03-04 23:02] searleser97 commented on #1510
Is there a work in progress over this issue?

[2021-03-05 14:21] hug0b opened #1885 "[Documentation] The documentation website's readability could be improved"
http://yargs.js.org/docs/

- The font color `#2badad` offers a poor contrast with the white background
- The font is quite small

[2021-03-05 15:40] bakewellcake commented on #1821
+1
I'd like to see this as I have a binary that executes shell commands via `execSync()`, so being able to pass options to that without having to terminate the command with `--` would be super helpful.

[2021-03-06 03:12] stevage commented on #895
IMHO there's still a problem here - the `demandCommand` functionality is really not very discoverable. (I tried quite a few things, then googled and landed here).  Maybe putting it in the getting started example would help.

[2021-03-07 17:55] brlodi commented on #1573
Sorry to bring up a closed issue, but what's the current path for testing in an ESM environment? There's no `require` cache to clear in that case.

I get that reading at require-time is likely a performance consideration, but would it be possible for yargs to have a method to force it to re-read `process.argv` and `process.env` after the initial import?

[2021-03-07 20:47] ctcoleman commented on #1854
Thanks @bcoe. I see exactly what you mean. I really appreciate the feedback. @SimoneGianniHNP actually that's right where I'm headed next is learning Typescript. It feels like staying a step ahead of the JS game with Typescript. Typescript seems to be picking up a lot of hype.

[2021-03-07 21:12] ctcoleman commented on #1854
Worked like a charm...

Working reformatted code...

[code]

Terminal output..
[code]

Thanks again@bcoe

[2021-03-07 21:12] #1854 closed

[2021-03-08 10:52] GiladShoham opened #1886 "commands missing on completion"
Hi,
I have a yargs app, you can see it here - https://github.com/teambit/bvm/blob/main/teambit.bvm/cli/app/app.ts
When running it like `bvm --get-yargs-completions` (bvm is the script name) I'm getting this as output (no commands at all):
[code]
I'm wondering if this might be related to https://github.com/yargs/yargs/issues/883 and to https://github.com/yargs/yargs/pull/1826
Since when running` bv

[2021-03-08 17:42] bcoe commented on #1510
This has been fixed on the main branch, and you can experiment with it here:

[code]

It will probably be a few more weeks before `yargs@v17` is released.

[2021-03-08 17:42] #1510 closed

[2021-03-08 17:50] bcoe commented on #1884
@fxck it seems to work fine in anything over `13.7.0`, are you able to upgrade the version of `13` you're using in your environment?

Since I believe v13 is EOL, I don't know that this is worth fixing (if the bug has been addressed on the latest releases of 13).

[2021-03-09 06:39] jedwards1211 commented on #1324
Not just positional arguments, options eat quotes too

[2021-03-09 06:48] jedwards1211 commented on #1347
@bcoe The fact that the double quotes get stripped from `'"--hello -x=yes -v"'` is another huge gotcha, the merged PR makes it seem like that's correct behavior, but it shouldn't be.  In that case the value gets passed to `process.argv` as a single string with the double quotes, so there should be no need for yargs to mess with it at all.

[2021-03-09 17:45] ezze commented on #842
Looks like default values for positional arguments are already [supported](https://github.com/yargs/yargs/blob/master/docs/advanced.md#describing-positional-arguments):

[code]

[2021-03-11 12:03] chipbite commented on #793
Hi! 👋 I basically have the [port example](https://github.com/yargs/yargs/issues/793#issuecomment-290537659) (posted by @bkdotcom above in this thread). I want defaults to be able to look at the values of previously declared args.

@manchuck wrote:

In my use case, I am not sure how the help display is affected, or if it is?

I would like to do something like:
`    var argv = yargs
    .option('hos

[2021-03-12 23:12] bcoe commented on #842
@ezze 👍 missed closing this issue when we introduced the `.positional()` feature.

[2021-03-12 23:12] #842 closed

[2021-03-14 02:46] #859 closed

[2021-03-14 02:55] #1829 closed

[2021-03-14 22:54] bcoe commented on #1042
@quilicicf @adamovsky could I ask you to try `npm i yargs@next` and let me know how it works for you?

If you provide an `async` builder now, yargs will return a promise rather than a parsed arguments object. There are still some bugs to work out, so it will be a couple more weeks before I think it lands.

[2021-03-15 10:19] quilicicf commented on #1042
I'm setting up a reminder, will try to do that in the coming days :+1:

[2021-03-15 22:30] Zamiell opened #1890 "How do I make Yargs exit if it is passed an invalid flag?"
Hello and thanks for the excellent library.
I am not sure if this is a Yargs feature or not, so I am asking here. I searched around and wasn't able to find anything at all!

The following is a Hello-World-style Yargs program.
By default, it includes `--help` and `--version`.
I am adding a 3rd option, `--copy`:

[code]

However, running the program with a bogus flag (e.g. `--foo`) will still work.

[2021-03-16 12:37] quilicicf commented on #1042
Hey @bcoe,

I have played around a bit with the async builder, it works like a charm with a little caveat I didn't expect: displaying the help calls the async builder, which means that in my use-case, the user is prompted for configuration before they get to see the command's help text.

I'm wondering if this can be worked around.

An example of the precise case where this can happen.

* It's the

[2021-03-16 20:25] bcoe commented on #1042
@quilicicf I think we need to execute the builder, before help, otherwise we can't show information like default values (if they're configured in the builder).

I like the idea of providing a second parameter to the builder that indicates whether it's `helpOnly`? This is actually already how things are implemented internally (we pass around a `helpOnly` variable, and use it to short-circuit before

[2021-03-16 20:28] bcoe commented on #1890
@Zamiell try setting [`.strictOptions()`](https://github.com/yargs/yargs/blob/master/docs/api.md#strictoptionsenabledtrue).

Let me know if this does the trick 👍

[2021-03-17 08:17] quilicicf commented on #1042
It'd be awesome to have this `helpOnly` info in the builder indeed :-)
I think it would close this issue gracefully :tada:

[2021-03-23 09:31] seivan commented on #1841
@bcoe @nchudleigh This is still broken with `deno compile` executables.
It works when doing `deno run` but running a binary compiled with `deno compile` will fail. `shim.Parser` is undefined.

It seems to be an issue with `yarg_parser` something here https://deno.land/x/yargs_parser@v20.2.4-deno/deno.ts
is not available during in the runtime when using `deno compile`

[2021-03-23 09:57] seivan commented on #1841
I think I found the issue

There is a distinction between the names of an exported value between  `deno run`  and `deno compile` when importing an object and using it as a key in a new object

[code]

[code]
This will create `{yargParser: Parser}` in `deno compile` while work as intended with `deno run`  where you get `{Parser: Parser}`

[2021-03-23 15:20] gempain commented on #1848
@bcoe any update on this ?

[2021-03-24 14:31] euberdeveloper opened #1892 "Nested commands: help not working"
Hi, I have some nested commands, this is my code:

[code]

If I then do something like `eagle virtualize can --help` it is ok.

If I do `eagle simulate --help`, I get:

![image](https://user-images.githubusercontent.com/33126163/112327238-8a2b6100-8cb5-11eb-84f7-a7574646d6cd.png)

And this is ok, too.

But if i do `eagle simulate can --help`, I get only:

![image](https://user-images.githubusercon

[2021-03-26 17:54] nugaon commented on #1294
@tomsabin @allxie I have a yargs framework which supports this behaviour, but you should use typescript
https://github.com/nugaon/furious-commander#allow-only-either-one-param
if you don't want to use typescript, I inspired by this issue comment to integrate this feat: https://github.com/yargs/yargs/issues/1093#issuecomment-491299261

[2021-03-26 20:28] bcoe commented on #1042
@quilicicf could you try `npm i yargs@17.0.0-candidate.8`? I've added the second parameter `helpOrVersionSet`.

[2021-03-26 20:31] bcoe commented on #1892
@euberdeveloper:

1. mind trying `npm i yargs@next`, we've done a bunch of work related to fixing help output for the next major release.
2. would you be able to create a self contained smaller example of the issue you're running into? I can't run your examle because I don't have the `@lib/modules/simulateCan` dependencies.

[2021-03-26 20:32] #1890 closed

[2021-03-26 20:32] bcoe commented on #1890
@Zamiell I think that's a good suggestion 👍 mind submitting a patch with your recommendation for the docs?

[2021-03-26 20:35] bcoe commented on #1883
@zypA13510 this behavior is intentional, we decided at some point that we'd allow users to return a string representing an Error, as well as an Error:

[code]

Given that the behavior has been like this for years, I think it would be better to update the documentation, vs., changing the behavior. Any interest in submitting the documentation fix?

[2021-03-26 20:36] #1868 closed

[2021-03-26 22:33] bcoe opened #1894 ".parse() with closure behaves strangely with async builder"
There's currently a bug in-which help outputs even if a closure is provided.

Refs: https://github.com/yargs/yargs/pull/1888

[2021-03-26 22:34] #1042 closed

[2021-03-27 13:25] euberdeveloper commented on #1892
Hi, this is it without deps:

[code]

[2021-03-27 13:26] euberdeveloper commented on #1892
If you want there is also this **repl**:  https://replit.com/@euberdeveloper/YargsHelpBug#index.js

You just click on the shell tab and do:

`node . virtualize can --help` (options appear)

`node . simulate can --help` (options do not appear)

[2021-03-27 13:29] euberdeveloper commented on #1892
@bcoe I also tried with the `@next` version but it has the same problem

[2021-03-29 13:19] quilicicf commented on #1042
Will do! @bcoe

[2021-03-30 12:01] quilicicf commented on #1042
Works like a charm!
Thanks :star_struck:

[2021-03-31 05:11] #1749 closed

[2021-03-31 19:45] bcoe commented on #1848
@gempain would happily accept a patch, but unlikely to have time to work on this anytime soon.

[2021-04-03 21:36] bcoe commented on #1892
@euberdeveloper, I see the problem, in the `builder` functions, you don't want to call `.argv` (_you only call this once at the top level_). This works like a charm for me:

[code]

Can you think of a place in the docs where we could call this out?

[2021-04-03 21:36] #1892 closed

[2021-04-03 21:39] #1894 closed

[2021-04-03 21:42] bcoe commented on #557
This is an edge-case that no one else seems to have asked for, and hasn't come up recently.

[2021-04-03 21:42] #557 closed

[2021-04-03 21:47] bcoe commented on #874
@jacobator @gardenappl as folks using yargs' completion functionality, any thoughts on this long standing bug? I wonder what a good approach would be

[2021-04-03 21:49] bcoe commented on #875
@pedro93 please let me know if you can't make coerce work for you?

[2021-04-03 21:49] #875 closed

[2021-04-03 21:55] bcoe commented on #880
In https://github.com/yargs/yargs/pull/1574 @mleguen makes a significant improvement to the alignment of help output:

[code]

And `diff2html`'s output looks much better to me 😄 If there are additional fixes we'd like to make, let's open specific pull requests or issues, for each suggestion.

[2021-04-03 21:55] #880 closed

[2021-04-03 21:56] bcoe commented on #917
I agree that we should update all the docs to use `describe` or `description`, I'm open to either.

[2021-04-03 21:58] bcoe commented on #925
This is working as intended (_choices expects at least one argument._)

[2021-04-03 21:58] #925 closed

[2021-04-03 22:00] bcoe commented on #939
@ehmicky this appears to be fixed on the latest version of yargs (_npm i yargs@next_).

[2021-04-03 22:00] #939 closed

[2021-04-03 22:02] ehmicky commented on #939
Thanks @bcoe!

[2021-04-03 22:02] bcoe commented on #959
Since this issue was opened, we've introduced the `positional` feature, and continued to make an effort to update our docs for `commands`.

Closing this issue, but please let me me know if there are any specific questions that we could clarify in docs still.

[2021-04-03 22:02] #959 closed

[2021-04-03 22:05] bcoe commented on #1052
I believe the functionality you asked for has since been added with [middleware](https://github.com/yargs/yargs/blob/master/docs/advanced.md#middleware) 🥳

[2021-04-03 22:05] #1052 closed

[2021-04-03 22:08] bcoe commented on #939
@ehmicky 👍 just let me know if you do continue to bump into issues.

[2021-04-03 22:19] euberdeveloper commented on #1892
Thank you.

I don't know, I think it could be added to the examples, in something called like "subcommands something", pointing out that argv should be only in the end.

[2021-04-03 22:25] bcoe opened #1897 "Document the fact that, when using nested commands, parse should only happen at top level"
We should document somewhere in our guide for commands, the fact that `.parse()` or `.argv` should not happen in builders.

Refs: #1892

[2021-04-03 22:25] bcoe commented on #1897
CC: @euberdeveloper

[2021-04-04 03:05] bcoe opened #1899 "Remaining work for yargs v17 release"
[v17](https://github.com/yargs/yargs/pull/1876) is a large release, in which I've tried to address many long outstanding oddities related to middleware, async handlers, check functions, coerce functions, help output from commands.

There are still a few more tasks I would like to complete before we push it out the door:

- [x] Node 10 is about to EOL, so I'd like to drop Node 10 before we take on

[2021-04-04 03:37] bcoe commented on #1700
@dillonredding were you able to find a workaround for this?

[2021-04-04 04:13] bcoe commented on #1420
The work in https://github.com/yargs/yargs/pull/1876 should address the issues raised in this thread.

It can currently be installed via `npm i yargs@next`.

[2021-04-04 04:13] #1420 closed

[2021-04-05 08:54] jacobator commented on #874
@bcoe https://github.com/yargs/yargs/blob/master/lib/completion-templates.ts. It looks like for zsh there's an app-specific function defined `_{{app_name}}_yargs_completions()` while it's generic `_yargs_completions()` for bash. Should be an easy fix. I can test and create a PR this evening.

[2021-04-05 14:56] dillonredding commented on #1700
@bcoe, no, I was unable to find the source of the issue.

[2021-04-05 18:42] #1345 closed

[2021-04-05 18:43] sqren commented on #880
Linking to this related issue for visibility: https://github.com/yargs/yargs/issues/1145

[2021-04-05 22:31] AgentEnder commented on #860
Not to beat a dead horse, but here is a minimum reproduction that showcases the difference on windows. This is definitely not a yargs problem though.

https://github.com/AgentEnder/command-line-carets/actions/runs/720531417

[2021-04-06 16:32] ctwise opened #1904 "Support fish shell completions."
Please add command completion support for fish shell as well as zsh and bash.

[2021-04-07 05:20] m0un10 commented on #895
I couldn't find a solution so just did something pretty gross as a workaround.

[code]

[2021-04-07 10:47] seivan opened #1905 "Nested Sub-Commands don't follow through."
Running
`$ mybin mycommand sub hello`
Will output `Missing required argument: command`

[code]

This works if you remove the first `positional` under `mycommand` for `<command>`

I am just not sure how this is supposed to be, am I not allowed to have a positional for a subcommand to describe more or offer choices?

[2021-04-07 12:44] seivan commented on #1096
@mmacfadden Not sure if you got anywhere with this, but I managed to get it to work without using the "command discovery" stuff.

Just add your subcommands in the builder of the previous command.
But afaik now, defining the `<command>` as a positional will throw a missing argument error, so I don't use that. Commented it out for clarity.
[code]

[2021-04-07 12:54] seivan opened #1906 "Better Typescript documentation."
I would love to see how to keep things DRY while retaining type information for arguments and options.

Doing something like what's mentioned here: https://github.com/yargs/yargs/issues/1905
With the `CommandModule<T, U>` approach I have to manage both types and options manually

[code]

While the types are inferred from the builder using in-place adding of commands, I get all previous arguments a

[2021-04-07 13:02] seivan commented on #1899
@bcoe I can help with ` update TypeScript docs.` Or at the very least make some examples, unless you meant like  generated jsdoc?

[2021-04-07 15:00] bcoe commented on #1905
[code]

☝️ if `mycommand` accepts additional commands, it should not use positionals. Instead you should be able to do something like above.

[2021-04-07 15:03] bcoe commented on #1906
@seivan we don't maintain the types for yargs, if you have any feature requests I suggest opening them [here](https://github.com/DefinitelyTyped/DefinitelyTyped).

I do intend to update the docs to reflect the current behavior of `@types/yargs`.

[2021-04-07 15:04] #1883 closed

[2021-04-07 15:06] seivan commented on #1905
@bcoe Thanks for getting back so quickly.
Yes I did mention that

And that's what I've done now, but I am bit confused over the concept of positional.
Shouldn't a subcommand be considered a positional?

Since I'm getting the impression that this isn't a bug, could it be worth documenting?

It's not unreasonable to assume that this would work:
[code]

Either way I'm closing the ticket since the imp

[2021-04-07 15:06] #1905 closed

[2021-04-07 15:08] bcoe commented on #1905
@seivan I think it would be worth documenting, the fact that `positionals` behave like `options`, whereas commands are their own beast.

I think the behavior is correct, mainly because `<sub>` implies there would be a variable called `sub` with some value you've provided, whereas the behavior is actually that if the single constant value `oneOfthesubs` is provided, that command should execute.

[2021-04-07 15:09] seivan commented on #1906
@bcoe Why would you need to maintain them, isn't the project written in TS?
Regardless, it's not a question over types, but if the API has been design so it takes advantage over the type system.

Am I making a mistake here, or are you expected to work with untyped args?

[2021-04-07 15:19] bcoe commented on #1906
Make sure you `npm i @types/yargs`, and then the functionality supported is pretty well enumerated here:

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/yargs/yargs-tests.ts

[2021-04-07 15:20] bcoe commented on #1899
@seivan I would appreciate help with the TypeScript documentation, my intention has been to dig deep into the tests here:

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/yargs/yargs-tests.ts

And try to make sure we reflect as much as possible in the docs.

I would also like to start contributing upstream to `@types/yargs`, for shortcomings.

[2021-04-07 15:38] seivan commented on #1906
@bcoe
The impression I get from glancing over the tests is that type support, or more specifically using types in conjunction with the API is pretty poor as of now. Not to say there isn't any, but it requires a lot of [repetition](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/yargs/yargs-tests.ts#L395)

That being said I did manage to get what I was looking for (THANKS!)  by

[2021-04-07 16:50] seivan commented on #1899
@bcoe That sounds like a great idea, though I'd argue in order to keep things succinct, maybe omit certain approaches that aren't taking advantage of the type system .

I did some tests of my own and cross-posting here:

[code]

While it does not work (out of the box) with `CommandModule`
[code]

However there is partial support for **just** options and **not** positional.
But you can't have a bui

[2021-04-07 16:50] seivan commented on #1906
I am closing this in favour of https://github.com/yargs/yargs/issues/1899  - thanks for your time!

[2021-04-07 16:50] #1906 closed

[2021-04-08 00:45] bcoe commented on #1899
@seivan if perhaps make a candidate PR with the behavior you're seeing added to the examples? I'd also like to add a section on how to init a TypeScript project to use with yargs.

[2021-04-08 15:33] seivan commented on #1899
@bcoe I am just fixing things as I go along
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/52265

Honestly the types should be in here and generated by in the repo since this is a Typescript project after all, but more importantly should be true to the source code more than anything.
Maintaining types externally seems like an accident waiting to happen.

More so, it's painful to see so mu

[2021-04-08 17:09] gr2m opened #1909 "yargs 17: option not listed in help output when coerced"
[code]

Result with `yargs@17.0.0-candidate.10`

[code]

Result with `yargs@16.2.0`

[code]

Reproducible test case: https://runkit.com/gr2m/yargs-yargs-1909

[2021-04-09 03:47] u9g opened #1910 "conflicts problem"
I tried conflicts but if I add it to an option then start the program it always stops and says arguments x and y are mutually exclusive even if they aren't used at once

[2021-04-10 09:05] pedro93 commented on #875
My deepest apologies @bcoe for not having replied sooner.
I am no longer working on the relevant downstream project in years, in fact I'm not sure it is relevant anymore.
That being said coerce does seem to be the answer for these use-cases, I don't remember if I tried it the time and if I did why it did not work.

[2021-04-11 02:04] bcoe commented on #1910
@u9g could you provide some code that demonstrates the bug you're running into?

[2021-04-11 02:23] u9g commented on #1910
Sure

[code]

run: `node .\index.js -v 1.1`

[2021-04-11 03:03] #1820 closed

[2021-04-11 03:46] bcoe commented on #1899
The major issue is that the types in this codebase aren't as feature rich as the well supported types in DefinitelyTyped. We haven't made much use of generics, to ensure that the types defined when configuring yargs carry over to the parsed Arguments object. Whereas, `@types/yargs` has put thought into this.

I think shipping the types we have in yargs would be a step backwards for usability, and

[2021-04-11 04:15] #874 closed

[2021-04-11 04:24] #1909 closed

[2021-04-11 04:27] bcoe commented on #1909
@gr2m a fix is now published to `+ yargs@17.0.0-candidate.11`, thank you for the feedback and solid bug report.

[2021-04-11 13:34] seivan commented on #1899
Yeah I don't mean to it to be a regression, if that is the case, I understand why you haven't.

Hmm, I somewhat disagree on this, or technically it's two points:

First off is the complexity of types themselves, I genuinely think it would be better if they were part of the code base as it would tied to the code and be less broken, I do find runtime errors and issues that the type checker would hav

[2021-04-11 13:40] seivan commented on #1899
Also I got a few questions that would help me try to make an alternative approach if you would be open to it, but I need to know the priorities here.
One of the issues is the concept of the function based `builder`.

The reason that's an issue is that it allows for defining arguments and positional at runtime, if yarg could abandon that notion that those would be typed or even better just get rid

[2021-04-11 15:30] gardenappl opened #1912 "Positional argument description does not show up with showHelp(), but works with --help"
As the title suggests:
[code]
With --help I get this:
[code]
But with an explicit call to `showHelp()` I only get this:
[code]

(I explicitly call showHelp() whenever there is no [source] argument, and nothing is piped into stdin)

Tested with yargs 17.0.0-candidate.11, link to my [full source code is here](https://gitlab.com/gardenappl/readability-cli/-/blob/09fe1b8bdaf8271ea200dd86742c3a6b4da4ad

[2021-04-12 02:20] bcoe commented on #1816
`hideBin` now exists in `@types/yargs`.

[2021-04-12 02:20] #1816 closed

[2021-04-12 02:46] #1912 closed

[2021-04-12 02:47] bcoe commented on #1912
@gardenappl fix published to `next` (`yargs@17.0.0-candidate.12`) let me know if you continue to find any issues.

[2021-04-12 02:53] bcoe commented on #1899
@seivan I'm close to calling it a night and watching some :tv:, just wanted to leave a note that I'll respond to your last messages in detail early this week.

[2021-04-12 13:58] gardenappl commented on #1912
Thanks for the fix

[2021-04-18 12:54] smhg opened #1916 "boolean option with optional string value"
This is probably not an issue, but rather a question:

The existing translation tool `xgettext` (part of GNU gettext-tools) allows these different usages of their `--keyword` parameter:
- `xgettext --keyword=foo --keyword=bar source.js`
  Scans source.js for `foo`, `bar` and the default keywords (`_`, `gettext`,... for JavaScript files).
- `xgettext --keyword=foo --keyword=bar --keyword source.js`

[2021-04-18 13:03] smhg commented on #1916
Additionally, the short version acts in a similar way:
- `xgettext -kfoo -kbar source.js`
- `xgettext -kfoo -kbar -k source.js`

In this case too a space after the parameter is considered to signal boolean use. `xgettext -k foo` would cause `foo` to be interpreted as the source file, ignoring default keywords.

[2021-04-20 18:14] danthegoodman opened #1917 "[v17] Error with async builder"
## Problem
Using an async builder used to work but is now producing erroneous results.

## Example
Given this minimal script:
[code]

The following commands produce this output:
[code]

[code]

[code]

[2021-04-20 23:44] Celthi commented on #1910
I had the same problem so I debug the code. I think the bug is in the following line
https://github.com/yargs/yargs/blob/395bb67749787d269cabe80ffc3133c2f6958aeb/lib/validation.ts#L391
The above code check if the argument is undefined but actually we should still check if it is `false` or `true`.

[2021-04-24 09:16] Chriscbr opened #1918 "Specify "version" as non-global"
I would like it so that when I run `myscript --version`, it returns the version obtained from package.json as usual, but if I run `myscript subcommand --version` it should error (unless a subcommand has defined --version as a flag independently).

For example, if I use the starter code (slightly simplified):

[code]

... running `./script --version` should return the version string, and `./script

[2021-04-25 01:10] bcoe commented on #1918
@Chriscbr I was about to suggest trying `global: false`, I'm not sure whether or not it works for version; if it doesn't, I think we should make it so it does.

[2021-04-25 11:13] foxriver76 commented on #1853
For me this is not fixed as stated, however I am unable to reopen.

[2021-04-26 02:26] #1917 closed

[2021-04-26 02:29] bcoe commented on #1917
@danthegoodman good catch, turned out to be a fairly major bug.

Could you try `yargs@17.0.0-candidate.13` and let me know if it works for your use cases?

[2021-04-26 07:15] foxriver76 opened #1926 "actively calling showHelp shows different output then help on fail does"
In our code we use commands and "subcommands", calling our tool via `iobroker object` will result in our code processing the command and then calling `yargs.showHelp()`, the generated output looks like:

[code]

I would expect, that it shows `  iobroker object get <id>` and not `iobroker get <id>`  as it is done when I call `iobroker object --help`:

[code]

Why is there a difference, is this inte

[2021-04-26 14:54] danthegoodman commented on #1917
@bcoe It works! Thank you :)

[2021-04-26 18:45] ashutoshvarma commented on #997
This issue really saved my day 😄 , Thanks for putting your time and effort into building such a great node module

[2021-04-27 07:05] Celthi commented on #1910
@bcoe I have found the suspected bug above, could you review it? I can make a PR if we agree on the fix.

[2021-04-27 10:26] ashutoshvarma opened #1927 "Prevent sub-command name being populated in `args._`"
It seems command names are also included in `argv._`, is there a way to prevent this?

I plan to use `argv._` as a means to store args that will be passed to another cli, like `npm run script -- scriptarg1 scriptarg2 ... scriptargn`.

For example,
[code]

I have been using this kind of setup
[code]

[code]

[2021-04-28 05:40] mshrtsr opened #1928 "Unexpected `undefined` in inferred type by `option()`"
Hi there, and thanks for the great package.
I encountered unexpected result with inferred type by `option()`.

## Summary

The inferred type by `option()` contains unexpected `undefined` when `default` and `demandOption: true` are used together.

## Reproduction

Set `default: <environment variable>` and `demandOption: true` together to `option()`.

[code]

Option `x` is expected to be `string` be

[2021-04-28 05:41] mshrtsr commented on #1928
Can I create the PR to https://github.com/DefinitelyTyped/DefinitelyTyped ?

[2021-04-28 09:51] hardfist opened #1929 "how to bundle yargs with esbuild"
It seems that esbuild will leave import.meta untouched when bundling, which make the bundle code not working for cjs format

[2021-04-29 14:54] mustermeiszer commented on #571
I am unable to create a solution with this advice. Which is probably because of my novice knowledge about javascript.
Would appreciate help a lot.

I have two subcommands I want to refer to. The modules both are exporting `command`, `describe`, `builder`, and `handler` as their default.  But I am unable to find out, how I am using the visit command properly. Especially what must `commandModule`be

[2021-04-29 15:10] fabis94 commented on #571
`commandModule` is going to be the exports object from the imported module. So the default export is going to be available at `commandModule.default`, named export `foo` is going to be available at `commandModule.foo` etc.

The visit function should return the `CommandModule` object, so the object that has command, describe, builder etc. props.

If your visit function uses the default export then

[2021-04-29 16:46] DullReferenceException commented on #1839
It looks like the `gulp` project is unwilling to go the route of compatibility breakage, and they're sitting on an old version of yargs (`^7.1.0`) which is using `yargs-parser@^5.0.1` which has a [Prototype Pollution vulnerability](https://npmjs.com/advisories/1500). Think a backport is possible for `yargs` / `yargs-parser`?

[2021-04-30 11:50] akefirad opened #1930 "How to test parsers using Jest"
Not sure if it's a bug or feature (of Jest perhaps?). I've got a simple prototype with subcommands (within a folder, just like the [example](https://github.com/yargs/yargs/blob/master/example/command_hierarchy.js)). Everything works just fine. I can use the parser and the output of the parser (err, output, and argv) is exactly what I expect:
[code]
However when I try to write a test, it seems that

[2021-05-02 09:18] ssbarnea opened #1931 "Implicit command example not passing eslint"
The simple example from https://github.com/yargs/yargs/blob/master/docs/advanced.md#default-commands does not pass eslint, generating an **Unexpected empty arrow function** when used inside a ts file.

[code]

What would be the typescript version of it? I would be happy to contribute one such example once I identify the correct syntax to be used.

[2021-05-02 18:01] bcoe commented on #1927
@ashutoshvarma you can use the [populate--](https://github.com/yargs/yargs-parser#populate---) configuration setting to get the behavior you're looking for, it will populate `--` rather than `_` with everything after `--`.

Let me know if this does the trick for you 👍

[2021-05-02 18:01] #1927 closed

[2021-05-02 18:08] bcoe commented on #1930
@akefirad I think it might be better to open a question with the Jest folks, if this is working fine in isolation not using Jest.

Feel free to reference this issue, and there's anything that needs to change on yargs' side to accommodate.

[2021-05-02 18:08] #1930 closed

[2021-05-02 18:20] bcoe commented on #1926
@foxriver76 could you please try the next release of yargs@17 (`17.0.0-candidate.13`), I can reproduce your bug on `yargs@16`, but not the latest release of `v17`:

[code]

with code:

[code]

[2021-05-02 18:29] bcoe commented on #1931
For TypeScript you could instead write:

[code]

If you would like to contribute some updated docs, it would be lovely to have some more examples in [TypeScript Usage Examples](https://github.com/yargs/yargs/blob/master/docs/typescript.md).

It might be worth trying to organize what we currently have a bit better, adding some headers for the different examples.

I suggest also flagging @seivan on

[2021-05-02 18:32] bcoe commented on #1929
@hardfit could you provide a minimal example I could run, demonstrating the build process.

`import.meta` should only be used by the ESM version of yargs. If you instead bundle `build/index.cjs`, it does not expose `import.meta`.

[2021-05-02 18:53] #1871 closed

[2021-05-02 19:00] ashutoshvarma commented on #1927
Yeah, that's exactly what I was look for
Thanks for the help !

[2021-05-02 19:02] bcoe commented on #1899
@seivan I felt I'd checked enough boxes, with regards to goals for a v17 release, that i would publish `v17`.

TypeScript improvements can be an ongoing project.

[2021-05-02 19:02] bcoe commented on #1899
released 🎉

[2021-05-02 19:02] #1899 closed

[2021-05-02 19:22] foxriver76 commented on #1926
yes, fixed now. Thank you!

[2021-05-02 19:22] #1926 closed

[2021-05-03 12:05] hardfist commented on #1929
you can reproduce the problem here, https://github.com/hardfist/yargs-bundle
[code]

[2021-05-03 12:30] ashutoshvarma commented on #1927
@bcoe Sorry for pinging you again
Can you tell me how can I set `yargs-parser.populate()`  from `yargs` itself?

[2021-05-03 15:14] wKovacs64 opened #1934 "[v17, ESM] version command not working when project installed globally"
`[kGuessVersion]()` isn't working (returning `unknown`) as `escalade` can't find the correct `package.json` because it's being passed an incorrect value for `startDir`. The issue seems to be with `mainFilename` in the ESM platform shim. I believe this only impacts ESM projects that are installed globally (?).

See the following:
https://github.com/yargs/yargs/blob/a1fe8639365b8c0f3f0f099a9d7140ee9

[2021-05-03 17:25] gajus opened #1935 "How to inspect env(prefix) value / How to inspect available env variables?"
Currently, `--help` provides information about available parameters such as:

[code]

Is there an existing way to document available environment variables?

e.g.

[code]

Where `APA_` is our `env(prefix)`.

[2021-05-03 17:35] gajus commented on #1935
The bigger problem is that it seems like there is no way to inspect `env(prefix)` at the moment.

[2021-05-03 20:43] bcoe commented on #1935
@gajus i.e., seeing which prefix has been configured for the app?

[2021-05-03 22:52] bcoe commented on #1839
@DullReferenceException this prototype pollution issue was already addressed in yargs@5.0.1.

CC: @lirantal for visibility, we'd initially released the fix as `5.0.0-security.0`, but this meant that people were pulling in `5.0.0`, based on SemVer, which did not have the patch.

[2021-05-03 23:00] DullReferenceException commented on #1839
OK, thank you. I guess the issue is just that `npm audit` [doesn't recognize that `yargs-parser@5.0.1` fixes the issue](https://www.npmjs.com/advisories/1500/versions). It does look like `5.0.0-security.0` is listed as good, just not `5.0.1`.

[2021-05-03 23:33] gajus commented on #1935
Yes.

We are now asking people to inspect program source code... (in our company's general guidelines), which is not ideal.

[2021-05-04 08:21] chrmarti opened #1938 "Help wrapping breaks words"
`man` preserves words or tries to properly break in the middle of a word with a `-`. Maybe a similar algorithm could be applied by `yargs`.

[2021-05-04 13:28] koraa opened #2311 "Dash inside option name with parser option strip-dashed yields undefined value"
This is a bug report; minimal example of the bug:

[code]

outputs:

[code]

This is incorrect. The value of 'fooBar' should be 'hello', not undefined and the 'foo-bar' property should be entirely removed.

This bug does not appear with options not containing a dash:

[code]

yields the following correct output:

[code]

## Workaround No 1

Setting 'strip-dashed' to false yields correct behaviour:

[2021-05-06 07:58] dibog opened #1940 "Example for Typescript and SubCommands"
Are there any examples how to work with sub commands and typescript?

[2021-05-06 11:48] lirantal commented on #1839
On the Snyk side, the database should be up to date now with 5.0.1 including the fix.

[2021-05-06 13:29] ahmedsalah92 opened #1941 "yargs.command is not working (error msg: yargs.command is not a function)"
I am trying to create yargs command, when I run the app I get an error.

When I run the following:
[code]
on my node.js code:
[code]

Error:

[code]
Yargs version:1.1.0
node version: v14.16.0
vs code version
1.55.2(user setup) OS:Window 10

[2021-05-06 14:44] bcoe commented on #1941
Hello @ahmedsalah92, yargs@1.1.0 is very old (_it was released 7 years ago_), and predates the addition of commands.

Try installing the latest version of yargs, `npm i yargs@ 17.0.1`, it should do the trick for you.

[2021-05-06 14:46] bcoe commented on #1940
@dibog I do not believe there are currently any examples. My expectation would be that it works similarly to plain JavaScript, but I'm not sure how smart it is about propagating typing.

[2021-05-06 14:51] bcoe commented on #1938
@chrmarti yargs should be making an effort to wrap words:

* can you provide a minimal example that has poor wrapping behavior.
* what platform are you on?

[2021-05-06 15:08] ahmedsalah92 commented on #1941
@bcoe It worked! Thank you very much.

To explain why I used this old version:
The latest version didn't work, So I used yargs@1.1.0 because this is the version that was used in the tutorial I am following.

[2021-05-06 15:31] #1941 closed

[2021-05-07 09:40] chrmarti commented on #1938
This turns out to be a problem with the esbuild bundling. The `locales` folder is not available at runtime. Closing in favor of https://github.com/yargs/yargs/issues/1929. Thanks.

[2021-05-07 23:14] khrome opened #1942 "How do I show choices without validating them?"
I have an array of algorithms I want to present to the user, but it's also legal to `+` the strings together.

Ideally I'd like to have my own validation for the field, but just disabling the auto validation would be great and `.skipValidation()` does not seem to have any effect.

Suggestions?

[2021-05-10 00:51] karizma opened #1943 "Strict commands on sub commands & have clear usage"
Currently I have a project with sub commands, here's an example:

[code]

This would be `./cmds/config.js`:
[code]

The problem I'm receiving is when I specify an invalid command on the config command like so: `cli config goo`, it does not recognize it as an invalid command. It just doesn't output anything.

I realize the problem is when I am specifying the command, `command: "config <command>"`,

[2021-05-10 04:36] karizma commented on #1943
Eh I guess it doesn't really make too much of a difference

[2021-05-10 04:36] #1943 closed

[2021-05-12 00:00] pbrn46 opened #1945 "`--help` does not display default properly when using `.default()`"
`--help` is displaying incorrectly when using `.default()` compared to `.option()`. I've provided examples below.

Edit 1: Currently using yargs 16.2.0 through default npm install.
Edit 2: Also tested on yargs 17.0.1 and it does the same thing.

[code]

[code]

[2021-05-13 15:00] chrfrenning commented on #684
+1 - still relevant 2ish years later - anything that grows beyond 4-5 commands will benefit from this in terms of usability.

[2021-05-16 13:49] OnkelTem opened #1946 "How to build yargs parser for multiple executions?"
I'm writing a program running as a service which should parse incoming commands.
So I don't parse them once when program starts. Instead I should process them multiple times using the same parser.
But the docs here suggest CLI usage only, and parser construction and execution phases are merged into one solid block:

[code]

How can I build the parser and then use it separately?

[2021-05-16 20:18] StoicaNicusor opened #1947 "onFinishCommand is not a function"
code :
[code]

If I remove the `onFinishCommand` call, it works just fine.
Here is the full error message :
[code]

[2021-05-16 21:32] khrome commented on #1942
I wound up building my own thing on top of yargs that rolls it's own choices, justifies it then stuffs it in the description. Not the most optimal solution, and def not a yargs fix... but it works for my use case. Close or keep open depending on your desire to cover this case in the future.

[2021-05-19 19:36] antmarot commented on #1864
A quick note to say that just happened to me as well.
For anyone wondering how to disable the default version option, just use `.version(false)`.

[2021-05-20 10:37] fwh1990 opened #1948 "How to migrate from yargs@16"
The usage at yargs 16 can be:
[code]

Then `yargs.js` is gone since upgrade yargs to 17. I'm going to migrate project to ESM, and this stop me to next step.

[2021-05-20 22:30] loynoir opened #1949 "[FeatureRequest] make `require("yargs").default` as same as `require("yargs")`"
### Brief
`strictOptions` can not be trigger under `require("yargs").default`

### Background
[official document](https://github.com/yargs/yargs#esm)

[code]

[code]

### Expected
[code]
[code]

### Actual
[code]
[code]

### Workaround
[code]

[code]

### Reproduce Gist
[gist](https://gist.github.com/loynoir/580bb181222bf21452412c0a86ae9cbf)

[2021-05-20 22:57] karizma commented on #1946
You already pretty much answered your question, just don't add an input or call .argv or .parse and save it to a variable.

Example:

[code]

[2021-05-21 01:40] karizma commented on #1949
The problem is with conversion from esmodules to commonjs, not a bug.

You either need to use `import * as yargs from "yargs"` or need the `allowSyntheticDefaultImports` for typescript.

Read more here:
https://www.typescriptlang.org/tsconfig#allowSyntheticDefaultImports

Tried to explain it for this specific scenario since it's a bit unique but the first link should give you enough info:
TL;DR: Y

[2021-05-21 02:03] karizma commented on #1947
`onFinishCommand` was removed, PR which removed it: https://github.com/yargs/yargs/pull/1823

[2021-05-21 06:28] StoicaNicusor commented on #1947
@karizma , OK.
I can still make use of `.fail()` in conjunction with `await` to check if all commands have been successfully executed.
Thanks for your time.

[2021-05-21 06:30] #1947 closed

[2021-05-21 07:30] loynoir commented on #1949
Oh, didn't notice there is a `.default` method.

[2021-05-21 07:40] loynoir commented on #1949
I think it might be better to rename `.default` method to something else.
As `.default` seems semi-keyword for era among esm and cjs.

[2021-05-21 07:44] loynoir commented on #1949
Of course, the fastest fix: update document. 🙃

[2021-05-21 16:11] karizma commented on #1949
I think the readme is correct. Yargs uses different file exports for esm, deno and cjs, so you don't need to use `import * as yargs from "yargs"`.

[code]

[code]

Although I agree,, might wanna change the function name. `defaults()` was a previous name, but another option is `defaultValue()` or `defaultOption()`.

[2021-05-21 18:47] #1949 closed

[2021-05-21 18:50] bcoe commented on #1949
@loynoir, as @karizma says you should be able to use `.defaults`, rather than `default`, and work around your compilation issue.

[2021-05-21 18:52] bcoe commented on #1948
@fwh1990 if you are using pure ESM, you should be able to just do this:

[code]

[2021-05-21 18:54] bcoe commented on #1946
@karizma thank you for your help fielding this question.

@OnkelTem does this approach work for you? an alternative would be instantiating the parser each time:

[code]

which has the advantage that there's no shared state between executions.

[2021-05-21 18:55] #1942 closed

[2021-05-21 18:55] bcoe commented on #1942
@khrome I think for these advanced cases, my advice would be to try using yargs' custom check functionality, which allows you to provide your own validation for arguments.

[2021-05-21 23:35] loynoir commented on #1949
@karizma @bcoe Anyway, thanks for your reply. Wish you have a nice day.  😃

[2021-05-23 06:14] fwh1990 commented on #1948
Well, so the singleton mode had been abandoned already.

[2021-05-23 08:53] thurinus commented on #1844
I think ran into the same issue today while running through a tutorial.
package.json:
[code]
app.js:
[code]
running `node .\app.js` would yield:
[code]
If I dropped the `"type": "module"` to go back to commonJS and used `const yargs = require('yargs')`, it works fine. Am I making a rookie mistake?

[2021-05-23 11:08] ermish opened #1951 "Optionally create options based off typescript interface"
It would be awesome to be able to create options by passing in a typescript interface.

It should be able to automatically pull:
- property name
- value type
- required (optional)

It would still be missing default values, descriptions, etc. but would be great for simple projects!

[2021-05-24 13:21] libinvarghese opened #1952 "Conflicts validations being skipped with parser configuration skip-dashed"
When conflicts are set for a 2 (or more) worded option, along with parser configuration  `skip-dashed` enabled, parse does not throw error when both the conflicting arguments are provided.

It works perfectly, if `skip-dashed` is not enabled.

Please find the code demonstrating the issue at [repl.it](https://replit.com/@libin_v/bug-yargs-conflicts-skip-dashedSHARED)

[2021-05-24 13:23] libinvarghese commented on #1952
Updated [repl.it link](https://replit.com/@libin_v/SHARED-bug-yargs-conflicts-skip-dashed)

Also updated in description.

[2021-05-25 12:00] Dunky13 commented on #1010
I'm facing this issue now as well, is there a workaround for this?

[2021-05-25 13:30] Dunky13 commented on #1725
I am facing a similar issue, when I run a command as an ES6 module
and the handler is defined as follows:
[code]

The output is blank, but it exits with exit code 1.

[2021-05-25 16:48] Mikilll94 commented on #1886
@bcoe
Any status on this? I am also experiencing this bug.

[2021-05-27 13:02] MikeYermolayev opened #1953 "Typescript example doesn't compile"
Hello,

I'm trying to use yargs with typescript but receive errors even after copying code from the docs.

The interesting part is that it starts to work after I `await` for result of argv.

![image](https://user-images.githubusercontent.com/8783498/119830065-8fe73200-bf04-11eb-871c-2fba95078e3b.png)

Here is the text of error:

[code]

Here is my tsconfig:
[code]
I'm using:
[code]

Thanks in adva

[2021-05-27 15:52] rivy opened #1954 "❓ Rename 'Positionals:' group?"
Is it possible to rename the 'Positionals:' group?

I don't see anything in the documentation; in reviewing the code, it looks like I'd need to replace the `getPositionalGroupName` function, but there's no API to do that...

[2021-05-27 20:17] GiladShoham opened #1955 "allow show version to be async function"
It seems that the show version function is only supports sync function.
It would be great to have support for async function as well.
(In my show version I want to show the available remote version as well, which require async call to remote server)

Thanks,

[2021-05-27 22:29] davidfirst opened #1956 "How to theme/style/color the help output of a command?"
I would like to have the command description as green and the flags/options as blue.
Is there an option to do it?

Thanks!

[2021-05-31 04:53] Chriscbr commented on #1918
For posterity / if anyone else encounters this, the workaround I'm using is to manually define an option named "version" that simulates the version lookup in package.json, but only if no other arguments were passed:

[code]

[2021-05-31 08:56] seivan commented on #1899
Sorry for the delayed response: Congratulations!

[2021-05-31 19:22] jly36963 commented on #1945
I believe it is working properly. The `desc` and `defaultDescription` properties do different things.

- desc -- describes the option
- defaultDescription -- describes the option's default

Note: In the usage output, defaultDescription (if provided) takes priority over default value.

[code]

[2021-05-31 20:18] pbrn46 commented on #1945
@jly36963 Thanks for the insight! This makes more sense -- and the default description looks like a useful feature.

I re-read the docs for `.default(key, value, [description])` and it says:

Using this syntax, I think what I'm looking for would then be:

[code]

[2021-05-31 20:18] #1945 closed

[2021-05-31 22:46] karizma commented on #1954
`updateStrings()` should do the trick.

https://yargs.js.org/docs/#api-reference-updatestringsobj

[2021-06-01 01:36] rivy commented on #1954
Thank you kindly!

[2021-06-01 01:36] #1954 closed

[2021-06-01 01:47] karizma commented on #1953
As you can see from the error, the type of argv is a union. The first item is the arguments and the second one is a promise which resolves to those arguments. That is why when you await it, it gets the correct type.

The reason it's a union is because in yargs you can have commands, and the handlers for those commands can be asynchronous. And so `.argv` would resolve after that command finishes.

[2021-06-01 03:59] karizma commented on #1951
I don't think this is possible. A typescript interface is not a real value, you can't pass it into a function or derive a real value from it.
You can pass it in as a generic but that still can't help you create the actual value.

Although I am not a typescript expert, so correct me if I'm wrong.

[2021-06-01 18:07] karizma commented on #1956
I don't think there is currently an api to do so. You can use `.help(false)`, a middleware function and a custom fail function to get control of the help output, but you will need to find a way to retrieve the description and options. Replacing the options is pretty easy since they are prefixed with either -- or -, but descriptions and positional options will take more work.

[code]
![image](https

[2021-06-01 18:15] karizma commented on #1956
This could be a feature request though, maybe have a method that takes in modifiers for any of the text:

[code]

Although I don't think it should be a priority since most people don't use colors for cli help output.

[2021-06-01 21:57] davidfirst commented on #1956
@karizma , thanks!
Almost there. The problem with the regex above is that every word that starts with `-` or `--` is colored. I have such occurrences in the descriptions.
I tested it and besides the issue above, it seems to be working. Thanks!

Ideally, would be an API that I can re-format the options only.

[2021-06-02 00:22] karizma commented on #1956
I've tried a couple things with regex and I don't know if it's possible with regex alone.
The next solution would be just putting a limit on how many times a line can be replaced. But I don't think there's a built in way
to do that with javascript, and def not a way to specify that limit is for each line.

So instead I just split the help message line by line, and then if a line is an option it re

[2021-06-02 05:46] jly36963 commented on #1861
The check [here](https://github.com/yargs/yargs/blob/master/lib/validation.ts#L175) gets skipped because `currentContext.commands` is an empty array, and so is `commandKeys`. A few lines later, `unknown.length` is 0, so `usage.fail` never gets called.

I'll look into this tomorrow, hopefully I can figure out why this happens.

[2021-06-02 16:49] davidfirst commented on #1956
@karizma , thanks for you help! I really appreciate it.
I continued your work and replaced this:
[code]
with
[code]
so it doesn't replace all, only one occurrence of `--` and one occurrence of `-`.
It seems to be fine for the most cases. I'll have an issue when an option doesn't have an alias and has `-` in the description. but it's good enough.

Thanks again!

[2021-06-02 19:06] karizma commented on #1956
For your `-` regex you can use `^\s+` so it only captures it if the lines starts with it. But this only works if your options are in the format of: `-s, --silent` it will fail if they are `--silent, -s` (I'm pretty sure yargs doesn't even output options like this so it should be fine).

If you plan on using replace twice, you don't need a replacer function, and you don't need to capture the `--` o

[2021-06-04 04:58] markus456 commented on #1005
This would be very useful for fuzz testing and auto-generating documentation from the help output of yargs. Having to list all commands and the types they expect manually is a time consuming process.

Currently this can be emulated by parsing the output of `node program.js --help` and recursively calling `--help` for each value listed under the `Commands:` heading. This seems to be rather error pr

[2021-06-04 11:33] mafo5 commented on #1953
Thanks. Exactly what I am looking for. Should be in the documentation!

[2021-06-04 17:08] tobystaines commented on #1953
I have been having the same issue (+1 to add this to the docs), but when I add `.parseSync()` I get the error "TypeError: yargs_1.default(...).options(...).parseSync is not a function"

[2021-06-04 20:48] karizma commented on #1953
@tobystaines what versions of `@types/yargs` and yargs do you have?

[2021-06-05 14:04] bluelovers commented on #1953
a demo for how make argv to sync like old day

[code]

[2021-06-05 16:53] devomaa opened #1959 "how to make a option, that doesnt require the -- prefix"
basically what im tryign to do is
[code]
but i dont seem to find a method that can parse the arguments for this
if this exists, sorry for wasting your time!

[2021-06-05 23:46] karizma commented on #1959
Do you mean positional arguments?

You can use the command property to define positional arguments like this:

[code]

The `<>` means the option is required, if you wanted it to be optional you would just wrap it in brackets instead: `[from-file]`

After that if you want to define properties for the option you can use [`#positional()`](https://yargs.js.org/docs/#api-reference-positionalkey-opt)

[

[2021-06-06 08:01] niyozbek opened #1960 "Locales Translate to Uzbek"
Uzbek is my native language, and I would like to contribute by translating it.

[2021-06-06 10:45] devomaa commented on #1959
oh, thanks! this is exactlly what i was looking for!

[2021-06-06 10:45] #1959 closed

[2021-06-07 08:35] tobystaines commented on #1953
@karizma 17.0.0 (and yargs 17.0.1, ts-node 10.0.0/node 14.16.1)

[2021-06-08 16:26] bcoe commented on #1886
No updates, if someone has the time to submit a failing test, it can help a fix land faster.

[2021-06-08 16:28] bcoe commented on #1010
@Dunky13 could you set `scriptName` as suggested? If this doesn't work, could I bother you to open a new issue (since this has been closed).

[2021-06-08 20:57] jeff-hykin commented on #793
I think I found a cleaner way to handle this without changing the codebase
[code]

[2021-06-09 05:59] max-prtsr opened #1963 "ts-node-transpile-only shebang uses ts-node-transpile-only as script name"
create `test.ts`
[code]

[code]

gets

[code]

if change shebang to `ts-node`

[code]

[2021-06-09 06:02] max-prtsr commented on #1963
Upd: `ts-node-transpile-only test.ts` uses the same behavior

[2021-06-09 08:55] chipbite commented on #793
This way of expressing it is a bit verbose / more code than I'd like - still.

But I kindof see where it is going, and it exposes some details I was not aware of, that I think are informative for the problem.

[2021-06-09 12:56] jeff-hykin commented on #793
I agree. It was more clean and then I ran into the problem of commands needing to await the second parse, and defaults not being overridden

I think a PR could easily hide all the messy logic to make it look something like this:

[code]

The PR would need to
1. (Easy) Add a `dynamicDefaults` method that calls parse, sets the yargs.firstPass, and calls parse again
2. Re-process the option on the se

[2021-06-09 13:08] manchuck commented on #793
If we are going to add a `doubleParse`, why not a `tripleParse` or `quadrupleParse`? When I hear something like that I think of middleware flow instead. You can add middlewares that run before or after parsing and they will get processed in the order they added.

[2021-06-09 13:36] jeff-hykin commented on #793
@mleguen

Just FYI/ping any thoughts on this second method or potential PR?

The first method ([this one](https://github.com/yargs/yargs/issues/793#issuecomment-521250679)) doesn't really work with commands since commands and the help message. If commands are included before both parses, they would end up in the help, but they'd also be executed twice and the first time wouldn't have the correct d

[2021-06-09 15:47] chipbite commented on #793
@jeff-hykin - simpler but still too convoluted, IMO.
I am thinking like this: If it is that complex to use, few will use it and the value of the development will be too low to motivate actually doing it...

[2021-06-10 07:50] Dunky13 opened #1964 "Scriptname shows up before each command in `--help`"
This issue is related to: https://github.com/yargs/yargs/issues/1010#issuecomment-856916540

When setting the scriptname, as suggested, it still shows:

[code]

But I expect:
[code]

[2021-06-10 20:57] sandhawke opened #1965 "Asking for shell completions invokes command function"
When I press TAB on an already-complete command (without pressing ENTER), the command actually **runs**.

Here's a bug.js to show the failure:

[code]

[code]

[2021-06-11 14:15] sandhawke commented on #1965
My workaround (in the application) is to add a doingCompletion flag

[code]

[2021-06-11 16:40] jeff-hykin commented on #793
@chipbite I mean, this is my first time trying to use yargs. If I didn't find a solution, I would have thrown out yargs and manually parsed the arguments to get ideal/dynamic defaults, like I've done on my past projects.

I'm not trying to motivate anyone to use  dynamic defaults, just trying to make it easier for devs to implement dynamic defaults, so they can avoid manually parsing args.

[2021-06-12 15:23] Whobeu commented on #1953
Thanks! This was driving me crazy. I have several Typescript projects using yargs. Some were suddenly throwing new errors with argv properties like noted in this issue. Others were still fine. I even tried putting some of the problematic modules into a directory where modules were not having problems and they were fine there. Finally discovered the "good' directories were still on yargs 16.2.0 as

[2021-06-13 16:24] CupOfTea696 opened #1966 "Coerce gets called twice for nested command positionals"
Coerce gets called multiple times for nested command positional, this could cause issues when the arg type is converted.

**Example Script:**
[code]

**Expected Output:**
[code]

**Actual Output:**
[code]

[2021-06-14 15:27] dsl101 commented on #1910
I'm getting a very similar problem, and I don't know how much it's related to #929 which was marked as fixed a long time ago. Here's a trivial example which will throw mutually exclusive warnings, no matter what:
[code]
Removing the default value for `--all` allows `--limit` to be used, but still throws an error if you try to use `--all`

[2021-06-14 21:02] chpio opened #1967 "Rollup: Circular dependency"
yargs@17.0.1, yargs-parser@20.2.7

Using rollup@2.51.2 with the @rollup/plugin-node-resolve@13.0.0 plugin with no/default options.

Yargs imported as shown in the es module example.

[code]

[2021-06-15 09:50] Dunky13 opened #1968 "Lazy completion in docker"
### Situation:
Application is called: start (Just as example)
Starting location `start.sh`
This calls `docker run -rm -it -v $PWD:$PWD --workdir $PWD node:16 dist/index.js` (`dist/index.js` is compiled from TypeScript)
Also, it is running ESNext - using ESM
`src/index.ts`:
[code]

The completion script will create something like:
[code]

But what happens it will call the shell script `start` to pa

[2021-06-15 11:20] dsl101 commented on #1910
And here's an example using _only_ booleans that seems like it's such a common use case I must be doing something wrong. I have 2 'flags' to pass (`--some` or `--all`) which are mutually exclusive, and if nothing is passed, the default should be `--some`:
[code]
With this setup, it's not possible to specify `--all` without getting the conflict error. I'm not sure if there's an official way to get

[2021-06-15 15:11] salsan opened #1969 "When convert script to exe with pkg , version result is unknown"
This is code I used for yargs

[code]
When try flag ( --version ) version from node return the right number

When try exe version created with [pkg ](https://github.com/vercel/pkg)( 4.4.9 version ) this is the result

[2021-06-15 19:11] endercrest opened #1970 "Positional not correctly setting camelCase, kebabCase & snake_case"
yargs version: 17.0.1

It would seem that when using a positional argument that has a default value set, it doesn't correctly set all the right values.

In this case, we are running the command with the values `run-load-test-clients mega-sub 0 150 75`.

So totalClients should be set to 150, but the resulting object from yargs is:
[code]

So the snake_case is correct, but kebabCase and camelCase is

[2021-06-15 19:21] #1970 closed

[2021-06-15 19:21] endercrest commented on #1970
Problem on my side, sorry!

[2021-06-15 20:38] karizma commented on #1969
Can you see what happens when you explicitly define the version by calling `version('0.0.2')`?

[2021-06-16 06:43] salsan commented on #1969
Show in terminal `0.0.2` as result, is as don't load correctly `package.json`

[2021-06-16 08:41] salsan commented on #1969
I solved the problem

I added  `"bin": "./otu.js"` on `package.json` and create exe with this command `pkg package.json`

[2021-06-16 08:41] #1969 closed

[2021-06-22 03:08] zoffyzhang opened #1972 "how to type yargs options variable in typescript?"
[code]

I want to extract the common options for my many bins, but I don't know how to write the type definition. Would someone give me a little help?

[2021-06-23 09:00] salsan opened #1974 "requires_arg example don't work"
I try  learn how to work this tool and **[requiresArg](https://github.com/yargs/yargs/blob/master/docs/api.md#requiresargkey)** , and I've tried this example [requires_arg.js ](https://github.com/yargs/yargs/blob/master/example/requires_arg.js) but this is the result

[code]
I wrote my ( based from this solution for[ other issue](https://github.com/yargs/yargs/issues/1176#issuecomment-511129016) )

[2021-06-24 20:35] IodizedGabe opened #1975 "Failing `.check()`s do not prevent command handlers from running when `parseCallback` provided"
Example:
[code]
When run, this will always log out `Handler ran`, no matter which of the check conditions are violated.

If this is run as a plain CLI, however (i.e. `.parse()` is replaced with `.argv`), this works as expected; the check condition(s) blocks the handler from running.

version: v17.0.1

Note: this worked previously in v16.0.2.

[2021-06-25 04:38] karizma commented on #1972
Not sure I understand completely, but you should be able to use the `yargs.Options`  type.
This worked for me:

[code]

[2021-06-25 05:07] karizma commented on #1974
Seems like it's because `usage()` changed how it works, Now it asks for the actual usage command as the first parameter like so:

`yargs.usage("$0 [port]")`, next would be description, builder and handler.

Your example works, but it doesn't provide the actual command or the allowed options, only the description. So I think something like this would be better:

[code]
And yea looks like yargs chan

[2021-06-25 07:51] zoffyzhang commented on #1972
That's what I've been looking for,  many thx.

[2021-06-25 07:51] #1972 closed

[2021-06-25 22:00] bcoe commented on #1910
@Celthi apologies for the slow response, my open source time is limited these days.

If you're still interested in landing a fix, please do go ahead and submit a PR 😄 always appreciated.

[2021-06-25 22:06] bcoe commented on #793
@jeff-hykin 👋 unfortunately I've had very little time for open source recently, and haven't thought too deeply through this problem.

My perspective is definitely this, I'm concerned about adding too much complexity for what seems like a power user feature. ?If we could think of an elegant way that feels simple, I'm open to it.

[2021-06-28 15:22] eden-lane commented on #571
@fabis94 I'm still getting this error.
My code:
[code]

[code]

[2021-06-29 00:30] #1504 closed

[2021-06-29 14:39] #1953 closed

[2021-07-02 05:41] Airkro commented on #1912
description still missing when fail to parse

version: 17.0.1

[2021-07-04 17:34] jly36963 commented on #1975
I believe this is the intended behavior:
In the [docs](https://yargs.js.org/docs/#api-reference-parseargs-context-parsecallback), under `.parse()` it says that providing a callback has the effect of setting `exitProcess` to false. This prevents the default behavior of process exit on validation error.

[2021-07-05 09:36] giovanni-bertoncelli opened #1979 "Parameter `version` should not be allowed or should be overrided"
Yargs behaves unexpectedly when declaring a parameter named `version`, like this:

[code]

Usually in the result you get that `argv.version` is always false and the parameter passed gets hyphenated, like this:
[code]

[code]

I think this parameter does not correctly override the default `version` parameter expected by yargs. It should be returned a warning for the default behaviour to be overridd

[2021-07-05 16:01] IodizedGabe commented on #1975
If this is now intended, that seems like surprising behavior. The examples mention that `parseCallback` may be used in some non-CLI contexts, and it doesn't seem like you'd want the main `command` to run if a `check` failed.

For context, my case is in unit-testing my CLI, and verifying that a custom `check` logic works.

This was also a change from v16 which I hadn't noticed in the version notes

[2021-07-05 16:58] jly36963 commented on #1975
I can confirm the following:
- parse callback is given
- validation (specifically `check`) fails
- handler:
  - yargs@17.0.1: the handler is executed and `'Handler ran'` is logged
  - yargs@16.2.0: the handler is skipped.

After looking at the changelog between 16 and 17, I don't see anything about exitProcess or the parse callback behavior changing.

The docs do specifically say:

@bcoe -- what s

[2021-07-06 18:51] natasha1234567890 opened #1980 "Error: Missing required argument #1"
natalia@ubuntu-client:~/f5-apm-schema/templates/src/samlsp$ sudo npm install -g yargs
▐ ╢░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░╟
npm ERR! Linux 4.15.0-143-generic
npm ERR! argv "/usr/bin/node" "/usr/bin/npm" "install" "-g" "yargs"
npm ERR! node v8.10.0
npm ERR! npm  v3.5.2
npm ERR! code EMISSINGARG

npm ERR! typeerro

[2021-07-06 19:40] bcoe commented on #1980
👋 Hello @natasha1234567890 this looks like an issue with `npm` and not yargs.

Having said this, I would suggest not installing yargs with the `-g` flag, or using `sudo`. Instead, in your project folder with a local `node_modules`, simply type:

`npm i yargs`

This will add `yargs` as a dependency to your project. Let me know if this helps.

[2021-07-06 19:40] #1980 closed

[2021-07-06 22:39] natasha1234567890 commented on #1980
thanks

From: Benjamin E. Coe ***@***.***>
Sent: Tuesday, July 6, 2021 12:41 PM
To: yargs/yargs ***@***.***>
Cc: Natalia Holmes ***@***.***>; Mention ***@***.***>
Subject: Re: [yargs/yargs] Error: Missing required argument #1 (#1980)

EXTERNAL MAIL: ***@***.***

👋 Hello @natasha1234567890<https://nam02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fnatasha1234567890&data=04%7C01%

[2021-07-07 06:14] caiiiycuk opened #1981 "Browser version does not work (17.0.1)"
The browser version of yargs works fine for `16.0.0-alpha.3`, but for latest available version on unpkg it not working.
This is easy to test, open [jsfiddle from yargs docs](https://jsfiddle.net/bencoe/m9fv2oet/3/).
And replace this:
[code]
To this
[code]
Then save and play with yargs, you will see a lot of errors, like this:

[code]

[code]

[code]

Is browser part will be mantained in future, I

[2021-07-08 09:22] ermish commented on #1951
hmmm, I think you're right @karizma. I did some digging to see if you could compile an interface in any way, and it's not something realistically possible.

Closing.

[2021-07-08 09:22] #1951 closed

[2021-07-10 17:31] bcoe commented on #1981
@caiiiycuk I would like to support the browser use case, I think we should add an integration test.

[2021-07-11 16:46] Devorein opened #1983 "Passing false to fail method throws an error"
The following code throws an error every time when using a boolean value of `false` in the `fail` method

[code]

In the API documentation, it's said that **Providing false as a value for fn can be used to prevent yargs from exiting and printing a failure message.**. I want to prevent yargs from printing an error message on the console and handle the error by myself. Any sort of lead would be real

[2021-07-11 16:52] Devorein commented on #1196
Unfortunately, that's not working. I'm getting the error `yargs.exit is not a function` when calling `yargs.exit` inside the `fail` method.

[2021-07-14 04:33] jly36963 commented on #1910
@u9g
@dsl101

I believe conflicts is working as intended. In the examples provided, I noticed the following:
- two options
- those options are conflicting
- both have a default value, which means that both will always have a value.

The conflicting validation logic checks that if two options are conflicting, that at least one of them is undefined in the argv object. The validation will always fail

[2021-07-15 14:16] dsl101 commented on #1910
I think the case where you want to prevent the user _specifying_ more than one thing, but them both having some in-built default value is pretty common, and what most people (including me) are trying to do when they get stuck. But, appreciate this could be seen as a breaking change if the handling of conflicts was changed to accommodate that.

IMO, having default values should not be included when

[2021-07-16 00:13] #1910 closed

[2021-07-16 22:47] OsmanAltun opened #1987 "Wrap null causes huge indent (using ASCII)"
**Code:**
[code]

**result:**
[code]

**expected:**
[code]

**possible cause?**
After some testing I saw that the leading whitespaces in the first line causes this effect.
It might have something to do with `cliui` lib, because changing the notation of `ui.div('string')` to `ui.div({text: 'string'})` seems to fix this issue. I will open a PR with this change.

[2021-07-17 10:16] anentropic opened #1989 "Broken link in docs"
https://yargs.js.org/docs/#api-reference-positionalkey-opt

the link for _default commands_ is broken currently (404)

[2021-07-17 10:16] anentropic commented on #1989
seems like it should be https://github.com/yargs/yargs/blob/master/docs/advanced.md#default-commands ?

[2021-07-19 01:13] jly36963 commented on #1983
I can't reproduce it locally. Can you tell me which version of yargs you're using? (Also, can you make a simple mock of `msg` & `getTasks` so that I can test your specific use case?)

I tried the following with yargs@17 and didn't get any errors:

[code]

[2021-07-19 14:35] jly36963 commented on #1861
@biggianteye Let me know if there's anything more to investigate/fix on this

[2021-07-19 15:17] biggianteye commented on #1861
Looks good to me. 👍🏽

[2021-07-20 00:02] jly36963 commented on #1196
***Note:** I only know the most recent versions of the yargs API, so I apologize if you're locked into older versions and my advice isn't relevant.*

My observations:

- The handler can be async. This removes the need for using the parse callback to await the result.
- The current docs warn that the parse callback has the side effect of setting exitProcess to false, which means that failed validat

[2021-07-20 01:19] jly36963 commented on #1324
The issue lies in yargs-parser:
https://github.com/yargs/yargs-parser/blob/main/lib/yargs-parser.ts#L614

If you're curious, the call stack (in yargs-parser) looks something like this:
parse > setArg > processValue

The first thing processValue does is remove quotes.

I'm investigating to see what the easiest fix is, I'll hopefully start on one soon.

[2021-07-20 04:32] jly36963 commented on #1324
I'm using yargs@17, and this is what I observed:

[code]

logs:
[code]

I wrapped each of the positionals/options with extra quotes, and they were preserved.

I don't think this problem exists anymore. At some point they must have resolved the issue.

[2021-07-20 06:14] danopia commented on #1324
The issue is still there, it's with the `argv` / pre-split mode. If you put your code into a file and pass the args in with argv you'll see it even with `yargs@17.0.1`.

[code]

[2021-07-21 14:21] jly36963 commented on #1332
I want to work on a fix for this, but I'm having trouble reproducing with yargs@17.
What yargs version are you using, and does my example somewhat match your use case?

[code]

output

[code]

[2021-07-25 23:47] aboe026 opened #1995 "Way to differentiate "root" description from "default" description"
Right now, it seems that the description listed above the `Commands` section is just pulled from the description field of the default command. I have a use case where I want the "root" level tool description to be different than what is shown in the line for the default command. Is this possible? And if not, can there be an option for that (I'm thinking it would be similar to the `scriptName` meth

[2021-07-28 19:35] bcoe commented on #1989
@anentropic happy to take a patch for for the fix, if you beat me to it. It should just involve updating `docs/advanced.md`.

[2021-08-04 21:46] #1987 closed

[2021-08-05 18:29] rafipiccolo opened #1999 "the new version (17.1.0) fails with Unknown argument: xxx"
i use this script

[code]

when i call the script i get :
[code]

it doesnt block the use when i use version yargs ^17.0.1
it fails with version ^17.1.0

[2021-08-05 21:32] #1861 closed

[2021-08-05 21:32] bcoe commented on #1999
@rafipiccolo I believe you were relying on a bug fixed in https://github.com/yargs/yargs/pull/1977

If you use `.strictOptions` rather than `.strict`, I think you'll get the behavior you want.

[2021-08-05 22:37] rafipiccolo commented on #1999
my bad :) makes sens.
Now it works.
thanks

[2021-08-05 22:37] #1999 closed

[2021-08-06 15:39] OsmanAltun opened #2000 "Wrap causes leading whitespaces to be removed from `yargs.usage()`"
Probably related to #1987

Now the opposite happens. When I use wrap(100) instead of wrap(null) it will remove all leading whitespaces from `usage()`

A test I wrote:
[code]
Unlikely that I will make a PR for this, since I got no time and no idea what is causing this.

[2021-08-07 14:37] jy95 opened #2001 "Typescript - Share common options between commands ?"
Hello,

I saw the [Typescript example](https://github.com/yargs/yargs/blob/master/docs/advanced.md#example-command-hierarchy-using-commanddir) in the docs. I wonder what is the proper way to share common options with sub commands.

In my case, the structure is something like this :

[code]

I would like to share common options between `export_xlsx.ts` & `export.ts`  so that I could have this kind

[2021-08-07 22:00] jy95 commented on #2001
https://github.com/yargs/yargs/issues/1755

[2021-08-07 22:00] #2001 closed

[2021-08-09 13:19] rostyslavnikitin opened #2002 "eslint conflicts with yargs"
When I'm trying to lint file that contains yargs import

`const { hideBin } = require("yargs/helpers");
`

I getting errors:

[code]

So I need to ignore such files

* eslint & yargs versions is latest

[2021-08-12 14:36] andreasonny83 opened #2003 "Support extending maxWidth"
When using yargs, I would like the ability to change the maxWidth currently hard coded to 80 characters, when the `help` gets rendered to the terminal.
Ideally I would like to have a configuration for that so I can extend the length to `120` characters instead

[2021-08-12 17:57] pneves001 opened #2004 "export 'fileURLToPath' (imported as 'fileURLToPath') was not found in 'url'"
ERROR in ./node_modules/yargs/lib/platform-shims/esm.mjs 18:21-34
export 'fileURLToPath' (imported as 'fileURLToPath') was not found in 'url' (possible exports: Url, format, parse, resolve, resolveObject)

I'm running this in my laravel project:

yargs": "^17.1.0"

[2021-08-12 23:44] cajubelt opened #2005 "environment variables in SCREAMING_SNAKE_CASE unexpectedly converted to camelCase"
I noticed that by default, the environment variable parser converts environment variable names in screaming snake case to camel case. This was unexpected for me and I didn't see a parserConfiguration option to disable it.

For example, running this code results in the error message `Missing required argument: FOO_BAR`
[code]
But this code runs just fine:
[code]

I suggest that this behavior be dis

[2021-08-15 12:33] btd opened #2008 "[Question] More adequite way to use with TS"
Hi,

could you clarify for me like what is expected use with ts (4.3.5):
[code]

and now the thing that is very unclear - i need to do type assertion to check that returned type is actually not a promise.

It is a bit not clear why i need to do it if i clearly do not use any async here. Maybe split api for async and not-async version?

[2021-08-16 15:19] bcoe commented on #2008
@btd `.parseSync` was added as an alternative to `.argv`, if you know that you won't be returning a Promise.

[2021-08-16 15:35] btd commented on #2008
Thank you, i will try

[2021-08-16 15:36] btd commented on #2008
Yep it works, thanks again.

[2021-08-16 15:36] #2008 closed

[2021-08-17 22:49] SheetJSDev opened #2010 "`help()` using `yargs.default`"
The original typescript code looked like:

[code]

The generated JS code looks like

[code]

Save that to `t.js` and run `node t.js --help`:

[code]

It adds 2 hyphens irrespective of the number of hyphens and also wraps:

[code]

Subsequent arguments are written with two dashes:

[code]

The same behavior occurs if you set the script to executable and prepend the shebang:

[code]

[2021-08-18 07:15] douniwan5788 commented on #1393
none of the `required、require、demand、demandOption` works for `positional` no matter boolean or string `true`

[2021-08-18 08:22] markus456 opened #2011 "duplicate-arguments-array: false breaks variadic positional arguments"
I decided to split off this from the problem originally mentioned in issue #1318. I've re-tested this with Yargs 17.0 and the problem remains.

This seems to also affect variadic positional arguments:
[code]
[code]
Removing `"duplicate-arguments-array": false` from the parser configuration results in expected output:
[code]
Explicitly specifying the type of the variadic argument as `array` with `.

[2021-08-18 08:33] markus456 commented on #2011
Here's an example with options included that shows the problem.
[code]

Here's the output with `"duplicate-arguments-array": false`:
[code]

And here's without it:
[code]

[2021-08-21 05:54] RavenHursT opened #2012 "Output positional command arguments defaults in help output"
I have the following `yargs` configuration:

[code]

When I run my app w/ `--help` I get the following:
[code]

My question is: How do I get the default `8080` for the `port` argument to be printed into the help output?

[2021-08-24 22:20] cspotcode opened #2014 "bundle with esbuild fails because `yargs/yargs` does not have file extension"
Possible duplicate of #1929 but I'm not sure because that ticket is too vague.

esbuild determines content types based on file extension.  [esbuild docs](https://esbuild.github.io/content-types/)

But [yargs/yargs](https://unpkg.com/yargs@17.1.1/yargs) does not have a file extension.

This raises an error:

[code]

[2021-08-25 05:09] renovate[bot] opened #2015 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Repository problems

These problems occurred while renovating this repository.

 - WARN: App has not been granted permissions to update Workflows - aborting branch.

## Other Branches

These updates are pending. To force PRs open, click the checkbox below.

[2021-08-30 14:02] ansgarm opened #2016 "TypeScript 4.4 breaks building `yargs`"
Hi!

TypeScript 4.4 was released 4 days ago and [introduced](https://devblogs.microsoft.com/typescript/announcing-typescript-4-4/#use-unknown-catch-variables) the following:
[code]

This breaks the build of `yargs` (there is no `package-lock.json`, which seems to be on purpose):
[code]

[2021-08-30 17:25] MarkosKon opened #2017 "Default command with variadic option and variadic positional"
Shouldn't a test like the following pass or I have a wrong schema? (Example call: `$ cli --variadic 1 2 3 -- file1 file2`).

[code]

If you put a regular option, instead of `--`, it works. For example: `.parse("--variadic 1 2 3 --boolean file1 file2")`.

It's not a big deal if the `files` positional is optional because you can pick the files from `_`. It becomes a problem when it's required, for e

[2021-09-03 13:54] ghost opened #2020 "how to reference other arguments in an argument"
like (dont mind that its typescript)
[code]

oh and ive already tried this code, complained about `TypeError: Cannot read property 'app' of undefined`

[2021-09-04 15:47] fedeci opened #2022 "Add public getters for `YargsInstance` private class fields"
~~### Feature request~~

~~It may be useful for third party tools to have read access to some of the class fields of the main Yargs class. Let me know what do you think.~~

~~- [x] I would like to work on this feature (if accepted)~~

---
edit: it is already there, sorry🤦‍♂️

[2021-09-04 16:09] #2022 closed

[2021-09-05 20:08] #2016 closed

[2021-09-05 23:16] bcoe commented on #1864
@antmarot @alex3683, @jly36963 has made it so a descriptive warning is displayed if you use the reserved option `version`.

I think we should probably extend this behavior to `help` as well, at which point I'd like to close this issue.

I believe throwing is too heavy handed, as it will break many applications in the wild, whereas a warning is just a nuisance (and points users towards the correct

[2021-09-05 23:18] bcoe commented on #1979
@giovanni-bertoncelli, @jly36963 has added a descriptive warning that will help prevent someone using yargs from falling into this trap (_suggesting that folks either turn off the automatic version behavior, or rely on its default behavior_).

[2021-09-05 23:18] #1979 closed

[2021-09-05 23:24] #1897 closed

[2021-09-07 00:21] #1960 closed

[2021-09-07 19:25] bcoe commented on #2014
@cspotcode no, this design grew organically while trying to support both CJS and ESM in the same module.

The approach is discussed, without much detail, [here](https://dev.to/bcoe/esm-doesn-t-need-to-break-the-ecosystem-4p8b).

Open to other approaches as long as all existing tests continue working, and we verify functionality on all supported Node runtimes.

[2021-09-07 19:34] bcoe commented on #2010
@SheetJSDev that's quite weird, I notice it cropping up as far back as `yargs@16.2.0`. Thanks for the bug report, if you have a chance to dig deeper would happily accept a patch.

[2021-09-07 22:36] bcoe commented on #1952
@libinvarghese will be fixed by @jly36963's work going out in next version of yargs.

[2021-09-08 08:00] rathodjaylnt opened #2025 "Update to child dependency camelcase"
Kindly update camelcase with respect to security compliance

[2021-09-08 08:49] rathodjaylnt opened #2026 "Update to child dependency window-size"
Kindly update  window-size with respect to security compliance

[2021-09-11 17:17] 0x2b3bfa0 commented on #873
Another possible solution for some cases could be appending [sub]command names to the prefix.

[code]

[code]

[2021-09-13 16:48] bote795 commented on #1839
new issue detective for `ansi-regex` that requires an update from `string-width@^4` to `string-with@^5` via snyk side
https://app.snyk.io/vuln/SNYK-JS-ANSIREGEX-1583908

[2021-09-13 22:26] bcoe commented on #1839
Refs: https://github.com/yargs/yargs/pull/2029

[2021-09-14 04:14] yano3nora opened #2030 "Looks like ignore describe of default command"
Thanks great tool. Please tell me if the following is a bug or a specification.

## env
- yargs v17.1.1
- node v14.15.4

## code & reproduction
I want to output a description of the arguments to help for each of the default command and another command.

[code]

I execute another, it outputs `ANOTHER_ARG` and `[required]`  as expected.

[code]

But execute default,`ARG` description was not showing.

[2021-09-15 00:49] skalfyfan opened #2031 "UnhandledPromiseRejectionWarning revisted? Is this being handled still correctly?"
Hi there! Am using `yargs 17.1.1`, and have taken over a code base that is making extensive use of async command handlers.
The yargs calling chain looks something like:
[code]
`fail` is currently handling the failure properly, but we get a flood of similar `UnhandledPromiseRejection` warnings exactly as described here: https://github.com/yargs/yargs/issues/1144#issuecomment-523910162

Is there som

[2021-09-15 21:20] Wallacy commented on #1929
FWIW: Change from `import yargs from 'yargs'` to `const yargs = require('yargs')` fix my bundle, but that is not ideal anyway.

[2021-09-20 16:36] ChiefORZ opened #2032 "Positional commands are not working as excpected"
Hello,

we just came across following issue and we did not manage to find a solution of what we are doing wrong - maybe somebody can help us:

[code]

The positional command version should be parsed in both szenarios, but it gets parsed as false... and the `_` array of the results does not dontain "latest" anymore...
[code]

[code]

[2021-09-21 02:41] jly36963 commented on #2032
I believe the issue is with using "version".
I made a [PR](https://github.com/yargs/yargs/pull/1986) to help address this.
I think the solution is to disable version with `yargs.version(false)` if using "version" as an option.
yargs uses version internally, and it causes conflicts unless disabled.

[2021-09-21 08:19] ChiefORZ commented on #2032
Yeah, that was actually the issue.

One more note on this side - i did not get the warning even though i was testing this with the latest version `17.1.1`. Could it be that the warning is only ommited, when version is defined as an option field, and not when it is defined as an positional parameter? https://github.com/yargs/yargs/blob/master/lib/yargs-factory.ts#L911 i think this block needs to be

[2021-09-21 17:24] jly36963 commented on #2032
Yeah, I will need to make sure that both positionals and options trigger this warning (and add the missing unit tests for those cases)

[2021-09-21 23:03] dacbd opened #2033 "Argument Parsing with spaces?"
I'm not sure if is an edge case that yargs should address.

When a program is executed from a script like `bash -e /script_run_yargs_program.sh` ie GitHub actions `run:` if there are any trailing spaces after a slash on a multi-line script they get interrupted as an argument and you get a very unhelpful error message

[code]
being akin to `printf("Unknown argument: %s" , " ")`

see: https://github

[2021-09-22 08:56] 0x2b3bfa0 commented on #2033
It would be nice to quote the unknown options so people can notice whitespace:

[code]

[2021-09-22 15:48] rostyslavnikitin commented on #2002
still actual

[2021-09-22 18:54] rostyslavnikitin commented on #2002
or

[code]

[code]

[2021-09-23 01:25] bcoe commented on #1839
@bote795 patched in `ansi-regex` now 🎉

[2021-09-23 01:28] #1974 closed

[2021-09-23 15:28] woehr commented on #1839
The LTS nodejs (14.17.6) includes yargs 14.2.3 as a dependency, which still pulls in a vulnerable ansi-regex version. Does yargs 14 need to be updated so nodejs can update it?

[2021-09-23 20:49] bcoe commented on #1839
@woehr yargs@14.2.3 is pinned on `ansi-regex@4.1.0`, so would have issues.

Best approach might be trying to update the dependency in Node.js, what's yargs used for in Node? (I'm guessing it comes in with another dep?).

[2021-09-23 21:30] woehr commented on #1839
It gets pulled in by npm (through libnpx).

[2021-09-23 22:07] bcoe commented on #1839
@Qix- you're going to hate me ... but how hard would pulling a patch all the way back to `4.x.x` be? _for the benefit of Node.js itself._

Kind of cool we've managed to cause an issue in the platform itself right?

[2021-09-23 22:11] bcoe commented on #2002
@rostyslavnikitin can you confirm whether this fixed things? wondering if I can close.

[2021-09-23 22:13] bcoe commented on #2033
@DanielBarnes, I like @0x2b3bfa0's suggestion... I don't thin kit would be ridiculous to `trim` the strings we parse too, I'd have to look at the parser to see how painful this is.

[2021-09-23 22:14] bcoe commented on #1929
@Wallacy @hardfist perhaps we could add a guide in bundling, with this workaround for `esbuild`?

[2021-09-23 22:18] bcoe commented on #2031
@skalfyfan give this a shot:

[code]

Alternatively, you might try this:

[code]

[2021-09-23 22:43] 0x2b3bfa0 commented on #2033
Trimming the parsed strings sounds like a really unexpected behavior for some use cases. 🤔  To my mind, it should be at most a non–default [`parserConfiguration`](https://yargs.js.org/docs/#api-reference-parserconfigurationobj) option.

I can't imagine how puzzling would be if somebody tried to implement a whitespace–sensitive tool like [`tr(1)`](https://man7.org/linux/man-pages/man1/tr.1.html) an

[2021-09-24 03:06] rostyslavnikitin commented on #2002
yep

[2021-09-24 03:06] #2002 closed

[2021-09-24 11:46] 0x2b3bfa0 commented on #1252
Related to https://github.com/yargs/yargs/issues/873?

[2021-09-24 20:13] seanaye opened #2035 "Deno: Property argv does not exist on type YargsInstance"
I have copied the example deno usage into a file but it will not compile due to error `Property argv does not exist on type YargsInstance`

I am using Deno version: 1.12.2

Code from readme (more or less)

[code]

[2021-09-24 22:20] bcoe commented on #2033
@DanielBarnes would you be okay with @0x2b3bfa0's suggestion of quoting the error? vs., trimming.

[2021-09-24 22:29] DanielBarnes commented on #2033
Yes, I agree that quoting would be a better path. Less/no risk of introducing new behaviors to the existing API.

[2021-09-25 20:51] bcoe commented on #2035
@seanaye we removed the `.argv` property accessor from `Deno` and ESM versions of yargs, I've confirmed that the following works on deno@1.14.1:

[code]

[2021-09-25 20:51] #2035 closed

[2021-09-29 16:11] joeylgutierrez commented on #1839
I'm getting a security issue in Snyk for the latest version of Yargs@13.2.1 for  "string-width": "^4.2.0".  This might be a known issue already but just wanted to make sure.
`  ✗ Regular Expression Denial of Service (ReDoS) [High Severity][https://snyk.io/vuln/SNYK-JS-ANSIREGEX-1583908] in ansi-regex@5.0.0
    introduced by yargs@17.2.1 > string-width@4.2.0 > strip-ansi@6.0.0 > ansi-regex@5.0.0 an

[2021-09-29 16:16] charleszipp opened #2038 "unable to attach debugger or view stdout when using commandDir"
When using yargs with the `.command` option, I am able to test my cli using the following for my npm script

[code]
and providing command and args as
[code]
I have a `console.log` in my command that allows me to make sure it ran

VS code's javascript debugger is also able to attach to the npm script.

However, if I switch to `.commandDir`, none of this seems to work. I can no longer see the consol

[2021-09-29 16:21] charleszipp commented on #2038
My project is structured as
[code]

index.ts
[code]
src/command/get-data.ts
[code]

src/commands/index.ts
[code]

[2021-10-02 03:26] WarlockD opened #2039 "parsedContext does work right?"
So just making a discord bot when I discovered yargs thinking "Better then building my own interpreter".  Since I have to send the mesage object to the command process I really need parsedContext to work but for some reason it isn't?
So I made a bare bones here
[code]
Very simple right?  However if you run it the BAH message comes up with
`{"_":["configure"],"$0":"index.js","key":"test"}  BAH unde

[2021-10-02 21:51] WarlockD commented on #2039
Well I am an idiot.  For eveyone else, it looks like the context  is merged with argv.  Of course I forgot stringfy dosn't do functions and after a good nights sleep I discovered all this.  Sorry.

[2021-10-02 21:51] #2039 closed

[2021-10-04 16:46] bcoe commented on #1839
@joeylgutierrez yargs@17.2.1 pulls in ansi-regex@5.0.1 which is fixed:

[code]

If you have a local `package-lock.json` or yarn lock file, make sure you've updated the `ansi-regex` version to `5.0.1`.

[2021-10-04 17:10] bcoe commented on #2039
@WarlockD nothing to apologize for, glad you worked things out.

[2021-10-07 08:45] fallemand opened #2040 "config file not being loaded"
Hi, I have a simple program:
[code]

And a `config.json` file
[code]

But when I run
[code]

[code]

It's seems it's not getting the `test` argument from the config.

[2021-10-07 10:08] pedro-w opened #2041 "Cannot specify 'positional options'"
I could not find a way to specify options where their position in the args is significant, for example a hypothetical PDF combiner could have a command line like

[code]
to mean I want page 1 of doc1, page 5 of doc2 and all of doc3.
Is there a way to specify this? All my attempts result in the `--page` values being coalesced into the `page` array, and all the docs into the `_` array.
(alternativel

[2021-10-08 00:15] jly36963 commented on #2032
@ChiefORZ
Hey, sorry for the delay -- I've been pretty busy.

It looks like my PR was merged and then released in yargs 17.2.0 -- that's why it wasn't working for you. Try the latest version and you should see the warning.

The warning will be emitted if `version` is used either as an option or positional argument.

I tested this locally and the expected warning was emitted:

[code]

[code]

[2021-10-09 16:25] xkn1ght commented on #1979
actually it did have a way to mock version global and mainwhile maintain subcommand --version functional.https://github.com/yargs/yargs/issues/1918

[2021-10-10 18:57] jly36963 commented on #2040
I believe this is because of the difference between cjs and esm. The config function uses `require` to import the json, and require is specific to cjs. Based on your import statements, I'm assuming you're using esm.

I can confirm that it doesn't work properly:
[code]

Here's my workaround fix:
[code]

You can override the default parsing function by passing a callback as the second argument. In t

[2021-10-10 19:00] jly36963 commented on #2040
I'll work on a fix for this, so that the `config` method behaves as expected without this workaround.

[2021-10-12 03:57] buske commented on #1312
Was just trying to do this and found a solution mentioned here: https://livebook.manning.com/book/node-js-in-action-second-edition/chapter-11/9

It seems like the solution is for the `--file` option to have nargs = 1 to ensure the `-` gets parsed as a value rather than another option. For example:
[code]

[2021-10-12 15:33] soroushm opened #2045 "the way we import yargs (lag of documentation)"
I running Yargs in cli, the advanced documentation have two different ways to use yargs,
I will glade somebody explain to me why we need to use yargs as a function?
and do we need it for simple usage like below?

[code]
  instead of using like this
[code]

[2021-10-13 15:52] bcoe commented on #2040
@jly36963 thanks for digging into this.

[2021-10-15 11:20] nabtron opened #2047 "Can we use it in non-cli apps?"
Can we use yargs in a non-cli app? Like passing the command as a string variable to it?

I want to use it in a discordjs bot i'm coding.

Thanks.

[2021-10-16 16:45] karizma commented on #2047
You might find [yargs-parser](https://www.npmjs.com/package/yargs-parser) useful enough for non-cli usage. But there are some things you might still want baked into the library like defining exactly what arguments are allowed.

First thing you will want to do is call `help(false)`, this will make it so it does not log the help message when `--help` is given.

Next you will want to add a custom `fa

[2021-10-16 23:20] nabtron commented on #2047
Its too complex for my simple use case. I have coded my own lib / npm package now and using it.

Thank you.

https://github.com/nabtron/dash-commands

`npm i dash-commands`

Example use:
`-id 24 -category "something double quoted or single"`

[2021-10-17 03:22] bcoe commented on #2047
Hey @nabtron, if you can use the `.parse()` method you can pass in any string to yargs for parsing. You can find some code here to help you get started:

https://github.com/yargs/yargs/blob/59a86fb83cfeb8533c6dd446c73cf4166cc455f2/docs/api.md#parseargs-context-parsecallback

[2021-10-17 03:22] #2047 closed

[2021-10-19 21:12] #1543 closed

[2021-10-20 22:40] dan-klasson opened #2049 "Check not possible to export in a module"
In the [advanced section of the documentation](https://github.com/yargs/yargs/blob/main/docs/advanced.md#providing-a-command-module), it makes no mention of being able to use `check` in a module.

I think it would make sense to be able to handle the validation logic in `check` instead of having to do that in the `handler`.

I.e, to do something like this

    export const check = (options: Inferre

[2021-10-22 02:15] audrow opened #2050 "Commands in help don't render correctly in Deno"
It seems that commands in help don't render correctly with Deno. Specifically, they don't show the file name and they also don't work with a compiled executable.

For example, with the following file,
[code]
I get the following help screen:
[code]

For `my-command`, it should say `deno run minimum-cli.ts my-command`, instead of `deno run my-command`.

It is also true that this doesn't work correct

[2021-10-26 21:05] peterp opened #2053 "How to "catch-all" unhandled exceptions"
I'm trying to catch all exceptions that are not handled and print an error message that's a bit more supportive than an uncaught exception. I initially thought that I could wrap the `yargs.argv` in a try-catch block, but it appears that sub-commands are not handled by this block.

Is there something that I'm not fully appreciating about the yargs runtime that invalidated my mental model of how to

[2021-10-29 01:10] NotMarx opened #2054 "Help"
How do I make something like the below example?

[code]

[2021-10-30 13:26] pjalsGit commented on #2054
you could try reading the docs...

[2021-10-30 14:54] NotMarx commented on #2054
I'm not sure if I could find them anywhere around the docs. could you help me link them here? it would be helpful and appreciated 😅

[2021-10-30 15:19] pjalsGit commented on #2054
that is a very simple example, so it should be easy to recreate from the docs, https://github.com/yargs/yargs/blob/main/docs/api.md

[2021-10-30 15:41] NotMarx commented on #2054
found them already, it was `.array(key)`. thanks for the help :)

[2021-10-30 15:41] #2054 closed

[2021-10-30 15:48] pjalsGit commented on #2010
I cannot reproduce this on Firefox Browser 93.0 (64-bit)

[2021-10-30 15:48] pjalsGit commented on #2010
whoops! sorry! i commented on the wrong issue

[2021-10-30 15:49] pjalsGit commented on #1981
I cannot reproduce this on Firefox Browser 93.0 (64-bit)

[2021-11-01 12:34] baob commented on #1929
Would this be the same problem I'm seeing as `Cannot resolve module ...../node_modules/yargs/index.cjs` ? when running flow against versions 16 & 17 of yargs ?

[2021-11-02 20:58] kevinji opened #2055 "argv's type is missing camelCased variants of hyphenated options"
yargs automatically generates camelCased versions of hyphenated options (e.g. `full-page` -> `fullPage`) inside of the `argv` object, but the TypeScript type for yargs doesn't include the camelCased variants. This seems like an omission, but I'm not familiar enough with the TypeScript type system to know whether this is possible to fix or not.

[2021-11-03 11:17] JakubDrozd opened #2057 "Can't hide positional arguments from the help menu"
Hi, I would like to hide the 'Positionals:' menu in help, but I can't do this.
My code:
[code]

The help menu:
[code]
I would like:
[code]
How to do this?!

[2021-11-04 12:52] remcohaszing opened #2058 "Can’t combine strict, config, and subcommands with own options"
Let’s say we have the following program called `program.cjs`:

[code]

It is now possible to run the `foo` subcommand.

[code]

However, it’s not possible to use the `fooz` subcommand.

[code]

I would expect it to be possible to allow passing options to `.config()` which are defined by subcommands.

The solution I could come up with is to pass an option to `.strict()` to ignore validation of unkn

[2021-11-05 02:41] shadowspawn commented on #2058
Possibly related: #858

[2021-11-05 14:43] #2057 closed

[2021-11-05 15:01] volodyad opened #2059 "ts-node Cannot find module yargs\index"
"yargs": "^17.2.1"
  "@types/yargs": "^17.0.5",
  "ts-node": "^10.4.0"

Vs code configuration
[code]
When I run debug task in Vs code, I have got error
Error: Cannot find module 'path\node_modules\yargs\index'

[2021-11-06 07:32] dcrystalj opened #2060 "--help or help option throws exception"
# code to reproduce
[code]
having `help` or `--help` in args breaks parsing

# screenshot
![image](https://user-images.githubusercontent.com/1460727/140601793-f67f4e44-2fbd-4b3f-8c1a-a7af2705d709.png)

# version
^17.2.1

[2021-11-08 17:17] bcoe commented on #2060
@dcrystalj passing `--help` causes `yargs` to print the `help` output and exit with `0`.

This is the behavior I'm seeing in `17.2.1`, would you be able to provide an example of the exception that you're seeing?

[2021-11-08 17:19] bcoe commented on #2059
@volodyad does this work:

[code]

[2021-11-08 17:20] bcoe commented on #2058
@remcohaszing thank you for the bug report.

[2021-11-08 17:23] bcoe commented on #2055
@kevinji the types are maintained in the DefinitelyTyped project, it might be worth opening an issue there as well.

[2021-11-08 17:23] bcoe commented on #1929
Perhaps we should add an esbuild sample? anyone interested in contributing?

[2021-11-08 17:24] bcoe commented on #1981
@caiiiycuk are you still able to reproduce?

[2021-11-08 17:32] caiiiycuk commented on #1981
@bcoe  Yep

https://user-images.githubusercontent.com/1727152/140790152-66143dee-60c2-4fb9-a50a-6d5a643be51c.mp4

[2021-11-09 03:05] forivall commented on #2055
See https://github.com/DefinitelyTyped/DefinitelyTyped/pull/50722

[2021-11-09 09:14] volodyad commented on #2059
No, it is example of minimal not working script

[2021-11-11 13:31] IanMoroney opened #2062 "Release request"
@bcoe , would it be possible to get a patch release to incorporate the fixes done in October?
I'm particularly keen on the CVE patch, as it impacts some upstream projects like `mochawesome` and `cypress-mochawesome-reporter`.

Many thanks!

[2021-11-13 16:22] bcoe commented on #2062
@IanMoroney there aren't any security patches, that I know of, in the next release of yargs itself.

Have you made sure you're on the latest version of dependencies in your `pckage-lock.json`, etc.? I'm guessing your talking bout `ansi-regex`? which should have been fixed in a patch release.

[2021-11-15 21:01] IanMoroney commented on #2062
specifically, it's this one:
https://github.com/yargs/yargs/pull/2044
`string-width`
Is that update now included in a specific version of yargs?
Thanks!

[2021-11-17 22:28] bcoe commented on #2062
@IanMoroney because yargs uses `^` for its SemVer range, the fix will be pulled in without a new release of the library being necessary.

[2021-11-17 22:28] #2062 closed

[2021-11-18 01:03] aboe026 opened #2064 "Cannot have version as both option and command"
It seems that with a recent version (seems to be 17.2.0+), I now get an error when trying to set version as both an option and a command:
[code]

Here is a sandbox reproducing the issue: https://codesandbox.io/s/yargs-testing-example-forked-p1hrv
And the "minimal" code to get the error:
[code]

My end goal is the be able to have the user specify either `cli.exe version` or `clie.exe --version` and

[2021-11-19 12:07] leaumar opened #2067 "`import from "yargs/yargs"` breaks under yarn3+pnp"
Possibly related to #2045. There is [an issue in web-ext](https://github.com/mozilla/web-ext/pull/2348) (and consequently, my webextension projects) when using yarn3 with pnp.

TLDR: importing Parser from `yargs/yargs` breaks, you gotta get it through `yargs/helpers` instead. I noticed that the exports for these two paths [are asymmetrical](https://github.com/yargs/yargs/blob/main/package.json#L15

[2021-11-19 22:17] bcoe commented on #2067
@leaumar for the ESM version of library, I think you just want:

`import yargs from 'yargs'`

Is this an option for you?

[2021-11-19 22:24] bcoe commented on #2067
Oh, reading `web-ext`, I better understand your problem, you're trying to use the `yargsParser` shipped with `yargs`.

Perhaps we should be adding an ESM import for `yargs/yargs` too, which aliases `helpers.mjs`?

[2021-11-19 22:27] bcoe commented on #2045
If you're writing TypeScript, and using the CJS version of the library,

`import yargs from 'yargs'` <-- would give you the singleton version of the library.
`import yargs from 'yargs/yargs'` <-- non-singleton version with some helpers attached to it (like an instance of yargs-parser).

If you're using the ESM version of the library:

`import yargs from 'yargs'` <-- gives you non-singleton version

[2021-11-20 00:15] leaumar commented on #2067
I have no know-how on the matter. I'm just an end-user of webext, and I found the cause within yargs by superficial scepticism. The whole cjs/esm thing is a subject I like to stay out of, typescript makes it all automagically work either way and that's all I want. 😛 It just didn't work in this specific circumstance (yarn3 + pnp in a project using webext when webext imports yargs/yargs) and the cau

[2021-11-20 15:39] stonefruit commented on #2059
I just added "This guy" to my `tsconfig.json` and got the error. I suspect this is the problem as it error goes away when it is commented out. OP also has this in `runtimeArgs`.

[code]

[2021-11-22 07:10] junseinagao opened #2068 "ts-jest says `The requested module 'yargs/helpers' does not provide an export named 'hideBin'`"
Hi, I have a question.

I'm going to use yargs in the project have ts-jest.

ts-jest said `The requested module 'yargs/helpers' does not provide an export named 'hideBin'` but I know `yargs/helper` have export function `hideBin`

🐚 log
[code]

This script that imported in main.spec.ts invoked this error.

setup.ts
[code]

I solved this problem not importing hideBin.

setup.ts (resolved problem)
[c

[2021-11-23 09:36] iddofontijn opened #2069 "options parameter of callback function for check method is always undefined"
According to https://yargs.js.org/docs/#api-reference-checkfn-globaltrue the callback function of `.check()` has an `options` parameter. In my experience, in version 16 it contained the available options for the specified command. But in version 17 it always returns `undefined`.

[2021-11-23 10:06] flisboac commented on #1525
I'm using Yargs 17, and I can assure you that TypeScript works, but you need to do some extra configuration, and be wary of some gotchas.

When distributing, I opted to run `tsconfig-replace-paths` on the generated `js` files to replace imports with whatever was configured in my `compilerOptions.paths` config. This eliminates relative paths, and allows me to keep the same file hierarchy between `j

[2021-11-24 03:22] gajus opened #2070 "Is there a way to sponsor the project?"
Open Collective or another method.

[2021-11-25 13:15] xkn1ght commented on #1929
@hardfist @Wallacy Any doc or reference about why this error occur? I got a familiar error.
My esbuild config is:
[code]
But the bundle contain `// node_modules/yargs/lib/platform-shims/esm.mjs`
And then break in the next several line:
[code]
I have no idea why esm file would appear in cjs bundle.
Actually the comment should occur in esbuild's issue or sth, but wondering might get some help here.

[2021-11-25 16:04] kvz commented on #571
@eden-lane I also had to add this

[code]

perhaps it works for you?

[2021-11-26 02:29] xkn1ght commented on #1929
seems relative issue: https://github.com/evanw/esbuild/issues/1492

[2021-11-26 16:30] #1929 closed

[2021-11-26 16:47] bcoe commented on #2070
@gajus there's not currently a way to do so. The thought has crossed my mind, but my concern has always been that I often put a few hours into yargs while at work, on a monthly basis (_as we use it in a few of our projects._). I'm worried about creating a conflict of interest, where it's harder for me to justify doing this.

[2021-11-26 17:59] jly36963 commented on #2064
Does this fix your problem?

[code]

[2021-11-26 18:59] gajus commented on #2070
Wouldn't overthink this. Yargs is used by thousands. There are many companies (such as ours) that would like to reciprocate.

[2021-11-27 22:35] jly36963 commented on #2053
If I understand your question correctly, using `.fail(false)` might fix your problem.
Providing false (instead of a function) as an argument will prevent yargs from handling the error and exiting, and it relinquishes control to the try/catch block.

## Example

[code]

## Output

[code]

[2021-11-29 16:20] bcoe commented on #2053
@peterp have you tried awaiting yargs:

[code]

If this isn't supporting sub-commands, I think it's a bug we should make an effort to fix.

[2021-11-29 16:53] ssk101 opened #2080 "Please change the contrast/font of the link elements on the documentation page"
For browsers running on Linux, the tiny font-size and weight of 400 in combination with the color `#2badad` on a `#fff` background make the items in the left-hand menu on yargs.js.org/docs especially difficult and eye-straining to read. Besides the size and weight, the color combination also fail WCAG contrast checker tests.

I suggest darkening the font color slightly, increasing the font-weight

[2021-11-30 13:54] rivy commented on #833
@stevage @bmundt6 , I'm hacking this behavior by using an alias with leading backspaces ...

[code]

@mleguen , any likelyhood that this could be added to `yargs`?

[2021-12-01 05:06] aboe026 commented on #2064
@jly36963 yes that appears to show the custom version in both scenarios without showing any warning. I'm struggling to see the reason it works for how you have it configured and doesn't for how I have it configured. Is it because you are configuring the option/`--version` behavior within the default command (rather than as a root option of the `args`?)

[2021-12-02 00:35] jly36963 commented on #2064
The biggest reason is because I'm using `.version(false)` wherever I'm using `version` as an option or command.

Background: I added the `"version" is a reserved word` warning in a previous PR, because version is used internally -- it has unexpected results when people add `version` as an option or command.

Using `.version(false)` allows the user to override the internal usage of version, which p

[2021-12-04 12:47] loynoir opened #2084 "unwanted `help` is shown when async handler reject"
[code]

### Expected
[code]

### Actual
[code]

[2021-12-06 23:43] neha-sri opened #2085 "`showHelpOnFail` does not show the message when set to false"
From the docs:
[code]
[code]

We are using it in the following manner:

[code]
However, the string passed in the parameter `message` is never displayed. Only the error message `Not enough non-option arguments: got 0, need at least 1` is being displayed.

To be clear, we want to not display the help page but print a string after the error message instead.

PS: The string also doesn't get displayed

[2021-12-07 01:31] jly36963 commented on #2058
You can chain on `.config()` to the command builders, such that they are specific to each builder:

[code]

This will yield the following output:

[code]

Unless config is scoped to a command/subcommand, it will likely cause strict to fail (unless all of the commands/subcommands affected share the options defined in the config)

[2021-12-08 07:42] LucaSalzani commented on #1290
Hi. Partly thanks to your input I got code completion running quite quickly for our CLI.

This is our Profile. I just created a new program in the cli to take the position and current commandAst in as arguments and calculate the options

[code]

mycommand complete looks like this.
1. split into finished words and started words ("mycommand run te" would split into "mycommand run" and "te")
2. call

[2021-12-08 13:34] gmahomarf opened #2088 "Completion for `choices` doesn't work with `alias` or short options"
For options that use `choices` (i.e. have a set of valid arguments), completion doesn't work with an option's aliases nor with short options (i.e. options with a single hyphen).

I've opened a PR: #2083

[2021-12-08 13:53] serhalp opened #2089 "7.1.0 introduces a potentially breaking change, not called out in release notes"
Hi there.

I think the bug fix in 7.1.0 in https://github.com/yargs/yargs/pull/1985 is arguably a breaking change. Per [semver](https://semver.org/):

For example, we had code that looked roughly like:
[code]

Our intent was to imply `--fix false` when `dry-run` is provided. Elsewhere, we had a `default: false` on the `dry-run` arg.

With yargs@17.0.0, this skipped validation in the default case.

[2021-12-08 15:58] bcoe commented on #2089
@serhalp thanks for bringing this up. Since the behaviro that was modified wasn't captured in tests, I'd prefer not to bump from `v17` to `v18`, or rollback the work, since it has been in the wild for 4 months.

However, would be happy to add this information to the CHANGELOG 👍

[2021-12-09 03:39] jly36963 commented on #2085
@neha-sri

`showHelpOnFail` doesn't display the message if it is chained onto yargs globally. It works as expected if chained onto the command builder.

In the example below, only the `showHelpOnFail` that is chained onto the `cmd1` builder has any effect.

[code]

This is the output from the above example:

[code]

[2021-12-09 23:57] jly36963 commented on #2041
Hey! `nargs` might be what you're looking for.

Here is a rough example of how it could be used to solve your hypothetical problem:

[code]

This is the output of the above code

[code]

A few things to note:
- You could validate the 'page' argument before the handler executes using `.check()`
- I used lodash to reduce the amount of peripheral code, it's obviously not required.

Hopefully this is

[2021-12-10 06:25] pedro-w commented on #2041
That is helpful, @jly36963, thank you!

[2021-12-12 05:54] jly36963 commented on #2033
I want to work on a fix for this, but I'm having trouble reproducing this error:
[code]

If I run a command with a space between `\` and a newline, I can reproduce this error:
[code]

## Reproduction

This is how I tried to reproduce the error

### Code

[code]

[code]

### Methods

I tried the following methods:
- setting `input` to a multi-line string that has a space after the backslash
- setti

[2021-12-12 14:52] dacbd commented on #2033
@jly36963  put your
[code]

In a file and execute with `bash -e ./test`
As well as my the linked comment thread. Like me know if that doesn't work and I'll try help you to get something reproduces the error.

[2021-12-12 15:01] dacbd commented on #2033
For context if you have a multi-line ` run: |` in GitHub actions it is executed with `bash -e` which is how I found the original error.

But if you say, copy the content of that file and paste it in your bash terminal it will see the space as the start of a new command and you get the `command not found`

[2021-12-12 20:56] jy95 opened #2091 "17.3.0 introduces a regression for handling quoted string"
Hello,

When upgrading my dependancies to their latest versions on a [branch](https://github.com/jy95/i18n-tools/pull/39), I detected a regression in yargs (that wasn't present in 17.2.1).

![image](https://user-images.githubusercontent.com/9306961/145732588-e6445307-2925-4192-b7bd-c46e5f3a2ef2.png)

I created the following [diff](https://github.com/jy95/i18n-tools/blob/updates/src/cmds/diff.ts) c

[2021-12-12 21:34] jly36963 commented on #2033
I tried executing the `multiline.sh` file above in the following ways:
- `bash -e multiline.sh`
- `zsh -e multiline.sh`
- `sh -e multiline.sh`

All of them resulted in some output containing `command not found`.

I haven't tried it in the context of a github actions yaml file with a literal block scalar, and I'm wondering if the `unknown argument` error only happens within that context. Have you b

[2021-12-12 23:03] jly36963 commented on #2033
I was able to reproduce -- I'll work on a fix tonight

[2021-12-13 10:40] dewcked opened #2094 "Support for locale based help (descriptions)?"
Currently, defualt help message is locale based. So it looks quite wierd to see only help command descriptions are translated.

Maybe we can add locale based description like below using dictionary:
`.option('output', {
            alias: 'o',
            describe: {'en': 'Specify output filename', 'ja': '出力ファイル名の指定'},
            default: 'newfile',
        })`

[2021-12-14 20:07] aol-nnov opened #2096 "variadic positional arguments are duplicated if specified through config"
minimal example

[code]
invocation: `node ./minimal.js qwe`

actual output:
[code]

expected output:
[code]

Can't help but notice that dashed variant of an array contains correct values.

[2021-12-15 23:30] jly36963 commented on #2096
Thanks for the bug report! I'll work on a fix for this

[2021-12-18 19:43] aakasheoran commented on #1844
It still has the same issue, can't use ES6 import syntax.

File Content:
`import yargs from 'yargs';`
`console.log(yargs.Argv)`

Output:
`node .\app.js test1 test2`
`undefined`

[2021-12-18 20:37] shadowspawn commented on #2060
Looks like you are running node in the interactive REPL.

As @bcoe said, invoking the help during parsing causes Yargs to call `process.exit` as you usually want to terminate the program after displaying the help. The exit will terminate the REPL.

You can disable the exit behaviour using `.exitProcess(false)` which will let you stay in the REPL and try other commands. (Seen in the docs, but I hav

[2021-12-19 07:20] arthurattwell commented on #1045
Update: #1143 resolves this issue: you can now [set the script name with `.scriptName($0)`](https://yargs.js.org/docs/#api-reference-scriptname0).

[2021-12-19 07:27] dcrystalj commented on #2060
Well problem was not in reply only

[2021-12-19 12:06] make-github-pseudonymous-again opened #2098 "getOptions missing from @types/yargs"
I using `getOptions` to recover configured default values but the type definitions at https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/yargs seem to be missing the definition of this method.

[2021-12-20 05:33] LordZardeck opened #2101 "Using Yargs in browser with .strict(true) throws error"
If you use Yargs in the browser with `.strict(true)`, it throws the following error:

[code]

This can easily be reproduced by using the example fiddle from the docs and simply adding `.strict(true)` to it.

I'd like to be able to capture when a command is not selected so I can output a message. Ideally, I'd like Yargs to provide the message, like the help text and such, but there doesn't seem to

[2021-12-21 17:05] bcoe commented on #2060
@dcrystalj di dsetting `exitProcess(false)` work for you?

[2021-12-21 17:31] bcoe commented on #1844
[code]

☝️ if you're using pure ESM the format is as follows.

[2021-12-21 17:39] bcoe commented on #2101
@LordZardeck thanks for the bug report. Looks like we need to shim the `captureStackTrace` method in the browser.

Question for you, what's your use case in the browser? Curious how people are using yargs.

[2021-12-21 17:41] bcoe commented on #1045
hooray, another issue we can close, thank you @arthurattwell.

[2021-12-21 17:41] #1045 closed

[2021-12-21 17:43] bcoe commented on #2041
@pedro-w did @jly36963's tip do the trick for you? Or should we perhaps consider this a feature request and update the title?

[2021-12-21 17:44] bcoe commented on #2088
@gmahomarf thank you for the bug report.

[2021-12-21 17:44] bcoe commented on #1290
@LucaSalzani I would happily take a PR for adding PowerShell support, if thios is something that can be made generic.

[2021-12-21 17:46] bcoe commented on #2084
@loynoir thank you for the bug report.

[2021-12-23 16:48] LordZardeck commented on #2101
@bcoe I was honestly just playing with creating terminal-like apps in the browser. I can definitely see it being a fringe case to use in the browser, but I appreciate it's support!

[2021-12-23 21:19] ykolomatski opened #2102 "Default command options not displayed correctly on command failure"
Options specified in the builder of a default command are not properly displayed on command failure.

**Issues**:

- Description of required options not displayed
- Optional options not displayed

Running the script with the `--help` option properly displays all the options and descriptions. The issues only occur when the command fails and no `--help` option is provided.

**Code:**

example.ts:
[c

[2021-12-25 12:08] Dragonizedpizza opened #2104 "[Question] how do I set custom quotes?"
How do I set set custom quotes on yargs?

For example, how would I treat `;;` as quotes, like how `"` is treated?

[2021-12-27 17:29] jy95 commented on #2091
@jly36963  I found the answer in [`ember-template-lint`](https://github.com/ember-template-lint/ember-template-lint/pull/2257) project :

I guess it should be reported as a change at the end

[2021-12-27 18:48] jly36963 commented on #2030
@yano3nora
I can reproduce the issue, and I'm currently working on a fix for this

[2021-12-27 18:49] jly36963 commented on #2102
Relates to: https://github.com/yargs/yargs/issues/2030

[2021-12-27 19:01] jly36963 commented on #2091
Yeah, I knew it had to do with [this PR](https://github.com/yargs/yargs-parser/pull/407). yargs-parser had a bug where it would remove more quotes than it should (examples shown in the PR). I need to spend more time with your use case, to make sure there aren't unintended side effects to my fix.

I'm currently working on another bug, but I'll get to this one soon.

[2021-12-27 19:08] jy95 commented on #2091
Sure, take your time ;)
For info, I removed some quotes in my code so that I can finally merge that PR.
To reproduce the bug on that branch, please refer to the commit with SHA 1acb97c21175e7e38bd2bbd21d028a07ddcce58a

[2021-12-28 12:06] MurzNN opened #2106 "How to launch yargs middleware function after command processing is finished?"
I need to run a finalizer function after any command processing is finished, is it possible?

I can launch it manually in end of each command processing function, but one place to declare it via yargs - will be much more convenient!

We already have a very similar `middleware` function, but it launches _before_ the command is processed.

[2021-12-28 13:00] MurzNN opened #2107 "How to convert command from alias to full name programmatically?"
I have several command described in `yargs` with multiple alias, and after command processing is finished, I need to do some more things with this command manually.

So I have a comparison like this
[code]
and it works well if I use full `command1` name of command.

But it fails if I use aliases like "c1" or "c", without describing all aliases in that `if` construction...

To solve this problem I

[2021-12-28 20:12] ljharb commented on #1145
My use case is a "github token" argument, which defaults from `process.env` - but i do not want to display a secret value in the help output.

[2021-12-28 23:57] bcoe commented on #2033
@dacb, @jly36963 did some digging, and it seemed like the problem is potentially extra spaces in your bash script, after the `\`, before the `\n`.

Would you be able to confirm this?

[2021-12-28 23:57] #2033 closed

[2021-12-29 00:05] bcoe commented on #2106
@MurzNN you could do something like this now:

[code]

👆 with yargs' new async support you would not reach `doSomething()` until after any command had finished.

Would this give you what you need? Or were you picturing something a bit different?

[2021-12-29 00:07] bcoe commented on #2104
@Dragonizedpizza this isn't something that's supported in yargs.

What do you need the functionality for?

[2021-12-29 00:13] bcoe commented on #2091
@jly36963 @jy95  is there anything we need to do for this one, other than perhaps call out the behavioral change more loudly in the CHANGELOG?

[2021-12-29 00:15] bcoe commented on #2085
The discrepancy between the global configuration of `showHelpOnFail` and the command builder feels a bit weird, but since there's a workaround, I advocate calling this a `p2`.

[2021-12-29 00:18] jly36963 commented on #2091
@bcoe
I want to do some digging to make sure that my fix has no unintended side-effects. I'll let you know when I've finished investigating.

[2021-12-29 02:19] Dragonizedpizza commented on #2104
I'm trying to have yargs work with codeblocks

[2021-12-29 04:27] MurzNN commented on #2106
Thanks for the quick reply! I'm already going this way, but have faced other issue with detecting executed command afterwise: https://github.com/yargs/yargs/issues/2107

[2021-12-29 05:38] #2106 closed

[2021-12-29 05:44] MurzNN commented on #2107
Maybe there is a way to get list of all declared commands from `myYargs` object, something like `myYargs.getCommands()`?

[2021-12-29 11:03] MurzNN commented on #2107
At now I've implemented this via a little of boilerplate:
[code]
But will be glad to have better solution.

[2021-12-29 15:47] dacbd commented on #2033
@bcoe that is correct the original error was caused by a space after the `\` but before the `\n`.

[2021-12-29 19:27] alexbjorlig opened #2109 "No autocompletion, how to debug?"
I'm migrating my teams CLI to Github codespaces. The CLI installs fine and is available globally in the container with `npm link`. Added the output of the `completion` command to the `.bashrc`, and sourced the file.

However, there is no auto-complete. How can I debug this?

[2021-12-29 20:45] bcoe commented on #2109
I haven't personally bumped into issues with the completion feature, so haven't been in a position to debug. I think your best bet would be following instructions like [this](https://superuser.com/questions/370952/how-do-i-debug-bash-completions), for putting your bash script in verbose mode.

You could also potentially `echo` log lines to a temporary file, e.g., `>> /tmp/completion.out`

[2021-12-29 20:59] #1196 closed

[2021-12-30 15:35] #2109 closed

[2021-12-30 15:38] alexbjorlig opened #2110 "How to show command descriptions when completion runs for a singel command?"
Let's say I have a function:

[code]

But when completion runs for this in `bash`, It only shows the possible flags I can use. How can I make it output the description also?
![Screen Shot 2021-12-30 at 16 38 05](https://user-images.githubusercontent.com/9967422/147766131-412794ea-47ea-44f7-ada5-d768bb9e191c.png)

Ideally I would like some nice outputted format like the Heroku CLI 😅

[2021-12-30 18:40] jramsley commented on #1094
I was running into this today, so poked around the repo and it looks like this is expected.  When doing the `.check` at the top level, this is not running it on any of the sub-commands unless global is true even if it looks like you are adding it to the command in the builder.  Instead, you need to add the check to the command's builder instead.

ex.
[code]

vs.

[code]

[2021-12-31 04:02] bcoe commented on #1094
@jramsley thanks for fielding this question 👍.

Closing this issue since it's been open for several years, and you've outlined a good approach.

[2021-12-31 04:02] #1094 closed

[2021-12-31 04:04] bcoe commented on #2110
@alexbjorlig this is not a feature that's currently implemented. Could you provide an edample of the behavior you're picturing, I'm not accustomed to completions with descriptions.

[2021-12-31 04:06] bcoe commented on #2107
Hey @MurzNN, this is functionality we often need internally, but I don't think we have it exposed for folks using yargs (also I don't know if we have a common helper we use internally for looking up all aliases consistently).

I think this could be a public method worth adding.

[2021-12-31 04:08] bcoe commented on #2104
Working backwards, does codeblocks use `;` for quoting strings rather than `"` and `'`? Mind providing an example, you've tickled my curiosity.

[2021-12-31 04:44] jwbth opened #2112 "Word wrap is lost when Yargs is used as ES module"
Wrapping breaks words at Nth character when Yargs is used as an ES module. As soon as I switch to CommonJS, word wrap is back to normal. That's basically all.

Yargs 17.3.1, Node v14.17.0, Windows 10.

Found a similar issue #1938, it turned out to be a problem of esbuild. It is not used in my case.

[2021-12-31 04:52] bcoe commented on #2112
@jwbth this was a decision made when migrating to ESM, as the library we used for wordwrap was not yet ported to ESM, I believe we could now go back to using a library that works as expected for ES modules.

[2021-12-31 12:17] alexbjorlig commented on #2110
hmm I think what I'm looking for is maybe more something like [fig.io](https://fig.io/) - but that's probably out of scope for yargs. I will just close the issue 😅

[2021-12-31 12:17] #2110 closed

[2022-01-01 11:03] pedro-w commented on #2041
Sorry for the delay. Yes, after a bit of thought, that tip does help me do what I wanted, thanks all.

[2022-01-01 16:36] #2041 closed

[2022-01-02 05:30] Dragonizedpizza commented on #2104
Codeblocks use \`\`\`, the ;; was just an example.

[2022-01-03 19:57] jly36963 commented on #1694
@jhiode
I believe [my fix](https://github.com/yargs/yargs/pull/1996) has been released with 17.3.1 -- can you confirm that it solves the issue you reported?

[2022-01-03 20:13] jly36963 commented on #1637
I believe [my fix](https://github.com/yargs/yargs/pull/1992) was released, can you use yargs 17.3.1 and confirm that it solves the issue you reported?

The solution I chose is as follows:
- A user provides options and positionals under the same namespace
- If neither the option or the positional is array/variadic type, overwrite.
- If at least one is array/variadic, combine.

__NOTE__: The fix had

[2022-01-03 20:36] JacobMGEvans opened #2113 "zsh completion .positional filename"
The ZSH autocompletion works great for commands and flags. I have been having issues with completion `.positional` filename on a command gets clobbered by the `.completion()` builtin script.

I noticed that the bashrc has a fallback to filename completion. Not sure if that resolves the clobbering of the filename completion after the command is completed.

In this instance it will give be the comma

[2022-01-04 22:06] ryandberger opened #2115 "[Question] How do I mark a command as deprecated?"
I see from https://github.com/yargs/yargs/pull/1559 that it is now possible to mark options as deprecated. I have attempted to use this functionality at a higher level to mark an entire command as deprecated, but it does not work. Is this feature not yet implemented or am I missing something?

This is the usage I am attempting:

[code]

[2022-01-05 00:27] jly36963 commented on #2115
I believe https://github.com/yargs/yargs/pull/1559 only applies to options, whereas https://github.com/yargs/yargs/pull/1624 is for commands.

## Example

You can use `deprecated: true` or `deprecated: "explanation here"` for both options and commands.

My example uses the `yargs.command(module)` syntax, but it should also work for `yargs.command(cmd, description, builder, handler, commandMiddlewa

[2022-01-05 15:33] ryandberger commented on #2115
Yes, I do see the `[deprecated]` indicator next to command `cmd1` when calling `--help` generally. But when I call `cmd1 --help` I don't see the message after the command description which I think is unexpected.

[2022-01-05 16:35] ryandberger commented on #2115
Would love to see a warning emitted when the command is used. I think that would be particularly useful for automation processes. For your approach, I personally would lean towards option 2 since I imagine developers would want consistent behavior across their app. I think it would also make option 3 more natural to implement when the time comes. Appreciate your help on this!

[2022-01-05 19:49] lewebsimple commented on #1147
This works for setting a command as default:
[code]

[2022-01-05 20:24] binarymist commented on #1147
Sorry, only just saw this. My code is here: https://github.com/purpleteam-labs/purpleteam
This maybe the same file, can't remember now: https://github.com/purpleteam-labs/purpleteam/blob/main/src/cli.js

[2022-01-05 22:54] kellyselden opened #2116 "[Question] Is it possible to implement the unix `mv` command?"
Is it possible to implement the unix `mv` command?

[code]

would be ideal to support `foo src-file-1 src-file-2 dest-dir`, but variable positional params only work as the last arg. Is this possible without doing something like `foo -s src-file-1 src-file-2 -- dest-dir`?

[2022-01-10 18:52] jly36963 commented on #2116
Related to: https://github.com/yargs/yargs/issues/388

The way yargs-parser handles array options, positionals, and variadic positionals is pretty complex (IMO). I want to work on this feature, but it will likely take me a while.

[2022-01-11 11:35] pjalsGit opened #2117 "buggy behavior when using `h` as option name"
When you try to make a option with the name `h`, it is reserved for help, but when you do `-h 40` it for some reason errors with `"" help can't be found`, why is that `""` there?

[2022-01-11 11:44] pjalsGit commented on #2117
🤦🏾 it was a nodemon issue

[2022-01-11 11:44] #2117 closed

[2022-01-11 16:14] AndyClausen commented on #2068
I get the same message but for `argv` when using yargs in an esm project.
Maybe this needs its own issue, but I thought it could be related.

Importing like this makes it fail with `The requested module 'yargs' does not provide an export named 'argv'`:
[code]

Importing like this makes `yargs` a function and `yargs.argv` undefined:
[code]

Importing like before, but with running yargs as a functio

[2022-01-14 23:06] gluxon opened #2118 "Throwing an error in a command handler can result in truncated stdout/stderr output"
Thanks for such a fantastic library. I wanted to help out by dropping a report for a rare bug I saw in case it helps anyone else.

## Problem

I was debugging a problem with webpack output getting truncated on failures. This build is wrapped in a `yargs` command handler. The code looks roughly like this:

[code]

This example is adapted slightly from: https://webpack.js.org/api/node/#error-handlin

[2022-01-17 19:58] OnkelTem commented on #1649
@bcoe Hi. Maybe it's worth reconsidering the 'bug' tag then?

[2022-01-17 23:13] OnkelTem opened #2119 "How to coerce a new derived option from other options?"
Hi!

I cannot find how to do a simple thing: take CURRENT list of options and create a new option from them?

The evident function for this should be `coerce()` but for some obscure reason it's not receiving what one would expect — `argv`. Instead it receives just nothing if you don't modify an existing option:

[code]

There is also an issue with `coerce()` typing: arg doesn't get typed even if y

[2022-01-18 12:23] jwbth opened #2120 "`.usage()` removes leading spaces (including non-breaking)"
I have a multiline help message that I show to the user with `.usage()`. I want to have some lines indented for better readability. I tried to use leading spaces, but they get removed. I tried to resort to non-breaking spaces, but they are removed as well, unless there is no spaces on an indented line. A couple of examples:
[code]
Output:
[code]

*Expected behavior:* leading non-breaking spaces sh

[2022-01-18 12:29] jwbth commented on #2120
`\t` (a tab), on the other hand, doesn't get removed, but gives too much space. Other kinds of space such as a thin space (`\u2009`) don't get removed, but... it gets too hacky at this point.

[2022-01-20 00:46] th317erd commented on #1848
Just wanted to chime in here that I have run into the same issue, and I found a workaround. I simply did this:

[code]

The extra empty string argument concatenated to the end of the argument list appears to make it happy. 🤷🏻‍♂️

[2022-01-22 15:38] mayerraphael commented on #1964
I think its related with yargs detecting its running in the browser with ESM / NodeNext.
I fixed it by using 'scriptName(..)'

https://github.com/yargs/yargs/blob/main/docs/browser.md

[2022-01-23 14:03] Dragonizedpizza commented on #2104
@bcoe you there?

[2022-01-24 15:58] bcoe commented on #2120
@jwbth yargs' output was not designed with multiline help messages in mind. Labeling this as a feature request :+1:

[2022-01-24 15:59] bcoe commented on #2104
@Dragonizedpizza I'm trying to understand the use case where you would need yargs to parse codeblocks, could you elaborate a bit?

This would provide quite a bit of tweaking to the parser, and I'm wondering why you wouldn't just replace `\`\`\`` with `"`?

[2022-01-24 16:01] bcoe commented on #1964
If you have a moment, submit a failing test case in `test/usage.js`, this is a good way to get some eyes on the problem.

[2022-01-24 17:13] bcoe commented on #1649
Hey @OnkelTem I didn't quite follow, what's the difference between functional types for you, and a failure?

[2022-01-24 17:16] bcoe commented on #2118
@gluxon thank you for the bug report. It's my expectation that the following logic should ensure that `stdout`/`stderr` drains before an application exits:

https://github.com/yargs/yargs/blob/main/lib/utils/set-blocking.ts

This makes me think that the bug may be in the Node.js runtime itself.

[2022-01-24 17:18] bcoe commented on #2068
@AndyClausen I believe the ESM version of yargs drops the *magic* `.argv` accessor, try the following:

[code]

`.parse()` is equivalent to `.argv` but less magic.

[2022-01-25 20:45] ryandberger commented on #2115
Related to this: I noticed that `aliases` attribute also only displays at the top level. Would be helpful to also see '[aliases]` indicator display when calling `cmd1 --help`. Figured it might be convenient to bundle the work together if you agree with my request.

[2022-01-26 10:51] OnkelTem commented on #1649
The handler should return a value I guess, which is used afterwards. And initially we didn't  do that, hence - no types later on. Does it make sense?

[2022-01-27 02:18] benschwarz opened #2121 "[question] how to generate documentation"
I've a CLI that's written using yargs with `commandDir` subdirectories:

[code]

Is it possible to have yargs introspect the CLI and provide command metadata? For example, this might be a list of all commands including:

* the command and options, e.g: `cliname site create [name]`
* help text
* examples
* subcommands

I haven't otherwise been able to find an example of how someone would take a yar

[2022-01-27 04:12] jopemachine opened #2122 "yargs cannot find `package.json` on ESM"
Related issue: https://github.com/avajs/ava/issues/2942

In [this code](https://github.com/yargs/yargs/blob/main/lib/platform-shims/esm.mjs#L24), yargs's `platform-shims/esm.mjs` takes different value on `mainFilename` with `platform-shims/cjs.ts`.

And in my thought, because the line stores a wrong value in `mainFilename` in ESM, yargs cannot find `package.json` in the `kPkgUp`.

Maybe, I think t

[2022-01-27 16:38] knobladSICKAG opened #2124 "`strict()` in combination with `middleware(async, true)` results in `unknown command` error"
### Description
Using the `strict` option in combination with an `async` middleware, which is applied before the validation, results in an `unknown command` error. Removing the `async` from the middleware, removing the `strict` or applying the middleware after the validation produces the expected result (no error).

### Minimal example
The following code fails with the error `Unknown command: test

[2022-01-28 10:58] mayerraphael commented on #1964
I hope i have some time the next days. Will do if i have.

[2022-01-30 16:15] praveendvd commented on #2068
@bcoe  this works with normal package , but with jest test it throws the error mentioned in this bug . Is there any work around for this ?

[2022-01-31 14:09] AndrewLeedham opened #2126 "Integrate with Fig?"
[Fig](https://www.fig.io) is a very useful tool for autocompletion in the terminal on macOs. They [currently have integrations for autocompletion with popular JS CLI libraries](https://fig.io/docs/guides/autocomplete-for-teams), it would be great to add Yargs to that list.

I therefore wanted to start the conversation of whether this is something Yargs would consider supporting and which approach

[2022-01-31 18:52] Harshita-mindfire opened #2127 "[Question] Different type for same option"
Is it possible for an option in yargs to have either type?
My use case is : I want to have an option --tags. If the value provided for this option
is an URI, I want to load the file and if it is a key value pair, then I'd like to keep the value as it.

Currently I have 2 separate options for this
[code]

I wanna know if it is possible to parse both of them(not passing them in single query)?
- --ta

[2022-02-01 04:12] mschrage commented on #2121
I am also interested in the ability to introspect the CLI. Ideally, the internal representation could be exposed so 3rd party plugins could generate artifacts like documentation or shell completions (see #2126)

[2022-02-02 22:17] Dragonizedpizza commented on #2104
![image](https://user-images.githubusercontent.com/70718540/152246701-21b0fbab-fd10-4755-9be4-5e883a3f55b4.png)

I just noticed that is possible, how does yargs realize which quote closes the string all together, and which quote is a string inside the string?

[2022-02-03 01:03] 0x2b3bfa0 opened #2128 "Option with three or more trailing hyphens parsed as positional argument"
## Description

[`yargs@v17.3.1`](https://github.com/yargs/yargs/releases/tag/v17.3.1) interprets options with three or more trailing hyphens as positional parameters. This parsing peculiarity only happens when options and values are separated with an equal sign.

## Actual behavior

[code]

### Additional test cases

[code]

## Desired behavior

[code]

### Additional test cases

[code]

[2022-02-03 01:31] 0x2b3bfa0 commented on #2128
Regression introduced with [`16.0.2`](https://www.npmjs.com/package/yargs/v/16.0.2); not present in [`16.0.1`](https://www.npmjs.com/package/yargs/v/16.0.1)

[2022-02-05 16:50] #2104 closed

[2022-02-05 16:51] bcoe commented on #2104
@Dragonizedpizza I think what you want is support for bash escape codes in parsing, then you could do something like:

[code]

This is already a feature request here: https://github.com/yargs/yargs-parser/issues/346

[2022-02-05 17:03] bcoe commented on #2068
@praveendvd could you open an issue on `ts-jest` as well, perhaps they have some direction? This seems like a bug with how they're handling ESM vs., CJS requires.

[2022-02-05 17:05] praveendvd commented on #2068
https://github.com/facebook/jest/issues/12284

Already did it thank you

[2022-02-05 18:30] bcoe commented on #2121
This is not a feature of yargs. Because commands are lazy loaded during execution, it's also a feature I wouldn't know how to easily implement, off the top of my head -- it wouldn't be perfect, but perhaps you could do it by recursively calling `--help` on commands at each level.

[2022-02-05 18:33] bcoe commented on #2122
@jopemachine if you have the time, a failing test would be greatly appreciated. I'm not sure what the best way to get equivalent behavior in ESM is?

[2022-02-05 18:37] bcoe commented on #2126
I don't know enough about `fig` to know what modifications would be required to the completion API to support it.

If it's possible to add support for fig, while leveraging the existing completion API surface used by bash as much as possible, I think this would be a really slick feature, and would love to see a proposal.

Perhaps a markdown RFC to kick things off, if you're interested in implement