[2016-01-16 00:08] #351 closed

[2016-01-16 03:04] bcoe commented on #347
closin' but with notes; please feel free to open other tickets, and to help build some of these features.

[2016-01-16 03:04] #347 closed

[2016-01-16 10:29] btd commented on #349
That will be nice. I will fork it for a while.

[2016-01-16 10:29] #349 closed

[2016-01-16 10:41] kerryChen95 commented on #345
@maxrimue thx, I got it

[2016-01-17 07:02] bendavis78 commented on #333
What about something like this:

    var argv = require('yargs')
      .usage('$0 [options] <source> <dest>')
      .demand(2).annotate(1, 'source').annotate(2, 'dest')

[2016-01-18 00:17] kellyselden commented on #327
@bcoe Works great. Was able to remove this line https://github.com/kellyselden/eslint-mocha/pull/17/files#diff-dec258563532f674fb4d25d7d9952de6L22

Thank you.

[2016-01-18 18:28] bcoe commented on #324
we're making good progress in a slack organization now \o/

[2016-01-18 18:28] #324 closed

[2016-01-18 18:37] bcoe opened #352 "make yargs configurable"
It would be nice to be able to enable and disable some of yargs' more controversial parsing functions, e.g., `--no`, dot-notation.

There are several tickets that request the ability to do so:

https://github.com/bcoe/yargs/issues/345
https://github.com/bcoe/yargs/issues/349

I propose that we make the yargs parser configurable:

* I appreciate how AVA simply loads its configuration from `package.

[2016-01-18 18:37] bcoe commented on #345
@kerryChen95 closing in favor of this ticket: https://github.com/bcoe/yargs/issues/352

[2016-01-18 18:37] #345 closed

[2016-01-18 22:06] Rojuinex commented on #92
100% agree pirate speak detracts from understandability.  I actually found this issue by googling "yargs tutorial without pirate speak" because the docs require way to much brain power to process the pirate speak than I care to give atm.

[2016-01-19 02:50] stevage commented on #333
In my actual case that wouldn't quite work, because the two positional arguments are optional (although the second requires the first).

[2016-01-19 12:08] btd commented on #352
In your case it will make configuration global (the same way you can use environment variables).
I am :+1: but probably better to make this configurable also per option also.

[2016-01-19 17:33] gajus opened #353 "offset demand of a subcommand"
I have an entry file:

[code]

My `lintCommand.js` looks like this:

[code]

When I execute the program such as:

[code]

I get an error:

The reason for this is that `argv._` value is `[ 'lint' ]`.

How do I remove the command value from `argv._`?

[2016-01-19 17:45] nexdrew commented on #353
@gajus Interesting problem. Does something like this work for `lintCommand.js`?

[code]

[2016-01-19 17:47] gajus commented on #353
How would that help? `argv._` is still `['lint']`.

[2016-01-19 18:01] gajus commented on #353
Here is how I did it:

[code]

[code]

[2016-01-19 20:08] maxrimue commented on #352
@bcoe Should we accept configuration only via `package.json` or just add it to the possibilities of passing configuration? Also, how should yargs know whether to parse the `package.json`'s content or not if it's not the only option, maybe via `.config()`?

[2016-01-20 06:44] lrlna commented on #352
I like the idea of having it go with `.config()`; in my mind everything pertaining to my application will be inside my application, including my configurations.

However, I do feel like that's pretty heavy for the applications users will be building. That's almost like configuring the application every time yargs does it's usual parsing magic.

I am assuming the way we want `package.json` to work

[2016-01-29 01:51] andyburke opened #360 "String arguments that contain dashes do not parse properly"
Eg:

[code]

This will fall afoul of this case:

https://github.com/bcoe/yargs/blob/master/lib/parser.js#L103

I ran into this trying to encrypt a private ssh key using [cryptex](https://github.com/TechnologyAdvice/Cryptex).

[2016-01-29 01:52] andyburke commented on #360
You can get around it with the bare -- option, but it was non-intuitive and took me quite a bit of digging in the debugger to understand what was happening.

[2016-01-29 05:22] bcoe commented on #360
@andyburke good find, would you like to submit a failing test?

[2016-01-29 09:37] jlanza opened #361 "String argument default only if in the list of arguments"
This is an enhancement.
I would like if possible something like having an string parameter that in case is empty it takes the default value. It is like having a boolean and string in the same.

I don't know if this is the usual way, but for instance you can have a -f flag that means to direct to file. Then you can have on your configuration a default value that is only taken if the flag -f is in t

[2016-01-29 11:11] maxrimue commented on #361
So, basically, what you would want is a `.default()` method for yargs that only applies a default value if the option is passed to the module?

[2016-01-29 12:13] jlanza commented on #361
Yes. For boolean, it has no sense, but it might have it for strings. Maybe as another option besides default value. The problem is when you set the default value and the option is not included then there is no way to check if it has been or not requested.

[2016-01-29 13:06] maxrimue commented on #361
@bcoe is currently attempting to make yargs more configurable (#352), there could be an `apply-defaults-if-undef` option which would default to `true`, if you set it to `false`, `.default()` will only apply defaults if the options are defined (so, passed). How does that sound?

[2016-01-29 13:11] jlanza commented on #361
I think it sounds good ;) Thanks a lot.

[2016-01-29 16:14] gimenete commented on #286
@bcoe @nexdrew I've pushed new code. Sorry for not responding earlier. See all the changes here https://github.com/bcoe/yargs/compare/master...gimenete:feature/interactive-mode

There is one decision that I made that I don't know if you agree with: you can specify arguments both in the command line (as always) *and* in the interactive mode if it is present and here https://github.com/bcoe/yargs/co

[2016-01-29 17:16] nfantone commented on #174
+1 on this. Nice to have.

[2016-01-29 17:52] bcoe commented on #286
@gimenete I really like this work :+1: one thought comes to mind. Now that we've split yargs into an organization, perhaps we could make interactive `yargs` a new project under the top level organization, rather than adding this functionality directly into yargs? Here's why I think this could be cool:

* I'd be less concerned about pulling in other helper modules for reading arguments ... I've bee

[2016-01-29 18:42] SBoudrias commented on #286
FWIW, that sounds a lot like what we're planning on doing in the next iteration of the Yeoman generator api https://github.com/yeoman/generator/issues/894

[2016-01-30 22:29] maxrimue commented on #361
@bcoe How do you feel about adding this feature like in [yargs-parser/#1](https://github.com/yargs/yargs-parser/pull/1)?

[2016-01-30 23:03] bcoe commented on #361
I'm so so on this; my experience with most CLIs has been:

1. you have a sane default that you apply to a key.
2. If you need to set the key you're going to specify it as a key value  pair.

I think having a key behave as both a Boolean and a key/value pair could ultimately confuse people, more than it provides a useful shorthand.

@jlanza have you seen this behavior in any other CLI apps that I c

[2016-01-30 23:15] nexdrew commented on #361
I guess I understand the use-case but it does seem a little atypical and easy enough to work around. I could be convinced otherwise, but, personally, I don't see a lot of value in building support for this in yargs.

[2016-01-30 23:20] bcoe commented on #361
@jlanza do you think you can stick with the workaround? Perhaps you can pull this into a helper module so that it's not too painful?

[2016-01-31 07:09] jlanza commented on #361
Surf. There's no problema. I was just asking. But I also agree wit you that maye there are not going to be many cases. Actually I can set a Boolean for the opposite an check it first (--nofile).

Btw can you redirect me to where the helper is and I can make the pull suggested?

Thanks for the great module.

From: Benjamin E. Coe
Sent: ‎Sunday‎, ‎January‎ ‎31‎, ‎2016 ‎00‎:‎20
To: bcoe/yargs
Cc: jla

[2016-01-31 07:24] bcoe commented on #361
@jlanza I'll write some sample code for you tomorrow that helps you solve this problem in a repeatable way :+1:

[2016-01-31 07:24] #361 closed

[2016-01-31 08:29] orlade commented on #287
Handy workaround for those looking for a solution:

[code]
Works in subcommands too using `argv._[1]`.

[2016-01-31 14:59] maxrimue commented on #287
@orlade Thanks!

[2016-02-02 04:47] nexdrew opened #362 "Populate argv with named positional arguments from command string"
Related to #234 and #333.

I think this is something `commander` got right and we should model similar support in `yargs` (or `yargs-parser`).

Basically, map positional arguments to option names, translating arguments in angle brackets as required (e.g. `<requiredArg>`) and arguments in square brackets as optional (e.g. `[optionalArg]`).

Something similar to:

[code]

[code]

It seems that suppo

[2016-02-02 05:29] nexdrew opened #363 "Separate command config from command execution"
Allow the configuration/intentions of a command (i.e. its options and usage text) to be defined upfront in a declarative way, separately from the handler that executes when the command is called.

The semantics should work for commands defined within the same module/file (perhaps an object structure or chainable config methods) or for commands defined across different submodules (conforming to exp

[2016-02-02 05:48] nexdrew commented on #362
This could possibly make it easier to implement #201, though we'd probably need to add a `path` option type (or maybe `file` and `directory` option types).

[2016-02-06 21:04] bcoe commented on #352
@btd, @kerryChen95 could you give our `4.x` alpha branch a shot, and see if it does the trick for you:

`npm i yargs@alpha --save`

You can now add a stanza to your package.json to disable dot notation (and other parsing features):

[code]

See https://github.com/yargs/yargs-parser#configuration for details.

[2016-02-06 21:04] #352 closed

[2016-02-06 21:06] bcoe commented on #335
@abelnation don't suppose you would be willing to take a stab at this?

[2016-02-06 21:10] bcoe commented on #322
Hey @MikeyBurkman our next major release of yargs allows you to turn on and off various parsing features:

You can add the following stanza to your package.json:

{
  "yargs": {
     "boolean-negation": false
  }
}

See https://github.com/yargs/yargs-parser#configuration for details.

I would love for you to try this feature out, and give some feedback:

[code]

[2016-02-06 21:10] #322 closed

[2016-02-06 21:12] bcoe commented on #323
@Vikasg7 rather than moving the install instructions up, we're working on a slick new yargs website to help onboard people:

http://yargs.js.org/

This will be linked to predominantly at the top of the documentation.

[2016-02-06 21:12] #323 closed

[2016-02-06 21:14] bcoe commented on #92
We've been working on a yargs website that will introduce folks to the project without the pirate speak:

https://github.com/yargs/yargs.github.io/issues/1

Closing this issue in favor of the documentation conversation happening on the issue linked above.

[2016-02-06 21:14] #92 closed

[2016-02-06 21:18] bcoe commented on #332
@jbcpollak how do you feel about this proposal as an alternative implementation:

https://github.com/bcoe/yargs/issues/362

I think @nexdrew's suggestion is elegant, and could start to make command handling significantly better.

[2016-02-06 21:39] bcoe opened #367 "calling help() without arguments should not generate the usage string"
I think that rather than `help()` returning a usage string, calling `help()` with no arguments should instead enable `help` for the default argument `--help`.

This is more consistent with the new behavior of `--version`.

If someone wants to show help, they should call `showHelp()`.

What do you think: @nexdrew, @lrlna?

[2016-02-06 21:52] maxrimue commented on #367
Definitely a fan of this idea! :+1:

[2016-02-06 22:09] bcoe commented on #363
@nexdrew @iarna @maxrimue, okay I think I've got an idea for how to make commands better. How do do you feel about this syntax:

[code]

* rather than getting `yargs` passed in as an argument to the command handling function, you provide two functions:
  * the first function builds the yargs object for the command.
  * the second function will get executed with a parsed argv: as long as `--version

[2016-02-06 23:01] nexdrew commented on #367
Agreed, good idea :+1:

[2016-02-06 23:10] lrlna commented on #367
seems super reasonable :100:

[2016-02-08 01:33] orlade commented on #202
I have this issue too. Even if `create` does exist at the lower level, yargs will invoke whichever `create` command was registered first. For example:

[code]

Whether you run `$0 create` or `$0 profile create`, it will print `outer create`.

[2016-02-08 17:39] Alphapage opened #372 "Array of string"
Hello,

I need to get an array of string, but if I write .1, then I get 0.1 instead of ".1".
My code is the following:
[code]
and my command line is:
[code]

And how to get an empty string in the array ? In my example, I get:
argv.a[0] = 0.1
argv.a[1] = ''

What am I missing?

Thanks in advance for your help.

[2016-02-09 05:29] lrlna commented on #363
I like it, @bcoe. It seems to fix a bunch of issues folks have been having with commands.

We probably will have to do some education about this change though (as I guess with everything under 4.x branch); I don't want people panicking about commands, cause that's my favourite feature :tada: :dancers:

Aside from that, I am not quite clear on the use of globals (sorry if you've talked about this p

[2016-02-09 16:39] maxrimue commented on #372
@Alphapage The reason why this happens is that `yargs`'s parser, [`yargs-parser`](https://github.com/yargs/yargs-parser), automatically coerces strings to numbers if possible. Since `.1` is coercible to a number via `Number()`, `yargs` gives you that instead. If you don't want this to happen, you can disable this feature of the parser in the newest version of `yargs`, v3.32.0. All you need to do i

[2016-02-09 16:51] nexdrew commented on #363
I definitely like how this simplifies the command handler function, but I'm not too sure about using the full yargs API for the command config function - could we possibly simplify that a bit more? I guess it provides for the most robust/flexible approach, but I feel like that's part of what made the 3.x command API confusing. Do we expect/allow folks to specify anything in a command config other

[2016-02-09 17:08] nexdrew commented on #372
@Alphapage Another workaround would be to configure your option as a string instead of an array:

[code]

And then specify multiple `-a` flags on the command line to construct an array:

[code]

[2016-02-09 17:11] nexdrew commented on #372
Also see #166

[2016-02-09 18:05] Alphapage commented on #372
@maxrimue It sounds great!
Why not:
[code]

@nexdrew Sorry for the duplicate. The multiple flags is a valuable workaround, but it seems an ugly command line to me, so I will try @maxrimue solution first.
Thank you anyway.

[2016-02-12 13:52] gajus opened #373 "How to get stack trace in case of an error?"
[code]

Executing this code fails with `test` output. I am expecting `.fail()` to be called, but it is not. Is there a way to disable `yargs` error handler?

[2016-02-12 13:55] gajus commented on #373
I have tried setting `.exitProcess(false)`, but the result is the same.

[code]

[2016-02-12 13:58] gajus commented on #373
It looks like it all comes down to this (https://github.com/bcoe/yargs/blob/555b2f8560aaf27501a3abecb04855a38a24110b/index.js#L494-L507):

[code]

Ideally, there should be an option to re-throw the error.

[2016-02-12 14:03] gajus commented on #373
In this case, the question is what overwrites `exitProcess`. I cannot figure it out using node debugger how on earth it gets overwritten.

[2016-02-12 14:07] gajus commented on #373
<img width="342" alt="screen shot 2016-02-12 at 14 06 03" src="https://cloud.githubusercontent.com/assets/973543/13008988/cf972132-d191-11e5-8ad2-9b1eaca851b2.png">

I don't get what kind of magic is going on here.

[code]

`self.exitProcess` is executed only once. Yet, somehow, just after the error is thrown `exitProcess` suddenly gets `true` value.

[2016-02-12 14:14] gajus commented on #373
[code]

That took some time to figure out.

[2016-02-12 14:29] gajus commented on #373
Whatever yargs is doi

[2016-02-12 14:29] gajus commented on #373
My question remains, because the stack trace that I get is in effect useless.

How do I get the original stack trace?

[2016-02-12 14:54] gajus commented on #373
@bcoe Basically, passing the error object as the second parameter of the `fail()` handler would solve the issue (https://github.com/bcoe/yargs/pull/374).

I have not added the test cases for this. I have looked into the test files but did not find where you are testing the fail handler.

[2016-02-13 18:54] bcoe commented on #363
@nexdrew as a compromise between our two approaches, I'd like to detect whether an object is passed to the builder function, in which case I'll use an approach similar to what you've suggested. If a function is passed to the builder function, I'll assume the full-featured yargs handler.

I like the idea of grouping options into sub-headings, but I think this should potentially wait until `v2`.

[2016-02-13 19:52] bcoe commented on #363
@nexdrew addressed in:

https://github.com/bcoe/yargs/pull/368

[2016-02-13 19:52] #363 closed

[2016-02-13 19:56] bcoe commented on #362
@nexdrew addressed in https://github.com/bcoe/yargs/pull/368, in this first pass:

* we don't allow optional and required positional arguments to be interspersed. I think we could add this in `v2` without a breaking change -- and I'd like to start simple (we've had v4 of yargs on the wire for a long time and I'd like to get it out the door).
* this first pass also doesn't support `variadic` option

[2016-02-13 19:56] #362 closed

[2016-02-13 19:57] bcoe commented on #234
@reggi see https://github.com/bcoe/yargs/pull/368, positional arguments are close to landing.

[2016-02-13 19:57] #234 closed

[2016-02-13 19:57] bcoe commented on #333
@stevage @bendavis78 see https://github.com/bcoe/yargs/pull/368, named positional arguments are close to landing.

[2016-02-13 19:57] #333 closed

[2016-02-13 20:08] bcoe commented on #202
@ggoodman @orlade we've been working on a pretty major overhaul to commands for `yargs 4`, do you think that named positional arguments would solve your use-case?

see:

https://github.com/bcoe/yargs/pull/368

[2016-02-13 20:10] bcoe commented on #225
@jmls @stelcheck see:

https://github.com/bcoe/yargs/pull/368

We've overhauled commands for `yargs 4`, in an attempt to address the shortcomings of the current API:

* there are now named positional arguments (which helps solve many of the nesting issues folks were running into).
* you can now provide commands as modules (which should help people build significantly more complex APIs on top of ya

[2016-02-13 20:10] #225 closed

[2016-02-13 20:24] maxrimue commented on #372
@Alphapage Have you tried the Alpha yet?

[2016-02-13 20:35] Alphapage commented on #372
No I haven't tested. Mainly because of the global setting in package.json.I'm really waiting for a way to override parse-numbers locally in array options.

[2016-02-13 21:04] bcoe commented on #353
@gajus we've been undertaking a big overhaul of commands. We've introduced the concept of required positional arguments, which I think will solve this problem for you partially:

https://github.com/bcoe/yargs/pull/368

Eventually we could introduce the concept of positional arguments that accept multiple values: `<foo...>` which I think would completely solve this problem you're running into in an

[2016-02-13 21:08] bcoe commented on #174
@DominicBarnard @nfantone @jkwuc89 @paazmaya see:

https://github.com/bcoe/yargs/pull/357
https://github.com/bcoe/yargs/pull/368

This will be landing in `yargs 4`.

[2016-02-13 21:08] #174 closed

[2016-02-13 21:32] bcoe commented on #372
@Alphapage I've moved this feature request here:

https://github.com/yargs/yargs-parser/issues/6

[2016-02-13 21:32] #372 closed

[2016-02-14 13:54] ggoodman commented on #202
I've since moved to `argparse` and adapted the declarative style from `nested-yargs` to that approach.

I think named positionals are an important step in the right direction.

[2016-02-14 14:38] Alphapage opened #383 "Array option behave differently"
Hello,

Here is my array option:
[code]
My command lines:
[code]

The first command is correct of course.
The second command is incorrect to me, because it should give the same result as the third one.

Is it  a limitation because the parser doesn't know if -o is a string to insert or a command ?

Thanks in advance for your answers.

[2016-02-14 14:41] maxrimue commented on #383
@Alphapage All these results seem just fine to me. `-o` is neither a command or string, it's a key for the `o` option, so is `-a` for `a`. If you write `-a -o blabla` that means: `a option, no value, o option, "blabla"`. What are you trying to accomplish?

[2016-02-14 14:43] Alphapage commented on #383
[code]
should be argv.a.length ==0 for both !

[2016-02-14 14:52] maxrimue commented on #383
Ah I see, in the first example `argv.a` equals `undefined`, and in the second it equals an empty array. I'll have a look in some time what's going on.

[2016-02-14 14:54] Alphapage commented on #383
Thank you for giving a little of your time to my problem.

[2016-02-14 17:32] #202 closed

[2016-02-14 19:35] maxrimue commented on #383
While I'm not sure what _exactly_ caused your bug, I found a way for you to fix it. If you choose this configuration instead:
[code]

You'll always get `[]` for `argv.a`, no matter if it's passed or not, the position also doesn't matter. Let's not close this issue yet though as the bug remains.

[2016-02-14 21:24] jbcpollak commented on #332
Hi, I've started using Mozilla's convict to solve this problem, it was just
more of an immediate fit for me, so please take what I say with a grain of
salt.

I think that suggestion is great for command line tools (the example is
pretty obviously git), but it's not so relevant for server processes, which
is what my use case is. I don't know which or both use cases you target
(command clearly targe

[2016-02-15 06:55] #310 closed

[2016-02-15 06:58] bcoe commented on #110
@raine it might not fully address this issue, but there's now a `number` type in yargs 4.x.

Give it a spin:

`npm i yargs@next`

[2016-02-15 07:01] bcoe commented on #174
@DominicBarnard, @nfantone, @jkwuc89, yargs 4.x now has support for _strict arguments:_

https://github.com/bcoe/yargs/blob/4.x/test/validation.js#L73

Give it a spin by running:

`npm i yargs@next`

[2016-02-15 07:02] #287 closed

[2016-02-15 07:03] bcoe commented on #303
@netsi1964 give the new `pkgConf()` feature a spin, it's in the upcoming yargs 4.x branch:

https://github.com/bcoe/yargs/blob/4.x/README.md#pkgconfkey-cwd

To try out the release candidate:

`npm i yargs@next`

[2016-02-15 07:04] bcoe commented on #373
@gajus this will go out the door with yargs 4.x.

[2016-02-15 07:04] #373 closed

[2016-02-15 07:05] bcoe commented on #373
@gajus give it a spin:

`npm i yargs@next`

[2016-02-15 07:05] #367 closed

[2016-02-15 07:06] bcoe commented on #353
@gajus could you give the new commands API a spin:

`npm i yargs@next`

I think you'll find the new API, specifically positional arguments, help solve some of the issues that you've run into:

https://github.com/bcoe/yargs/blob/4.x/README.md#commandcmd-desc-builder-handler

[2016-02-15 07:08] bcoe commented on #112
In yargs 4.x, you can now turn various parsing features on and off:

https://github.com/bcoe/yargs/blob/4.x/README.md#configuration

Give it a spin by installing the `next` tag of yargs:

`npm i yargs@next`

[2016-02-15 07:08] #112 closed

[2016-02-15 07:50] schnittstabil commented on #112
Many thanks, `boolean-negation: false` is a very clean and elegant solution :+1:

[2016-02-15 08:48] Alphapage commented on #383
Great workaround to solve my problem. +100

[2016-02-15 21:10] alex-phillips opened #388 "Variadic command arguments"
First off, great work and congrats on v4!

A question regarding the new command syntax with named positional arguments. This is a great idea, but is there a way to have a variadic name argument with this syntax? Ex: `command <src...> <dest>` where `src` is a varying number of arguments, but the last argument is designated to `dest`.

[2016-02-15 21:54] nexdrew commented on #388
@alex-phillips Great question! We [considered this](https://github.com/bcoe/yargs/issues/362#issue-130574013) (see question 4) but [decided not to implement it](https://github.com/bcoe/yargs/issues/362#issuecomment-183743341) (see 2nd bullet) for our first pass at positional arguments. We were kinda waiting to see if anyone would request this, and it sure didn't take long!

Perhaps we can take a l

[2016-02-15 21:58] alex-phillips commented on #388
Cool, thanks for the prompt reply! I'm using it as an argument currently instead of an option, so I'll just stick to my current usage (slicing the array in the handler).

Keep up the good work! Love the project.

[2016-02-15 21:58] #388 closed

[2016-02-15 23:59] bcoe opened #389 "transfer yargs to https://github.com/yargs"
There are quite a few places where yargs is linked, so we should be mindful when we make this transfer:

- [x] the yargs docs site on the website.
- [x] any links on the website that link to yargs?
- [x] coveralls
- [x] travis
- [x] appveyor
- [x] links in package.json

Am I missing anything?

[2016-02-16 00:01] lrlna commented on #389
woot woot! the transfer process has begun :tada:

[2016-02-16 18:28] kumar303 opened #390 "TypeError: Cannot read property 'filename' of undefined (require.main is undefined)"
I upgraded yargs from 3.32.0 to 4.1.0 and got this trace when constructing a `yargs` object and executing it from a test:
[code]

I can  see that `require.main` is undefined at this point which is causing the error. I'm using webpack (queue dramatic music) but from what I can tell it is configured correctly to define `require.main`. However, it is only defined when running a script on the command

[2016-02-16 18:43] bcoe commented on #390
@kumar303 being more defensive in yargs seems like the right thing, I'll get a patch out tonight; and would love to work with you to test this :)

[2016-02-17 06:05] bcoe commented on #390
@kumar303 could you delete your `node_modules` folder, and try installing `yargs@latest` again?

I've released a patch for this behavior:

https://github.com/yargs/require-main-filename/pull/2

[2016-02-17 15:58] Alphapage commented on #383
Sorry, but I'm really fighting with this problem:
- when no -a in command line, then I want argv.a==null
- when -a only in command line, then I want argv.a.length==0
- when -a str1 str2 str3 in command line, then I want argv.a.length==3

Is it possible or is it a limitation ?

[2016-02-17 18:42] maxrimue commented on #383
@Alphapage This usually is possible and definitely a bug. The array option should be `undefined` if the argument wasn't passed, and and empty array if it has been passed, but without any value, just like you expect it to be. I'm still not quite sure what causes this bug, but I'll look into this again today. Sorry for the mess.

[2016-02-17 23:01] dennisjac opened #394 "nested commands"
Hi,
I'm trying to get yargs to support nested commands but I can't get it to work properly.
Here is what I'm currently doing:

[code]
This basically works but there are a couple of issues here:
1. I can call this with "app.js agent list" but also with "app.js list agent" i.e. the order of the commands is ignored.
2. In agent_yargs I need to use demand(2) instead of the expected demand(1) (the firs

[2016-02-18 15:58] OClement commented on #264
Although the first work around works, is there no plan to make this work as intended?
I can live with this, but is kind of annoying still to have to repeat the flag for each items

[2016-02-18 16:54] kumar303 commented on #390
Thanks for the quick fix! It is working great. Since `require-main-filename` was not strictly pinned in yargs, the change was already picked up. To reproduce the bug, I did this: https://github.com/kumar303/web-ext/commit/948d3f451b9aec8b09ab2bb1410cd915bc8d23b3 (which failed: https://travis-ci.org/mozilla/web-ext/jobs/110167764) and then when I upgraded, my tests passed. Thanks again.

[2016-02-18 16:54] #390 closed

[2016-02-19 15:17] novemberborn opened #396 "yargs-parser modifies args"
`yargs-parser` modifies the `args` array when parsing, notably when [`--` is separated by `=`](https://github.com/yargs/yargs-parser/blob/78f49ffde9a3305facb66b2faeae862b33d0745e/index.js#L124).

Because `args` is parsed again when a command is found this causes positional arguments within the command to be misaligned.

This behavior doesn't seem documented in `yargs-parser`, so maybe the bug is t

[2016-02-19 15:20] Alphapage commented on #383
I think the easiest way is to set an empty array inside eatArray function.
But the problem is how to propagate to aliases. I can't find how to do that.

[2016-02-19 15:25] Alphapage commented on #383
Sorry I just read about your pullrequest: does it propagate to aliases too ?

[2016-02-19 16:02] Alphapage commented on #383
Tested and it works great for aliases too. Thank you very much.

[2016-02-19 16:02] #383 closed

[2016-02-19 22:37] shiva opened #397 "Issue with choice used outside an option or command"
I wanted to use the choices feature to allow selecting log levels. See below:

[code]

I get the following error:

[code]

To troubleshoot this, I tried to write a test, that will specifically test this way of using choices, which however passes.

[code]

Appreciate any help in troubleshooting this usage of choice.

Note it works if I use it this way:

[code]

[2016-02-19 22:56] nexdrew commented on #397
@shiva What version of yargs are you using when you get the error? The only way I can reproduce is if I use yargs<=3.15.0. At those versions, the `.choices()` method did not yet exist, and any unknown property given to the `.option()` object will be ignored (and so would not fail).

[2016-02-20 00:43] shiva commented on #397
duh. I was using 1.3.2. Apologies. I should have checked that before anything else. My bad.

[2016-02-20 00:43] #397 closed

[2016-02-20 00:52] nexdrew commented on #397
@shiva No worries! Happens to the best of us. Thanks for using yargs!

[2016-02-20 10:11] novemberborn commented on #396
@bcoe if you're going to get a release out, this should be fixed too. It prevents positional arguments in commands from working if a preceding option uses `=` for its value.

[2016-02-20 20:55] #389 closed

[2016-02-20 20:57] bcoe commented on #396
@novemberborn mind adding a failing test? once I have a better idea of what's going on from this, we can talk about which project needs the fix -- I'm guessing it will probably be `yargs-parser` :+1:

[2016-02-21 17:24] novemberborn commented on #396
@bcoe failing test: https://github.com/yargs/yargs/pull/399

`yargs-parser` fix: https://github.com/yargs/yargs-parser/pull/9

[2016-02-22 15:06] gajus opened #400 "yargs 4.1 sub-commands using builder do not work"
[code]

Command:

[code]

Output:

[code]

[2016-02-22 15:08] gajus commented on #400
It looks like modifying the builder definition has not effect whatsoever:

[code]

Command:

[code]

Output:

[code]

[2016-02-22 15:19] nexdrew commented on #400
@gajus I think you need a 2nd argument that is either a string (short description of the command) or the value `false` (if the command should be "hidden" from help text).

So try this instead:

[code]

Unfortunately the description argument for the [`.command()` method](http://yargs.js.org/docs/#methods-commandcmd-desc-builder-handler) is required.

[2016-02-22 15:26] sn0w opened #401 "Print text before the help appears [Opposite of .epilogue()]"
Hi! :smiley:

While reading the yarg docs I stumbled upon the .epilogue() function.

It's really useful, but how would I print text (like some fancy ascii-arts) **before** the help appears?

I thought of something like `.prologue()`/`.prolog()` or `.intro()` but found nothing.

Thanks in advance!

[2016-02-22 15:33] nexdrew commented on #401
@sn0w Try the [`.usage()` method](http://yargs.js.org/docs/#methods-usagemessage-opts) if you want the text to be part of the help content (but displayed first).

If you _don't_ want the text to be part of the help content, then you can just `console.log('any text here')` before you access `yargs.argv` (which parses the command line args and prints help/error content if necessary).

Let us know if

[2016-02-22 16:25] lijunle commented on #367
I love the consistence between `.help()` method with other methods. However, please provide a way to get the help message.

In my case, the app is doing some customized validation after pass, if it fails, an error message with the generic help message is shown. After this change, I cannot get the generic help message.

Any ideas on this?

[2016-02-22 16:55] nexdrew commented on #367
@lijunle There are still a couple options, though they may be less convenient:

1. If you just want to print the help message, you can use `yargs.showHelp()` (to print to stderr) or `yargs.showHelp('log')` (to print to stdout).

2. If you want the help message as a string, you can use `yargs.getUsageInstance().help()`.

Either of these would work in, for example, a [custom fail function](http://ya

[2016-02-23 06:34] #396 closed

[2016-02-23 07:14] bcoe commented on #400
@nexdrew @gajus perhaps we should make this a bit smarter, if it sees a function or object for the second argument default to a blank description., and assume that it's been passed a builder.

[2016-02-23 07:18] bcoe commented on #394
@dennisjac I think there's a chance that positional arguments might work a bit better for this use-case, then you could do something like this (and not worry about order):

[code]

Where command would be populated with, as an example, `list`.

[2016-02-23 10:04] gajus commented on #400
I think you are just missing simple type assertions. I think it is a valid requirement to have command description. But it should not fail silently when unexpected type is provided.

[2016-02-23 17:09] lijunle commented on #367
Although `yargs.getUsageInstance().help()` is long and seems using an internal API, it is working. Thanks @nexdrew

[2016-02-26 02:03] MadLittleMods opened #402 "Positional fallbacks"
Is there a way to specify a fallback value for a named parameter as a positional parameter?

With `nomnom`, this is accomplished with [`opts.position`](https://www.npmjs.com/package/nomnom#position). Having it as an alias `opts.alias: 0` could work nicely but isn't exactly backwards compatible.

Currently you can get similar functionality with `yargs` but requires some extra logic:

`ban.js`

[cod

[2016-02-26 02:34] MadLittleMods commented on #167
:+1: for post-processing transforms, related to https://github.com/yargs/yargs/issues/191

The current [`opts.configParser`](https://www.npmjs.com/package/yargs#optionskey-opt) is also similar to what is needed but no extra processing after handing it off.

[2016-02-26 05:31] nexdrew commented on #402
@MadLittleMods Thanks!

The support for positional arguments is very limited at the moment and only applies to commands, where positional args are defined in the command string.

- To define a required positional arg, use a command string like: `ban <username>`

    **Note** that yargs does not currently support passing a required positional arg with a flag on the command line.

- To define an opt

[2016-02-26 05:41] nexdrew commented on #402
Without using a command, here's another form of your workaround using a custon `.check()` function:

[code]

[code]

[2016-02-26 12:06] MadLittleMods commented on #402
Thanks @nexdrew, the custom` .check()` function is another alternative that could work but the first reply involving a custom command doesn't really apply to my use case if I understand it right.

My goal is just to have a named-hyphenated-parameter but if it isn't supplied, use the first a positional arg.

[2016-03-01 14:54] ocombe commented on #189
@bcoe I have a need for that exclusive option as well:
The user can either use `--url` and provide an url to call, or use `--clientId` and give me the client ID so that I can check the url in the database.
If they provide the url then I don't need clientId at all because I will just use the url (and never make the database request).

[2016-03-01 15:11] theideasmith commented on #189
Can I be assigned this feature? I've never before contributed code to open source and this is my opportunity. If so, where would I make my changes/additions?

[2016-03-01 15:54] Enet4 opened #403 "how should checks behave for nested commands?"
Considering this particular use case:

[code]

Running it with the arguments `--cat --dog` alone will trigger the check and fail to proceed, as expected. However, when running with `hunt --cat --dog`, the check function isn't called at all. One could argue that I can just specify the check inside the command's builder, but these options apply to all commands, and I wouldn't want to create builders

[2016-03-01 16:19] maxrimue commented on #403
I can confirm this bug. Interestingly, this works with yargs v3, but not with yargs v4.

[2016-03-02 15:38] maxrimue commented on #329
Reopened as `.default()`'s API inconsistency has never been fixed

[2016-03-02 15:59] maxrimue commented on #403
I've identified the issue here as follows:
When the `index.js` asks `command.js` for which commands have handler functions ([L619](https://github.com/yargs/yargs/blob/master/index.js#L619)), `command.js` returns all registered commands ([L48](https://github.com/yargs/yargs/blob/master/lib/command.js#L48)), disregarding whether they have handlers or not, which then causes the `index.js` to just run

[2016-03-03 14:55] AGresvig commented on #225
I'm digging the overhaul of `commands` in 4.x, but it's still not entirely clear to me how support for sub-commands should be implemented if the type of behavior outlined by @jmls initially here is desired.

Specifiying a command like so:
`.command('resources <operation> [option]',..)` still parses `operation` as a flag, not a command.

Should I adopt a variation of nesting `command`s as initially

[2016-03-03 18:53] maxrimue opened #404 "Add translations for type 'number'"
As of v4, [yargs now supports the option type `number`](https://github.com/yargs/yargs/pull/384).
This new type also needs translations to other languages.

This issue is mainly a central list for keeping track of the status for each translation. Because of previous locale contributions, I've also mentioned some people here to ask them for help, however, contributions can of course be done by anyo

[2016-03-03 19:14] kamilogorek commented on #404
Polish: https://github.com/yargs/yargs/pull/406

[2016-03-03 22:29] kumar303 opened #409 "Command handler does not get default options"
A command handler does not receive an `argv` object with the default options for the program. Is this by design? How would a sub-command be able to work with options that are common to all commands?

To reproduce:
[code]

This outputs:
[code]
But I'd expect it to output:
[code]
I'm using `yargs@4.2.0` and node `4.3.0`

[2016-03-03 22:41] nexdrew commented on #409
@kumar303 Hey, sorry for the confusion! In 4.x we introduced the concept of "global" options for this purpose. Have you tried adding `global: true` to the outer options (or using `.global('option-key')`)?

[2016-03-04 02:19] kumar303 commented on #409
Hmm. That didn't do anything. I changed the test script to:
[code]
but it's still undefined in the command handler:
[code]
Adding `.global('some-global')` also had no effect.

[2016-03-04 03:22] nexdrew commented on #409
@kumar303 Ok, sorry, I didn't read your OP well enough on my phone :)

I think the problem is that the optional 3rd and 4th arguments to `.command()` changed in 4.x.

In 3.x, you could provide a single handler function that accepts a `yargs` instance and an `argv` object.

[code]

But the semantics of exactly how you were supposed to use the "inner" yargs instance was always a little confusing. Th

[2016-03-04 03:51] kumar303 commented on #409
Aha, thanks, this works as expected with the 4.x example. I actually read about this new signature in the docs but I think what I was missing was the `global = true` part.

[2016-03-04 03:57] nexdrew commented on #409
@kumar303 Cool. Ok to close?

[2016-03-04 04:45] kumar303 commented on #409
yes, thanks for the detailed examples

[2016-03-04 04:45] #409 closed

[2016-03-04 15:27] nexdrew opened #416 "Cannot override version option without explicitly specifying the version value"
Perhaps my expectations are misplaced, but I find the current `.version()` API to be very confusing. Based on the docs:

I would expect to be able to do this:

[code]

[code]

But instead the first argument is treated as the version value and I cannot override the `--version` option:

[code]

At the very least, we should clarify the expected behavior in the docs.

At the worst, this confuses and f

[2016-03-05 20:04] donaldpipowitch commented on #121
@bcoe Was this fixed with the 4.x rebuild of commands?

[2016-03-06 01:51] michaelcaplan opened #421 "Reset + Parse + Command Fails to Reset argv Passed to Handler"
Hi,

New to yargs, so I might be doing something wrong.  Scenario is as follows:

 - Electron app running as a singleton (other attempts to open the app get forwarded to the first instance)
 - I have a bunch of yargs.command()s setup with handlers
 - Initial setup of yargs and parsing of argv runs a-okay.  command hander gets passed the parsed argv
 - Before handing a followup call to yargs.parse(

[2016-03-07 17:07] elas7 opened #423 "Suggestion: allow passing an object instead of a configuration file path to yargs"
Let's say you want to have some internal logic in your application to parse configuration files, and then send the result object to yargs.

Right now, you could do it by defining a custom parser in config(). But I really don't need to take a filename as an input, nor having it as an user option available in the CLI. Here is an example using config():

[code]

If a way to directly pass an object is

[2016-03-08 08:23] bcoe opened #424 "strange interaction when multiple libraries are using the same yargs module"
see: https://github.com/bcoe/nyc/issues/187

[2016-03-09 02:46] oti commented on #404
@watilde thank you!

[2016-03-10 14:41] alinex opened #426 "Using strict() within the command's options"
I tried to use a command with it's own additional options (coffee script):

    builder: (yargs) ->
      job = 'test'
      yargs
      .demand 1
      .usage "\nUsage: $0 <job> [options]"
      .option 'xtest',
        alias: 'x'
        type: 'string'
      .group 'x', "#{string.ucFirst job} specific:"
      # help
      .help 'h'
      .alias 'h', 'help'
      .epilogue "For more information,

[2016-03-10 14:51] alinex commented on #426
As JavaScript the command module would look like:

    module.exports = {
      builder: function(yargs) {
        var job;
        job = 'test';
        return yargs.demand(1).usage("\nUsage: $0 <job> [options]")
        .option('xtest', {
          alias: 'x',
          type: 'string'
        })
        .group('x', (string.ucFirst(job)) + " specific:")
        .help('h').alias('h', 'help')

[2016-03-10 15:35] donaldpipowitch opened #427 "Allow customising of "extra" help"
When I use certain things like choices or default values the outputted help looks quite convoluted to me. It would be nice to optionally hide that output of format it differently.

E.g. I have this:

[code]

Maybe something like this is nicer:

[code]

[code]

[code]

[code]

[2016-03-10 15:51] nexdrew commented on #426
@alinex I can confirm this bug. The "unknown arguments" validation check induced by `.strict()` is not context- or command-aware, so it's attempting to validate the full `argv._` array against reset command keys.

I think we need to introduce some concept of command context (e.g. levels of nesting, what command is currently being executed, etc) to fix this and to better support nested commands/sub

[2016-03-10 20:39] lrlna commented on #427
@donaldpipowitch I am really liking your suggestions! A more readable version is always :100: for me.

This could work as a verbose version for our help output, for sure.

[2016-03-11 06:04] nexdrew opened #429 "Update tests that use .command() improperly"
There are still a handful of tests that use the 3.x `.command()` API like so:

[code]

But this is misleading b/c 4.x no longer supports passing `argv` as the 2nd argument to the "function which used to be the handler but is now the builder".

Let's update these tests so they are compatible with the 4.x `.command()` API, either using:
- a builder function and handler function
- a module with `buil

[2016-03-11 10:42] maxrimue commented on #404
Thanks everyone!

[2016-03-11 10:42] #404 closed

[2016-03-11 22:01] ljharb opened #430 "`.normalize` doesn't work with `.array`"
I have an arg that I define with `.array('paths')` - i want this to be N paths, and i want each path normalized. However, when I `.normalize('paths')`, it works when there's 1 - but fails when there's > 1.

Could `.normalize` be extended to support arrays of paths?

[2016-03-11 22:22] ljharb opened #431 "default `.demand` message has counts, provided one can't?"
How can I do `.demand(n, msg)` such that `msg` can contain a count of the number of non-option arguments provided?

[2016-03-12 21:25] bcoe commented on #421
@michaelcaplan could you share some sample code that's failing?

[2016-03-12 21:59] bcoe commented on #403
@maxrimue @Enet4 with the new approach to command handling here is what my expectation would be:

[code]

This new command API has the advantage that it's explicit. If we did want different behavior for `hunt` we'd simply not apply the `check`.

I could see an argument being made for `check` being made global ... but I think this might be a bit presumptuous do you have any thoughts @nexdrew?

[2016-03-12 22:05] bcoe commented on #403
@jamesr73 @maxrimue let's use this thread to hash out how `check` should behave when nesting commands: does it default to being global? perhaps it's overridden by inner checks?

[2016-03-12 22:13] #424 closed

[2016-03-12 22:15] lrlna commented on #429
@nexdrew I shall clean this up :koala:

[2016-03-12 23:13] nexdrew commented on #403
I think, in general, a custom top-level check will validate global options, so it probably makes sense to apply it globally, but I don't know if we should make that the default. Either way, the API should make it easy to enable/disable global application.

Would be cool if we could somehow detect which options it wants to validate and apply the function globally if all the options are global.

My

[2016-03-12 23:15] nexdrew commented on #403
I'm probably complicating things. Seems easy enough to apply or chain checks manually. I dunno.

[2016-03-12 23:18] bcoe opened #435 "aliases not applied properly when using pkgConf"
see: https://github.com/bcoe/nyc/pull/185

[2016-03-13 21:17] bcoe commented on #431
@ljharb I like the idea of being able to have a simple placeholder in your message, such as:

`%i`, but this feature doesn't yet exist.

[2016-03-14 01:40] ljharb commented on #431
That's exactly what i was thinking - just like `usage` has `$0`.

[2016-03-14 04:48] ljharb commented on #431
I went ahead and made a PR - please let me know your thoughts!

[2016-03-14 16:40] jamesr73 commented on #403
@bcoe @nexdrew @maxrimue

I think the example where the check function is defined separately is probably the cleanest and most flexible. I've been heading down that route since I noted #408 (different check function for each command, calling out to a common function to check the globals).

The implication there would be that the outer check fires only when the hunt command isn't executed and only

[2016-03-16 01:13] MadLittleMods opened #439 "Required group - one option needs to satisfy"
Add `required` option to `group` method so you can ensure at least one of the options in the group was satisfied.

Potential API:

 - `.group(key(s), groupName, { required: true })`
 - `.describeSome(key(s), { required: true })`
 -  `.describeGroup(groupName, { required: true })`

[code]

[2016-03-16 01:20] MadLittleMods commented on #439
I suppose this is covered by `.check`

[code]

[2016-03-16 03:48] nichoth opened #440 "Weird bug where numbers are wrong"
The numbers don't match!

[code]

    $ node test --foo=1202285736968061337
    { _: [], foo: 1202285736968061400, '$0': 'test' }

[2016-03-16 04:22] elas7 commented on #440
The underlying cause is that the number is bigger that `Number.MAX_SAFE_INTEGER`.

If your use case allows it, you could tell yargs to interpret the value as a string:

[code]

[code]

[2016-03-16 04:22] bcoe commented on #440
@nichoth turns out JavaScript had pretty bad numeric precision, give this a shot:

[code]

I think you'll get the same output? Your best bet is probably using a big number module and accepting the input as a string.

[2016-03-16 04:25] bcoe commented on #440
What @elas7 said :)

Give this module a shot, and accept the argument as a string.

https://www.npmjs.com/package/bigint

[2016-03-16 04:25] #440 closed

[2016-03-16 04:58] nichoth commented on #440
Thanks all for the amazingly quick responses.

[2016-03-16 13:48] philkunz opened #442 "question: fake cli input for testing"
Is there a good way to fake cli input with yargs for testing without having to call a script via bash etc. ?

[2016-03-16 19:52] nexdrew commented on #442
@philkunz Not quite sure what you're after, but you can use the same approach that the tests use:

[code]

Executing this will ignore `process.argv` and instead parse `'--foo wut'`.

[code]

Is that what you're looking for?

[2016-03-16 19:55] philkunz commented on #442
yes, that is exactly what I am looking for! Thank you!

[2016-03-16 19:55] #442 closed

[2016-03-16 19:56] nexdrew commented on #442
@philkunz No problem. Thanks for using yargs, and good luck!

[2016-03-17 04:37] #429 closed

[2016-03-18 10:20] th0r opened #444 "Unable to use required positional arguments in strict mode"
For parsing my args I want to use strict mode (not allow passing of any extra args).
I have 1 required position argument and some required and optional options.

Test configuration (`test.js`):
[code]

Running this script with different options:
[code]

Removing `strict()` statement fixes the situation:
[code]

[2016-03-18 14:45] nexdrew commented on #444
I can confirm this bug. It appears to be a regression in 4.x. The problem is that strict mode now validates positional arguments against registered commands, but it doesn't ignore commands when none are registered!

I'll try to put a quick PR together.

@th0r Thanks for reporting this!

[2016-03-20 03:38] #444 closed

[2016-03-20 04:26] nexdrew commented on #444
@th0r The fix has been released as version 4.3.2. Please give it a shot when you have a chance and let us know. Thanks!

[2016-03-20 14:38] th0r commented on #444
@nexdrew Works like a charm now! Thanks a lot!

[2016-03-21 03:33] nexdrew commented on #401
@sn0w Gonna go ahead and close this. If there's something else you'd like to see yargs do, feel free to open another issue. Thanks!

[2016-03-21 03:33] #401 closed

[2016-03-22 11:00] osher opened #447 "Where is the API to get the help string without printing it?"
Hi,

There used to be an API that just gives you the help string without outputing it to the console.

Was it depricate? Was it renamed?

Thanks...

[2016-03-22 11:06] osher commented on #447
Sorry, guys, found it...

wasn't so intuitive....
[code]

[2016-03-22 11:06] #447 closed

[2016-03-22 12:01] osher commented on #447
I added a PR to allow using yargs in a more testable way as following:

[code]

[2016-03-24 11:43] Siilwyn opened #449 "The pkg-conf is pretty big"
So `pkg-conf` depends on 26 dependencies of which a lot are not required for `yargs` to work. This includes a promise library, checking if a package is on GitHub, validating the project license and a few more. I think this is quite some bloat for an optstrings parser.

Would it be an idea to replace the `pkg-conf` with something smaller?

[2016-03-25 05:48] bcoe commented on #449
@Siilwyn I really like @sindresorhus' modules. They do have a lot of dependencies true, but they're all very well tested, and if they ever break the are fixed within hours.

[2016-03-25 05:48] #449 closed

[2016-03-25 11:16] maxrimue commented on #403
@jamesr73 @nexdrew @bcoe Yep. I think it's probably better to leave `.check()` as it is right now, not being global. Assuming that different commands have different options, it makes more sense to also have different checks. Actually, if I look at some yargs@3 code I wrote some time ago, I also only defined checks within commands, rather than globally, I think that just makes it more explicit.

I

[2016-03-25 11:33] maxrimue opened #451 "Make .demand() depend on context?"
This question was raised in #428.

As of right now, `.demand()`, when called, does not care about the context it was called in, meaning that if you `.demand(1)` inside a command, it won't throw, because the the command itself satisfies `.demand()` already:
[code]

However, you could argue that if used inside a command, `.demand()` should ignore the command itself so that the upper example won't wo

[2016-03-25 11:58] plroebuck opened #453 "Add ability to process specified options prior to .demand()"
Recently migrated from `optimist` and was very happy with your drop-in replacement. Glancing the documentation, saw there were new capabilities and desired to delegate all option processing to this module. Our app, **abao**, has a single required parameter, so I modified the code as such:
[code]

But I discovered that once I added `.demand()`, other *one and done* options no longer process correct

[2016-03-25 12:41] maxrimue commented on #453
In order to use `--help` and `--version`, have a look at the [help](https://github.com/yargs/yargs#helpoption-description) and [version](https://github.com/yargs/yargs#versionoption-description-version) methods, as both options don't exist out of the box

[2016-03-25 12:46] nexdrew commented on #453
@plroebuck Max is correct. Try changing your code to this:

[code]

This will allow `--help` (or `-h`) and `--version` (or `-v`) to short-circuit typical processing.

[2016-03-25 12:49] nexdrew commented on #453
We should also mention that using `.version()` in yargs 4.x will automatically lookup the version number from your package.json file - hopefully a convenient little bonus.

[2016-03-25 13:54] plroebuck commented on #453
Sorry, I had these options already defined, accessed via `Abao.options` above.

[code]

[2016-03-25 14:00] nexdrew commented on #453
In that case, you should probably remove those from `Abao.options` and use this code instead:

[code]

Does that work for you?

[2016-03-25 14:14] plroebuck commented on #453
@nexdrew, it does fix the problem for these two specific options, but not genericly.
As shown above, my `reporters` argument works just like `help` does.
Why wouldn't the `options` as previously given work?

[2016-03-25 14:28] nexdrew commented on #453
Help and version options are treated as a special case; currently yargs doesn't support generic short-circuiting options.

For this level of customization, you would probably be better off replacing `.demand(1)` with a custom `.check()` function, like so:

[code]

I'm afraid that's about the best yargs can do at the moment.

[2016-03-25 14:29] plroebuck commented on #453
Need something just like [help](https://github.com/yargs/yargs#helpoption-description), except that it outputs a string I specify (or via function call). The `help` function would be a special case of it.

[2016-03-25 14:33] nexdrew commented on #453
@plroebuck That's a good suggestion we should consider.

I'm curious, how did you achieve this functionality using optimist before?

[2016-03-25 14:38] plroebuck commented on #453
Would it be hard to implement? Seems "small-ish" upgrade to the code [here](https://github.com/yargs/yargs/blob/master/yargs.js#L650). Rename `helpOrVersion` to `shortcircuit` and add capability to allow specifying *shortcircuitedness* to individual `options`.

[2016-03-25 14:38] Enet4 commented on #403
Indeed, that would be the most important part of this issue's resolution. I created the issue in the first place because the outcome of this particular use case wasn't clear in the documentation. As long as it's clear that checks are command-specific (and that non-command-scoped checks do not propagate to commands), we can call this solved.

[2016-03-25 14:43] plroebuck commented on #453
@nexdrew, we have **groan** [hardcoded checks](https://github.com/cybertk/abao/blob/master/bin/abao) now, but I believe `yargs` is capable of handling all our cmdline processing with the improvements made since `optimist`, assuming `shortcircuit` capability available.

[2016-03-26 09:00] sindresorhus commented on #449
All the dependencies that are mine are super tiny. Many of those packages are polyfills for Node.js 0.12. Soon we'll probably be able to drop Node.js 0.12 support and then it will be a lot less. The rest are there for a reason making the module more durable, like stripping UTF-8 BOM, improved JSON errors, handling awful Windows filesystem stuff, etc. That being said, I found an easy win https://gi

[2016-03-26 09:40] Siilwyn commented on #449
That is really great to hear @sindresorhus, thanks for the time and effort!

[2016-03-26 21:43] satazor opened #455 "Sync error of handler should throw a global error"
[code]

If you now run `node foo` it will show the usage and the error below.

<img width="716" alt="screen shot 2016-03-26 at 21 39 45" src="https://cloud.githubusercontent.com/assets/1017236/14062557/8585162c-f39b-11e5-8f4c-603e4e8a8f64.png">

I was expecting the error to be thrown globally and not being handled by yargs.

yargs version: 4.3.2

[2016-03-26 21:50] nexdrew commented on #455
@satazor In yargs 4.x, the first function (3rd argument) is a builder (configuration) and you should specify a second function (4th argument) as the handler.

What happens if the error is thrown from the handler function instead? Does it then do what you expect?

[code]

[2016-03-26 21:58] satazor commented on #455
Sorry, I made a mistake in the example. Though the output of the sample code above with the handler still has the same output:

[code]

<img width="679" alt="screen shot 2016-03-26 at 21 58 14" src="https://cloud.githubusercontent.com/assets/1017236/14062640/e11c0192-f39d-11e5-9ddd-06eed319470c.png">

[2016-03-26 22:07] nexdrew commented on #455
Ok, I see. If you want to customize this behavior, I think you need to define your own `.fail()` function.

[code]

Let us know how that works for you.

[2016-03-26 22:11] satazor commented on #455
I see, but is this the correct default behaviour? I was not expecting `yargs` to be handling handler errors. For instance, the handler contains a programming error, the consumer of the CLI would be looking at help usage + `Cannot access X of undefined`.

AFAIK, this kind of stuff was ok in v3 but changed in v4.

[2016-03-26 22:16] nexdrew commented on #455
I could be wrong, but I think yargs has always behaved this way. It's a convenience for gracefully handling runtime handler errors. I don't think yargs expects coding errors :) and doesn't attempt to distinguish between the two.

[2016-03-26 22:30] satazor commented on #455
I don't think handling of runtime errors is a good idea. Showing a help usage + a programming error is very misleading to CLI users. If a runtime error occurs it is much better to simple show the stack trace and exit which is what nodejs does by default. If the CLI dev really wants to do some "validation" they really should do it with `.check()`.

That's my opinion and respect that you disagree wi

[2016-03-26 22:39] nexdrew commented on #455
Fair enough, but before others weigh in, would you mind confirming if you can achieve the desired behavior using `.fail()`?

[2016-03-26 22:47] satazor commented on #455
No, not easily. The problem is that `fail()` is called with an error message and not an Error instance. Even if it was called with an Error instance I had to distinguish between TypeError among others to either show the stack trace and exit or print the help usage.

[2016-03-26 23:00] nexdrew commented on #455
The `Error` instance is passed as the 2nd argument. Note my example above and see #382. You should be able to rethrow that. Please confirm.

[2016-03-26 23:05] satazor commented on #455
Alright so that makes things possible, but still not very developer friendly:

[code]

[2016-03-26 23:24] nexdrew commented on #455
Ok, thanks. At least we know there's a workaround.

So you'd like yargs to distinguish between runtime errors and language errors - throw if language, handle if runtime (with delegation to `.fail()`).

We should also document the 2nd argument given to the fail handler.

Does this accurately summarize your request?

[2016-03-26 23:28] satazor commented on #455
Well kind of. I expect yargs to not handle errors that come from command handlers.

[2016-03-28 09:55] elas7 commented on #195
@satazor It seems to work fine on the current version. Please give it a try and let me know if it's solved. Thanks!

[2016-03-28 10:36] satazor commented on #195
I confirm, thanks

[2016-03-28 10:36] #195 closed

[2016-03-31 23:14] kumar303 opened #464 "config() does not apply to sub commands"
I was surprised that this doesn't work. A config file:

[code]

And with yargs looking something like:

[code]

The config file value of `thing.source` is not applied as the default value for the `thing --source` option.
Is that by design? If so, maybe it could be documented.

Could you suggest another way to accomplish this? I know I could make two config files, one for the main program and one f

[2016-04-01 00:19] nexdrew commented on #464
@kumar303 I'm a little confused about what you're trying to accomplish. Do you want to access the value of `source` within the `thing` handler as `argv.thing.source` or as `argv.source`?

[2016-04-01 00:35] nexdrew commented on #464
Is this the behavior you're looking for?

[code]

[code]

[code]

[code]

[code]

[2016-04-01 01:38] kumar303 commented on #464
What I want is to use one config file to specify any main option *as well as* any sub command option. I want to access the value set from a config file just the same way as I would access any real command line option value.

ok, it looks like `global('config')` was definitely one thing I was missing. Thanks.

However, I'm still not clear on how to do this. Do I use the `check()` function? How woul

[2016-04-01 02:17] nexdrew commented on #464
I think the sample code I posted gives you the results you describe, albeit in a roundabout way :smiley:.

In my code, you know if the user provided `--source` on the command line if `argv.source` is populated, in which case it is preferred; otherwise if `argv.thing.source` is populated, then it comes from the config file.

It's not super straightforward, but does that make sense?

[2016-04-01 14:57] kumar303 commented on #464
ok, I see how to do it now. Thanks for all your help. It would be nice if yargs automatically munged config values together for sub commands since it already does so for main options but I can make it work as is.

Feel free to close the issue. The crux of it was that I was missing `global('config')` which seems a bit obscure (because it's not obvious that `config` is a "key") so an extra note abou

[2016-04-01 15:15] nexdrew commented on #464
@kumar303 Very good points!

When it comes to issues like this, my first goal is to help folks figure out a workaround to get the desired behavior as quick as possible. Now that we've done that, I think we can turn this into a couple requests (as you mention):

1. Augment nested opts parsing logic to account for "command key > option within command" instead of just shoving things into an object gr

[2016-04-01 15:17] kumar303 commented on #464
Yes to both! I can't think of why config options shouldn't be global by default.

[2016-04-01 15:27] nexdrew commented on #464
@kumar303 Cool. Would you mind creating a separate issue for "Make non-command config options global by default"? We can use this one for the first request. That way we can discuss the merit of both requests independently.

[2016-04-01 15:31] kumar303 commented on #464
Actually, I just thought about this more ^ and once that's implemented, I don't think config options need to be global by default.

[2016-04-01 15:43] nexdrew commented on #464
But if the config option is not global (and not redeclared in the command builder), then it will be ignored (reset) for command execution.

[2016-04-01 15:54] kumar303 commented on #464
so you need it to implement the nested config parsing logic so it can apply to sub commands?

[2016-04-01 16:31] kumar303 commented on #464
I ran into another problem trying to use the workaround for applying a config to sub command options. I cannot detect if an option was passed on the command line when that option declares a default value.

[2016-04-03 15:53] plroebuck opened #465 "Add ability to specify option may only be specified once"
Add boolean method `.once(<key>)` to disallow specification of same option more than once.
Default value is `false`.

Given single numeric argument `x`, throw if `.once('x')` was set with given command line:
[code]

If applied to boolean argument, it would additionally throw if given both `--bool` and `--no-bool`.

[2016-04-05 03:41] elas7 commented on #292
Hey @crito, this issue should be solved in the current version of yargs! Please take a look when you can and let us know. Thanks!

[2016-04-05 15:49] m-mujica opened #467 "add support for default commands to yargs"
Hey guys, is there any way to do something like:

`yargs.command("*", [module])`

similar to [commander](http://tj.github.io/commander.js/#Command.prototype.command)

I found https://www.npmjs.com/package/yargs-default-command but does not seem to work with 4.x

Thanks,

[2016-04-06 09:07] osher opened #468 "Yargs is no longer lighweight."
It started as lightweight, and was very cool (and still is).
But it's not lightweight.

Once installed, the size of a package including all its dependencies:

Yargs@4.4.0:
 -  990Kb
 - (418 files, 123 folders)

nomnom@1.8.1:
- 115K
- (35 files, 9 folders)

Commander@2.9.0:
 -   40Kb
 - (11 files, 2 folders)

ahm... :(

I was advocating for it, and was corrected by my listeners
It's not lightweight

[2016-04-06 15:48] bcoe commented on #468
@osher I'm for this, I also think we should look at if we're checking in anything we can avoid -- we have quite a few dependencies so it does add up unfortunately.

[2016-04-06 16:02] nexdrew commented on #468
@bcoe It looks like the following dependencies could stand some cleanup:

[code]

[2016-04-06 16:37] jdc0589 commented on #225
@AGresvig no idea if this is how its "supposed" to works as a starting point:

[code]

produces:

[code]

and:

[code]

[2016-04-08 17:28] mearns commented on #189
My only add on to this is not to assume that `exclusive()` means the one of the specified options _must_ be given, only that _if_ one of them is given, none of the others should be.

A common use case for this might be with `--verbose` and `--quiet`. Neither should be required, but if `--verbose` is given, it doesn't make sense to give `--quiet` as well.

[2016-04-08 23:56] #430 closed

[2016-04-10 07:57] Alphapage opened #472 "strict mode error"
Hello,

I'm using yargs 4.4.0 with nodejs 4.2.2.
I can reproduce the bug like this:
```var yargs=require('yargs');``` from test.js file
Then:
```node --use_strict test.js```

I get this error: In strict mode code, functions can only be declared at top level or immediately within another function.

Is it a bug or a limitation ?

Thanks in advance for your help.

[2016-04-10 19:35] #468 closed

[2016-04-11 02:51] #332 closed

[2016-04-11 06:32] bcoe commented on #435
now addressed in `yargs@next`.

[2016-04-11 06:32] #435 closed

[2016-04-11 06:33] bcoe commented on #423
@elas7 give `npm i yargs@next` a spin, I've pulled in your yargs-parser changes.

[2016-04-11 06:33] #423 closed

[2016-04-11 06:35] bcoe commented on #332
@jbcpollak if you again decide to take yargs for a spin, we've now implemented an approach for nested environment variables:

https://github.com/yargs/yargs-parser/pull/26

[2016-04-11 06:36] bcoe commented on #430
@ljharb this should now be available with `npm i yargs@next`, give it a spin and let me know what you think.

[2016-04-11 06:46] bcoe commented on #472
@Alphapage had a worthwhile discussion with @sindresorhus here:

https://github.com/kemitchell/spdx-expression-parse.js/issues/9

tldr; it's recommended that folks use `use strict;` rather than running `node --strict_mode`, other developers I respect such as substack have given similar advice:

https://github.com/nodejs/node-v0.x-archive/issues/7479

Having said this, there's a chance this will ev

[2016-04-11 06:46] #472 closed

[2016-04-11 11:00] timoxley commented on #465
If it even just picked the last specified value, that would be good.

As far as I can tell, every single arg might be the type that you configured, or it might be an array of that type, there's no way to force one or the other, so to be safe you kinda have to check all of them. Ugh.

This quirk bit me hard recently, was trying to override a flag set in an npm script from the command-line:

e.g. `n

[2016-04-11 15:50] bcoe commented on #465
@plroebuck @timoxley could we start by introducing a new configuration option to `yargs-parser` that disables array expansion?

https://github.com/yargs/yargs-parser#configuration

or do you require both types of behavior in the same app?

[2016-04-11 19:02] jbcpollak commented on #332
@bcoe - I like the change - if I have a chance I'll try it out, nice work!

[2016-04-11 19:53] #292 closed

[2016-04-11 20:28] alesl opened #477 "parse-numbers"
I added yargs stanza in my package.json and set parse-numbers to false, but my options still get parse as string. Since number are rather large (40 chars hex encoded numbers) values get corrupted as floats. Anybody else has problem with this or is there any options to set default type for unspecified options?

[2016-04-11 21:21] bcoe commented on #477
@alesl hey, I just tested this on `yargs@4.4.0` with the setting:

[code]

And I'm getting strings rather than #s, as I would expect. Could you provide a failing example for us to work from? I wonder if there's a slight difference your development environment from mine.

[2016-04-11 21:53] alesl commented on #477
Yes, you are correct - I should have properly test this before reporting. I'm sorry I wasted your time.
Somehow I managed to install some older version. I installed latest version and now it works flawlessly.

[2016-04-11 21:53] #477 closed

[2016-04-12 04:48] ljharb commented on #430
@bcoe awesome, this looks great!

This script:
[code]
ran with `./test.js quux --path ./foo --paths ./foo ./bar ./baz --notpaths ./foo ./bar ./baz`
prints out:
[code]

While it's pretty weird that "path" is a getter/setter instead of a normal value, and that all the items in "paths" are normal values (thus not consistent with "path"), all of them are normalized properly. Thanks!

[2016-04-12 06:01] timoxley commented on #465
@bcoe yeah in my case, both. Some things are set up for both scenarios, others not.

I was thinking something like `.option('interval', {array: false})` could be a good way to signal it perhaps.

[2016-04-12 06:02] timoxley commented on #465
or the original proposed `.once('interval')`

[2016-04-12 22:35] elas7 commented on #314
@jakub-g This should be fixed in the current version of yargs. Please take a look a let us know. Thanks!

[2016-04-12 22:35] #314 closed

[2016-04-13 11:16] tnunes commented on #465
Any updates on this?

I'm facing the same issue, where I have an option that must be a single value, but if specified multiple times, yargs will give me an array of values.

I'm good with either `{ array: false }` or `{ once: true }`, as long as we have the feature :)

[2016-04-14 11:19] plroebuck commented on #465
I'd prefer the { once:true } annotation, but means same thing in @timoxley's case above.

[2016-04-14 11:56] plroebuck commented on #465
Based on `README.md`, I wanted to throw for both of these cases:

**duplicates**
[code]

**negate fields** (slightly modified)
[code]

Once a (non-default) value is assigned to an option, it may not be reassigned later
(from client perspective). Partial implementation that disabled array expansion
[which I view as subset of my proposal] would be an acceptable start; the duplicate
issue is obviousl

[2016-04-20 01:30] raphaklaus opened #484 "Mock/Stub yargs"
Hello!

I'm using yargs in one of my projects, and in my CLI test, I want to mock/stub yargs. Is there a method to help achieve this?

[2016-04-20 05:08] maxrimue commented on #484
Yes, there is. If you want to mock user input for yargs you can do it like so:

[code]

or so:

[code]

[2016-04-20 15:33] raphaklaus commented on #484
Thank you!

[2016-04-20 15:33] #484 closed

[2016-04-20 16:10] avribacki opened #485 "Yargs crashes when an invalid package.json is the directory tree."
I'm bundling my application using nexe and it works pretty well except for one particular case.
When there's an invalid package.json along the directory from where I'm executing my application, Yargs crashes. If the package.json is valid, it works as normal.

For instance, if try to run "myapp -h" and there's an empty package.json in the same folder, I get the following error:

[code]

This might

[2016-04-20 16:53] nexdrew commented on #485
@avribacki Thanks for reporting this! I can confirm this is a potential problem, and it's not limited to when yargs is bundled.

I think adding something to the yargs API to disable the package.json lookup is a good idea. When doing so, we should probably invent another way of specifying the [yargs-parser configuration options](https://github.com/yargs/yargs-parser/blob/v2.4.0/index.js#L14-L20), p

[2016-04-20 17:10] kumar303 opened #486 "global options are not affected by environment variables when using sub commands"
When declaring a sub command that also has its own options, environment variables no longer affect global options. Is my configuration wrong?

[code]
I would expect this to print `{fruitThing: true}` but it does not:
[code]
However, if I comment out `yargs.options(...)` in the sub command, it works.

This is only limited to environment variables. The following works as expected:
[code]

[2016-04-20 19:07] nexdrew commented on #486
@kumar303 Good find!

I think the problem is that the `envPrefix` is not treated as "global" - in the context of a command, it has been [reset to `undefined`](https://github.com/yargs/yargs/blob/v4.6.0/yargs.js#L116), meaning env vars will be ignored for that command.

To workaround this, you would have to duplicate your `.env('MY_PROGRAM')` config within each command builder.

I could've sworn th

[2016-04-21 03:09] kumar303 commented on #486
That fix sounds good to me. It seems like it should apply to sub commands by default. I can use the workaround in the meantime, thanks.

[2016-04-23 09:16] maxrimue commented on #485
@nexdrew @avribacki
I'm not entirely sure about this. While I do think it is pretty unlikely for yargs to run while the main package.json is empty, it seems kinda weird that yargs simply crashes because of that. It also crashes if the package.json is holding incorrect JSON code, but that seems like a nice way to find out you need to correct your JSON code.

Since package.json data never really is

[2016-04-23 09:29] maxrimue commented on #467
Hey @m-mujica,

unfortunately, there currently is no official way how to do this in yargs. What do folks think about adding this kind of default command that applies if an unknown command or none is called?

[2016-04-23 13:41] plroebuck commented on #465
@bcoe, any progress?

[2016-04-23 14:16] plroebuck commented on #110
Shouldn't this issue be closed as of yargs-4?

[2016-04-23 15:16] plroebuck commented on #453
@nexdrew, any issues with PR?

[2016-04-24 14:36] avribacki commented on #485
I think that it would be much more valuable to add a new way of passing the parser options (avoiding the search for the package.json entirely) than fixing the crash.
If you expect the options to be inside package.json, then ignoring it silently as I did on the issue description is a bad idea.
Couldn't it be a just a new method that would be chained through yargs as all the other configurations? Th

[2016-04-25 02:55] #453 closed

[2016-04-25 02:56] bcoe commented on #453
@plroebuck nope, sorry that I've been a bit slow to land pull requests this week (some big new features launching at npm).

[2016-04-25 13:16] nexdrew commented on #467
I like this idea. Seems like it would help simplify some "control flow" logic with commands, so you don't have to use some sort of custom state to keep track of if a command was executed or not.

[2016-04-25 13:21] nexdrew commented on #110
@plroebuck Yes, I think so. Thanks for the heads up.

If anyone finds a deficiency with the `type: 'number'` validation, or if you'd like to request other types (`date` maybe?), please open a new issue. Thanks!

[2016-04-25 13:21] #110 closed

[2016-04-25 14:01] nexdrew commented on #485
@avribacki @maxrimue Yes, I agree. I think this should be a new API method, as you describe. If parser config is given explicitly via the new API method, then yargs should forgo the _package.json_ lookup; otherwise, keep the current functionality and allow a crash on invalid _package.json_ (has to be the first/nearest one found when traversing up parent directories).

[2016-04-25 19:04] zam6ak opened #487 "How to specify multiple commands with shared, required option"
How can I make commands require shared option (e.g. config file)
Lets say I have 2 commands, one has a required positional arg other does not, but they both share required config option...

I tried following but it does not work
[code]

[2016-04-29 17:46] kumar303 opened #489 "Make yargs configuration testable in-process"
The way a yargs program behaves relies heavily on its configuration. It is also easy to botch configuration (e.g. when refactoring code) if you are using abstractions to apply the configuration in different places. A common way to solve this is to add automated tests for the behavior you intended to configure.

However, it is not easy to test a yargs configuration that would result in the program

[2016-04-29 19:19] nexdrew commented on #489
@kumar303 This is an interesting suggestion.

Note that you can pretty much do this by passing pseudo arguments to yargs-as-a-function and using a `.fail()` handler to "catch" the parsing/validation error. The following works and is very close to what you have above:

[code]

I don't know if that completely satisfies your use-case, but I think it gets pretty close.

Otherwise, I'd be interested to

[2016-04-29 19:24] nexdrew commented on #489
I should also mention that you can configure yargs to **not** exit the process on validation errors by calling `.exitProcess(false)`, which would perhaps be an alternative to providing a custom `.fail()` handler.

[2016-05-02 04:39] bcoe commented on #423
@elas7 could you give:

`npm i yargs@next`

a try; if things are working well we can promote it to latest tomorrow.

[2016-05-02 04:45] bcoe commented on #485
a couple thoughts:

1. I agree with @nexdrew, we let's make it so that package lookups can be disabled in `yargs-parser`.
2. @elas7 just introduced functionality that allows configuration to be passed an arbitrary object (https://github.com/yargs/yargs/pull/480), I think this addresses some of the ideas discussed in this issue.
3. I think that rather than crashing if an invalid package.json is fou

[2016-05-02 04:47] bcoe opened #492 "commands: we should make builder, handler, description, command optional"
It's not the case that we always wand a builder function for a command, I propose that we make each of these parameters optional.

[2016-05-02 19:46] kumar303 commented on #489
Oh! Sorry, I didn't know about either of these methods. They both do what I was looking for so I'll close this out.

[2016-05-02 19:46] #489 closed

[2016-05-02 22:54] bcoe commented on #489
@kumar303 thanks :) be liberal with opening issues in the future 👍

[2016-05-08 17:42] bcoe opened #496 "recommend similar commands"
Some command-line interfaces recommend similar commands if the command entered is not understood (and a command is required).

This would be a slick extension to our command handling.

[2016-05-09 15:34] nicola opened #497 "Help stops before finishing to write in Node v6.1.0"
[code]

Here is my little command:

[code]

All correct, but when I use the flag `--help`, it breaks:

[code]

This is the same problem facing https://github.com/tj/commander.js/issues/530 right now,
do you have a fix for this planned?

[2016-05-09 17:24] bcoe commented on #497
@nicola interesting, is there a chance that printing the output is taking more than one tick? this would be strange behavior, but should be fixable; looks like we might need to do some thorough testing debugging on Node@6.x.

[2016-05-09 17:25] nicola commented on #497
hey @bcoe thanks for your quick reply, Node v6 has done several updates to Buffer, worth looking into it

[2016-05-10 12:18] lpinca commented on #497
Posting this here for reference: https://github.com/nodejs/node/issues/6456.

[2016-05-10 17:15] eljefedelrodeodeljefe commented on #497
`console.log` is not blocking for a while now. We are seeing lots of behaviour like this in similar cases and repos, because recent `libuv` changes have made this problem visible. We are working on workarounds in node core.

The problem often arises when looping over `stdout` or `console` in combination with with `process.on('exit', handlers)`, this could be an immediate fix. I keep you posted.

[2016-05-10 17:51] bcoe commented on #497
@nicola @eljefedelrodeodeljefe I've been chatting with @othiym23, and have a plan of action for a hacky patch; @nicola could you submit a failing test case in `test/integration`?

[2016-05-10 18:01] eljefedelrodeodeljefe commented on #497
Just to throw in some: I assume it's about the recursive call of parseArgs and the process.exit(0) [here](https://github.com/yargs/yargs/blob/74fcfbc34a8094943f9c397ed922cec7dfbb2416/yargs.js#L684).

At best the hotfix is revertable in the future though. The private process APIs are likely to change and are a terrible hack - if you consider them.

[2016-05-10 18:24] eljefedelrodeodeljefe commented on #497
I have tried replacing all the process.exit() with

[code]
and a respective `ee.emit('custom_exit', 0)` and at least that prints everything. You would have to decide whether that is breaking the APIs

[2016-05-10 18:56] eljefedelrodeodeljefe commented on #497
Exploring this here https://github.com/yargs/yargs/pull/498

[2016-05-10 19:08] bcoe commented on #497
@eljefedelrodeodeljefe would `custom_exit` be emitted immediately, or would the consumer code be able to execute in the current `tick` before our event fires; something we should test :)

[2016-05-10 21:19] eljefedelrodeodeljefe commented on #497
hmm. Can you think of a test case? When I see this right node core defer most events to the nextTick. In this case I would suppose it wouldn't matter because when you return from top scope and there is still something on the event loop that will execute. But, tbh, I am not sure.

[2016-05-14 16:34] regseb opened #500 "option count returns default value + 1"
*yargs* returns the default value + 1 when an option `count` isn't used in command line.

[code]

[2016-05-15 03:38] bcoe commented on #497
@nicola please give this a spin:

`npm i yargs@next`

I've written this shim: https://github.com/yargs/set-blocking

[2016-05-15 07:40] vjpr commented on #225
Just wanted to add this here to clarify the example above. To access the `argv` of the sub-command including named arguments you need to pass a fourth argument to command.

[code]

[2016-05-15 20:25] MeanwhileMedia opened #503 "Unparse arguments"
This is more of a feature request (as I don't currently see this feature in docs). Might we have a way to convert parsed args back into string format?
One use case could be when a process uses yargs to parse it's args, then manipulates those args during it's lifespan, but later needs to instantiate a child process that receives the args.

[2016-05-15 20:48] bcoe commented on #503
@MeanwhileMedia you should be able to access `process.argv` directly, even after yargs has parsed the string; none of the values are changed in place.

Let me know if this does the trick for you.

[2016-05-15 21:01] MeanwhileMedia commented on #503
Thanks for the quick response @bcoe.
My problem is that I call yargs...argv when the process first starts. The object that yargs returns (argsObj) is passed around and manipulated by that process. argsObj becomes a representation of the process's state. At this point, process.argv becomes "outdated".

Eventually, in my app, the process will need to pass it's state into a new child process.  This i

[2016-05-15 22:05] lrlna opened #504 "separate demand into demandOption and demandCommand"
As @ljharb was fixing #431 with #438 , we've discovered a bit of a black hole that is `demand`.

The suggested solution at this point is to work off `demand` being separated in to two different functions: `demandOption` and `demandCommand`, clear detailed in [this comment](https://github.com/yargs/yargs/pull/438#issuecomment-200545670).

I am currently working on separating the two. To avoid break

[2016-05-16 07:32] vjpr commented on #467
**Workaround**

[code]

[2016-05-16 18:49] bcoe commented on #497
@nicola bump; somewhat worried about this change, so would love to have the second set of eyes before it gets promoted to `latest`.

[2016-05-16 19:07] nexdrew commented on #497
@bcoe FWIW, using @nicola's script and running with `--help` on Node 6.1.0, I was able to consistently see the problem with `yargs@4.7.0` and cannot reproduce the problem with `yargs@4.7.1`, so it looks good to me. 👍

[2016-05-16 23:21] bcoe commented on #467
@nexdrew @m-mujica I like the idea of following prior art, and using `*` 👍

[2016-05-16 23:35] nexdrew commented on #467
@vjpr brings up a good point.

1. Do we treat the default command just like a hidden command, so it can still apply config for options, validation, etc?
2. Should it affect usage/help content at all?
3. Can I mark a regular named command as the default?

[2016-05-17 00:15] TheAlphaNerd opened #506 "v4.7.1 tag not published to github"
This is making citgm sad :cry:

[2016-05-17 03:51] lrlna commented on #506
don't cry citgm -- we fix it 👯

[2016-05-17 03:53] lrlna commented on #506
in fact, @bcoe already fixed it !

[2016-05-17 03:53] bcoe commented on #506
@TheAlphaNerd sorry about that, pushed the branch but not the tag.

[2016-05-17 03:54] #506 closed

[2016-05-17 03:54] TheAlphaNerd commented on #506
Y'all rock!

[2016-05-17 04:02] bcoe commented on #497
@nicola this should now be fixed on `latest`.

[2016-05-17 19:38] nicola commented on #497
It fails in 4.7.1 :(

[2016-05-17 20:14] bcoe commented on #497
@nicola awesome, I can close this out?

[2016-05-17 20:14] #497 closed

[2016-05-19 01:22] vjpr opened #509 ".command(module) does not work with a Babel ES6 class using static props and methods"
I want to be able to do this:

[code]

The error message at the moment is:

[code]

`typeof cmd === 'object'` in the following check, prevents using an ES6 class with static methods.

*lib/command.js*
[code]

**Workaround**

Pass a class instance to yargs instead.

[code]

[2016-05-19 02:07] vjpr opened #510 "Allow command handler to accept a promise"
This would allow much easier use of ES7 async/await.

[code]

**Workaround**

Use IIFE.

[code]

[2016-05-19 10:59] AGresvig commented on #225
Thanks @jdc0589 - this seems to work but quickly leads to nasty nesting. There should be a way to do this with a flatter structure - ideally using [positional arguments](http://yargs.js.org/docs/#methods-commandmodule-positional-arguments)..

@vjpr for providing examples. I know see how to access `argv` using commands.

But I think this issue highlights the ambiguity surrounding sub-commands. It i

[2016-05-19 13:02] nexdrew commented on #225
@AGresvig This is something I plan to address with #494 using modules for subcommands and a simple directory structure to facilitate nesting. Feedback is welcomed.

[2016-05-19 13:33] AGresvig commented on #225
@nexdrew Ah fantastic, I had missed this. It looks to be very aligned with what I had in mind. Thanks!
I'll review it.

[2016-05-20 18:10] venkatperi commented on #373
yargs@4.7.1 behaves the same. @gajus any luck at your end getting the stack trace?

[2016-05-20 18:31] nexdrew commented on #373
@venkatperi You can define a custom `.fail()` handler which will be passed the original `Error` object (if any) as the 2nd argument. That `Error` will contain the full stacktrace. See [the docs](http://yargs.js.org/docs/index.html#methods-failfn) for an example or #382 for implementation details.

[2016-05-23 01:26] FallingSnow opened #513 "Determine if default was used?"
Is there a way to determine if a yargs.argv argument was set explicitly by the user rather than by the default?

[2016-05-23 07:28] KohPoll opened #514 "Call the wrong command handler in some situation"
I'm not sure if this is a bug...

I just add two commands:

[code]

[code]

It call command foo's handler, and print: `command foo-- { _: [ 'foo' ], '$0': 'cli.js' }`.

[code]

***It also call command foo's handler! But I think it should call command bar's handler.***

And I dig into the source code, <https://github.com/yargs/yargs/blob/master/yargs.js#L645>:

[code]

Why `argv._.indexOf(cmd)` not

[2016-05-23 18:34] maxrimue commented on #513
There's no official method provided by yargs, but instead you could keep the original `process.argv` array and perform a check on it, if necessary, if it holds a certain property, which would mean the user explicitly passed it:
[code]
Does that solve your problem?

[2016-05-23 21:04] nexdrew opened #516 "Drop the camelcase dependency"
Looks like an artifact from pre-`yargs-parser` extraction. Testing shows it can be safely dropped from `yargs`.

[2016-05-24 20:35] FallingSnow commented on #513
This is the exact same fix I already applied.

It's unfortunate that yargs doesn't have a feature like this. Thanks for your help.

[2016-05-24 20:35] #513 closed

[2016-05-24 21:49] nexdrew commented on #513
@FallingSnow There's also another workaround that makes it slightly easier to support aliases (and other parsing translations): you can use a fake default value that you can check for and swap out after parsing. Here's an example using a custom `.check()` function:

[code]

Besides the workarounds, what kind of support/API for this would you like to see in yargs? Something like `yargs.parsed.defau

[2016-05-24 22:18] FallingSnow commented on #513
Thanks for the work around.

I would like to see a simple boolean that identifies if yargs used the default. For example `yargs.parsed.foo.defaultUsed`. You could also use it to store extra information like whether the alias was used or the count.

[code]

But something like a `yargs.parsed.defaultsUsed` collection would work too, although I think the value should be a boolean, not the default val

[2016-05-25 08:38] centigrade-thomas-becker opened #518 ".strict() does not work as expected"
The documentation about strict() reads:

If I tell yargs to be strict about parsing commands and options I would expect it not to accept *any* unspecified commands or options. But it seems to be only working for **commands** and not options.

This will show the help screen and print an error at the bottom:
`mycommand foo --bar`

This is correct, since there is no command named "foo" and no option

[2016-05-27 14:22] firstdoit commented on #121
I was surprised to understand that the `alias` function is only for options. :(
Such a common use case. I'll be forced to manually replace the alias before parsing with yargs.

[2016-05-27 14:38] nexdrew commented on #121
@firstdoit If you use a module/object for your command, you can use an (undocumented) alias like:

[code]

Or you can take an approach similar to @donaldpipowitch to make your alias(es) documented (included in help text), but commands in 4.x should define a builder and handler instead of just a handler.

Otherwise, command aliases is on my roadmap and I'll probably be able to hack something up in

[2016-05-27 15:13] firstdoit commented on #121
@nexdrew nice, thanks, this works for now.

Just for context, what I'm actually doing:

[code]

[2016-05-27 15:39] nexdrew commented on #121
@firstdoit Ok cool. I think if you expand your last statement there and pass `builder` for the alias, yargs should be able to handle `alias` just like `command`.

[2016-05-27 19:51] maxrimue opened #519 "Version 5.0.0"
It might still take some time until we will get v5.0.0 out, but I thought I would create an issue now already since we already have two things to do in the next major release, and this issue + the label is thought to help organising work on it.

Currently proposed:
- [x] recommend similar commands when no match is found (PR #580).
- [x] Replace `zh.json` with new, identical `zh_CN.json` locale fil

[2016-05-27 20:14] firstdoit commented on #121
@nexdrew thanks for the help, but I'm going to have to try `commander`.

Apparently the support for sub commands is not very strong in `yargs`, and this is giving me all sorts of problems. If you want to take a look, here's where I'm at right now: https://github.com/vtex/toolbelt/blob/ed2aafd8ed7d01bfacffcfb58f7f24995e81982c/src/cli.js

Each module can define their own commands. That's why my case

[2016-05-27 20:23] nexdrew commented on #121
@firstdoit Interesting! I could be wrong, but this looks like a great use-case for #494, which would allow you to define each subcommand as their own modules in a convenient directory structure. If you have time, take a look and let me know what you think. My recent focus on yargs is better support for nested command CLIs, so any feedback you have is welcomed!

[2016-05-27 20:26] nexdrew commented on #121
@firstdoit In the meantime, yargs 4.x _should_ support subcommands with explicit `return yargs.command(...)` calls within the `builder` function of a command. Have you given that a shot yet?

[2016-05-27 20:50] maxrimue commented on #518
What you need to do is enable strict mode within the command as well. I agree that this is not well described, or mentioned at all in the documentation.

You can achieve this by adding a `builder` function to your command, which then returns a new yargs configuration that only applies to that command. In this configuration, you simply enable strict mode like before:
[code]

[2016-05-28 16:11] adius opened #520 ".demand() does not work with .parse(argv)"
This works:

[code]

This should work, but doesn't:

[code]

[2016-05-29 13:47] moranje commented on #225
Quick question: Is the entire API supported under `exports.<method>`? Would I be able to use `completion`, `demand`, `example` etc. methods on the exports method for instance? I't not entirely clear from the docs. Another thought, do you think `desc` might be better written in full (`description`) to mirror the API?

[2016-05-29 14:44] nexdrew commented on #225
@moranje The entire API is not available via _exports_, but it _is_ available to the `builder` function, since it's given a full yargs instance. So you can apply `.completion()`, `.demand()`, `.example()`, et al to your command that way. Just make sure to return the yargs instance (and note that `.demand()` should currently be a number that includes the command arg itself).

For the command descri

[2016-05-29 15:27] moranje commented on #225
That makes sense, thanks for clarifying that.

[2016-05-29 15:30] nexdrew commented on #487
@zam6ak Sorry for not seeing this sooner! Try applying `global: true` to the shared `c` option. Specifying an option as `global` means yargs should apply it to all commands (preserves their config beyond resets).

[2016-05-29 15:37] nexdrew commented on #451
I think we should consider this for 5.x. I don't think the current `.demand()` behavior for commands makes sense. It's possible that #504 obviates this, but we still might want to change this.

[2016-05-29 20:25] maxrimue commented on #513
I'm not entirely certain if we should add this to the API, because of the following reasons:
1. I don't really see a use case here that applies to a lot of users. I don't want to question whether you need this feature or not, but I doubt that enough people out there do.
2. What you could achieve using this new API can also be achieved using just a single line of code which I showed you earlier. Si

[2016-05-29 20:29] FallingSnow commented on #513
1. You're probably right. If no one else has brought this up as a problem yet, it's most likely an edge case.
2. Unfortunately the one line didn't cut it for me. I ended up using this
[code]

[2016-05-29 20:51] maxrimue commented on #513
@FallingSnow Ah yeah I didn't notice you have to check for `-` and aliases, too. That of course makes it a bit more complicated. I think you can shrink down your code a little though, like this:
[code]

[2016-05-29 20:57] FallingSnow commented on #513
Ah, very nifty, thx.

[2016-05-30 01:23] bcoe commented on #520
@adius I wouldn't say this is actually a big, this issue is as follows:

By default yargs removes the first two arguments from [`process.argv`](https://github.com/yargs/yargs/blob/master/index.js#L6), which represent the node bin and the script being executed:

[code]

If you execute yargs explicitly, it doesn't try to apply this magic (the assumption being you've probably performed some sort of p

[2016-05-30 01:23] #520 closed

[2016-05-30 02:02] bcoe commented on #421
@michaelcaplan just want to bump this, could you perhaps provide a minimum failing example of this behavior -- you might have already moved on in frustration, but I'd love to solve this issue for future generations 😛

[2016-05-30 02:16] bcoe opened #521 "benchmarks \o/"
Someone on the [Internetz](https://twitter.com/RijnhardH/status/736199577360031745) complained that yargs is a slow ... you know what, they're probably right we've never made an effort to run many benchmarks (we're getting to the point of maturity where we probably should).

_Let's run some benchmarks on yargs, comparing it against some other parsers as a baseline:_

- [ ] optimist
- [ ] commander

[2016-05-30 07:00] adius commented on #520
Uff … that's not intuitive at all.
Anyways, it least it should be made crystal clear in the documentation.
http://yargs.js.org/docs/#methods-parseargs does not make this clear right now!

[2016-05-30 13:34] rijnhard commented on #521
Hi @bcoe thanks for the tweet.

as promised, heres the benchmarking code I used: https://github.com/rijnhard/node-crappy-benchmarks

[2016-05-30 13:35] rijnhard commented on #521
Feel free to point out issues, also I would just like to give you some credit, for taking this approach. My tweets can be intentionally offensive, but I do have a lot of respect for open source maintainers, and yargs is a fantastic library.

[2016-05-30 17:54] bcoe commented on #521
@rijnhard no worries, this has actually given me the opportunity to learn a bit more about v8 CPU profiling -- unfortunately I haven't found any of the quick wins I was hoping for so far. I've benchmarked `cliui` at `2795hz`: that's pretty darn fast, and I couldn't find any quick performance tweaks.

I'll move on to profiling some other parts of yargs, since that didn't immediately jump out as the

[2016-05-30 22:49] moranje opened #522 "make command builder work without returning"
I like the new commandDir feature but I have been having a bit of trouble getting a few of the other functions to work. The one I bumped into were `default` and `demand`. I am new to yargs, so I may just be 'holding it wrong'.

It starts with a cli.js
[code]

I have a folder called `commands` which holds two files: new.js and generate.js

[code]
I expect it to skip the handle and present the user

[2016-05-31 04:28] bcoe commented on #522
@moranje looks like you're most of the way there, I think the problem is that you need to return inside the builder, like so:

[code]

Let me know if this does the trick for you.

_having said this:_

It seems like commands would be  more straight forward if this wasn't a requirement; does it seem like a reasonable API change to make the `return` not a requirement? CC: @nexdrew

__an aside: `wrap(

[2016-05-31 06:28] centigrade-thomas-becker commented on #518
Thanks, that helped me get the result I wanted.

[2016-05-31 06:28] #518 closed

[2016-05-31 10:54] moranje commented on #522
Indeed! That did the trick. I must have missed that. Both methods work as advertised now.

`.wrap( yargs.terminalWidth() )` also right aligns the type, required and default values, which wrap() shows as one long left aligned string.

Thanks for your help

[2016-05-31 15:53] rijnhard commented on #521
@bcoe i have updated with a bench of argparse. its slightly slower then Commander, but twice as fast as yargs

[2016-05-31 16:53] brumer opened #523 "passing parameters into command handler"
I'm trying to build a server which accepts a command line and handles it using commands in a structure described in commandDir.
My problem is that i want to pass the ClientRequest object or some other information to the different commands without using a singleton that each command need to require.
Meaning each command should be able to return information somehow..

Is there a way i can assign thi

[2016-06-01 01:17] nexdrew commented on #521
Perhaps we should focus on [`yargs-parser`](https://github.com/yargs/yargs-parser) for the moment? There's definitely a lot of looping and RegExp checks in there.

[2016-06-01 17:12] maxrimue commented on #518
@centigrade-thomas-becker I've opened a new issue (#526) to address this in the documentation. Thanks for submitting your issue!

[2016-06-03 01:31] #516 closed

[2016-06-06 12:19] firstdoit commented on #121
Hey, @nexdrew :) no, I haven't .

I ended up building this small lib to quickly tend to my specific needs: https://github.com/vtex/findhelp

Very much WIP, but I'd love any feedback if you are feeling curious 😄

[2016-06-09 14:27] hhaamm opened #528 "--help <argument> should show extended help for an specific argument"
--help command seems to me a bit limited. There's no much space on the screen for describe the arguments in more detail. So I'd like commands to have another option (that could be `extendedDescription()` method) that can be shown when doing:

`--help <command>`

`--help` would continue working as it is now.

`--help <unexistentcommand>` might throw an error.

I'd like to work on this feature so if

[2016-06-09 14:31] bcoe commented on #528
@hhaamm if you use the [command functionality](https://github.com/yargs/yargs#commandmodule), and run:

`<command> --help`

You will receive extended help. This order of operations is what I've tended to see with other applications, e.g.,

`git commit --help`

Would still love to have your future contributions to yargs! also let us know how your experimentation with the command functionality goes,

[2016-06-09 14:31] #528 closed

[2016-06-09 14:55] hhaamm commented on #528
@bcoe Sorry, maybe my post was confusing. When I wrote command I wanted to say param (or config option). What I'm really using is string(), boolean() and number() methods for parsing params. So I'd like extended help for `params`.

What I'm doing now is:

[code]

Maybe it would be good to add an extended description to the `describe` method. This is because the help for commands doesn't allow me t

[2016-06-09 18:33] bcoe commented on #528
@hhaamm could you write a little pseudo program for me with the inputs and outputs you'd like? would help me understand the difference between this and command specific help better 💯

Always open to supporting new features that folks need.

[2016-06-13 06:52] popkirby opened #529 ".commandDir(dir) does not work when the yargs definition script is `require`-ed from other file"
While I'm building a tool with `.commandDir(dir)`, an error occured when I require `lib/cli.js` and execute `bin/tool.js`.

`node lib/cli.js` works properly.

Directory tree:
[code]

bin/tool.js:
[code]

lib/cli.js:
[code]

lib/commands/foo.js:
[code]

The error message is:
[code]

[2016-06-13 15:43] nexdrew commented on #529
@popkirby I can confirm this is an issue, thanks for reporting! The problem is that yargs is interpreting a top-level `.commandDir()` call as relative to `require.main.filename`, which in this case is `/Users/popkirby/Documents/yargs-bug/bin/tool.js`. I will need to think about a proper solution.

In the meantime, you can workaround this by using `__dirname`. E.g. change **lib/cli.js** to this:

[

[2016-06-19 13:38] leesei commented on #529
Does this explain why I got `.commandDir is not a function` in `cli.js` with this `package.json`:
[code]

[2016-06-19 14:30] shakyShane commented on #521
I switched to yargs for https://github.com/BrowserSync/browser-sync, but am considering switching away again do to these speed issues.

The elephant is in the room is the fact that from a cold boot, yargs requires 95 individual js files/modules just to get running - this should be addressed before anyone spends time reworking loops/regexes

[code]

Produces the following

[code]

the only importan

[2016-06-19 14:52] shakyShane commented on #521
^ to make that clearer.

We're talking about operating on objects/strings/arrays in **very** small numbers - the chances of a 'refactor' giving any perceivable boost in speed are close to impossible, however, removing dependencies and keeping track of exactly how many modules are loaded can give great results 👍

[2016-06-21 04:05] stevage opened #530 "Disable "duplicates" behaviour"
This is surprising, and undesirable behaviour to me. I'd expect the last argument to override the previous ones. Is there a way to achieve this?

[2016-06-21 05:18] bcoe commented on #530
what if we added array parsing as one the optional configuration settings in `yargs-parser`?

https://github.com/yargs/yargs-parser#configuration

[2016-06-21 05:22] bcoe commented on #529
@nexdrew @popkirby could you use https://www.npmjs.com/package/find-up to walk up to the appropriate command directory?

[2016-06-21 05:23] stevage commented on #530
Yep, something like:

* `"duplicate-arguments": "array"` (current behaviour)
* `"duplicate-arguments": "last"` (keep the rightmost)
* `"duplicate-arguments": "first"` (keep the first)

[2016-06-21 05:35] bcoe commented on #514
@KohPoll this feels like a bug with commands that should be addressed.

[2016-06-21 05:48] bcoe commented on #530
@stevage my temptation is to start simple, with:

`array: true` <-- current behavior.
`array: false` <-- take the last argument provided.

I think this would address 99% of use-cases, without making the configuration too complicated.

[2016-06-21 07:12] stevage commented on #530
Agree with the 99% of the use cases bit, but with boolean values you're closing the door to supporting the others later.

[2016-06-21 07:22] bcoe commented on #521
@shakyShane the yargs project has always made an effort to be sparing with top-level dependencies, well at the same time trying to adhere to the spirit of the [small module philosophy](http://substack.net/how_I_write_modules).

The top-level library only has 13 dependencies, and we take the decision to add new dependencies fairly seriously: sticking mostly with modules within the [yargs org](githu

[2016-06-21 07:28] bcoe commented on #530
@stevage my temptation would be to support the `99%` case, and we can revisit this decision in the future.

I'll make an effort to get this additional configuration option implemented at some point this weekend (I'm hoping to have some cycles to hack on OSS).

[2016-06-21 09:35] shakyShane commented on #521
sounds great @bcoe.

I completely understand the desire to follow the 'small module philosophy' - but there are some situations where it has to be either ignored or at least monitored closely - 95 modules for a CLI parser would be one such situation I feel.

no-one wants to read-invent the wheel & of course I deeply respect @sindresorhus and all he does for our community, but it's all about contex

[2016-06-21 09:53] sindresorhus commented on #521
This is just guessing though. Provide some real numbers please. I've done this a lot and I know it's not always about the count, sometimes modules do too much work on require time, which can have much more impact. Use https://github.com/Jaguard/time-require to find out which require's take the longest.

What Node.js version are you on? Node.js 6 substantially improved require times. Require times

[2016-06-21 09:58] sindresorhus commented on #521
There are also a bunch of polyfill dependencies in use. When `yargs` eventually requires Node.js 4, these could be dropped:

[code]

I also noticed `strip-ansi` (and `ansi-regex`) is not deduplicated. Either you're not using npm@3 or there's a version mismatch that should be fixed.

[2016-06-21 11:12] shakyShane commented on #521
@sindresorhus

It was just a high-level observation that reducing the amount file i/o->parse->compile->run from 95 x is going to yield better results than refactoring loops/regexes - that's all I meant.

I'm not suggesting the approach of this module should be changed, only that if people are going to put time into benchmarking/speeding it up, it should be focussed on areas in which it can make an

[2016-06-21 11:31] sindresorhus commented on #521
Agreed

[2016-06-21 17:31] kumar303 opened #531 "Negated boolean option behaves unexpectedly"
It looks like a flag prefixed by `no-` has some special handling. I find this behavior unexpected. I made a `script.js` like this:

[code]

When I run:

    node script.js --no-reload

I expect `{noReload: true}` but I get `{noReload: false, reload: false}`

If I run it without args, like

    node script.js

I expect  `{noReload: false}` and I do get  `{noReload: false}` but note how I do not see

[2016-06-21 17:53] bcoe commented on #531
@kumar303 most of these clever parsing tricks can be turned off in configuration; I added this flexibility to the parsing engine, because different folks have different expectations regarding these edge-cases:

https://github.com/yargs/yargs-parser#configuration
https://github.com/yargs/yargs#configuration

[code]

[2016-06-21 17:53] #531 closed

[2016-06-21 19:41] kumar303 commented on #531
ok, thanks, the configuration is what I needed.

I think it would be great to mention the `boolean-negation` config value here: http://yargs.js.org/docs/#methods-booleankey

I think what I described above is still a bug. In the case where `--no-reload` is *not* given on the command line, argv should contain `reload: true`, otherwise you have to do an awkard `undefined` vs `false` check to figure i

[2016-06-24 13:52] maxrimue commented on #496
I suggest the module [didyoumean](https://www.npmjs.com/package/didyoumean) for this, it's fast, has no dependencies and is tiny itself (~17kb)

[2016-06-24 21:05] torfsen commented on #529
@leesei Just run into this, too. I think the problem is that `commandDir` was [added very recently](https://github.com/yargs/yargs/commit/b299dff4dcee2a95528f4e383d998d1a7378967b) and isn't included in the latest version available from npm (4.7.1).

@bcoe It would be really nice if you could add version information to your documentation so that it's easy to tell in which version a function was add

[2016-06-27 12:17] AljoschaMeyer opened #532 "Using yargs as a library"
I'd like to use yargs for command definition and parsing as part of another program. However, yargs directly uses the global `console` and `process` objects, which makes this difficult. The parser has been extracted as a library, but I'd like access to other yargs features like option validation and help message generation as well. Is there a way to use these without yargs doing global logging or

[2016-06-28 00:24] bcoe commented on #532
@AljoschaMeyer I think if you use `var yargs = require('yargs/yargs`)`, rather than `require('yargs')`. And run it like so:

[code]

It should do the trick for you. Let me know any hiccups you run into and we can patch them.

[2016-06-28 00:25] bcoe commented on #532
@AljoschaMeyer let me know if it's okay to close this ticket gets you on the right path, and we can close it and open specific issues for anything that does not behave as expected.

[2016-06-28 01:57] popkirby commented on #529
@bcoe @nexdrew https://www.npmjs.com/package/find-up starts walking up from `process.cwd` by default, so I don't think it can get the appropriate command directory without `__dirname`.

It seems we can get the directory path of the caller by using V8 Stack Trace API (http://stackoverflow.com/questions/13227489/how-can-one-get-the-file-path-of-the-caller-function-in-node-js). I will check whether t

[2016-06-28 02:16] nexdrew commented on #529
@popkirby Yes, I think we may want to use Sindre's `caller-path` or similar.

[2016-06-28 02:22] bcoe commented on #529
@nexdrew @popkirby what do you think the ideal behavior should be, I don't know that it makes as much sense to walk to a parent directory for `commandDir`, could we just require that someone use `__dirname` and document this?

[2016-06-28 04:19] popkirby commented on #529
@bcoe @nexdrew  Requiring `__dirname` looks little magical and depends on `require-directory`. I prefer making `.commands()` (or `.command()`)  and passing an array / hash of modules to it like below:
[code]

[2016-06-28 10:53] AljoschaMeyer commented on #532
Ok, thanks for the help, this looks like a good starting point. I might still have some trouble with [self.fail in usage.js](https://github.com/yargs/yargs/blob/master/lib/usage.js#L35). Just by skimming through the code, I don't see an intended way to access these messages without having them logged to the console.

[2016-06-28 13:51] #523 closed

[2016-06-28 16:43] bcoe commented on #532
@AljoschaMeyer it definitely looks like we fall into a bit of a trap here:

[code]

once you play a bit, just let me know some changes you'd like to see to the API and I'll land them quickly -- let's make it so it's easier to consume as an API.

[2016-06-28 18:18] AljoschaMeyer commented on #532
Looks like I missed the [fail function](http://yargs.js.org/docs/#methods-failfn) exposed by the API - it actually does exactly what I need. So yargs actually provides everything necessary for usage as a library:

- [exitProcess](http://yargs.js.org/docs/#methods-exitprocessenable) needs to be invoked with `false` so that it doesn't exit the program
- [fail](http://yargs.js.org/docs/#methods-failf

[2016-06-28 18:18] #532 closed

[2016-06-28 23:18] marneborn commented on #521
Providing some numbers from my system.
I'm using yargs#4.7.1 with node#4.2.1 on Windows.
I'm timing requiring of yargs, adding 100 options, and then getting .argv.

The total run time is 555ms.

The require('yargs')  took 452ms (81%), with 100 files required.
The biggest contributors are:
- read-pkg-up - 196ms (35%)
- usage - 104ms (19%)
  - cliui - 57ms (10%)
- pkg-conf - 66ms (12%)

Adding the 1

[2016-06-29 06:10] ljharb opened #534 "Request: opposite of "implies""
`implies('x', 'y')` means that if "x" is supplied, "y" _must_ be supplied.

I'd like a way to designate that if "x" is supplied, "y" must _not_ be supplied.

Perhaps it could be called ".conflicting(x, y)"

[2016-06-29 12:50] sindresorhus commented on #521
I think Node.js 6 with npm@3 will give a lot better number, but sure, can't hurt to lazy load `read-pkg-up`, though would be nice to figure out exactly why it's so slow to require. Maybe I should lazy load something there too. Fixing `read-pkg-up` or one of its dependencies would benefit more projects than just `yargs`. Gut feeling is that it's `normalize-package-data` and `graceful-fs` that makes

[2016-06-29 16:13] deedubs commented on #529
Having the docs NOT in sync with what is released is a huge PITA. I was pulling my hair out until I searched for `commandDir` in `node_modules/yargs` and came up empty handed...

[2016-06-29 16:51] nexdrew commented on #529
@deedubs Yikes, sorry about that! As you have discovered, this is because our docs come straight from master even though we have not yet published master to the registry.

Sorry this has been in limbo for a while now! The yargs maintainers have been busier than usual with other projects, and I think we might need some discussion about my ideas for the command API and how it aligns with our roadmap

[2016-06-29 18:05] deedubs commented on #529
@nexdrew No problem. Thanks so much for your work on yargs!

I think the idea of following master with a next tag is a great path forward but agree that we shouldn't go back now.

[2016-06-29 18:22] nexdrew commented on #529
I am currently writing up a roadmap proposal for the command API that I will filter through the yargs team and then make public with an issue in this repo. Hopefully that will help us flesh out problems/concerns before I take us too far down the wrong direction.

In the meantime, I will also get some quick opinions on (1) fixing the docs in master and (2) publishing `.commandDir()` as a new `next`

[2016-06-29 20:33] kumar303 opened #535 "prepare the value of an option"
Is it possible to prepare the value of an option as part of its configuration? I'd like to do something along these lines:
[code]
In other words, I want to always call `path.resolve()` on the value. I know I could do this myself after accessing `argv` but it would be easier to keep this logic in the same place as the option definition. Is there a way to do this already?

[2016-06-30 11:14] Josan-Coba opened #536 ".pkgConf(), .normalize() and .array() not working well together"
I've just found that having a package.json containing
[code]

This code crashes badly:
[code]
with `TypeError: Path must be a string. Received [ 'bin/../a.txt', 'bin/../b.txt' ]`.

If the `.array('a')` is removed it doesn't crash, but the array doesn't get normalized either.
[code]

[2016-07-02 15:35] slx2005 commented on #534
+1, this sounds like a good idea, a case would be if choices were set, but you have another arg which could be an override to these choices,

[code]

[2016-07-02 22:04] bcoe commented on #534
this seems reasonable to me. we have enough slight breaking changes queued up, and API fixes, that I'd like to start marching towards a 5.x release of yargs.

Perhaps we can add this as one of the goals here: https://github.com/yargs/yargs/issues/519

[2016-07-03 00:48] ljharb commented on #519
- [ ] Add `.conflicting()` to compliment `.implies()` (#534)

[2016-07-03 03:29] TimNZ commented on #202
Can we please have more complex/complete examples for more recent features.
It's not clear how what the approach is for achieving nested commands e.g. 'npm' style

[2016-07-03 18:10] bcoe commented on #536
@Josan-Coba I don't think that normalize currently gets applied to an array of arguments, this is true of a few flags, e.g., I don't think if you specify that you want a type for a key `number`, `string`, etc., that this will get applied to each element in the array.

Perhaps we could aim to get this enhancement into the work we're scheduling for a `5.x` release? https://github.com/yargs/yargs/iss

[2016-07-03 18:11] bcoe commented on #536
@Josan-Coba mind opening this as a ticket on https://github.com/yargs/yargs-parser, and referencing it on the `5.x` discussion (the implementation work will most likely be largely in the parser).

[2016-07-03 18:18] bcoe commented on #535
@kumar303 I think I've heard of this option referred to as `coercion` by other folks:

https://github.com/yargs/yargs/issues/191

I like this idea, and would love to add it.

[2016-07-03 18:19] bcoe commented on #191
closing in favor of https://github.com/yargs/yargs/issues/535

let's actually tackle this!

[2016-07-03 19:52] #191 closed

[2016-07-04 06:32] bcoe commented on #514
@nexdrew wanted to get this patched too, before we release your command fixes in `4.8.0`. Any quick fix we might also be able to land for https://github.com/yargs/yargs/issues/529, while we're at it? Could we just be creative with how we pass the `require` context to https://github.com/yargs/require-main-filename?

@KohPoll mind giving this fix a spin?

`npm cache clear; npm i yargs@next` 👍

[2016-07-04 08:32] KohPoll commented on #514
I just tested the next version(3.8.0), it works well.Thanks for your good job!!

[2016-07-04 09:25] shlomisas commented on #529
hi, looks like `commandDir` parameter is not published to NPM yet despite the fact it's 4.7.1 (like in GitHub), any idea when it'll be there?

[2016-07-04 09:36] shlomisas commented on #509
When i have this such command file:

[code]

 it also gives me `TypeError: cmd.split is not a function`

Any idea why?

[2016-07-04 12:45] nexdrew commented on #509
@shlomisas I think it expects a `handler` function to be defined for modules. We are trying to be more lenient with requirements for command modules (see #492) and we made some changes in 4.8.0 (`yargs@next`) towards fixing this, but there's still a little work left.

[2016-07-04 13:08] shlomisas commented on #509
Yes, looks like this is the only way to run it now with the API of:

`.command(module)`

This is my new working code:

[code]

[2016-07-05 20:53] tarungarg546 opened #538 "Showing command instead of path in $0"
My environment details
- Windows 7
- Git Bash

Issue

I am trying to make a CLI client for some use case. Now in that client i am using `yargs` like `below.

[code]

Now for testing purpose i installed this globally using

[code]

And when i am trying to run

[code]

So now i would expect to have `myCommand` as a value for `$0` but actually i am getting something like

[code]

looking into `yargs`

[2016-07-06 01:00] yofreke opened #539 "Better error reporting for subcommands"
Continuation from: https://github.com/yargs/yargs/pull/533

------

I totally understand, but with the current implementation you are sending the very minimally helpful (if at all) error message to stderr.  This looks almost like a bug to an end user, certainly not a thought out design decision (in my example the text "boop" is appended to the user defined help text).

The problem with `.fail()` i

[2016-07-06 13:58] hax opened #540 "command should ignore spaces"
Currently extra spaces will be treat as a required positional arguments which is very confuse.

[code]

[code]

[2016-07-06 14:30] hax commented on #534
I also suggest support `-c | -f` notation in command pasing:

[code]

But the basic problem is command parsing only support postional arguments now, I wish it support options too. Should I open a separate issue?

[2016-07-06 15:21] hax opened #541 "Allow defining positional argument"
Currently describe/number/string... only apply to option, I expect it would also apply to positional argument.

[code]

We also need `arg/args` method like `option/options`

[code]

Here is the list of methods or keys of arg/args opt I think could apply to arguments:
- boolean
- choices
- config
- configParser
- default
- defaultDescription
- desc/describe/description
- group
- nargs
- normalize
-

[2016-07-07 02:16] #514 closed

[2016-07-07 02:28] bcoe commented on #541
hey @hax, we actually already support this with the concept of a builder and a handler for commands (these can even be provided in sub-modules, how cool is that!).

we're in discussion to figure out how to make these features more intuitive, but the current pass is pretty well documented here:

https://github.com/yargs/yargs#commandmodule

Would love to have you join in on the conversation [here](

[2016-07-07 02:28] #541 closed

[2016-07-07 02:28] bcoe commented on #540
👍 sounds like something we should definitely fix.

[2016-07-07 05:32] evanderkoogh commented on #539
I completely agree that the reporting of failures is pretty much broken now.
I was very much confused when just getting the message when things went wrong. Went through all the docs, found the fail handler, implemented it and turns out it doesn't get called.

I use the following config:
[code]
I have tried adding:

[code]

to the deploy.js file, but that one also does not get called.

At this poin

[2016-07-07 06:09] bcoe commented on #487
@zam6ak please feel free to reopen this, if this didn't do the trick for you.

[2016-07-07 06:09] #487 closed

[2016-07-07 06:12] bcoe commented on #539
## with regards to `.fail()`:

@evanderkoogh, @yofreke I like the idea that we'd make the top-level `.fail()` apply to all nested commands by default, similar to how `help()` and `version()` are treated as a global.

Do you think this would be a step in the right direction?

## other scenarios outlined by @yofreke

there are configuration settings that can be wired up for some of the other require

[2016-07-07 06:17] bcoe commented on #532
@AljoschaMeyer I think it's worth noting this thread, and some ongoing refactoring work that will be happening around errors:

https://github.com/yargs/yargs/issues/539

Also pleas feel free to provide any feedback about how things could be made more elegant with this API.

[2016-07-07 13:42] evanderkoogh commented on #539
Without a doubt, a global .fail() would be a major step in the right direction.

But a default that shows stack traces would be even better IMO.

[2016-07-07 20:29] yofreke commented on #539
@evanderkoogh Agreed.  I originally implemented a default `.fail()` that would have to be overridden, but it felt too heavy handed.  A global `.fail()` sounds like a good halfway.

@bcoe True, those are definitely helpful for conveying to an end user the problems in their arguments (some sugar on top would be the highlighting of failed arg).  I detailed those examples more as "this is when the hel

[2016-07-08 01:17] hax commented on #541
@bcoe You mean the 5.x branch already support refine positional argument like option? I will try it.

[2016-07-08 01:26] bcoe commented on #541
@hax should be supported in `4.x` with builders and handlers 👍

[2016-07-08 08:50] hax commented on #541
@bcoe Sorry, I still can not find how to refine the argument. (with version 4.8.0-candidate)

[code]
As my example in the first comment, I expect to define the the constraint (should be a number, should be in 2, 3, 4) of `<arg>`,  but actually I just defined a `--arg` option.

[2016-07-08 17:26] ljharb commented on #534
@hax as a new syntactic shorthand for "conflicting"? Is that an argument notation that's used elsewhere? If nothing else uses that convention I don't think yargs should be adding it.

[2016-07-09 17:36] bcoe commented on #521
@marneborn thanks for this analysis. In the short term, for a `4.8.0` release, I recommend that we:

- [ ] lazy load the modules you've identified.
- [ ] consider adding a configuration option that eliminates calling read-pkg-up in some contexts.

I think this discussion has been a great exercise.

[2016-07-09 17:38] bcoe commented on #529
@nexdrew where do we sit on this issue, safe to close when we release `4.8.0`?

[2016-07-09 17:38] #509 closed

[2016-07-09 17:39] bcoe commented on #492
@vjpr will address https://github.com/yargs/yargs/issues/509 here.

[2016-07-09 18:08] nexdrew commented on #529
@bcoe So we've addressed the docs problem and published `commandDir()` in the `next` release, but we still need to address [this](https://github.com/yargs/yargs/issues/529#issuecomment-225620823).

I'd like to try a fix using `caller-path`, which I feel is the proper fix, but that's going introduce even more dependencies. Perhaps we can start to lazy-load conditionally used deps?

[2016-07-09 18:16] nexdrew commented on #521
@bcoe I pushed a branch that uses `lazy-req` for `read-pkg-up`. It does help a little, but I think we' should address looking up the parent package.json file once and cache it for all the ways we potentially use it. I think doing so may obviate the need for the `pkg-conf` dependency.

[2016-07-09 19:52] bcoe commented on #521
see: https://github.com/yargs/yargs/pull/544

Going forward let's open specific pull requests for any additional performance improvements that we'd like to make.

[2016-07-09 19:52] #521 closed

[2016-07-09 20:59] bcoe commented on #519
@ljharb in top-level issue now 👍

[2016-07-09 21:22] bcoe commented on #529
@nexdrew in https://github.com/yargs/yargs/pull/544 I've addressed some performance concerns by lazy-loading and `read-pkg-up`, and caching the package.json.

If you think that `caller-path` is necessary to see this command work over the finish line, let's pull it in (it look a pretty small chain of dependencies).

[2016-07-09 21:26] #492 closed

[2016-07-09 21:26] #485 closed

[2016-07-09 21:43] bcoe commented on #514
@KohPoll sorry to bug you again, mind giving this one more shot:

`npm cache clear; npm i yargs@next`

I'm going to release it to `latest` later today once tests pass.

[2016-07-09 21:44] bcoe commented on #521
@marneborn when you have a few moments, mind giving this a spin:

`npm cache clear; npm i yargs@next`

should address some of the bigger culprits you observed in your benchmarks.

[2016-07-09 21:44] bcoe commented on #485
@avribacki give this a spin:

`npm cache clear; npm i yargs@next`

should no longer be crashing on you.

[2016-07-10 03:33] KohPoll commented on #514
It works well, nice~

[code]

[code]

[2016-07-11 13:56] maxrimue opened #547 ".implies() ignores parser preferences"
According to the readme, you can influence the behaviour of yargs-parser by [providing a custom config](https://github.com/yargs/yargs#configuration). One thing you can configure is boolean negation, which is turned on by default, and means that `--no-foo` gets parsed as `foo: false`. By turning this off, `--no-foo` would get parsed as `no-foo: true`. This configuration and the expected outcome ho

[2016-07-12 02:53] TomFrost opened #550 "feature: Yargs parses longer-than-long numbers as a number instead of a string"
Consider the following, from the node repl:

[code]

According to [Parsing Tricks: Numbers](http://yargs.js.org/docs/#parsing-tricks-numbers) in the docs, because `(!isNaN(Number('12345678901234567890')))` returns `true`, Yargs parses this argument as a number even though the resulting value does not match the input. As a result, the value provided by the (yargs) argv object is incorrect.

In this

[2016-07-12 15:11] nexdrew commented on #550
@TomFrost Looks like your CLI is using yargs 3.32.0. In that version, I think your best option is this:

[code]

With yargs 4.8.0 that will still work, but you could also disable implicit number parsing by adding this to your package.json:

[code]

And even couple that with positional command args if you wanted, like so:

[code]

The advantage of this approach is slightly better help content and u

[2016-07-13 20:54] arcanis opened #554 "Option patterns"
It could be interesting to have option pattern. For example, the following:

[code]

Would correctly parse the following command line:

[code]

(It currently can't, because both of these values are incorrectly currently casted to numbers)

[2016-07-13 21:11] nexdrew commented on #554
@arcanis It's probably worth mentioning that you can completely disable auto-number coercion in yargs 4 by adding this to your package.json:

[code]

See [the parser configuration section](http://yargs.js.org/docs/index.html#configuration) of the docs for other options.

[2016-07-14 05:47] #529 closed

[2016-07-14 05:50] bcoe commented on #554
@arcanis I'm really excited to add this feature:

https://github.com/yargs/yargs/issues/535

for complex parsing beyond what we currently support. As @nexdrew points out, I think setting `parse-numbers` to `false`, however, would be a great fix for the number parsing issue you're running into.

[2016-07-14 05:50] #554 closed

[2016-07-14 05:50] bcoe commented on #547
@maxrimue great find, want to take a crack at this?

[2016-07-14 05:53] bcoe commented on #550
@TomFrost as @nexdrew points out, I think upgrading to `4.8.0` would give you a few fairly clean work arounds to parsing gigantic #s \o/

[2016-07-14 09:15] arcanis commented on #554
Thanks, I think that disabling `parse-numbers` will work just fine for me! However, I feel like this issue is still valid, regardless of #535. For example, with this option disabled, then the following won't work anymore:

[code]

However, with the original proposal, it would only require the following:

[code]

[2016-07-14 19:38] maxrimue commented on #547
@bcoe I'll give it a try!

[2016-07-14 20:30] dcbartlett opened #555 ".count() mis behaves with .default()."
Version: yargs 4.8.0

When using the following:
[code]
the resulting arguments from `gulp build` is:
[code]

[2016-07-14 23:23] marneborn commented on #521
Sorry I took a while to get to this.

I don't really see any improvement.

In 4.7.1 it takes 500ms to do the require('yargs') and 88ms to parse the arguments (.argv getter) with a total runtime of 610ms

In 4.8.0-candidate3 210ms for the require (yay!) but 346ms (boo!) for parse the arguments with a total runtime of 576ms.

The reason we don't see a speedup is that the read-pkg-up is still always

[2016-07-15 10:16] rijnhard commented on #521
I'm going to play devils advocate here.
I get the point is to make the user interface into the library simple, but won't the performance issue just be better solved if the user can specify a full path to a `package.json`?

[code]

The only issue that pops to mind is that if you set it statically for the module, then it can be overwritten.
And if you set it at an instance level it could be too limi

[2016-07-15 13:44] nexdrew commented on #555
@dcbartlett This is definitely a bug, see #500. Note that you should use a number for your default value, e.g. `default: 3` instead of `default: '3'`, but hopefully we can fix this so it accepts both.

Closing in favor of #500, please track our progress there. Thanks for reporting!

[2016-07-15 13:44] #555 closed

[2016-07-15 15:20] TomFrost commented on #550
These are wonderful suggestions, thank you! Yargs blows me away yet again.

With that said, I'd probably still count it as a bug that yargs will corrupt a long number entry by converting it rather than intelligently keeping it a string, without additional configuration. It would be fantastic to support that use case without turning number parsing off globally, as well, if there were another numeri

[2016-07-15 15:36] bcoe commented on #550
@TomFrost I hadn't thought of this, but like this suggestion -- it would be neat if we were self-aware of JavaScript's numeric bounds, and took this into account in our number guessing logic.

[2016-07-15 15:38] bcoe commented on #521
@rijnhard @marneborn 576ms, for a command line application to display its interface really isn't too painful -- from back in my usability days, it used to be a rule that folks start to notice interface lag around 500ms, it would be nice to get in the sub-500ms range and we're close. I don't, however, want to disable reading the `yargs` stanza for configuration by default, this is an elegant, simpl

[2016-07-16 04:10] bcoe opened #557 "allow multiple `pkgConf` keys to be enabled"
I've been in the process of merging the `istanbuljs` and `nyc` projects:

https://github.com/istanbuljs/nyc

It's confusing to folks that you need to set an `nyc` configuration flag, when they're using tools that are named "istanbul":

https://github.com/istanbuljs/babel-plugin-istanbul/issues/9

At the same time, I want to make sure that any configuration that people set can be read by `nyc` when

[2016-07-16 22:17] bcoe opened #558 "positional arguments are not handled properly if parse() is used rather than .argv"
see:

[code]

[2016-07-16 23:00] #547 closed

[2016-07-16 23:00] #558 closed

[2016-07-16 23:13] bcoe commented on #529
@popkirby give this a shot:

`npm cache clear; npm i yargs@next`

@nexdrew has fixed your issues \o/

[2016-07-16 23:14] #500 closed

[2016-07-16 23:14] bcoe commented on #500
@regseb give this a spin:

`npm cache clear; npm i yargs@next`

@nexdrew's fixes for this bug will be going out with the next release, thanks for the report.

[2016-07-18 00:02] bathos commented on #535
Could this be hooked into validation? For example, throwing from your coercer could trigger the typical validation failure handling (or, more robust: `cb(err, res)` or a promise). Coercing is desirable for keeping the definitions together, but in itself it’s nothing one couldn’t do after the parsing is complete; however, making that coercion hook into yargs’ validation would permit exiting on the

[2016-07-19 05:54] hellboy81 opened #563 "Add gitter chat room"
Please add gitter chat room

[2016-07-19 16:41] bcoe commented on #563
@hellboy81 we have a Slack chat, which I'm happy to invite more folks into; problem with Glitter is I don't use it on a regular basis -- so tend to end up ignoring folks.

[2016-07-19 17:57] hellboy81 commented on #563
URL?

[2016-07-20 09:44] lrlna commented on #540
hey @charlotteis , can we get this tweeted on [YourFirstPr](https://twitter.com/yourfirstpr) ? ✨

[2016-07-20 11:59] Charlotteis commented on #540
@lrlna https://twitter.com/yourfirstpr/status/755733795207282688 ✨

[2016-07-20 12:02] najamkhn commented on #540
@lrlna @hax on it. :)

[2016-07-20 19:06] davibe opened #564 "how to wait completion"
Since command handlers can be functions returning promises... : how do i wait for promise completion to gracefully shutdown things before process.exit() ? Do i have to do it inline each handler ?

Thx

[2016-07-20 23:01] addisonj opened #565 "'Cannot read property '_' of undefined' for command handlers"
Here is a pretty minimal reproduce:

[code]

This results in `Cannot read property '_' of undefined`

if I throw in a bit of debugging in the try catch, I get this stack:

[code]

I tried both 4.7.x and 4.8.x releases... both were broken

[2016-07-20 23:13] nexdrew commented on #565
@addisonj Try replacing your builder `(yargs) => yargs.argv` with `(yargs) => yargs` or just `{}`.

The API does not currently expect the builder to parse and return argv itself.

[2016-07-21 00:48] addisonj commented on #565
well now I feel silly, apparently I was looking at some older example that got me thinking the API was different than it is.... sorry for the trouble and thanks for the tip :)

[2016-07-21 00:48] #565 closed

[2016-07-21 05:51] zyy7259 opened #566 "demand does not play well with command"
I typed the code from section [http://yargs.js.org/docs/#examples-yargs-is-here-to-help-you](http://yargs.js.org/docs/#examples-yargs-is-here-to-help-you)

[code]

And execute `node line_count.js count`, but `demand('f')` does not give the hint `Missing required arguments: f`

When I comment out the `.command` line, the `demand('f')` works.

`yargs` version: `4.8.1`

[2016-07-21 12:15] nexdrew commented on #565
@addisonj No worries, some of our docs may be out of date. Feel free to open issues for any other odd things you run into, and thanks for using yargs!

[2016-07-21 12:27] lrlna commented on #566
hey @zyy7259 ! I apologize for the faulty example here. When demanding both a command and an argument, you would be [using the syntax](http://yargs.js.org/docs/#methods-demandcount-max-msg) of `demand(1, ['f'])`.

So the example above would look like:

[code]

I've PRed #567 to fix this particular instance `demand` in our docs. I guess another thing with it is that we are not doing anything with t

[2016-07-21 14:40] nexdrew commented on #566
@zyy7259 Some of our docs are obviously out of date. 😞 If @lrlna's suggestion doesn't work for you, try adding a "builder" object or function to the `.command()` and marking the `'f'` option as global, like so:

[code]

We'll be sure to clean up this example in #567. Thanks for reporting!

[2016-07-22 08:13] zyy7259 commented on #566
@nexdrew Problem solved. thx~

[2016-07-24 18:09] #566 closed

[2016-07-24 18:12] #563 closed

[2016-07-25 07:40] KohPoll commented on #427
+1

[2016-07-26 21:46] jshumaker-accusoft opened #568 "Globals set by env() not available in commands"
Following test code:
[code]

Define a FIZZ_TEST environment variable and then run without the command, you see the expected value for test.
`FIZZ_TEST=value node test.js`

Run with the command, `FIZZ_TEST=value node test.js buzz` and you get an error about test not set, remove the demand() from the builder, you can see that test is undefined for the command.

Config files don't have this issue, th

[2016-07-26 21:55] nexdrew commented on #568
@jshumaker-accusoft Hi! This seems to be a duplicate of #486. Good news is that we have an open PR to fix this in #553. 😃  Bad news is it might not make it into yargs until 5.x. 😞 Regardless, thanks for reporting, and let us know your thoughts. 👍

[2016-07-26 22:05] jshumaker-accusoft commented on #568
Doh thanks, tried to find an existing issue, but failed apparently.

[2016-07-26 22:05] #568 closed

[2016-07-27 13:52] davibe opened #569 "How to build help for commands with options"
i have a

[code]

Oddities:
- `program --help` gives me the list of possible commands AND SUBCOMMANDS but it does not include possible options
- `program cmd1 --help` gives the list of possible options, but not the possible subcommands
- `program help` or `program cmd1 help` does not output help

I don't see how i can "fix" any of those odd things. What's the correct way to support commands, subco

[2016-07-27 16:03] nexdrew commented on #569
@davibe Would you mind posting some example code, or pointing us toward a repo, that demonstrates this?

Here is an example I whipped up using your pseudo CLI above:

[code]

[code]

[code]

Currently yargs does not support an implicit `help` command, so doing `program help` or `program help cmd1` doesn't work without some coding on your part. 😞 But I think that would be a great feature request!

[2016-07-30 02:39] wearhere opened #570 "How would I describe a positional argument?"
Let's say that I'm configuring `yargs` like so:

[code]

How would I `.describe` the `sourceDir` argument?

This [similar issue](https://github.com/yargs/yargs/issues/541) discussed positional arguments to commands, but note that I am not using a command here, but rather would like to describe a top-level positional argument.

[2016-07-30 16:16] bcoe commented on #570
@wearhere we've been talking about adding top-level commands, which I think could address this issue well.

[2016-07-31 03:40] ghost opened #571 "commandDir cannot work with es6 module export keyword"
i use commandDir to import my es6 subcommand files, but it does not work, anyone know the solution?

[2016-07-31 20:41] maxrimue commented on #571
Could you please provide us the actual code that is causing problems? Thanks!

[2016-08-01 11:24] bopjesvla opened #573 "Allow end users to turn any option into an array"
Is there a way to construct a hash where the keys are unknown and the values are arrays? I know this is possible:

[code]

But this gets verbose quickly when there's a great number of elements in the array. I don't remember which one, but I used to work with a CLI that had a nice solution for this problem:

[code]

[2016-08-01 17:32] nexdrew commented on #573
@bopjesvla You can specify an option with `type: array` to achieve this:

[code]

[code]

Is that close to what you're looking for?

[2016-08-01 18:05] bopjesvla commented on #573
Unfortunately not, because the names of the tables (users and shoes in the example) could be anything. I'm looking for something like:

[code]

I think what I proposed earlier is the better solution, but I hope this illustrates my needs.

[2016-08-02 21:04] dignifiedquire commented on #569
I think I have a similar issue. This is the api I wan my cli to have:

[code]

This means I have a handler attached for the `config` and one for `show`. But when I now run

[code]

The handler from config executes instead of showing the help. (All code I use is pretty much identical to the example from the readme)

[2016-08-02 21:14] nexdrew commented on #569
@dignifiedquire What do you use for the builder of your `config` command? Any chance it's just not returning the yargs instance it was passed?

[2016-08-02 21:29] dignifiedquire commented on #569
I am confused, tried a minimal example again and things work as expected, will post tomorrow with a fresh head

[2016-08-02 21:32] nexdrew commented on #569
@dignifiedquire Sure thing, sorry for the trouble! yargs currently requires a builder function to return the yargs instance, but this will change with #549 (which will probably go in 5.x).

[2016-08-03 01:09] nexdrew commented on #569
FYI yargs will also support implicit `help` commands when #574 is reviewed, merged, and released.

This will allow all of the following to print help text:

[code]

[2016-08-03 09:09] dignifiedquire commented on #569
My problem went away, I had `builder` named `options` from an earlier version :D Thank you for this great module :)

[2016-08-03 17:28] davibe commented on #569
I think you addressed my doubts. I can't find any objections. If i do I will reopen. Thank you

[2016-08-03 17:28] #569 closed

[2016-08-04 01:36] dcbartlett commented on #555
Thanks @nexdrew

[2016-08-05 08:24] andrew-w-ross opened #576 "Bug with default using the .option command"
I changed the example code on the website to this :
[code]

When running the command with `node example.js name` I was expecting to have the default value 'default name' instead it's undefined.

I am using version 4.8.1.

[2016-08-05 15:05] nexdrew commented on #576
@andrew-w-ross Thanks for reporting! Looks like another out-of-date example in the docs. In order to make the `--name` option (including the default value) apply to the `hello` command, it should be marked as `global: true` (which would apply it to any/all commands) or defined as an option in the command builder (object or function).

Here's a better example:

[code]

[code]

[2016-08-05 19:21] tacomanator opened #577 "choices not checked on global option when using commands"
I may be misunderstanding the config, but I am expecting an a global option to be checked for a valid choice even when using commands:

[code]

valid command but invalid size, no help shown:

[code]

now with invalid command, still invalid size, this time help shown for invalid size:

[code]

Is this expected? Using 4.8.1.

[2016-08-07 02:43] #522 closed

[2016-08-07 03:03] nexdrew commented on #577
@tacomanator Unfortunately, yargs will only reset, reparse, and perform validation when given a minimal builder object or function, which I [recently discovered](https://github.com/yargs/yargs/pull/567#issuecomment-234270884) 😞. According to #492, we may want to consider this a bug (or at least that it's less than ideal).

The current solution/workaround for this is to apply `{}` as the third argu

[2016-08-07 03:06] bcoe commented on #573
@bopjesvla beyond the current array support, we're probably not going to add an additional edge-case like this to our argument parsing.

_however_., we're planning on implementing the concept of "coercion" in our upcoming roadmap:

https://github.com/yargs/yargs/issues/535

Which will allow folks to much more easily implement their own advanced custom argument parsing features.

[2016-08-07 03:06] #573 closed

[2016-08-07 03:15] bcoe commented on #576
@andrew-w-ross opened https://github.com/yargs/yargs.github.io/issues/25

[2016-08-07 03:15] #576 closed

[2016-08-07 03:16] bcoe commented on #571
@callmelanmao as @maxrimue requests, mind providing some sample code 👍

[2016-08-07 04:10] nexdrew opened #579 "Consider splitting yargs into a collection of composable packages"
Based on conversation here: https://github.com/yargs/yargs/pull/562#issuecomment-234155140

I believe we could break up the different features of yargs into separate modules across different packages, satisfying the following goals/suggestions:
1. Keep the standard `yargs` library as an API with all composable features enabled by default (includes each feature-specific package as a dependency), so

[2016-08-07 15:51] callmelanmao commented on #571
@bcoe  @maxrimue

sorry for being late,

error code
[code]

source code

test.js
[code]

Worker.js in the same dir with test.js
[code]

my top command line name is ant, and this `test.js` is just for test,  it's not the original code the error occurred  to me before

**the title of this issue may not correct, yargs cannot load the es6 module, and nothing is wrong with `commandDir` iterface**

than

[2016-08-07 16:44] bcoe commented on #571
@callmelanmao what are you using to manage your ES6 code, e.g., are you running it through a babel compiler?

The syntax for `export default Worker;` is not yet supported by the JavaScript language, so I think you'll need to add a build step using:

https://babeljs.io/

before you're able to use the code above 👍

[2016-08-07 16:50] maxrimue commented on #571
@callmelanmao as @bcoe pointed out, the `export` keyword is part of ES6, and right now is not natively supported in any browser or Node.js, but eventually will be. You can read more about it [here](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Statements/export). In the meantime, you can use a tool like [babel](https://babeljs.io), which will let you write `export`, but it will us

[2016-08-07 16:56] #486 closed

[2016-08-07 22:02] tacomanator commented on #577
Thanks for the workaround @nexdrew.

On a side note, in case anyone refers to this issue I would like to chime in that I believe global arguments should be global. In other words, `node script.js -s xl foo` should be the same as `node script.js foo -s xl` for the global argument `s`. In this way arguments can be passed to the script even when forwarded from a wrapper such as `npm run script-wrappe

[2016-08-07 23:33] wearhere commented on #541
I'm confused as well, how would you describe `<arg>`? The examples given in https://github.com/yargs/yargs#commandmodule just talk about describing options.

[2016-08-08 02:40] hax commented on #541
@wearhere I confirmed that it only describe options, my question is how to solve the requirements of  describing `<arg>`.

[2016-08-08 06:22] bcoe commented on #541
@wearhere @hax commands currently only allow for simply positional arguments, but using the commands API you can define options that a command would accept, so:

[code]

only allows for simple values to be provided for `foo`, e.g., `./foo.js cmd fooarg`., you can use a builder function to describe arguments that a cmd would accept, e.g.,

`yargs.command('cmd', function (yargs) {
  yargs.option('fo

[2016-08-08 09:59] andrew-w-ross commented on #576
@nexdrew  Thanks a lot.

[2016-08-08 17:33] wearhere commented on #541
@bcoe I like @hax's proposal at the top. He talks about creating an API like `options` but for positional arguments, with the same sorts of flags. Perhaps you could reopen this issue? Or what would you like to see in a different feature request?

[2016-08-09 21:00] nexdrew commented on #577
This should be fixed by #583. 🎉

[2016-08-09 23:58] #451 closed

[2016-08-10 20:12] RyanZim opened #585 "Reload config file"
Is it possible to reload the config file loaded with `config()`? I would like to watch the config file and reload it when it is changed.

Also, is there a good way to get the config file's filename to pass to the watcher? I'm currently using a custom loader, like this:

[code]

[2016-08-13 02:55] nexdrew commented on #229
Note that we're planning on adding *coercion* to the API in 5.x. See #586.

[2016-08-13 19:43] bcoe commented on #519
@ljharb haven't forgotten about `conflicting`, but doesn't look like it's going to make it into the first release of `5.x` :)

[2016-08-13 19:59] ljharb commented on #519
That's ok, it'll be semver-minor :-)

[2016-08-13 20:29] #535 closed

[2016-08-14 03:24] nexdrew commented on #426
This was fixed in [4.4.0](https://github.com/yargs/yargs/blob/master/CHANGELOG.md#v440-20160403-2110-0700). 👍

[2016-08-14 03:24] #426 closed

[2016-08-14 03:27] nexdrew commented on #421
Closing this for now. If it's still an issue, please open another issue with some sample code. Thanks!

[2016-08-14 03:27] #421 closed

[2016-08-14 03:52] nexdrew commented on #394
We have at least fixed the 2nd item:

with #582. This will be in the upcoming 5.0.0 release. 🎉

Items 1 and 3 are still issues. 😞 I'm not sure we will "fix" number 3, but I think we will probably do something about number 1.

Note, however, that the problem doesn't prevent you from defining a top-level command with the same name as a nested subcommand. For instance, you could define a top-level `l

[2016-08-14 04:10] nexdrew commented on #353
The problem with `.demand()` offsets has been fixed with #582, which will be in the upcoming 5.0.0 release. 🎉

Otherwise, there are now a few different ways to accomplish "conditional" demand validation, either using optional positional args as bcoe suggested or even parsing, checking `argv.stdin`, resetting and reparsing within the builder function.

[2016-08-14 04:40] nexdrew commented on #167
Note that custom "post-processing" of option values is implemented as _coercion_ with #586, which will be in the upcoming 5.0.0 release. 🎉 This would allow you to e.g. expand a string value into an array.

Also note that yargs now supports variadic positional args (for a command), which would allow you to do this:

[code]

[code]

[2016-08-14 04:50] nexdrew commented on #189
Also see #534.

[2016-08-14 19:36] #519 closed

[2016-08-14 19:41] bcoe commented on #566
@zyy7259 the original bug should now be fixed in the `next` release of yargs:

https://github.com/yargs/yargs/pull/582

To try this out, simply run:

`npm cache clear; npm i yargs@next`

[2016-08-14 19:42] bcoe commented on #522
@moranje in yargs `5.x`, we've removed the requirement for returning the yargs object; give this a spin:

`npm cache clear; npm i yargs@next`

[2016-08-14 19:44] bcoe commented on #539
@yofreke, @evanderkoogh in `yargs@5.x` we now apply `fail()` globally; give this a spin:

`npm cache clear; npm i yargs@next`

I'm going to close this ticket for now but please feel free to open more issues as we continue to work on the error handling of yargs.

[2016-08-14 19:44] #539 closed

[2016-08-14 19:46] bcoe commented on #535
@kumar303 @bathos `yargs@5.x` has introduced the concept of `coercion`, which should address this feature request:

https://github.com/yargs/yargs#coercekey-fn

Give this a spin:

`npm cache clear; npm i yargs@next`

@bathos if you throw an exception from within the coercion function, it will be handled by yargs' validation logic.

[2016-08-14 19:50] bcoe commented on #577
@tacomanator `yargs@5.x` is out the door, so you should be able to try out the fix in #583

Simply run:

`npm cache clear; npm i yargs@next`

Feel free to reopen this ticket if you continue running into problems.

With regards to "global arguments being global", mind opening a new issue on this topic so we don't lose track?

[2016-08-14 19:50] #577 closed

[2016-08-14 19:51] #496 closed

[2016-08-14 19:56] bcoe commented on #394
@dennisjac #582 is out with `yargs@5.x`; give it a shot:

`npm cache clear; npm i yargs@next`

If @nexdrew's workarounds don't do the trick for you, please feel free to open a new issue for points `1` and `2`.

[2016-08-14 19:56] #394 closed

[2016-08-14 19:57] bcoe commented on #353
@gajus we've released #582 to `next` \o/

To give it a spin run:

`npm cache clear; npm i yargs@next`

Please feel free to reopen this ticket with an update, if @nexdrew and my tips along with #582 don't do the trick for you.

[2016-08-14 19:57] #353 closed

[2016-08-14 19:58] bcoe commented on #167
@pajenkin @MadLittleMods @getify `yargs@5.x` is now the `next` candidate, with support for post-processing:

https://github.com/yargs/yargs/pull/586

To give it a spin run:

`npm cache clear; npm i yargs@next`

This should give you the ability to implement custom array parsing logic.

[2016-08-14 19:58] #167 closed

[2016-08-17 08:30] maxrimue opened #596 "Different util.inspect output making tests fail"
As #595 has shown, builds now fail with Node.js v6.4.0.

As it turns out, the tests fail because of [this one test](https://github.com/yargs/yargs/blob/master/test/yargs.js#L421). It tests for yarg's output when a command is supplied that does not have a name. When yargs is about to output that error, it also uses `util.inspect` to show the content of the supplied command object [(reference)](http

[2016-08-17 08:52] maxrimue commented on #596
Turns out this is an intended change, so we have to change our tests a little to make them work with both results

[2016-08-17 15:03] maxrimue commented on #596
Update: This change in Node.js v6.4.0 is now being considered breaking by some maintainers, and a pull request has been proposed to revert these changes. [(PR)](https://github.com/nodejs/node/pull/8141#issuecomment-240428265)

[2016-08-17 18:54] jmbyerly commented on #540
Hi Yargs-ers! So I think I've fixed the bug, but as a first-time contributor I wanted to check in first before submitting a PR.

When reproducing the bug, I noticed that a similar problem occurs when the user passes in a required positional argument with extra spaces on either side of it: it returns a command with the required argument that was actually passed in the command string and an addition

[2016-08-17 19:06] maxrimue commented on #540
Hey @jmbyerly, sounds awesome! I think you can definitely submit your PR with both tests. As you can see, we have _a lot_ of tests in yargs to always make sure everything works as expected in various situations, so it's definitely appreciated if you add more than just one test to the PR, since that increases the number of situations we test for!

Lastly, we don't really care too much about having

[2016-08-17 19:11] jmbyerly commented on #540
Okay, great! I'll submit a pull request for this tonite then. Thanks!

[2016-08-17 21:29] nyurik opened #598 "'coerce' does not execute for defaults"
There is no way to make `coerce` execute for the default value, yet there are some usecases where this would be very useful. Without this, coerce cannot be used, and argument has to be processed after parsing.

[2016-08-17 21:33] nyurik commented on #598
Hmm, it seems like it does work, my mistake. Will submit a documentation PR.

[2016-08-18 00:47] nyurik opened #599 "Dot-notation is not processed via coerce()"
[code]
does not handle `program -p.abc 10`

[2016-08-19 11:04] maxrimue commented on #599
Try this configuration instead:

[code]

Does this solve your issue?

[2016-08-19 19:30] tacomanator opened #601 "Global arguments should be global"
I believe global arguments should always be checked for validity and should be able to be placed before or after commands.

For example, given:

[code]

The following should be equivalent:

[code]

and

[code]

and the value of `s` should be validated in either case:

[code]

It seems to make the most sense, but also allows arguments to be parsed correctly even when forwarded from a wrapper such a

[2016-08-19 19:30] tacomanator commented on #601
requested to create this issue in #577

[2016-08-20 00:20] bcoe commented on #540
thanks @jmbyerly!

[2016-08-20 00:20] #540 closed

[2016-08-20 19:46] nyurik commented on #599
@maxrimue, I tried it, and it does not work.  yargs version 5.0.0;
[code]
I run:
[code]
Expected:  `{ a: 2, b: 4 }`

[2016-08-21 00:55] mikeerickson opened #603 "Do you have any advise for testing CLI using yargs"
I am stumped as to what to use for testing CLI results?

I have tried

[code]

and my test

[code]

[2016-08-22 09:51] felixfbecker commented on #603
Should be
[code]

[2016-08-22 10:05] felixfbecker opened #605 "Command arguments shifted when script is run through node <script> <args>"
For a `bin` entry in package.json, npm will create this batch script in the `node_modules/.bin` folder:

[code]

Which means when you run it with `node_modules\.bin\my-cli command arg1 arg2`, `process.argv` will be

[code]

Lets say `command` is defined like:

[code]

The **expected** output would be:

[code]

The **actual** output is:

[code]

As you can see, `arg1` and `arg2` are set incorrectly

[2016-08-22 10:42] felixfbecker commented on #605
A workaround is to use `.parse(process.argv.slice(2))`

[2016-08-27 08:22] sspilleman opened #608 "yargs doen't exit on missing options"
I have the issue that when an option is missing (even though its specified as "demanded") the program continues. I think / expect it to end?

Same issue occurs in the provided example in the README.md (copied below)).... When the "-f" parameter is omitted, the program continues with an "path must be a string or Buffer" exception (obviously as it tries to a createReadStream on a undefined field..

[2016-08-27 13:05] bcoe commented on #608
@sspilleman with this approach, it assumes that `-f` is a flag for the top level program, rather than the command. This should work the way you're expecting:

[code]

which indicates `-f` should apply to all commands.

you could also do this:

[code]

and define an option specific to a command.

[2016-08-29 07:54] maxrimue commented on #603
@mikeerickson You can of course execute the file directly using `child_process`, which is what I think most people do.

If you have too much trouble with `child_process`, you can also check out [execa](https://github.com/sindresorhus/execa) which is easier to use and offers more functionality.

But if you don't want to execute the file directly for whatever reason, you could also try to build a cu

[2016-08-29 07:54] #603 closed

[2016-08-29 14:14] mikeerickson commented on #603
@maxrimue Here is the solution I came up with.  I pipe the CLI output to a text file then read that file for my results where I can perform my assertions.  I wound up using `shelljs`

[code]

[2016-08-29 14:38] felixfbecker commented on #603
@mikeerickson this is exactly the same:
[code]

[2016-08-29 16:33] mikeerickson commented on #603
@felixfbecker FWIW, this doesnt seem to work (nothing is sent to console

[code]

[2016-08-29 16:35] mikeerickson commented on #603
@felixfbecker Curiously, it DOES when called outside of the test block.

When called inside `it` block, not is sent to console.

[code]

However, if I place it a test script, all works (I get console output)

[2016-08-29 16:36] felixfbecker commented on #603
Weird. Maybe fiddle around with the stdio setting? You should open an issue at Mocha

[2016-08-29 16:36] maxrimue commented on #603
@mikeerickson I think you need to move the `done()` inside the `child_process.exec` callback function, because otherwise the test terminates before the execution is done, hence nothing will be output

[2016-08-29 16:37] #596 closed

[2016-08-29 16:40] mikeerickson commented on #603
@maxrimue No difference :-(  Would be great to get this working as it would be much faster than having to pipe results to `results.txt` file

[code]

Inside test `it` still no console.   The same code block outside of test produces the results I would expect.

[code]

[2016-08-29 16:41] mikeerickson commented on #603
@felixfbecker I am going to raise an issue with `mocha` now

[2016-08-29 16:46] mikeerickson commented on #603
I have created this ticket https://github.com/mochajs/mocha/issues/2461 I will let you know what they have to say for your edification.

[2016-08-29 17:32] maxrimue commented on #603
@mikeerickson Sorry, I'm not sure if I put that right, what I meant is something like this:
[code]

[2016-08-29 18:16] mikeerickson commented on #603
@maxrimue Forgot to post this, but I have gotten everything working!!

[2016-08-29 19:16] nunocastromartins opened #609 "Support mutual exclusion of options"
I have the need for a set of mutually exclusive options. I think it would make sense for this package to support them, seeing as it already supports other kinds of validations such as demands and implications.

I image something such as:
[code]
or (maybe too repetitive and possibly error prone):
[code]
Test run:
[code]

[2016-08-29 19:20] nunocastromartins commented on #609
I browsed through the issues first, but somehow I missed #534 and #186. I apologise!

[2016-08-29 19:20] #609 closed

[2016-08-29 19:39] maxrimue commented on #609
@nunocastromartins No worries! Hope to get the feature landed soon though.

[2016-08-30 16:56] maxrimue opened #612 "sometimes unnecessary pkgUp decreases speed a lot"
#610 made me wanna try out some profiling of yargs, too, and I discovered that `pkgUp` actually takes a very long time to do its stuff.

![bildschirmfoto 2016-08-30 um 18 37 35](https://cloud.githubusercontent.com/assets/7421183/18098135/3010f94c-6ee1-11e6-8c4d-f8adf5129842.png)

The shown part that delays execution happens during parsing of args, [here](https://github.com/yargs/yargs/blob/master/

[2016-08-30 16:59] bcoe commented on #612
@maxrimue we've definitely mulled over dropping this in the past; but I think that allowing people should definitely be able to turn features on and off for yargs without having to specify that they're about to do so -- this gets too weird.

My preference would be that we instead dig into `read-pkg-up`, and see if there are any potential performance gains here.

[2016-08-30 16:59] #612 closed

[2016-08-31 03:28] bcoe commented on #608
@sspilleman feel free to reopen this if my suggestions don't do the trick, closing for now.

[2016-08-31 03:28] #608 closed

[2016-08-31 17:07] osher opened #614 "wierd behavior with showHelp - I'm losing all the help info..."
I observed a weird collision with typed hyphened args and commands.

## When a typed hyphened argument does not get the type it expects, AND a command is present - yargs.showHelp() behaves in a broken way.

consider this:

[code]

But:

[code]

WTF? where is all the info?

I was passing a lesson about CLI tools in nodeJS, I demonstrated `yargs` as my favorite tool for the job, and I got the wierd

[2016-09-01 07:29] achingbrain commented on #360
Here are two:

[code]

[2016-09-01 09:11] achingbrain opened #616 ".array('arg') not parsing properly"
The README says:

Yet the following test fails:

[code]

Am I using it correctly?

[2016-09-02 14:46] nexdrew commented on #616
@achingbrain Good question. Because you're using a command, you need to mark any top-level options that apply to that command as `global`; otherwise option config is reset for the command execution.

Either one of these should work:

[code]

[code]

Or if you make the option local to the command builder and assert on the argv given to the command handler, it would work as well (without `global`):

[2016-09-02 14:57] lasalvavida opened #617 "Dot-notation boolean flags aren't parsed correctly"
Given the following example:

`testScript.js`

[code]

`./bin/testScript`

`./bin/testScript.js --nested.value`

The value is placed into an array instead of changing the boolean value.

[2016-09-02 15:44] nexdrew commented on #614
@osher This is because there was a breaking change made in yargs 5 concerning commands without a builder object or function. Note this item in the [yargs 5.0.0 blog post](http://yargs.js.org/2016/08/14/yargs-5.html):

This means commands *without an explicit builder* are now treated the same as commands with one, resetting option configuration for "command execution". This also means you **must**

[2016-09-02 18:56] kumar303 opened #618 "Cannot create an error to say "too many arguments""
I want a command with extraneous arguments to raise an error. For example:

    node script.js args-not-supported

This should produce some kind of error, I guess like:

[code]

Is this possible? I thought the following code would do it but it does not produce an error at all.

[code]

[2016-09-02 19:20] nexdrew commented on #618
@kumar303 Try `.demand(0, 0)` instead.

[2016-09-02 19:23] nexdrew commented on #618
Also, you can customize the error message with a 3rd argument, like `.demand(0, 0, 'Extraneous arguments are not allowed.')`

[2016-09-02 19:47] kumar303 commented on #618
d'oh! Thanks, I guess I didn't read the docs well enough. It seems weird that `demand(0)` wouldn't do anything at all though since it's non-sensical without a max also of 0. Anyway, now that I know it's not a bug, feel free to close the issue.

[2016-09-03 00:24] bcoe commented on #618
@kumar303 this is definitely a part of the API that is confusing, we have this open issue:

https://github.com/yargs/yargs/issues/504

Would love your feedback and thoughts on these potential API improvements.

[2016-09-03 00:24] #618 closed

[2016-09-03 00:27] bcoe commented on #616
@achingbrain feel free to reopen this if @nexdrew's tips don't do the trick; we're hoping to pull together a command tutorial on the yargs website soon, which should help clarify some of these issues.

[2016-09-03 00:27] #616 closed

[2016-09-03 00:28] bcoe commented on #614
@osher feel free to reopen this if @nexdrew's tips don't do the trick 👍 would also love any thoughts you have about how to clarify this further in the README, or on the website.

[2016-09-03 00:28] #614 closed

[2016-09-03 19:40] kumar303 commented on #504
This sounds good to me. I was pointed this way because I was trying to do `demand(0, 0)` to throw an error when extraneous arguments are provided. I agree that `demand()` could do with a split.

It's sort of a nit-pick but I would call `demandCommand()` `demandArg()` instead because not all arguments are commands (they could be file paths, etc).

[2016-09-07 16:48] coldlamper opened #620 "yargs.help() return value"
Before 5.0 I used to be able to get the help string by calling yargs.help() inside fail like
[code]

Now it just returns an object.  Is there a way to return the help string not just console.log it out?

[2016-09-07 17:26] nexdrew commented on #620
@coldlamper Try `yargs.getUsageInstance().help()` instead.

[2016-09-07 17:49] bcoe commented on #620
@coldlamper you can also pass a callback to `.showHelp()`:

https://github.com/yargs/yargs/blob/master/lib/usage.js#L337

Which will then be passed the usage string as the first argument; would it be worth us adding this to the documentation?

I wonder if it would be worth adding a method like `getHelpString()`.

[2016-09-07 19:35] coldlamper commented on #620
@nexdrew That works great.
@bcoe Passing a callback to .showHelp() works fine also.
Thanks!

[2016-09-08 02:36] #599 closed

[2016-09-08 10:18] achingbrain commented on #616
Sorry for my delay in replying - @nexdrew's tips did indeed do the trick, thanks so much.

[2016-09-09 19:45] bradisbell opened #621 "Arrays and values with hyphens"
I need to pass in an array of values that have hyphens.  I can't seem to figure out the required syntax.

[code]

[code]

[code]

Desired result:
[code]

How can I achieve this?

[2016-09-09 21:12] nexdrew commented on #621
@bradisbell Thanks for reporting!

This seems to be a bug with yargs-parser:

[code]

[code]

Oddly enough, I can produce the desired result if I _don't_ explicitly define the option as an array type:

[code]

[code]

But that's certainly not acceptable. Sounds similar to #360, we'll need to fix this in yargs-parser.

[2016-09-11 12:09] osher commented on #614
Sorry for the late response, I was swapped to do some real coding work, and had to leave the classroom behind, and now that I'm back I can see where all this leads.

So if I get it right - the options model now is broken to global model, and model per command. Very interesting. Now this gets philosophic a little...
Basically - it's a leap of complexity that was not there before. I think the best w

[2016-09-12 03:52] laggingreflex opened #622 "Support .env config file"
Thoughts on supporting `.env` config files?

    MYSQL_USER=user
    MYSQL_PASSWORD=pass

[2016-09-13 18:01] nexdrew commented on #622
Well, you can already provide your own config parser function to support it, similar to this:

[code]

Are you looking for support out-of-the-box?

[2016-09-13 21:22] Pchelolo opened #623 "Alias properties are not returned after 5.0"
Code:
[code]

Execution:
[code]

Output before v5.0.0: `test.yaml`
Output after v5.0.0: undefined

Need to either document that alias-named properties are not added to the result object any more, or fix it.

[2016-09-13 21:55] nexdrew commented on #623
@Pchelolo In yargs 5, you now must mark top-level options as `global: true` if you want them to apply when running a command.

See the [yargs 5 release blog post](http://yargs.js.org/2016/08/14/yargs-5.html) and [this comment](https://github.com/yargs/yargs/issues/614#issuecomment-244411902).

In short, try this:

[code]

Sorry for the confusion! This seems to be a recurring issue with folks attem

[2016-09-13 22:08] Pchelolo commented on #623
That helps, thank you and sorry for not reading the docs properly :)

[2016-09-13 22:08] #623 closed

[2016-09-13 23:19] #622 closed

[2016-09-14 15:11] #620 closed

[2016-09-15 02:06] scriptdaemon opened #625 "Feature: Custom output function"
I wish `yargs` allowed the user to define a custom output function rather than hardcoding console.* (similar to fail(), but for all output). I'm using `yargs` to allow users in a chat to pass commands to a bot, and it'd be easier to supply an output function that sends the message for `--help` or `--version` to the chat rather than creating my own `help` and `version` commands to do that.

Is this

[2016-09-15 10:59] pleerock commented on #286
any news here?

[2016-09-15 14:14] lasalvavida commented on #617
Did some digging. This was an issue in yargs-parser that is no longer present in master. This can be closed after release.

[2016-09-15 21:41] Xerkus opened #626 "config() does not fail on missing file from default value"
config() does not fail if default file does not exist.

eg with config

[code]

});

Without `config` parameter and on missing `config.json` file it will silently do nothing. For example if user forgot to copy and fill `config.json.dist`. But if `config.json` IS present it will be loaded.
Explicitly providing `config` parameter will make it fail on missing file.

Upd: it will also do nothing if fi

[2016-09-16 10:57] gimenete commented on #286
Sorry, I wanted this for a project that needed many command line options, so it's was interesting to be able to use an interactive mode If you didn't (want to) remember all, or you could just pass all if knew all or you were scripting the cli app. But I finally ended up creating a GUI and since then I've just used inquirer or yargs depending on the needs.

I still think that it would be great to h

[2016-09-19 19:00] bcoe commented on #286
@pleerock @gimenete what I'd like, would be a recipe for using yargs in a non CLI environment; which would better support chat-bots, interactive terminals, etc.

we have one breaking change already queued up for `6.x`, maybe we could make interactive `yargs` a goal as part of this release.

[2016-09-21 18:28] jaridmargolin opened #627 "Discuss: Order of precedence for program argument values"
## The Problem

The current order of precedence for resolving arguments is as follows:
1. CLI flags
2. Config file (if configured)
3. Env var (if configured)
4. Default values (if configured)

I wanted to start an active discussion around the possibility of swapping the order of precedence for config files and env vars (or less favorably, offering a way to configure the order of precedence):
1. CL

[2016-09-21 18:33] addaleax commented on #627
Maybe a bit related: I mentioned on twitter how one thing I like about npm’s config system is that npm does not only respect settings that are available in environment variables, but exports its entire set of configuration settings to subprocesses using env vars.

Maybe yargs applications could do the same thing? That would make a `env var` > `config file` precedence even more useful.

[2016-09-23 09:58] osher commented on #623
Personally I think that this breaking change was a bad decision.
Making the default to be local to the command assumes that the majority of users uses commands - which I'm not quite sure is true.

Besides - the implentation could have guessed if it's local or global by the context.

e.g.
[code]

Which can even lead to the following, without breaking consistency:
[code]

And then - the next leap is

[2016-09-23 10:06] osher opened #628 "Proposing format to reconsile the breaking changes in v5.0.0"
Personally I think that this breaking change was a bad decision.
Making the default to be local to the command assumes that the majority of users uses commands, and/or that the majority of options are local to the commands - which I'm not quite sure is true.

Besides - the implementation could have guessed if it's local or default (fka ...global) by the context.

e.g.

[code]

or just

[code]

Whi

[2016-09-23 10:08] osher commented on #623
mm. perhaps I should make it it's own issue.

[2016-09-23 10:09] osher commented on #623
here
#628

[2016-09-23 10:59] osher opened #629 "help with one more breaking change I missed..."
`yargs.help()` used to give me the help text.
I noted that it changed in v3, and now it enables some auto-help option, which I'm not interested in, because I need to append descriptive `epilog`s by my own logic.

I try to get the help text according to the new API as I understand it, but get this:

[code]

which throws:
[code]

reproduced on versions `5.x`, `4.x` and `3.x`...  - so it's probably m

[2016-09-23 11:31] osher commented on #629
Ai ai ai.. I now remember...

I can use `showHelp()` and give it an injected handler ....

[2016-09-23 11:31] #629 closed

[2016-09-23 17:26] laggingreflex opened #630 "Alias unflagged args like $0 or _"
Suppose a use case where a command is pretty simple, like:

[code]

But there's also an advanced syntax, like:

[code]

…with an optional flagged version of the same argument to avoid ambiguity

It would be awesome if both use cases could be configured with alias, like

[code]

<sub>([backlink](https://github.com/toddbluhm/env-cmd/issues/4#issuecomment-249108601) for personal context)</sub>

[2016-09-24 10:24] th0r commented on #301
I have the save question.
My usecase: I have, say, 2 commands: `check` and `reset`.
The main command is `check` and it would be nice to execute it if user omits command:
[code]

Actually, there is an ambiguity if `check` can take arguments:
[code]
In this case it's not clear what `cmd-or-arg` is - is it an argument to default `check` command or another command.

But in my case `check` can't take p

[2016-09-25 16:03] dciccale opened #631 "accumulate arguments"
is there a way to accumulate to previous arguments?

`test.js`

[code]

[code]

Would like to have the following output:

[code]

I can do this by post-processing the arguments like this:

[code]

If there is no way to achieve this without post-processing the result, would be useful to receive on the `coerce` function, current argument, and the previous argument as second parameter of the function

[2016-09-28 12:35] th0r commented on #301
@sondr3 @nexdrew Guys?

[2016-09-28 12:47] nexdrew commented on #301
@th0r You bring up a good point, but I think I can come up with a workaround. I'll take a closer look later today.

Also, know that my next two self-appointed tasks for yargs is to build in support for (1) command aliases and (2) specifying a default command. Once those are in place, yargs should be able to handle your use-case out of the box.

Thanks for your feedback and patience. I'll get back

[2016-09-28 13:05] th0r commented on #301
Great news and thanks for your work!

[2016-09-28 13:34] sondr3 commented on #301
@th0r sorry, forgot to reply, I can't even remember what it was for nor the solution I came up with. 😕

[2016-09-30 07:29] bcoe commented on #625
@scriptdaemon I really like this idea; I'd like to switch npm's ops-bot over to using yargs as well, excited to chat about what this API might look like.

[2016-09-30 07:33] bcoe commented on #628
@nexdrew has done a lot of the heavy lifting for commands, and the way I've seen him using them for some of the applications at npm is really elegant. I'd love to get @nexdrew's feedback on your proposal, I'm sure there might be a good compromise.

I also think part of the problem might simply be one of documentation; I like the current command implementation because it's both very powerful, but v

[2016-09-30 13:32] jakub-g opened #644 "camelCasedFlag behavior is bizarre if `.boolean('camel-cased-flag')` is called"
Hi, I was playing with yargs (plain installation) and I noticed this, which seems weird (maybe I'm missing something)
(using yargs@3 and yargs@5, same behavior)

[code]

Note that `argv.useLongNames` is an array, and evaluates as boolean, it's always `true`.

Is it a correct behavior?

according to https://github.com/yargs/yargs-parser#camel-case-expansion it should be

[code]

[2016-09-30 13:43] jakub-g commented on #644
In fact the issue only happens when you use `.boolean('use-long-names')`

[2016-09-30 19:22] nexdrew commented on #628
Let me attempt to explain things as I see them.

yargs already supports the concept of "cascading" options - top-level options are defined outside of a command definition and command-specific options are defined within a command definition, e.g.

[code]

It's just that options (at any level) must explicitly be marked as `global` in order to "cascade" to lower levels (where levels are defined by th

[2016-10-01 00:42] scriptdaemon commented on #625
This is a quick write-up of what I want to be able to do (I'm not 100% on the name for it, and I'm up for other suggestions for how to work with it):

[code]

I didn't even think of it until now, but maybe having another function like `yargs.send()` could allow calling the output callback directly (or its default of `console.*` if a custom function is not specified)?

Something like this:

[code]

[2016-10-01 21:34] jagin commented on #455
I got the same problem as @satazor and I fully support his proposal.

[2016-10-02 00:35] bcoe commented on #644
@jakub-g this definitely looks weird, mind doing me a favor and opening this issue on [yargs-parser](https://github.com/yargs/yargs-parser). Also, some more clarification for me, have you set the argument to `.boolean` and .`array`? or this happens when it's set to `.boolean`.

Talk to you on `yargs-parser`.

[2016-10-02 00:35] #644 closed

[2016-10-04 14:12] fearphage commented on #403
I'm not sure exactly where this left off. Is `check` currently not usable by subcommands?

I tried the following:

[code]

It's currently not being called. Is it only supported globally?

[2016-10-04 15:15] nexdrew commented on #403
@fearphage Custom checks should indeed be defined per-(sub)command, it's just that yargs doesn't look for a `check` property of a command module. Rather, you should define this in the `builder` function of the command, like so:

[code]

Note also that if you just want to make sure pairs of options are set together, you can replace the custom check with `.implies()`, like so:

[code]

HTH!

[2016-10-04 18:14] fearphage commented on #403
@nexdrew Thank you! That's very helpful. I'm actually shooting for the opposite effect.

Would you use `.check` for that or some other mechanism?

[2016-10-04 20:19] nexdrew commented on #403
@fearphage At the moment, I'd use a custom `.check()` for that, so you're right on the money there. If you need special transformation or validation of specific individual options (i.e. dealing with one option at a time), you could use `.coerce()`, but `.check()` was built for this exact purpose of performing custom validation across all parsed options.

Otherwise, the request to support "conflict

[2016-10-06 21:31] nexdrew commented on #121
This is finally addressed in #647. I'll ping back here if/when it lands and is released.

[2016-10-07 13:05] satazor commented on #598
@nyurik I've the same issue.. the coerce function is not called for the default value. How did you make it work?

[2016-10-07 16:46] bcoe commented on #598
@satazor mind providing some code that reproduces; make sure you're on the most up-to-date yargs (we bumped a major) because we now apply coercion slightly differently.

[2016-10-07 18:54] satazor commented on #598
@bcoe I am on yargs `v6`.

[code]

![screen shot 2016-10-07 at 19 54 00](https://cloud.githubusercontent.com/assets/1017236/19201912/d5c95f9c-8cc7-11e6-8c81-9b128eba0e95.png)

[2016-10-07 18:56] satazor commented on #598
I'm currently using `.check()` to do what I want to do.

[2016-10-07 18:59] bcoe commented on #598
@satazor 👍 will dig into this.

[2016-10-09 21:08] timwis commented on #622
I recommend [dotenv](https://www.npmjs.com/package/dotenv). You can either load the file with a one-liner at the top, or run the CLI with `node -r dotenv/config index.js`.

[2016-10-09 21:10] timwis commented on #286
I was looking for something like this today. I built an app that logs in to your online banking to fetch your balance, and I didn't want to pass my bank password to my terminal (because it gets logged in terminal history), and I didn't want to store it on my filesystem. So I wanted the `password` arg to be prompted. I ended up using [prompt](https://github.com/flatiron/prompt), which works fine, b

[2016-10-10 15:26] nexdrew opened #649 "More yargs translations needed"
Hello gracious OSS authors! The yargs team needs your help once again to translate the following into various languages:
1. `"aliases:"` for command aliases (added in PR #647), should be line 13 of each locale file
2. `"Did you mean %s?"` for recommending commands (added in PRs #562, #580), should be line 38 of each locale file

I apologize for directly pinging you, but I only do so because you ha

[2016-10-10 15:35] kamilogorek commented on #649
There you go! :) `alias` is commonly used word in polish (mostly in IT), so I just pluralized it, as it should be easily understandable to everyone.

[2016-10-10 16:09] addaleax commented on #649
I think @michaalbert would like to give adding a Russian translation a try later today! =)

[2016-10-10 18:50] dgrcode commented on #649
I'll send the Spanish translation! But I have a question first. The translation for aliases depends on the context. Could you give me a couple of examples where "aliases" is going to be written?
Thanks!

[2016-10-10 21:15] maxrimue commented on #649
@dgrcode "Aliases" is used to reference something like different names for the same command or option. Say if we have the command `add` and want users to be able to call it also using a different name for the same command, say `addFiles`, we do so by creating the _alias_ `addFiles` of `add`. The translation will appear in a box after a command, like this:
[code]

Does that answer your question?

[2016-10-11 05:46] bcoe opened #653 "camel-case commands"
For options, e.g., `--foo-bar`, we populate the camel-case `fooBar` variable on the argv object. For commands we're not that clever:

`.command('foo <api-token>')` will result in only `api-token` being populated on the argv object; it would be nice if we were clever enough to populate both `api-token` and `apiToken`.

[2016-10-11 06:30] anu0012 commented on #653
Hey @bcoe , I would like to tackle this issue. Can you guide me ?

[2016-10-11 06:30] ssonal commented on #653
Would like to take a shot at this!

[2016-10-11 06:35] bcoe opened #654 "calling yargs.reset() loses information about commands"
Rather than patching this but, I wonder if we should deprecate `reset()` as a public method for yargs. I would rather start pointing people towards the non-singleton api: `require('yargs/yargs)`.

CC: @nexdrew, @maxrimue

[2016-10-11 06:43] babhishek21 commented on #649
If anyone needs Hindi or Bengali translations, let me know! :smile:

[2016-10-11 07:34] maxrimue commented on #649
@babhishek21 Ohh that would be so awesome! If you would like to do it, simply create the new translation files using the existing ones in the `locale/` folder as a template. If you have just any questions, go ahead 😄

[2016-10-11 07:51] babhishek21 commented on #649
Just one quick question! Are you looking only for native script translations (Hindi uses the Devnagari script and looks like हिन्दी ; Bangla (Bengali) looks like বাংলা )? Transliterated versions are also available.

[2016-10-11 07:54] babhishek21 commented on #617
I would like to work on this. Can anyone help me out a bit?

[2016-10-11 07:56] maxrimue commented on #649
@babhishek21 Hmm I'm not sure if that'll work, I don't know to be honest 😄 Perhaps for compatibility reasons, we should go with the transliterated versions, what do you think?

[2016-10-11 08:04] babhishek21 commented on #649
Hindi (Devnagari) works with UTF-8. Bangla also works with Unicode. I'll take a look at the other translations to see the range of type support. Should I perhaps make separate issues for these?

[2016-10-11 08:08] dgrcode commented on #649
@maxrimue This answers my question! I'll send a pull request with the translations in a few minutes

[2016-10-11 08:42] maxrimue commented on #649
@babhishek21 Yeah, separate pull requests would be appreciated. Thanks for dealing with this 😄

[2016-10-11 10:17] freed00m opened #657 "alias is not used when passing command"
Hi, maybe I don't understand something here. But if I have a sample nodejs app

[code]

and I ran

[code]

then I get the correct answer and the 3 is correctly saved to h and height

but when I run it with command

[code]

the 3 si only saved to height not h variable.

[2016-10-11 13:09] codedot opened #659 "Configuration parser called twice"
[code]

[2016-10-11 14:55] maxrimue commented on #653
Thanks @ssonal for the pull request!

@anu0012 sorry for this, maybe you want to search for another yargs issue you want to tackle? We would definitely help you at it! But no worries if no 😄

[2016-10-11 15:03] maxrimue commented on #657
Hey @freed00m,

this is because options in yargs are no longer automatically global. That means, that an option (or alias for it) declared in the global scope will not exist in a child scope, like here in the "run command scope".

You can change that by using `.global()`:
[code]
[code]
We've been thinking about possibly reverting this to be automatic, what do you think? Does this solve your issue?

[2016-10-11 15:34] freed00m commented on #657
Well, thank you for clarifying this :)

I don't know what is the use case for not having global. It's certainly something I have to bare in mind and while coding it seemingly works but everything fails when someone adds few commands and tries to use the aliases that are projected to the help.

If it's not going to be reverted, maybe adding few more disclaimers to readme.md somthing under aliases a

[2016-10-11 18:35] michaalbert commented on #649
Hi, I have a question about translating "Implications failed". Could someone give a general description of situations when this is used? It can't be transalted literally so I have to somehow describe it.

[2016-10-11 19:39] nexdrew commented on #649
@michaalbert This is a validation error where the use of one argument implies (requires) the use of another argument. So "Implications failed" basically means "You provided the first argument mentioned but didn't provide the second argument mentioned, which is required when providing the first argument."

That's obviously verbose, so if you can figure out the most concise way of saying the same th

[2016-10-11 19:45] michaalbert commented on #649
@nexdrew thanks! So would something like "The given command requires additional arguments" be okay or is that too unspecific?

[2016-10-11 19:54] nexdrew commented on #649
@michaalbert That would probably be ok, but the message will be followed by text like `x -> y`, where `x` is the argument you gave and `y` is the argument you didn't give, so it _might_ need to be a bit more specific to avoid confusion over `x` pointing to `y`. Not sure, what do you think?

[2016-10-11 20:04] michaalbert commented on #649
@nexdrew  Okay, then "The given argument requires the following additional argument:" makes more sense.

[2016-10-11 20:11] nexdrew commented on #649
@michaalbert That sounds perfect, thanks!

[2016-10-12 11:22] Hunrik commented on #649
#665

[2016-10-13 10:11] wolframtheta commented on #649
Hi @nexdrew do you want a Catalan translation?

[2016-10-13 12:03] nexdrew commented on #649
Hi @wolframtheta, that would be great! Just add a new ca.json file to the locales directory. Thanks!

[2016-10-14 03:43] #653 closed

[2016-10-14 21:23] TheHanna commented on #264
@OClement Agreed. Just started using this in a project, and being able to use the normal array syntax with gulp would be great.

[2016-10-15 07:07] scriptdaemon commented on #625
Closing this since https://github.com/yargs/yargs/pull/646 was merged.

[2016-10-15 07:07] #625 closed

[2016-10-15 16:33] bcoe commented on #625
@scriptdaemon if you want to take this for a test drive, I've published it to `next`:

`npm cache clear; npm i yargs@next`.

[2016-10-16 02:00] ceejbot opened #671 "a context object with circular references will explode the stack on parse"
I'm attempting to use the new headless parsing feature to write a Slack bot, following the example in the [pirate joe repo](https://github.com/yargs/pirate-joe/blob/master/server.js). If I pass a context object to the `parse()` command that happens to include circular references (as many node http request clients or messages do), yargs will never succeed in parsing it. Eventually the process will

[2016-10-16 03:04] ceejbot opened #672 "ignore case when parsing commands"
Here's something that would be great for yargs in chat bots: an option to ignore case when matching commands. E.g., `yargs-o-matic command` could be fired regardless of whether the user typed `command`, `Command` or `COMMAND`.

This low-priority feature request brought to you by automatic text replacement that persists in replacing `bart` with `BART`.

[2016-10-16 07:46] madcampos commented on #649
Hello, I have a question, is the pt_BR translation open? If so, I wish to work on it if I may.

[2016-10-16 13:01] babhishek21 commented on #649
@madcampos Check among the current PRs if any pending changes exist for `locales/pt_BR.json`. Other than that, as you can see from the checklist in the Issue Description, there is work to be done there.

[2016-10-16 17:51] bcoe commented on #626
I think my preference in these scenarios would be to `console.warn()`.

CC: @nexdrew @maxrimue @lrlna

[2016-10-16 17:53] bcoe commented on #536
Closing this in favor of the open ticket on `yargs-parser`.

[2016-10-16 17:53] #536 closed

[2016-10-16 17:59] bcoe commented on #121
@raine @firstdoit @vjpr we've landed and released command aliases \o/

@nexdrew thanks for the amazing work on this feature.

[2016-10-16 17:59] #121 closed

[2016-10-16 18:01] bcoe commented on #672
@nexdrew @ceejbot @scriptdaemon should we just always lower-case commands? is there a scenario where we would want to run `$> my-app.js RUN SERVER`

[2016-10-16 20:15] zkat commented on #649
@madcampos: for the record, pt_BR isn't one of my main langs so pleeease feel free to take over it and correct any awkwardness I put in there!

[2016-10-16 21:41] scriptdaemon commented on #672
@bcoe I can't imagine a scenario where case sensitivity would be required, but there's always the possibility of having some sort of config / method to enable case insensitive checking if this is deemed an unnecessary breaking change.

Somewhat related: I actually thought to request a similar change to how `.choices()` works. I can open another issue if this should be separate.

[2016-10-17 07:05] zkat opened #676 "super eager `help` command execution"
I'm not sure if I'm doing something wrong here, but the `help` command is being executed if the word `help` is anywhere in the arguments text. I'm using it for a Slack app. My parser is configured like so:

[code]

I expect `help` to run in only two cases: If a user does `/help?` or if they do `/<command> --help`, but not if there's just `/<command> something something help something`, which is cu

[2016-10-17 13:52] nexdrew commented on #676
@zkat This is currently how the _implicit help command_ works, so that args like `/<command> help` and `/help <command>` will display help for `<command>`. The idea is that a user only needs to append `help` (or whatever aliases have been defined for `help`) to whatever command they're trying to run to get help for the command instead of actually running it.

If the implicit help command is gettin

[2016-10-17 14:37] nexdrew commented on #672
@scriptdaemon Interesting that you bring up case sensitivity for `.choices()`, which is something we [actually thought of](https://github.com/yargs/yargs/pull/209#r35494884) back in its original implementation but decided to wait until someone brought it up. So congrats, I think you win that prize! I'm definitely in favor of allowing `.choices()` to be configured for case-insensitive matching; I'm

[2016-10-17 16:07] madcampos commented on #649
@zkat I'm brazilian so I can help with that, no problem. 😉

[2016-10-17 16:35] zkat commented on #676
That makes sense! Is there a way to manually invoke the command if I want to manually have a help command that only works as the top-level one?

[2016-10-17 17:37] pedalhead commented on #523
This issue was closed by the creator, but I would still be interested in hearing if there is a good way to pass data into the handler, by somehow setting on the argv object, as brumer suggested.

[2016-10-17 17:46] bcoe commented on #523
@pedalhead there is now a way to do just this:

https://github.com/yargs/yargs#parseargs-context-parsecallback

[2016-10-17 22:30] pedalhead commented on #523
Awesome, somehow I missed it... Thanks!

[2016-10-17 23:52] scriptdaemon commented on #672
@nexdrew Just throwing out quick idea; what do you think of an API like this?

[code]

The options may be a bit overkill, and I don't necessarily have my heart set on them all being added (as coerce() still exists for anyone who wants to get really fancy), but if there's an option might as well flesh out all possibilities and go from there.

[2016-10-19 01:44] nexdrew commented on #671
Closing since this was fixed by #675. Thanks for reporting!