[2019-12-04 14:38] mleguen commented on #1428
@jpbberry Instead of trying to modify yargs or yargs-parser, I would recommend transforming emdashes before calling yargs:

For example:
[code]

[2019-12-04 14:48] mleguen commented on #1489
I can reproduce the issue with the example given by @johanblumenberg-symphony

[2019-12-04 14:55] mleguen commented on #1489
The bug is in yargs-parser.

[2019-12-04 17:47] glenwinters commented on #1504
This answers my question if `yargs.org` is no longer maintained as you hinted at in #1505, but otherwise, it would be nice to document a workflow to view markdown changes in the website locally.

[2019-12-04 17:56] mleguen commented on #1489
yargs/yargs-parser#227 submitted to fix this issue.

In short: `repeat` has a special treatment because it is the name of a method of String.prototype.

[2019-12-04 22:21] john-osullivan commented on #1150
I came across this issue because I'm building an interactive CLI via `yargs`+`ink` which draws on some significant data sources, and Redux makes that state management easier within React.  `ink` is getting more & more popular, so I imagine that yargs and React will keep running into each other.

I don't know enough about `yargs` internals to contribute on whether it should use React within itself,

[2019-12-05 14:27] jpbberry commented on #1428
@mleguen Oh yeah for the time being I have. However it’d be neat to see if implemented into the library itself.

[2019-12-05 21:53] bcoe commented on #1428
having written chat bots for yargs in the past, I like this feature request :smile:  If it's not too much of a hassle to add to the parser, I think we could just perform this replacement ourselves potentially.

We should make it an option to turn this feature off, mind you.

[2019-12-05 21:56] bcoe commented on #1454
@benjie the tool I had in mind was `node-tap`, which has a `--100`.

[2019-12-06 00:35] #1444 closed

[2019-12-09 18:16] jasonk commented on #1328
FYI, after some experimenting I found that this will work:

[code]

[2019-12-10 09:00] mleguen opened #1511 "Fix typescript documentation with the right syntax for commonjs module import"
See the [related paragraph](https://www.typescriptlang.org/docs/handbook/modules.html#export--and-import--require) in the typescript documentation.

We should do :
[code]

[2019-12-11 08:47] mleguen commented on #1487
Closed in favor of the discussion in #1491.

[2019-12-11 08:47] #1487 closed

[2019-12-11 08:56] mleguen commented on #1481
I agree with @juergba on the fact that is is not a bug, but the intended behavior: using array args **implies** that the order of arguments will have an impact on the outcome.

You do not even need `unknown-options-as-args` to show this:

[code]

[2019-12-11 09:00] mleguen commented on #1454
Closed by #1493

[2019-12-11 09:00] #1454 closed

[2019-12-11 09:59] mleguen commented on #1434
@agrakhov @JakeRowsell89

This should be fixed now in master.

[2019-12-11 10:04] mleguen commented on #1432
@forivall My last advice was wrong, as I did not point to [the right paragraph in the typescript documentation](https://www.typescriptlang.org/docs/handbook/modules.html#export--and-import--require).

I fixed the examples in README.md, to use the right syntax to import a commonjs module:

[code]

Could you please confirm it solves this issue for your use case?

[2019-12-11 20:39] forivall commented on #1432
Yeah, `import yargs from 'yargs';` and `import yargs = require('yargs');` both solve the issue in the reproduction example.

I went back and looked at the code that was triggering it, and I realized it was in a dynamic import, rather than a top level import.

So, the exact reproduction case is the following:
[code]

which uses the same `importStar` logic with `esModuleInterop`.

The workaround for

[2019-12-13 12:55] acortcab opened #1514 "Execute a previous command in all cmd before starting the process"
Hello,

We would like to check if a file exist for all the cmd, is it possible to do this ?

Thanks

[2019-12-13 13:22] ismaelharunid commented on #672
Sorry, I don't get most of this.  How can anyone state that case sensitive OR insensitive are not important use cases.  To be friendly to use that cannot be predicted one must allow either for all or specific options, commands, etc...  If it too much to ask to have a ignoreCase flag both at the global level and within specific option/cpmmand/etc...   Or have I missed something.
*** MEAT ***
I want

[2019-12-16 09:41] mleguen commented on #1514
@acortcab Could you be a bit more precise about what you'd like to do? Do you mean that all your commands would have a common option or positional which would be a file name, and you would have to check if this file exists?

[2019-12-16 12:47] acortcab commented on #1514
Yes sure.
I would like to check for all my commands if it exists a specific file in the path I am running the process.
Thanks in advance

[2019-12-16 15:06] mleguen commented on #1514
Perhaps you could use a global middleware with [`.middleware()`](https://github.com/yargs/yargs/blob/master/docs/api.md#middlewarecallbacks-applybeforevalidation)?

[2019-12-16 16:10] acortcab commented on #1514
ok cool, I thought it was just for transforming information but I think it could work.
Thanks so much ;)

[2019-12-16 16:10] #1514 closed

[2019-12-17 14:59] mrmckeb commented on #1403
Is anyone currently working on this or #880? If not I might be able to take a look next week.

[2019-12-17 16:20] bcoe commented on #1403
@mrmckeb if you're interested in looking at #880, would love the help. With a word of warning that I imagine quite a few folks, including ourselves, have written integration tests against yargs' help output, so we probably want to be relatively conservative in the layout changes we make, perhaps making improvements incrementally.

You will most likely want to start digging into [cliui](https://www

[2019-12-18 00:14] Jack-Barry commented on #1455
I have `esModuleInterop` set to `true`, and this wasn't working for me with

[code]

and `require` feels icky because there's just no type checking at all. However, this workaround does what I need it to:

[code]

Not the cleanest syntax but it's a pretty safe coercion and allows type checking to work correctly.

[2019-12-18 08:22] mleguen commented on #1455
@Jack-Barry Please have a look at the doc fix in #1513 (not merged yet).

You should use `import yargs = require("yargs");`.

[2019-12-18 08:52] mleguen commented on #1351
@wesleytodd I tried to reproduce this issue with your code and master branch:
- your middleware is called as expected with default command (and it is called twice with your workaround)
- middleware is not run when no command is matched... but [the doc for `middleware()`](https://github.com/yargs/yargs/blob/master/docs/api.md#middlewarecallbacks-applybeforevalidation) states that the middlewares ar

[2019-12-18 08:55] mleguen commented on #920
I confirm this is fixed.

[2019-12-18 08:55] #920 closed

[2019-12-18 09:07] mleguen commented on #869
@bcoe Is this really a bug? Shells usually do not expect special quotes to be treated as regular ones:

[code]

IMHO, it should be treated as a feature request in yargs-parser, where it could be handled by adding an option defining a list of quote regex (regex to allow exotic use cases when opening and closing quotes are not the same).

[2019-12-18 09:15] mleguen commented on #841
The issue is fixed now:

[code]

when called with:

[code]

returns as expected:

[code]

[2019-12-18 09:15] #841 closed

[2019-12-18 09:29] mleguen commented on #823
Reducing @gajus example to:
[code]

it now works:
[code]

[2019-12-18 09:29] #823 closed

[2019-12-18 09:32] mleguen commented on #759
I can confirm this issue is closed.

[2019-12-18 09:32] #759 closed

[2019-12-19 22:29] daguej opened #1516 ".help(false) does not disable --help when used in a default command"
`.help(false)` does not appear to be working correctly in v15.0.2 when used in a default command.  It does hide the `--help` option from the help text, but yargs still prints the help text if you run `myapp --help` or `myapp help`.

This is contrary to the [docs](https://github.com/yargs/yargs/blob/master/docs/api.md#help), which say

I got the desired behavior (ie, yargs did nothing with `--help`

[2019-12-19 22:30] daguej commented on #1490
`.help(false)` does not appear to be working correctly.  See #1516

[2019-12-20 23:42] hongaar commented on #1196
Just bumping into this. Seems like a bug? Would be happy to contribute a PR, but quite new to this codebase. If someone could provide some pointers as to where to fix this, I'll see what I can do.

Example stack:

[code]

[2019-12-22 17:03] bcoe opened #1517 "PSA: tightening up yargs' permissions"
I've been tightening up yargs' team permissions, in prep for fully automating publication. This has included:

1. switching most folks to `triagers` rather than `maintainers` or `admins`.
2. enforcing 2FA on GitHub.
3. adding branch protection rules, such that one code review must have taken place before a PR may be merged.

These changes will put us in a position to more fully automate the yargs

[2019-12-22 18:26] #1511 closed

[2019-12-22 18:26] #1455 closed

[2019-12-22 19:38] patarapolw commented on #1116
It looks like I have to resort to this for the time being...

[code]

[2019-12-22 20:44] patarapolw commented on #1318
Too check all, I resorted to

[code]

[2019-12-24 20:21] laggingreflex opened #1518 "Feature: deprecate an option/command"
Allow setting `deprecated: true` for an option or a command, like:

[code]

which will show up in help as:

[code]

[2019-12-27 16:24] bcoe commented on #1518
@laggingreflex this is a neat idea 👍

[2019-12-27 17:57] laggingreflex commented on #1518
Cool. I'll try to implement myself this when I get some time.

Any preferences for the following:

* Key - "deprecated"

* Type - I'm thinking boolean "true/false", but also a string like "Please use --newOption instead"

* Placing of the text -

  Boolean

  1. `[deprecated] --option description [type] [default]`

  1. `--option [deprecated] description [type] [default]`

  1. `--option descripti

[2019-12-28 19:20] karfau commented on #579
For me it would be really helpful to be able to just use `yargs-parser` and the `lib/usage` part of yargs. I'm even thinking about making a fork, that only offers that part (could even drop the support for the commands part that I don't need).

I agree that the whole work that was initially suggested sounds like a lot of work, but I think splitting out the usage part would a much simpler task and

[2019-12-28 20:30] tristanls commented on #1098
The workaround I ended up using is checking for non-zero length in `coerce`:
[code]

[2019-12-29 07:53] TemporalAgent7 commented on #1196
FWIW, I fixed this by calling `yargs.exit()` in fail(). Note that this won't actually terminate the process if you set `exitProcess(false)`, it just terminates the parse early and doesn't call the handler with erroneous inputs.

[2019-12-30 17:41] JimTheMan commented on #1147
@binarymist what did you change?

[2019-12-30 22:02] bcoe commented on #1147
@binarymist bother you to open a PR with a docs update, or an issue outlining what was confusing?

[2019-12-31 00:43] AndrewFinlay opened #1519 "Flaky output from `--help`"
Hi all, it seems that when calling `--help` on a yargs project it can exit before all of the help content has been flushed to `stdout`.

I found this while trying to get `nyc`'s test suite running consistently on my local machine, the `nyc` issue is [here](https://github.com/istanbuljs/nyc/issues/1259).

`nyc` has a test that compares the help output generated by yargs using `nyc --help` and a cal

[2019-12-31 00:48] bcoe commented on #1519
@AndrewFinlay this sounds like a regression in Node.js itself, and I would be tempted to consider opening an upstream error.

Yargs should be putting `stdout` into a blocking mode, so that Node.js flushes appropriately:

https://www.npmjs.com/package/set-blocking

I think I recall one other report of this behavior, which would suggest perhaps `stream._handle.setBlocking(blocking)` is not working a

[2019-12-31 02:17] AndrewFinlay commented on #1519
I've done a little more digging and think I know what's going on, we're simply not setting blocking mode in `set-blocking` when run through `nyc`.   Since there's not much in `set-blocking`...

[code]
Running `nyc --help` with a breakpoint in `set-blocking` on the `if` statement shows `stream.isTTY` to be `undefined` so it never sets blocking.  If I force `setBlocking` in `set-blocking` then the `

[2020-01-01 12:02] giacomocerquone commented on #1334
@bcoe yes, that pr would be ok to me too.
My use case is to warn the user that the tool is defaulting to some value.

[2020-01-02 01:34] atian25 opened #1520 "parse `--tls-min-v1.0` unexpected"
[code]

[2020-01-02 01:36] atian25 commented on #1520
soloved: dot-notation: false

[2020-01-02 01:36] #1520 closed

[2020-01-02 03:51] #265 closed

[2020-01-02 10:29] mleguen commented on #1518
@laggingreflex Thanks for digging into this.

`deprecated` sounds good to me.

A boolean would be easier to implement, but a string would be more practical (nowing how not to use a deprecated option is good, and IMHO the first reason for having such a deprecation notice).

Perhaps you should have a look at existing keys, to try to mimic as much as possible the behavior and naming of an existing ke

[2020-01-02 11:15] mleguen commented on #1098
If I understand well, Yargs is now lacking a way of indicating an array option should have *at least one value*.

@bcoe Shouldn't we change nargs signature from `.nargs(key, count)` to `.nargs(key, min, max = min)`?

- `.nargs(key, 1)` would mean 1 and only 1 argument (unchanged), so would `.nargs(key, 1, 1)`
- `.nargs(key, 1, 3)` would mean 1 to 3 arguments
- `.nargs(key, 1, Infinity)` would mean

[2020-01-02 11:16] mleguen commented on #1098
And in that cas `requireArgs` should be an alias for `.nargs(key, 1, Infinity)`, repairing the broken behavior.

[2020-01-08 10:15] mleguen commented on #1434
Fixed in 15.1.0

[2020-01-08 10:15] #1434 closed

[2020-01-08 10:18] mleguen commented on #1516
Reproduced with master branch.

[2020-01-08 10:27] mleguen commented on #1516
Oups! Sorry, inverted `help(false)` and `parse()` in my test code.

I cannot reproduce this issue with the following test code, using either 15.0.2, 15.1.0 or master branch:
#### index.js
[code]

`--help` does not show help, as expected (it is only seen as a regular option):
[code]

@daguej Could you please provide a sample code reproducing this issue?

[2020-01-08 10:28] mleguen commented on #1490
@daguej As commented in #1516, `help(false)` seems to be working as expected.

Could you please provide some sample code with your `help` subcommand not being called?

[2020-01-08 10:29] mleguen commented on #1490
@christianbundy Could you please provide some sample code with your help subcommand not being called?

[2020-01-08 11:20] mleguen commented on #1318
Some tests with the the current master branch of yargs.

With the default configuration:
[code]
[code]

If disabling `duplicate-arguments-array`:
[code]
[code]
And even if specifying `collection` as `string`:
[code]
[code]

To summarize:
- with "duplicate-arguments-array": true` (default parser configuration):
  - a repeated option will generate an array (even with `array: false`)
  - multiple val

[2020-01-08 22:00] daguej commented on #1516
@mleguen looks like my situation was a bit complex.  You have to have a default command with help disabled *and* another command with help enabled.

[code]

[2020-01-08 22:06] daguej commented on #1490
See [this comment](https://github.com/yargs/yargs/issues/1516#issuecomment-572277796), it looks like the bug only happens when you have a default command with `help(false)` and other commands with help enabled.

[2020-01-09 08:51] mleguen commented on #1516
@daguej `.help()` is not designed to work for subcommands, but at the global level.

If I understand well what you are intending to do:
  - `test foo --help`should mean "display help for foo"?
  - and `test --help` should mean something else than "display help for the default command"?

I doubt this is a use case we would cover. However, we should state in the doc that `.help()` is not to be calle

[2020-01-09 18:53] #1431 closed

[2020-01-09 20:32] daguej commented on #1516
@mleguen Yes, you understand my intention.  I want to manually handle the display of help content for my default command, but let yargs handle help for all other commands.

Are you sure that `help()` is not meant to be used with commands?

A quick reading of [the code](https://github.com/yargs/yargs/blob/7293ad50d20ea0fb7dd1ac9b925e90e1bd95dea8/yargs.js#L858-L879) shows that `yargs.help()` is most

[2020-01-11 19:38] iamnewton commented on #541
I know this is late, but it appears this has been addressed with positionals and flagged options.  I've set up command directories with exports.

[code]

[2020-01-12 23:47] euberdeveloper commented on #1131
Thank you, your answer was useful.

I was using typescript and I noticed that if you use `esModuleInterop` and do not want it to remove it, you can use the default import

[code]

instead of

[code]

[2020-01-13 00:01] euberdeveloper opened #1522 "Javascript options file"
I found the config option very useful, but I noticed that it only supports json files.

Is there an alternative or a trick to do the same with an object exported by a javascript file?
I think it could be very useful, especially when you need types such as RegExp that are not allowed in json files

[2020-01-13 08:56] mleguen commented on #1522
@euberdeveloper You can pass directly an object to `.config()`

[2020-01-13 11:28] euberdeveloper commented on #1522
But what if I want a file containing the JavaScript object?

The user to be able to specify --config ./config.js
Instead of --config ./config.json

[2020-01-13 12:24] mleguen commented on #1522
@euberdeveloper Then you should use `.config()` with a function as its 2nd parameter, as in the example from [the doc](https://github.com/yargs/yargs/blob/master/docs/api.md#configkey-description-parsefn).

This function would take the config.js path, evaluate the file, and return the resulting config object.

[2020-01-13 13:49] euberdeveloper commented on #1522
I tried it and it worked, thank you.

It was because of this statement:

`Because the file is loaded using Node's require(), the filename MUST end in .json to be interpreted correctly.`

But it referred only to the default parser, not to the custom one

[2020-01-13 13:49] #1522 closed

[2020-01-15 08:57] mleguen commented on #1516
@daguej Thanks for your analysis.

In fact this occurs only when there is other commands, or when the default command has no aliases, and I thing it is rather a wanted behavior than a bug (set `skipDefaultCommand` to false in `yargs.js`, run `npm test` and look at the uses cases described by broken tests).

As I understand it, yargs distinguishes global help and default command help:
- global help

[2020-01-19 02:09] rtfpessoa commented on #1519
Just noticed I am probably experiencing this issue. Any news about this? Any way I can help?

[2020-01-19 20:46] AndrewFinlay commented on #1519
@rtfpessoa the [issue](https://github.com/istanbuljs/nyc/issues/1259) I was seeing with nyc seems to be due to the way child processes work.  In one of nyc's tests it checks `stdout` output from a `nyc` instance running in a child process.  A child process creates `stdout` as a pipe, not a TTY connection, so the above code can't set blocking mode.

Anyway if you're trying to run yargs without a TT

[2020-01-19 23:05] rtfpessoa commented on #1519
@AndrewFinlay after more digging I discovered this was not the error I was facing.
This comment https://github.com/yargs/yargs/issues/1432#issuecomment-561056437 helped me fix the issue. Not a problem with flushing just some really weird issue.

[2020-01-20 00:54] rulatir commented on #571
This is relevant again, please reopen.

[2020-01-20 03:24] rulatir opened #1523 "`array: true`, `type: "array"` don't seem to work at all?"
[nevermind, turned out to be a duplicate of #1098]

[2020-01-20 09:41] mleguen commented on #571
Now that we dropped support for node 6, we should indeed add support for loading es6 command module.

[2020-01-20 13:13] rulatir opened #1524 "Per-option custom validation?"
Is it possible to attach custom validation logic per option?

[2020-01-20 15:20] rulatir opened #1525 "commandDir does not work with TS, part 2"
This is distinct from #1067.

With a workaround similar to mentioned there already applied:

[code]

[code]

[2020-01-20 15:41] mleguen commented on #1524
Perhaps [`.check()`](https://github.com/yargs/yargs/blob/master/docs/api.md#checkfn-globaltrue) is what you are looking for?

[2020-01-20 16:10] #1525 closed

[2020-01-20 16:12] #1524 closed

[2020-01-20 16:26] rulatir commented on #1098
@tristanls, do you think it is possible to somehow reuse the localized error message that would thrown by the built-in assertion triggered by `requiresArg`?

[2020-01-20 16:30] rulatir commented on #1098
Hotfix the whopping huge failure-to-implement-spec bug first, reengineer the API later.

[2020-01-20 17:11] #1523 closed

[2020-01-20 17:24] tristanls commented on #1098
@rulatir I'm not seeing [the instantiated `y18n` variable](https://github.com/yargs/yargs/blob/fe380cd356aa33aef0449facd59c22cab8930ac9/yargs.js#L37) exported anywhere so I don't see a straightforward way of pulling in the `Missing required argument` message.

[2020-01-20 17:45] rulatir commented on #1098
The `coerce()` workaround doesn't help if the option has a default, because by the time the `coerce()` callback is called, the default has already been supplied, and there is no way for the callback to distinguish between "option not given on the command line" from "option given but without arguments".

[2020-01-20 19:26] bmundt6 commented on #833
I would still like to see this implemented if possible; the answer given in https://github.com/yargs/yargs/issues/730 to use an example doesn't seem as natural as just introducing a metavar name that is printed with the usage string. e.g., as per `grep`:
[code]
Would yield the usage string:
[code]
Even better yet, if we could use a template like `$0` for default command usage:
[code]

[2020-01-20 22:13] rulatir commented on #1098
That PR should be reverted without hesitation or regrets. It is completely wrong. It breaks a feature by making it an alias of a clearly *different* feature, *removing* the original feature altogether. It adds nothing. It breaks things. Revert.

[2020-01-21 12:30] jeysal opened #1526 "incomplete options mode"
I'd like to suggest a `.allowIncompleteOptions(true)` (or similar) mode where yargs would automatically match a specified option with a known option that `startsWith` the specified option.
Git is one example of a CLI that implements this, so you can e.g. `git commit --no-veri --da=now`.
As far as I can tell, this only makes sense combined with `strict` mode.

If this is discoverable in the docs, t

[2020-01-21 13:05] l1bbcsg opened #1527 "Commands are not parsed if preceded by --"
Yargs version: 15.0.0 and above, version 14.2.0 is not affected.
#1459 looks like it could have introduced this.

Setup:
[code]

[code]

Causes `Not enough non-option arguments: got 0, need at least 1`.

`--` here is used to break populating `array` argument, otherwise `command` would be parsed as one of its values along with `foo` and `bar` and not as a command.

As a result it's not possible to

[2020-01-22 07:59] mleguen commented on #571
Yargs depends on `require-directory` for this, which does not look esm compatible. We would have to look for another module which does.

[2020-01-22 08:04] mleguen commented on #571
This would also mean we would have to deal with asynchronously loaded command modules (dynamic import of esm modules is asynchronous) in yargs which is not...

[2020-01-22 10:41] mleguen commented on #1527
`--` is no longer used in yargs to stop populating arrays, but to stop parsing arguments, as does `npm run` for example:
[code]
`scriptarg1 scriptarg2 ... scriptargn` will be passed to `script` without being parsed by npm.

However, we should fix the documentation, which still indicate `--` as a way to stop populating arrays.

[2020-01-22 11:58] rulatir commented on #571
Looping over files in a directory is not hard to write on the application side, so I'd say this is way less urgent than e.g. #1098.

[2020-01-22 17:57] bcoe commented on #1098
This feature has been in yargs for like two years, I'm all for continuing to improve functionality, but I don't think this is an existential crisis.

@evocateur can you speak a bit to this PR, I forgot what we were trying to address at the time.

[2020-01-23 10:43] rulatir opened #1529 "requiresArg has no effect if default is supplied"
The `requiresArg` check apparently happens after processing of `default`, the latter resulting in the argument always being effectively provided, and `requiresArg` having no effect.

I believe that `requiresArg` should be a syntactic thing: it should impose the syntactic constraint that the option's argument must be actually specified on the command line if the option itself is specified. It seems

[2020-01-23 11:01] rulatir opened #1530 "Mechanism to allow overriding array default with empty array"
With `type: "array"` and `default: ["not", "empty"]` it is not currently possible to override the default with an empty array.

Proposals:

1. Fix #1529 with additional rule that "not giving arguments for array option" have the semantics of "giving an empty array".

2. Introduce boolean `emptyOverride`.

[2020-01-23 11:31] rulatir commented on #1529
Oops, apparently this one was fixed by #1054 which I [reverted in my fork](https://github.com/yargs/yargs/pull/1528) for very good reasons, so now I must fix this one too...

[2020-01-23 11:31] #1529 closed

[2020-01-24 13:56] Mogztter opened #1531 "Feature: Declare shortcut option"
Consider the following example:

[code]
[code]

I want to declare a shortcut option  `--safe` which is equivalent to `--safe-mode safe`.
A possible solution is to declare a new option named `safe` as follow but it has a few drawbacks:

[code]

- The safe mode now depends on the value of two options (ie. manual resolution). If safe is present then safe mode is "safe" otherwise take the value of the

[2020-01-24 14:09] Mogztter opened #1532 "Feature: Declare flag (ie. boolean without argument)"
As far as I know it's not possible to declare flag (ie. boolean without argument). I think it can be useful when `--flag false` or `--flag true` are invalid.

If we don't want to introduce a new keyword or a new type we could reuse `nargs`:

[code]

Otherwise we could use a new type 'flag':

[code]

With the above definition, the following commands are invalid and yargs should throw an error:

[co

[2020-01-24 17:13] mleguen commented on #1531
@Mogztter What about setting:
- "safe" as the default for "safe-mode"
- and "safe" as an alias of "safe-mode"?

`--safe` would then be equivalent to `--safe-mode=safe` (so would `--safe-mode`, as a drawback)

[2020-01-24 17:17] mleguen commented on #1532
@Mogztter Could you please give an example of a use case that would require `--flag false` or `--flag true` to be invalid?

[2020-01-24 17:58] Mogztter commented on #1532
For instance, when the flag is associated with a value.
In `asciidoctor`, we are using the flag `--safe` to indicated that the safe-mode is "safe":

[code]

Using `--safe false` is invalid because we do not know the opposite value of "safe":

[code]

The safe mode can be "unsafe", "server", "safe" or "secure" but "false" is at the very least ambiguous because we don't know the intent.
We could arg

[2020-01-24 18:06] Mogztter commented on #1531
Thanks for your suggestion @mleguen
I have a few questions:

If I do that, will I be able to know if `safe-mode` or `safe` were explicitly used in the command line? Because the default value is actually "unsafe" (if none is provided).

I can have multiple aliases? `-S` is already an alias for `safe-mode`.

[2020-01-24 18:07] mleguen commented on #1532
What about having 4 options `--safe`, `--unsafe`, `--server` and `--secure`, and defining them as conflicting (with `.conflicts` - you could also add the `--safe-mode` option you talked about in #1531 in the conflicting keys)?

[2020-01-24 18:09] mleguen commented on #1531
Sure.

No. And if your default value is `unsafe`, this idea cannot work.

But maybe what I suggested in #1532 will?

[2020-01-24 19:33] evocateur commented on #1098
The only thing that's even remotely relevant around the time of the original PR is https://github.com/lerna/lerna/pull/1234, as far as I can tell. I don't remember the original motivation, sorry.

[2020-01-24 23:21] billxinli opened #1533 "Bug: .parse not resetting context"
Sample code as `bug.js`:
[code]

When `yargs` is `^15.1.0` we see the output:
[code]

When `yargs` is `13.3.0` we see the output:
[code]

The issue is that we are using `yargs` in a bot setting, where `.parse` is called multiple times.

With older version of `yargs` we see that on every `.parse` call it reset the context, where every command will be parsed properly, with newer versions of `yargs`

[2020-01-25 06:46] bcoe commented on #1533
@mleguen any thoughts on this one, I'm guessing it relates to some of the work that's landed related to resetting state.

[2020-01-25 11:41] Mogztter commented on #1532
Unless I'm missing something, the issue remains, `--server=false` and `--secure=false`do not make sense. As soon as we have a flag associated with a value (with no obvious opposite value) then using an argument should be invalid.

`conflicts` can help with https://github.com/yargs/yargs/issues/1531 but unfortunately the current `asciidoctor` CLI (Ruby) does allow the following:

[code]

A warning

[2020-01-25 11:43] Mogztter commented on #1531
@bcoe do you think it will be a good addition? any preference/guidance on the syntax? I can open a pull request to implement this feature if you think it makes sense. Thanks! :wink:

[2020-01-25 21:14] shadowspawn commented on #685
I was looking into this in weekend (in context of Commander).

References:
- https://github.com/electron/electron/issues/4690#issuecomment-217435222
- https://github.com/tj/commander.js/issues/512

Still a WIP, detection:
[code]

and decision about where to slice:
[code]

[2020-01-27 08:39] mleguen commented on #1533
@bcoe I'll try to dig into this on wednesday

[2020-01-27 08:50] mleguen commented on #1532
You could explicitely forbid such values with `.check()`, which would not prevent you from also using `.conflict()` to ensure only one of these options is used.

I do not understand the point. Are you using Yargs or a Ruby CLI?

[2020-01-27 18:45] Mogztter commented on #1532
Oh That's true!
Thanks for the tip, I will give it a try :+1:

The (Asciidoctor) Ruby CLI is the reference implementation so I'm trying to get as close as possible using Yargs.

[2020-01-27 23:01] bcoe commented on #1532
@Mogztter definitely open to adding new features, if it helps folks get onboard with the library more easily; my concern is balancing this with a larger API surface creating confusion (truth be told, maybe yargs is a little more expansive than it needs to be already :stuck_out_tongue:).

[2020-01-28 08:36] mleguen commented on #1532
@Mogztter

OK, understood.

However, I am afraid the "last one wins" rule would be supported only for aliases with yargs, so it would not work with `--safe-mode` needing a value and not `--server`

[2020-01-28 17:46] Mogztter commented on #1532
Good to know 😉

@bcoe I agree, the API of yargs is really nice and I certainly don't want to add unnecessary features. If I can do what I want using a combination of multiples options I will be more than happy.

I will experiment a bit more with @mleguen ideas and I will report back if I find a lightweight solution.

[2020-01-29 08:00] mleguen commented on #1533
Reproduced with master branch.

[2020-01-29 09:01] mleguen commented on #1533
It only happens when the handler is async

[2020-01-29 11:19] mleguen commented on #1533
@bcoe

I thought that too, first, but it is not the case: this bug is coming from the help message caching introduced in september to try to deal with async handlers. The cache is set, but never removed, so all further calls to showHelp will use the cache.

I also found a 2nd bug linked to this caching: if the handler fails, showHelp is called after yargs is unfreezed, so a 2nd parse is performed,

[2020-01-29 11:28] mleguen opened #1534 "Help is displayed twice when an async handler fails with exitProcess(false)"
#### index.js
[code]

Results:
[code]

Expected:
[code]

[2020-01-29 11:30] mleguen commented on #1534
Probably due to showHelp beeing called when the handler fails, after yargs is unfreezed, so showHelp calls parse again, calling the handler a second time and failing a second time.

[2020-01-29 16:16] mleguen commented on #1533
Separate issue opened for the duplicate error message when using async command handlers with `.exitProcess(false)` : #1534

[2020-01-29 16:17] bcoe commented on #1533
@mleguen thanks for digging into this, really appreciate the work you've been putting into yargs.

[2020-01-29 16:35] mleguen commented on #685
@shadowspawn This would indeed solve the first half of this issue (`slice(1)` needed instead of `slice(2)`).

However, @acromarco also reported that it first flag (`-f`) was merged with the exe name into `req.argv[0]`.

Is is something you can reproduce too?

[2020-01-29 17:24] billxinli commented on #1533
@mleguen @bcoe  Thank you for this.

I am curious, there are other issues open regarding this, but is there a suggested solution for where async is needed for things like command calling a remote resource, and then displaying some data from that remote resource?

[2020-01-29 19:12] shadowspawn commented on #685
`-f` merged: no, I didn't investigate that aspect.

[2020-01-29 20:59] mleguen commented on #1534
I recommend:
- leaving this bug as is
- and adding a warning in the doc not to use an async handler if parse is intended to be called several times, as an help message for an async handler failure can occur in the middle of the next call to `.parse()`

I can see no way of dealing "cleanly" with async handlers while yargs is sync.

@bcoe what is your opinion on this?

[2020-01-29 21:14] mleguen commented on #1519
I never understood the need for calling `process.exit` in yargs, anyway? I mean, it should be a last resort thing, as switching your computer off with a longpress on the power button instead of politely asking it to shut down.

- either the calling code has something to do after calling `parse`, and it will need to call `exitProcess(false)` to explicitely disable this
- or nothing is done after `p

[2020-01-29 21:44] mleguen commented on #1533
@billxinli Well, as long as yargs is sync (ie not returning promises, or not having (err, value) callback functions in its API **and** its internal functions), the only solution I can see is to store a promise in the handler and to wait for it after calling parse:

[code]

Does it answer your question?

[2020-02-01 06:05] Robbie-Cook commented on #1360
To get around this I made a intermediary file so I could import yarg's argv in a `.mjs` file.

In my `yarg.js`:

[code]

Then in my .mjs file:

[code]

[2020-02-01 21:41] bcoe commented on #1534
@mleguen I agree with adding a caveat for `async` handlers for the time being.

[2020-02-03 04:29] bcoe commented on #1360
@Robbie-Cook what would we have to add to the module to allow you to use yargs directly?

[2020-02-03 23:32] issuefiler opened #1537 "How do I set up the “<anything> <subcommand>” command?"
How do I set up a command as follows?

-----

[code]
- Positional argument `anything`: anything.
- Positional argument `subcommand`: one of `alpha`, `bravo`, `charlie`, and `delta`.

-----

[2020-02-04 08:39] mleguen commented on #1537
Yargs does not support positionals before subcommands.

But yargs supports:
- either using a positional after the subcommand, which I personnaly see as the "standard" (git, docker, etc.) way, for example:
[code]
- or replacing the positional by a global option:
[code]

[2020-02-04 10:36] mxl commented on #1527
So how should we put command after array argument?

[2020-02-04 16:29] mleguen commented on #1527
@mxl AFAIK, yargs does not support commands after positionals (array or not), nor commands after array options.

[2020-02-04 16:35] mxl commented on #1527
@l1bbcsg @mleguen I found the way to specify command with array argument. Array argument should be specified after command:

[code]

[2020-02-04 19:57] #1537 closed

[2020-02-05 11:07] mleguen commented on #685
@shadowspawn The master branch should now be OK for your use case (ie `slice(2)`replaced by `slice(1)` if `process.defaultApp` is false). Would you please mind testing?

@zinwalin @acromarco Could one of you please give us some feedback about the 2nd point ("notice that the $0 ist still wrong because it contains the "-f") reported in the initial issue?

[2020-02-05 20:30] shadowspawn commented on #685
(Disclaimer: I do not currently use yargs or electron for real, just an interested third party!)

1) the slice issue does not appear to be fixed on master

From experimentation `process.defaultApp` is `undefined` or `true`, but not `false`. So the test for strict equality against `false` is not working as intended currently:

https://github.com/yargs/yargs/blob/a8ce12320e4dd158ab8765caf9da6f5d84d2

[2020-02-05 22:03] #1533 closed

[2020-02-05 22:21] bcoe commented on #685
@shadowspawn @mleguen reading the issue linked, it sounds like they were suggesting only slicing at 0 when we know the electron app is bundled, via, `process.defaultApp === false`? might be worth asking for clarification from the electron folks?

[2020-02-05 22:28] shadowspawn commented on #685
I tracked down the supporting docs:
- https://github.com/electron/electron/blob/master/docs/api/process.md#processdefaultapp-readonly

[2020-02-05 22:45] bcoe commented on #685
@zcbenz @MarshallOfSound, recommendation on how we should best detect a `argv.slice(0)` vs., `argv.slice(1)`, such that we get the bin correct?

should we be checking for `process.defaultApp === true`?

[2020-02-06 06:09] Lalitha-Iyer commented on #1334
I have a slightly different usecase, I would like to filter the user-supplied arguments only and exclude the ones that are defaulting.  I want to then use something like `nconf` to create a override hierarchy, with user arguments at priority 1, followed by file config.

I will try implement the filter with the changes in PR #1472,

[2020-02-06 18:06] bcoe commented on #1334
@giacomocerquone unfortunately I've had next to no time for open-source these days, but I'll make an effort to address @coreyfarrell's concerns on that PR "soon".

[2020-02-06 18:08] #1534 closed

[2020-02-06 18:25] giacomocerquone commented on #1334
@bcoe absolutely, take your time, no worries here, we're all grateful for the work and the effort you put in this project :)

[2020-02-09 21:01] renovate[bot] opened #1543 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Cannot find preset's package (github>whitesource/merge-confidence:beta)

[2020-02-10 00:59] zcbenz commented on #685
@bcoe Checking `process.defaultApp` is currently the only way to handle this.

[2020-02-11 10:24] Robbie-Cook commented on #1360
@bcoe It looks like you probably want `module.exports` to look like `module.exports = { argv, ..., ... }` (note that the name is important for ES6+). If you do this, it seems you can import the named items like so: `const argv = require('yargs').argv` and `import { argv } from 'yargs'`.

Here is an example: https://codesandbox.io/s/yargs-test-0bome

In general, I like @mleguen's answer (https://gi

[2020-02-11 10:25] Robbie-Cook commented on #1360
This would be in `yargs.js` right? Happy to help with this with my limited knowledge.

[2020-02-11 20:36] bcoe commented on #1360
@Robbie-Cook if you have the time, and this is a feature that you'd like to use, I'd happily take a patch :smile:

[2020-02-12 10:13] mleguen commented on #685
@shadowspawn Thanks for the tests, and pointing to the doc.

However, the doc itself isn't up to date, as in the code [`process.defaultApp` changed from a boolean to an object 17 months ago](https://github.com/electron/electron/commit/32a9df2940ced2fd2cd362190f1fe16140f05900#diff-18eb298960f17f5239f850dd8116627eL251).

So I am going to replace my `process.defaultApp === false` by `!process.default

[2020-02-12 12:04] mleguen opened #1555 "French translactions should have a space before punctuation signs such as ":""
See https://github.com/yargs/yargs/pull/1540#discussion_r378206657

[2020-02-12 16:10] mleguen commented on #1492
Fixed by #1544

[2020-02-12 16:10] #1492 closed

[2020-02-12 16:11] #1516 closed

[2020-02-12 16:27] mleguen commented on #1500
@bwagner Sorry for not answering your last comment

Agreed, and a PR would be welcome.

As this part of the docs is about `.global()` function, IMHO the example should show this function being used. What I think is confusing in the actual example is to explicitely set global to true when this is already the default.

I would recommend instead something like:
[code]
with an explanation such as:
"If

[2020-02-12 16:33] mleguen commented on #1490
Closing as `.help(false)` answers the initial question here, and #1516 is about a more specific use case (disabling global help, and re-enabling help for some subcommands).

[2020-02-12 16:33] #1490 closed

[2020-02-12 16:39] mleguen commented on #1489
@johanblumenberg-symphony This bug was fixed upstream in yargs-parser, and the fix is now in yargs' master branch:
[code]

Could you please confirm this is OK for you when using master branch?

[2020-02-12 16:49] mleguen commented on #1486
@rally25rs Did [@bcoe's suggestions](https://github.com/yargs/yargs/issues/1486#issuecomment-557660067) answer your question?

[2020-02-12 16:52] #1481 closed

[2020-02-12 16:54] #1432 closed

[2020-02-12 16:55] mleguen commented on #1429
No feedback, closing.

[2020-02-12 16:55] #1429 closed

[2020-02-12 18:49] laggingreflex commented on #1518
Was able to finally get this into motion. Please checkout #1559

It implements deprecating just the option for now. Will try to work on command later.

Also, I couldn't find much references in common tools (git, docker, npm) that do it. If you come across it please let me know.

I did manage to find a deprecated option in Docker, but it actually didn't mention that option at all in its --help.

Ho

[2020-02-13 18:53] bwagner commented on #1500
But wouldn't we then need to set the global('n'**, false**) in order to change its default (which would be `true`) for this example?
I.e.:

[code]

[2020-02-14 09:14] mleguen commented on #1500
@bwagner Yes, that was the idea :-), sorry.

[2020-02-16 05:45] jozanza commented on #1510
@xmedeko @mleguen I ran into this issue as well and discovered a workaround:

[code]

[2020-02-18 23:36] #1555 closed

[2020-02-19 08:28] mleguen opened #1560 "Missing French translation for "Unknown command: %s""
New translation to be added due to #1540:
[code]

_Originally posted by @mleguen in https://github.com/yargs/yargs/pull/1557_

[2020-02-20 10:50] #685 closed

[2020-02-20 11:23] mleguen opened #1561 "Bad French translation for "default""
To display "default", we reuse the translation for "default:" and remove the final character of the translations, expecting ":" to be translated as ":", which is not the case in all languages.

In French, this leads "default" to be translated as "défaut " (with a final space) instead of "défaut".

"default" and "default:" should be 2 different translations.

[2020-02-20 11:45] mleguen opened #1562 "Yargs should not translate option group names"
Yargs currently translate group names, which are app-provided strings, but the app has no way of modifying this translation if it is wrong (some words can have different translations depending on the context).

So Yargs should NOT translate app-provided strings (it is up to the app to do it).

[2020-02-20 15:07] mleguen commented on #685
@shadowspawn 2nd fixed merged into master: ready for testing, if you don't mind.

[2020-02-20 18:54] #1561 closed

[2020-02-21 21:14] shadowspawn commented on #685
Working fine now in my tests, args getting sliced at correct point.

[2020-02-29 10:23] mrmckeb commented on #1403
Sorry it's been a while. I planned to address this, but then life got in the way. I'll take a look today and see how far I get.

[2020-02-29 10:39] mrmckeb commented on #1403
Sorry it's been a while. I planned to address #880, but then life got in the way. I'll take a look today and see how far I get.

[2020-02-29 11:01] mrmckeb commented on #880
OK, I was looking into this @mleguen and I can see that there are a number of changes needed, and I propose we start with the first column.

This is my proposal for this:
- Implement a sensible max-width, as suggested by @zypA13510.
- Add a new method to `usage.js` that calculates the column width based on everything that would be in that column, across all groups.

This covers the most basic case

[2020-02-29 20:42] #1560 closed

[2020-02-29 21:10] #1562 closed

[2020-03-01 05:51] talon commented on #1065
more recently [`.scriptName("pirate-parser")`](https://github.com/yargs/yargs/pull/1143) is how you set this

[2020-03-01 17:07] kevinoid opened #1570 "Regression: 15.2.0 ignores nargs for array"
Yargs 15.2.0 included an incompatible change in how `nargs` is handled for `array` options.  For example, code for a repeatable option where the option should have a single argument on each occurrence (e.g. to behave like [`curl`'s `--header` option](https://curl.haxx.se/docs/manpage.html#-H)):

[code]
When invoked as `./example.js --header foo bar` with `yargs@15.1.0` this would print:
[code]
wit

[2020-03-01 18:18] bcoe commented on #1570
My thinking on this regression is that using `array` and `nargs` in conjunction was never documented behavior, so much as a side effect folks found (I noticed `mocha` did this as well, so you're not alone).

I will look at adding this behavior back to `yargs-parser`, so that the next release of yargs doesn't need to be breaking, but I would rather that this behavior in the future was more explicit

[2020-03-01 19:05] kevinoid commented on #1570
Thanks for the detailed explanation @bcoe!  Sounds great.

Setting `'greedy-arrays': false` will work for me.  I've only ever used arrays to combine repeated options, rather than multiple arguments to a single occurrence of an option, so making that the default and dropping `nargs` certainly fits my use cases.

Feel free to close this issue as you see fit.  `greedy-arrays` should solve it for me.

[2020-03-01 19:32] bcoe commented on #1570
@kevinoid I'm working on a fix right now, the problem with my wanting to drop `nargs` is we use this currently for `requiresArg` (which sets `nargs` of `1`) which is where this bug comes from.

I had an idea I'm working on, if we make it set `nargs` of `Infinity` instead, and give `Infinity` a special meaning, I think we can support both behaviors.

[2020-03-01 19:36] kevinoid commented on #1570
I'm not sure I understand.  Why does setting `nargs: 1` cause it to consume both arguments instead of just 1?

[2020-03-01 19:42] bcoe commented on #1570
@kevinoid we switched the parsing order to parse `array` then `nargs`, vs., `nargs` then `array`, to solve [this bug](https://github.com/yargs/yargs/issues/1098). The `array` parsing logic doesn't, currently, have logic that terminates parsing after the `nargs` count is hit. However, if we were to implement this logic, we would break `requiresArg` (which sets `nargs = 1`).

If `requiresArg` instea

[2020-03-01 19:46] kevinoid commented on #1570
Gotcha.  Thanks @bcoe!

[2020-03-04 12:19] gempain commented on #883
Another, shorter way:
[code]
This will throw an error if you don't pass a command, and will print the help at the same time.

[2020-03-04 13:10] gempain opened #1573 "Strange process.argv behavior when testing with jest"
I have the following `index.ts`:
[code]

And a jest test which works great:
[code]

For some strange reason, if I change `.parse(process.argv)` to `.parse()`, my test breaks, which doesn't make sense since Yargs parses `process.argv` under the hood, if I am not mistaken.

[2020-03-04 13:30] mleguen commented on #1573
@gempain Yargs parses `process.argv` under the hood *at the moment you call `require('yargs')`*, which means, in your case, before you set `process.argv` with your test value.

If you want to test using `process.argv`, you need to "unrequire" yargs and require it again in your test, after setting `process.argv`.

[2020-03-04 13:32] mleguen commented on #1573
@gempain You can find an example of this way of doing [in yargs' tests](https://github.com/yargs/yargs/blob/c36c571e4e15dfe26be1d919e4991fb6ab6ed9fd/test/yargs.js#L20)

[2020-03-04 13:55] gempain commented on #1573
@mleguen for such quick answers :) I've placed a few console logs in `yargs.js` and `process.argv` seems to be properly set though:

[code]

Which prints:
[code]

[2020-03-04 14:13] gempain commented on #1573
@mleguen okay, looking at the code, it makes sense as the singleton is exported once. However, even running the test as follows fails:
[code]

I expect jest to re-require `index`, and also related modules. I see in your test that you delete something from the require cache, is that the key ? Jest docs mention that [`jest.resetModules()`](https://jestjs.io/docs/en/jest-object#jestresetmodules) does

[2020-03-04 14:26] mleguen commented on #880
@mrmckeb Sounds great to me!

I do no longer think it better to be "fixed in one hit", as you say. Splitting this into several PR will make it more reviewable, so let's go.

[2020-03-04 14:35] mleguen commented on #1573
@gempain Yes, it the key, as you say. Node only instanciates a module once, the first time it is required, and takes it already instanciated from the cache if it is required again later.

So as you need yargs to be re-instanciated, for it to take into account the modified process.argv, you need to remove it from node's cache first:
[code]

[2020-03-04 19:29] mleguen commented on #880
@mrmckeb By the way, I submitted #1574 to fix #1403

[2020-03-04 23:57] gempain commented on #1573
@mleguen interesting, I thought jest would take care of that. Thanks for the hint, and keep up the great work - we use your lib in pretty much every single cli we write.

[2020-03-04 23:57] #1573 closed

[2020-03-08 00:29] bcoe commented on #685
@shadowspawn thanks for helping to sort this out.

[2020-03-08 00:31] bcoe commented on #1570
@kevinoid can I bother you one more time to try `npm i yargs@next`, I think I might have squashed an additional bug.

[2020-03-08 02:04] kevinoid commented on #1570
Sure thing.  In my testing `yargs@next` fixes this issue.  It behaves like `yargs@15.1.0` in the example code and passes the failing tests that drew my initial interest.  Thanks @bcoe!

[2020-03-09 06:15] bcoe commented on #1570
Fixed in latest version.

[2020-03-09 06:15] #1570 closed

[2020-03-09 15:20] mrmckeb commented on #880
Thanks for the update @mleguen, I'll wait for #1574 to merge to avoid conflicts.

[2020-03-11 09:00] mleguen opened #1586 "On the road to typescript"
Here is a proposal about how to migrate progressively to typescript, to:
- avoid big-bang merge requests, impossible to review and difficult to merge without freezing other developpments for a while
- limit - and avoid if possible - impacts on projects depending on yargs

Proposed steps:
1. **(done: see #1587)** ~~a first merge request to:~~
   - ~~convert to typescript a first module, not dependi

[2020-03-11 09:40] mleguen commented on #1586
I'm currently working on the 1st step

[2020-03-13 00:48] garyking opened #1588 "Coerce an option's array of values into strings"
If I have `yargs.option('items', { type: 'array' })` and I pass `--items abc 123` then I get `['abc', 123]`.

But is it possible to instead get all items as a string, like `['abc', '123']`?

Is it possible to do this via a setting in `.option`, rather than a global Yargs parser setting, and rather than converting the array myself?

[2020-03-13 09:08] mleguen commented on #1588
@garyking `.option('items', { type: 'string', array: true })` should be what you need.

[2020-03-13 16:21] garyking commented on #1588
Amazing thanks, this is great!

[2020-03-13 16:21] #1588 closed

[2020-03-16 05:01] wdanilo commented on #880
Allowing to hide default and type info would be such an amazing thing. Currently this is the biggest pain for me as it just breaks the help into a nonreadable mess :(

[2020-03-16 05:07] wdanilo opened #1590 "Default options are parsed in a wrong way."
Hi, I'm using following options description:
[code]

When I run my program as `prog --frame`, the `frame` is set to `false` by yargs. When I run it as `prog --frame true`, it is set to `'true'` (string) by yargs. However, if I change the config to:

[code]

It behaves correctly. I mean, when I run it as `prog --frame`, then `frame` is set to `true`. I believe this is some serious bug, right?

[2020-03-16 18:25] ffMathy opened #1593 "Can I make the following command with Yargs?"
Look at https://docs.docker.com/compose/reference/overview/

More specifically:

Can I immitate that form of command structure with Yargs? If not, what is the closest I can get to it?

[2020-03-17 08:20] mleguen commented on #880
@wdanilo well, another solution could be to think about a way to display it without turning the help into a non-readable mess...

[2020-03-17 08:20] mleguen commented on #880
@wdanilo could you please open another issue to deal with this?

[2020-03-17 08:26] mleguen commented on #1593
@ffMathy I am not sure what exactly your question is. Are you asking if yargs supports handling commands such as `my-app build`, `my-app bundle`, etc. ?

[2020-03-17 08:29] mleguen commented on #1590
@wdanilo I cannot see any difference in the 2 code samples you give?

[2020-03-17 12:20] zypA13510 commented on #880
@mleguen I think #1145 is exactly what @wdanilo wants. There is no need for another issue.

[2020-03-17 12:34] ffMathy commented on #1593
More specifically, I am interested in replicating this part:

In other words, an optional parameter that can be repeated X amount of times (the `[-f ...]` part or the `[ARGS...]` part), and then displaying the "help" exactly like the output above (custom formatting of Help).

[2020-03-17 13:19] mleguen commented on #1593
@ffMathy

You should try:
[code]

In that case you must disable the default help with `.help(false)` and display your custom help by yourself (for example when a `--help` flag is set).

[2020-03-17 15:13] ffMathy commented on #1593
Thank you so far.

If I were to format the help message myself, would I have to provide a hard-coded string, or can I instead provide a function?

For instance:

`.help(({options, positionals}) => "List of options: " + options.map(x => x.name).join(", "))`

?

[2020-03-17 15:30] ffMathy commented on #1593
Also, I tried with the following command module:

[code]

But when I invoke it using:

`compose -f lol -f omg up`

I get:

[code]

I would expect to get `COMMAND` set to `up`. Also, I don't need the `farg` that it sets - it should only be there in the description of the command.

[2020-03-17 15:57] mleguen commented on #1593
@ffMathy

`.help` is only the function to call to enable/disable the automated help, not the place to provide your custom help.

After the automated help is disabled with `.help(false)`, you have to display your custom help by yourself, either in command handlers, or in your main code after the call to `yargs.parse()`.

The comand property you gave:
[code]
means you want the 1st positional to be n

[2020-03-17 16:32] ffMathy opened #1594 "Disable version command"
I can't seem to find any documentation on how to disable the "--version" option.

[2020-03-17 19:13] bcoe commented on #1594
simply set `.version(false)`, see: https://github.com/yargs/yargs/blob/master/docs/api.md#versionoption-description-version

[2020-03-17 19:13] #1594 closed

[2020-03-17 19:14] bcoe commented on #1590
@wdanilo I think thinks will work as you expect if you also add the key:

[code]

to provide a hint to the parser that `frame` is a boolean argument.

[2020-03-18 12:20] ibm-demand commented on #1310
Worked for me as well

[2020-03-19 05:18] Lalitha-Iyer commented on #873
The strict mode is not useful in its current form.
@mleguen +1,  can't see why this won't work.

[2020-03-24 01:01] tianyingchun opened #1598 "The updateStrings() could not work on 'Options:'"
[code]
the `Options:` location update can't work correctly.  cause of
[code]
while we show help like `cmd -h` the defaultGroup has been initialized earlier that updateLocale().

it's bug?     `BTW  yargs v15.1.0  works fine.`

[2020-03-24 03:59] bcoe commented on #1598
@mleguen I think there were some tweaks to translations recently that might have effected this?

[2020-03-24 08:24] mleguen commented on #1598
@bcoe It *does* is something I changed recently.

I should be able to have a closer look at this tomorrow.

[2020-03-24 18:23] Sparticuz opened #1599 "Key could be false boolean, or a string"
Hello,

Is there a way to allow a key to be a boolean or a string? For example, I'd allow '--no-attribute' which would give attribute a false boolean, as well as '--attribute inline' which would give attribute the value of 'inline'?

Thanks!

[2020-03-25 09:38] mleguen commented on #1598
@bcoe It definitely *was* something I changed recently...

Fix ready to review in #1600.

[2020-03-25 19:21] rriemann opened #1602 "set command line option to value starting with `--` (double dash) fails"
Dear all,

I have a tool with this option:

[code]

[2020-03-26 08:14] tianyingchun commented on #1069
any progress of this issue? or what's another choice for us if we wan't to know when the async handler has been finished?

[2020-03-26 10:08] mleguen commented on #1069
@tianyingchun Not much, I'm afraid. I hope I will have some time to be back on the "yargs async" file in the coming weeks.

[2020-03-26 10:18] mleguen commented on #1602
Reproduced with master:
- `.array()` and `.nargs()` seem not to be working with `--option=--value` (value is seen as an independant option)
- when `.array()` and `.nargs()` lines are commented out, `--value` is seen as the value of `option`, as expected

[2020-03-26 10:23] mleguen commented on #1602
I traced the issue back to yargs-parser and will open an issue there.

[2020-03-26 10:49] mleguen commented on #1602
Issue yargs/yargs-parser#261 opened.

[2020-03-26 11:07] tianyingchun commented on #1069
okay, i just wrap it using each command handler into new promise(), and emit `finished` event while any of command handler has been finished. it can fix my issue temporary maybe。 like:
[code]
[code]
  parse(argv: string[], callback?: YargsParseCallback<BaseArguments>) {
    const program = createCommander(this.options);
    this.commands.reduce((program, cmd) => program.command(cmd), program).pars

[2020-03-26 15:06] mleguen commented on #1602
Waiting for yargs/yargs-parser#262 to be merged upstream before fixing it in yargs.

[2020-03-26 18:41] bcoe commented on #1598
@mleguen I landed the yargs-parser fix and released it.

[2020-03-27 08:05] mleguen commented on #1598
Thanks @bcoe

[2020-03-27 08:08] mleguen commented on #1602
Fix released upstream (thanks again @bcoe). I will include it in yargs ASAP.

[2020-03-27 17:25] #1602 closed

[2020-03-27 17:26] bcoe commented on #1602
@rriemann if you get rid of your `package-lock.json` and reinstall fresh, this should already be fixed for you.

[2020-03-27 18:28] #1598 closed

[2020-03-27 22:07] NickHeiner opened #1604 "Options that are demanded appear in help text multiple times"
[code]

Produces this output:

[code]

Strangely, `f` appears twice. One, it's `[string]`, and the other time, it's `[required]`. Additionally, it only has one `-` the second time.

Here's a [runkit which repros this](https://runkit.com/nickheiner/5e7e787daefb7900139267fe).

[2020-03-27 22:15] bcoe commented on #1604
[code]

☝️ the `<foo>`, `[bar]` syntax is for positional arguments in `commands` (doesn't work for options). So you've created an option `f <x>` and an option `x`.

I would rewrite this as:

[code]

If you do want to define a command that takes positional arguments, take a look at the `.command()` documentation, it should do the trick for you 👌

[2020-03-27 22:15] #1604 closed

[2020-03-27 22:17] NickHeiner commented on #1604
Perfect! Thanks for the super fast response.

[2020-04-01 11:47] ffMathy opened #1605 "Programmatically invoke command?"
I want to make a CLI that can also be invoked directly. Is there a possibility to do that with Yargs?

For instance:

[code]

[2020-04-01 12:02] mleguen commented on #1605
@ffMathy Did you try `yargs.parse("my-command my-args")`?

[2020-04-01 12:03] mleguen commented on #1605
@ffMathy See https://github.com/yargs/yargs/blob/master/docs/api.md#parseargs-context-parsecallback

[2020-04-02 06:12] markus456 commented on #1323
A problem I'm seeing is with an application that requires both a `--password` option and a `<password>` argument for a command. Specifically, it's `node index.js --user my-user --password my-password create user newuser newpassword` that causes the problem.

In the application, the `--password` option is a root level command and the `<password>` argument is defined in a sub-command. From what I've

[2020-04-02 07:16] mleguen commented on #1323
@bcoe What about adding something like `.allowKeyReuse(false)`, which would throw when the same key is used twice?

This would be a non-breaking change to prepare minds that in *most cases* reusing a key is unwanted and can have nasty side effects.

And in a second time, we could make this the defaut, still allowing people to call `.allowKeyReuse()` when they *do* want to reuse a key for whatever

[2020-04-03 07:42] proppy opened #1611 "required positionals should support custom error messages"
It looks like there is no easy way to override error message for required positional argument:
https://github.com/yargs/yargs/blob/16ee006eb1597427c8a964b0f69d7b3ce8407ca2/lib/validation.js#L61

It would be nice if there was a mecanism similar to `demandOption` where a custom error string could be provided.

[2020-04-03 11:01] hongaar commented on #1069
I use this pattern suggested in an earlier comment on this PR. In the command handler, set a custom property on the `argv` argument:

[code]
https://github.com/hongaar/bandersnatch/blob/alpha/src/command.ts#L216

Then in `yargs.parse`:

[code]
https://github.com/hongaar/bandersnatch/blob/alpha/src/program.ts#L113

[2020-04-03 11:59] petr-motejlek opened #1612 "yargs.fail(...) example for re-throwing errors is broken"
Hi,

Firstly, yargs is a great library. Yet, I have been fighting with it for the past week, mostly looking at the docs and at the sources, asking myself, how the heck is this supposed to work together. There's really not that many real-life examples out there. (You know something like a use case for some well-known programs, say `docker`, and how to go about implementing a parser for their argume

[2020-04-03 12:11] mleguen commented on #1612
@petr-motejlek Help and suggestions on how to do it better is welcome!

[2020-04-03 12:36] petr-motejlek commented on #1612
Hey,

Hehe, that depends. To make the docs better, I think we need to do the real-life case study. I can certainly try to write something (I am using `terraform` quite a lot lately, and it has a rather od namespace-like way of parsing arguments, so that'd be interesting to try to parse) and we can see if the people here would suggest polishes; later, we can publish it. So, leave that with me.

Reg

[2020-04-08 06:07] fabis94 commented on #571
This is a pretty important feature, ES6 modules are pretty much standard now. Here's a workaround for anyone who found this thread:

[code]

Basically, I'm using the `visit` option of the `commandDir` method to take the module as encountered by yargs and return its default export.

[2020-04-08 06:13] fabis94 commented on #1067
I posted another solution here - https://github.com/yargs/yargs/issues/571#issuecomment-610769621
It'll work for anyone who wants to run the actual built JS files, instead of the TS source code,  if the JS code is built using ES6 modules.

[2020-04-08 15:06] mleguen commented on #1611
@proppy No, I'm afraid there is no way to do it at the moment.

@bcoe I think we should merge the required positional and required options validation. Not only would we simplify the validation code (which is my main interest here, to be honest :-)), but we would also allow the use of `.demandOption` for positionals, as is required here.

I will try to have a look at this once `lib/command` and `ya

[2020-04-08 20:24] bcoe commented on #1611
This seems like a reasonable feature request.

@proppy, I think I'm not 100% sure what you're referring to with _"we should merge the required positional and required options validation."_, this might be a proposal I haven't read yet? I agree that we should land the TypeScript conversion first.

[2020-04-09 07:16] mleguen commented on #1611
@bcoe I was thinking about:
- allowing `demandOption` property for positional options (with a check that it can be truthy only if the positional is required)
- making `.addHandler('cmd <req> [opt]'...` calling `.positional('req', { demandOption: true })` and `.positional('opt', {})`
- removing `positionalCount()` as required positional presence would already be checked with other required options

[2020-04-09 11:09] dmoini opened #1616 "How to require non-hyphenated option before hyphenated options?"
Is it possible to require the first `n` arguments called after the command to be a non-hyphenated argument and then everything else afterwards can be either hyphenated or non-hyphenated?

Examples:
- `command arg1 --option1 value1 --option2 value2` (valid for `n=1`)
- `command arg1 arg2 --option1 value1 --option2 value2` (valid for `n=2`)
- `command --option1 value1 --option2 value2 arg1` (invalid

[2020-04-09 12:10] mleguen commented on #1616
@dmoini I don't think it is possible at the moment.

Could you please describe the use case behind this technical need? Perhaps we could find alternatives.

[2020-04-09 21:36] dmoini commented on #1616
If I am trying to make a CLI with the ability to upload and download files. For example, the command would be run in the format of `command [upload|download] [options]`. It would look like the following:

`command upload --option1 value1` or `command download --option1 value1 --option2 value2`

Since yargs does not check the ordering of non-hyphenated arguments in relation to hyphenated arguments,

[2020-04-10 07:13] mleguen commented on #1616
What you describe in yargs' terms is command being a command, and download and upload its subcommands.

However, Yargs will not forbid your users to specify options before the subcommands.

Why don't you want your users to be allowed to do so, when they can do it with other CLI tools?

[2020-04-10 07:21] dmoini commented on #1616
Subcommands is definitely what I am looking for. It is just a personal preference. If yargs is unable to do so, then that is fine.

[2020-04-10 12:18] hogashi opened #1617 "Bad/not enough Japanese translation"
### must

- It seems that the translation for "Given" in Japanese is wrong: https://github.com/yargs/yargs/blob/262e796329f4a09083ca07e49f926ae43ac850e9/locales/ja.json#L37
  - `指定できるのは %s つです。` means "you can give %s" ( `%s` is expected to be the number of option such as 1, 2, 3)
  - It should be `与えられた値: %s` which means "the value that you gave me: %s"

### may

- The word correspond to "value"

[2020-04-10 12:27] mleguen commented on #1617
@hogashi Thank you for pointing this out. Would it be possible for you to fix these files and submit a PR?

[2020-04-10 12:30] hogashi commented on #1617
@mleguen Thank you for your reply, too. Yes, I will submit PR for this!

[2020-04-10 13:28] hogashi commented on #1617
@mleguen I have just made a PR for this issue. Would you please take a look? #1619

[2020-04-11 12:04] libinvarghese opened #1620 "Parsed Objects via dashed-options does not produce correct camel-case options"
When providing an objects via object path options, to a dashed-option name, the generated camel-case option is not generated correctly.

[code]

From the output you will notice that parse *dashed options* (`filter-module` and `pattern-string`) are valid, while the *camel case options*(`filterModule` & `patternString`) are incorrect.

**Expected Behaviour**
[code]

**Actual Behaviour**
[code]

You

[2020-04-12 00:30] cameronus opened #1621 "Is it possible to create a command that only runs when no positional argument is specified?"
I am attempting to offer the following commands:
[code]
I can achieve the functionality of the first command (with no positional argument specified) using the default command handler, but this means it is also accessible using any other random positional arguments, like:
[code]
This would also trigger the default command handler, instead of an error warning the user that this command does not exis

[2020-04-12 00:45] aorinevo commented on #1621
I think you can leverage the middlewares api to achieve this - there might be others too.  That is, you can bind the middleware to a specific command and have it execute whatever logic you want given the desired conditions (i.e. no positional arguments).

In a similar fashion, but with obvious performance trade-offs, you can bind a middleware function to every cli command.

There might be other ap

[2020-04-12 01:02] cameronus commented on #1621
I'm not sure how middleware could be used here. If you mean that I could manually handle all of the commands and options through the middleware functions, then yargs' argument parsing capabilities aren't being utilized and I might as well do everything manually. Would there be any way to handle only cases in which no positional arguments are specified?

[2020-04-12 12:10] aorinevo opened #1622 "Dependency Management Automation"
_Note: this is a port of https://github.com/NerdWalletOSS/shepherd/issues/111_

## Narrative

As a yargs collaborator and contributor, I want a quick and easy way to keep dependencies up-to-date and reduce the overhead associated with releases.

## Proposed Change

The proposed change is to integrate renovate, renovate approve, semantic commits (already done), and semantic-releases.

With the righ

[2020-04-12 13:34] aorinevo commented on #1622
Note, yargs already implements release automation via release-please and dep management via renovate.

There's marginal ROI in switching to a different tool chain.

[2020-04-12 13:34] #1622 closed

[2020-04-12 19:49] #1617 closed

[2020-04-12 19:53] bcoe commented on #1586
@mleguen I have a thought about the final conversion of `yargs.js` and `index.js` to TypeScript, could we use [@types/yargs](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/yargs/v13/index.d.ts) as the foundation:

1. it's approach to reflection is sophisticated; it's clever about making the response object from the parse match the configuration options you've configured.
2. i

[2020-04-12 20:07] cameronhunter commented on #1586
Some thoughts:

As a first step you could pull the type definitions into`yargs` and publish them yourself; that way they're under your control. Continue to publish JS, add a `types` field to `package.json`.

As long as you conform to the type interface, the migration of the implementation to TS should just be patch releases.

Eventually when your migration is complete you can publish types generat

[2020-04-13 21:06] #1616 closed

[2020-04-14 07:30] mleguen commented on #1621
@cameronus What about using `.strict()`? It would cause `cli-tool foobar` to fail because `cli-tool` would have too many positionals (0 expected, 1 provided).

[2020-04-14 07:42] cameronus commented on #1621
@mleguen Unfortunately `.strict()` doesn't work per my testing. I could be implementing it incorrectly, so I will provide the code I am using.
[code]
Running `cli-tool foobar` still yields `first command` and not a positional argument error.

[2020-04-14 08:59] houcy opened #1623 "How to get the defualt argument content?"
Hi there,
This yargs is very powerful and useful in my project. But I don't know how to get the correct argument. I wrote code as below.

const argv = require('yargs')
    .command('*', 'the sb3 file handler', () => {}, (argv) => {
               console.log('sb3 file name:' + argv);
    }).argv;

So the program can be run with argument as below:
myprogram  c:\app\test.sb3

myprogram need to accep

[2020-04-14 12:04] mleguen commented on #1623
Then you should define filename as a positional argument, to be able to read it from `argv.filename`:
[code]

See: https://github.com/yargs/yargs/blob/master/docs/advanced.md#positional-arguments

[2020-04-14 12:28] houcy commented on #1623
Thanks mleguen for your kind reply!

myprogram runs on Windows platform and associates filename suffix with .sb3,  so when double clicking *.sb3 file,  windows operating system automatically pass the full filename to myprogram as argument. And the OS doesn't add positional-argument, it just send the .sb3 full filename.

Say when double clicking *.html file,  the default browser program accepted th

[2020-04-14 12:43] houcy commented on #1623
Great thanks to you!
The arguement is successfully retrieved.

[2020-04-14 12:43] #1623 closed

[2020-04-15 07:08] mleguen commented on #1620
Reproduced on master branch.

[2020-04-15 08:42] mleguen commented on #1620
I traced and fixed the bug upstream, see yargs/yargs-parser#267 and yargs/yargs-parser#268.

Waiting for the fix to be merged and released there.

[2020-04-15 09:15] mleguen opened #1625 "Unknown arguments of default command are not reported in strict mode"
Follow-up of #1621

The strict mode is tweaked to allow unknown arguments when not using commands (for historical reasons), but this tweak impacts default command unknown arguments validation (unknown arguments not reported).

[2020-04-15 09:16] mleguen commented on #1621
@cameronus

Well, it should. I'm fixing this.

[2020-04-15 16:01] aletorrado opened #1627 "Should merge dot-notation values from argv when `deep-merge-config` is `true`"
Hi! I've noticed that recently a new configuration option called `deep-merge-config` was added to deep merge objects when a extended config file is used. This same behavior should be applied in the case a dot-notation value is used in the argv.

This way, if I have this config:

[code]
I should be able to override the port number by appending `--redis.port 6380` to the command.

Thanks!

[2020-04-16 05:36] houcy opened #1628 "How to get zero or one argument?"
Hi there,

I wrote myprogram to accept zero or one argument as below:

const argv = require('yargs').command('* <filename>', 'the sb3 file handler', () => {}, (argv) => {
        console.log(argv.filename, 'utf8');
    }).argv;

When running myprogram.exe, if there is one argument, it run successfully. But it crashed when no argument was passed to it. The crash log shows as below:

myprogram.exe

[2020-04-16 06:04] iameli commented on #821
This _almost_ works; I'd expect it to work given the double-underscore subfield syntax:

[code]

[code]

So, this works as a workaround with `.coerce()`:

[code]

[2020-04-16 06:37] houcy commented on #1628
problem fixed by checking if the property exists first.

[2020-04-16 06:37] #1628 closed

[2020-04-16 07:14] mleguen commented on #1628
@houcy Instead of checking it first, you only have to write `.command('* [filename]', ...` to indicate you want an optional positional argument.

See https://github.com/yargs/yargs/blob/master/docs/advanced.md#positional-arguments

[2020-04-16 20:54] bcoe commented on #1620
@mleguen just released your patch to yargs-parser, a fresh install should fix this issue 👌

[2020-04-16 20:54] #1620 closed

[2020-04-17 07:46] mleguen commented on #1620
OK for me, thanks @bcoe

[2020-04-17 20:46] laggingreflex commented on #1408
I'd like this too.  I'd also like to have aliases for choices while we're at it. I can help with a PR. @bcoe?

[2020-04-17 20:51] laggingreflex commented on #793
How would dynamic choices be documented (for --help)?

[2020-04-19 15:53] kilianc commented on #793
@bcoe I think we have enough workarounds here to get the job done without expanding the original API, which is healthy. It would be nice to add some documentation and link to this thread!

[2020-04-23 07:23] mleguen commented on #793
@kilianc Would you mind summarizing this discussion into a doc PR?

[2020-04-24 15:09] 1dotd4 commented on #1516
# true opensource!

[2020-04-24 15:12] 1dotd4 commented on #1516
[code]

`yargs` doesn't use `myHelp` and it's related to `help(false)`.

[2020-04-26 08:35] sqren commented on #1145
`showDefaultInHelp` would be super useful.

[2020-04-26 15:38] ghost opened #1630 "How to use option without command (for example: <commandName> --option)?"
Hello, I'm Wojcraft. I want to create very simple cli with yargs, but i have problem. I was looking for this problem in google, but I didn't find the answer, that's why I'm asking here. If this question repeats, please direct me to the original question. Thanks :).

[2020-04-27 03:35] jedidiahkkh commented on #1392
Yes, I'm facing this trouble too.

It seems strange that unlike the optional arguments, we can't use `type: 'array'`.
I'm thinking either allow `type: 'array'` to be declared for positional arguments, or for variadic arguments `type: 'string'` will automatically yield an argument type of `Array<string>`, not sure if there's a better way to do this?

[2020-04-27 06:48] mleguen commented on #1630
@WojCraft With `.option()`, see https://github.com/yargs/yargs/blob/master/docs/api.md#optionkey-opt

[2020-04-28 12:52] franktopel opened #1631 "v7.1.0's package.json claims "version": "6.6.0""
https://github.com/yargs/yargs/blob/7.x/package.json

![image](https://user-images.githubusercontent.com/10668603/80489448-20e58580-8960-11ea-8f1b-7223e8a4d681.png)

[2020-04-28 17:08] mleguen commented on #1631
@franktopel Thanks for pointing this, but 7.x is a more than 2 years and 8 major versions old release, so it is rather unlikely it will be fixed.

[2020-04-28 17:23] bcoe commented on #1631
echoing @mleguen we're unfortunately unable to support this many versions back. Out of curiosity, why are you pinned on such an old version?

[2020-04-28 17:23] #1631 closed

[2020-04-28 20:56] franktopel commented on #1631
We are getting this as a dependency in our `package-lock.json`. Unfortunately, `yargs 7.1.0` requires `"yargs-parser": "5.0.0"` which has a known security vulnerabilty that shows up in our Sonatype Nexus reports.

Neither our `package.json`'s `dependencies` nor `devDependencies` lists `yargs`. So far, I wasn't able to determine what causes `"yargs": "7.1.0"`  to end up in our `package-lock.json`.

[2020-04-29 07:10] mleguen commented on #1631
@franktopel Your package-lock.json should contain the hierarchy tree of your installed dependencies, so you should be able to recursively find which root dependency in your package.json causes such an old version of yargs to be required.

Another solution would be to run `npm audit` in your project root: it should relate the security vulnerability for this old version of yargs and the dependency p

[2020-04-29 07:21] franktopel commented on #1631
As I'm getting this as a "first-level" dependency in my package-lock.json, asking the tree cannot help me.

[code]

These are our `dependencies` and `devDependencies`:

[code]

[2020-04-29 07:34] franktopel commented on #1631
As I'm getting this as a "first-level" dependency in my package-lock.json, asking the tree cannot help me.

[code]

`yargs` as well as `yargs-parser` are both directly underneath the top level `dependendies`.

These are our `dependencies` and `devDependencies`:

[code]

[2020-04-29 08:01] mleguen commented on #1631
@franktopel This isn't the way you should look at your "package-lock.json" : don't look at yargs' root entry, but at the packages which have yargs as a dependency.

[2020-04-29 08:04] franktopel commented on #1631
@mleguen Can you please elaborate? What does this root entry mean, and how do I find out where it comes from?

[2020-04-29 09:00] mleguen commented on #1631
@franktopel In your package-lock.json, don't look at yargs' entry in the topmost dependencies property: you only learn from it that yargs was installed, but you don't know why.

Instead, look for yarg's entries in other places of the file: you will learn which package required yargs and caused it to be installed.

Then repeat this search to find why this package was installed, etc., until you find

[2020-04-29 10:51] franktopel commented on #1631
I experimented with yarn and by the looks of it, the package that brings us yargs 7.1.0 is gulp-cli.

[2020-04-29 12:12] mleguen commented on #1631
That's it.

May I suggest you open an issue on gulp-cli to ask them to upgrade the version of yargs they depend on?

[2020-04-29 14:25] franktopel commented on #1631
They already have four tickets related to this, but apparently they have difficulty upgrading yargs.

[2020-04-30 07:16] mleguen commented on #1586
@bcoe @cameronhunter I modified the proposed type naming strategy to integrate your suggestions. Would that be OK for you?

[2020-05-01 05:32] Benjin opened #1637 "First argument is lost when variadic arg is explicitly specified"
[code]

Arg not explicitly specified (good output):
[code]

Arg explicitly specified (bad output, expected to match above):
[code]

[2020-05-01 18:37] bcoe commented on #1586
@mleguen "5." looks great.

[2020-05-02 12:58] bitliner opened #1638 "Feature request: add stability to commands and options"
**Context**

Sometimes a command could be not stable yet.

Same for command options of a stable command.

A similar scenario is NodeJS standard API. Node JS manages 3 levels of stability (see [here](https://nodejs.org/api/documentation.html#documentation_stability_index) )

- stability 0 - deprecated
- stability 1 - Experimental (eg Use of the feature is not recommended in production environments)

[2020-05-03 15:12] roryokane opened #1639 "Explain in docs why .reset() is deprecated, or un-deprecate it"
## Documentation problem

The [`.reset()` API documentation on https://yargs.js.org/docs/](https://yargs.js.org/docs/#api-reference-reset-deprecated) starts like this:

It doesn’t explain why `.reset()` is deprecated or what to use instead. This is bad because it’s the only option I see for my use-case, but it leaves me wondering if some bug will eventually bite me.

My use-case for `.reset()` is

[2020-05-03 15:41] roryokane opened #1640 "Display multi-line examples with trailing indents so the lines look like a single example"
## Problem

My CLI defines two examples, and one of them has both a long command and a long description. Here is a simplified version of my `yargs` setup:

[code]

When I run `ts-node index.ts --help` (indirectly through a script in `package.json`), the output looks like this:

[code]

The problem is in the Examples section, it looks like there are three examples – the second one is `cat myTranscr

[2020-05-03 16:42] garyo opened #1641 "Typescript type for choices doesn't work; have to cast "default" value"
I'm using yargs 15.3.1, and the following test program, modified from the typescript example, doesn't compile:

[code]

It gives the following typescript error:
[code]

It seems to be the "default" line indicated above. Changing that to:
[code]
fixes it. A doc update to mention this would be helpful to newbs like me.

[2020-05-03 23:48] roryokane opened #1648 "Promote the non-singleton interface, require('yargs/yargs'), as the default"
## Background: problems with the singleton interface

When I set up Yargs in my command-line app, I learned how to use Yargs from two places: the main documentation page at https://yargs.js.org/docs/ and the examples [in `docs/examples.md`](https://github.com/yargs/yargs/blob/master/docs/examples.md), which I found by searching the web for “yargs example”. According to these instructions, I import

[2020-05-04 02:13] roryokane commented on #1648
Related: I see that https://github.com/yargs/yargs/issues/1360#issuecomment-511173922 mentioned the idea of dropping the singleton interface in a future version of Yargs. That idea wasn’t discussed further in that thread though.

[2020-05-04 10:46] jgehrcke opened #1649 "Single positional (required) arg with Typescript support: I failed at building this"
I just spent more than one hour trying to write an example program which accepts
- one positional argument `url` of type string
- emits help text if not provided

At the same time I wanted for Typescript to know that the corresponding property `url` is defined and of type string.

I could not get this working.

I am new to yargs and also still rather new to Typescript so maybe I failed in an embar

[2020-05-06 05:00] russellrobinson opened #1651 "Creating a parameter called "version" silently breaks"
This code fails to work:
[code]

The result is the parsed arguments always have `version: false`

It seems "version" is an undocumented special word to yargs.

[2020-05-06 07:29] mleguen commented on #1637
Also note that:
[code]

So:
- either positionals should overwrite options, and `foods` should be empty here
- or they should be concatenated and `foods` should equal `[apple, carrots]` in @Benjin 's 2nd example

[2020-05-06 07:31] mleguen commented on #1638
@bcoe Couldn't that be an evolution of the recently added deprecated feature?

[2020-05-06 07:36] mleguen commented on #1639
[code]
This should not be the case: could you please give us some code reproducing this?

[code]
Did you try building a fresh yargs instance before each test, instead of reusing and resetting the same instance each time?

[2020-05-06 08:36] petriusus opened #1653 ".demand and .demandCommand"
Maybe I missunderstand something, but the only thing that works to demand a command is .demand, and not .demandCommand.

Error when using demandCommand: .demandCommand is not a function.

npm: yargs 15.3.1.

[2020-05-06 08:38] mleguen commented on #1651
`--version` is already an option displaying the cli version. You have to disable it first with `.version(false)` to be able to reuse it for something else.

See https://github.com/yargs/yargs/blob/master/docs/api.md#version

[2020-05-06 08:40] mleguen commented on #1653
Could you please provide some code to reproduce?

[2020-05-06 08:41] petriusus commented on #1653
Sorry, sure:
argv = require("yargs").demandCommand(2).argv;

[2020-05-06 08:45] petriusus commented on #1653
Ohh no.. My bad. Npm was out of sync on my testing machine.

Sorry for wasting you time.

Thank you for a fast response.

[2020-05-06 08:48] #1653 closed

[2020-05-06 09:29] russellrobinson commented on #1651
Yes, we discovered that.  But we lost 2 man hours because of this problem.

[2020-05-06 11:48] mleguen commented on #1653
@petriusus No problem, glad to see you found what was wrong.

[2020-05-06 11:50] mleguen commented on #1651
@russellrobinson Do not hesitate to submit a PR to rephrase the doc if you think it could save some time to someone else facing the same problem.

[2020-05-06 11:50] #1651 closed

[2020-05-06 20:47] bcoe commented on #1638
@mleguen yeah, I think that's a good idea. @laggingreflex thoughts on this one?

[2020-05-06 20:48] bcoe commented on #1637
thanks for the bug report, definitely seems like something we should address.

[2020-05-06 22:08] laggingreflex commented on #1638
Yep, I like this too. This does seem to be a direct evolution.

We can change `deprecated:bool|string` API to `stability:string`?

[2020-05-06 22:09] Benjin commented on #1637
Wouldn't "overwriting options" mean `foods` would just be `'carrots'` in that example?

Should it even be valid for a parameter to be specified twice?  I think I'd expect an error in that case, because otherwise we're guessing at the user's intention, as I think both concatenation and overwriting are equally iffy.

[2020-05-07 00:45] roryokane commented on #1639
]?

Sure: it’s the [state of the code][commit-tree] after [this commit][commit] of my open-source project. In that commit, you can see I added a `yargs.reset()` call to `cli_arg_parsing.ts`. If you remove it locally, you will see failures when running `npm test` (which calls the Jest test runner).

How to reproduce locally:

1. `git clone https://github.com/roryokane/Transcribe-xsc-file-converter`

[2020-05-07 00:57] roryokane commented on #1648
If you want more detail about the first of the two problems I had with the `yargs` import:

See my explanation and reproduction steps in https://github.com/yargs/yargs/issues/1639#issuecomment-624964960.

[2020-05-07 05:24] sangaman commented on #1174
I also expected the "expected behvarior" in the OP here. At a minimum, you should be able to describe the two different positional argument aliases separately. What's the point of having an alias if they must be described the same?

The yargs docs provide an example of `yargs.command('get <username|email> [password]', 'fetch a user by username or email.')`. It would currently be impossible to desc

[2020-05-07 07:32] mleguen commented on #1639
I mean using `yargs` as a function, either required from `yargs`:
[code]
or `yargs/yargs`:
[code]
which would return a new yargs instance, instead of using it as an object:
[code]
which is always the same instance, initialized the first time the module is loaded (the so-called singleton mentioned in the docs - but maybe cryptically - here: https://github.com/yargs/yargs/blob/master/docs/advanced.m

[2020-05-07 07:38] mleguen commented on #1648
I am personally not fond of the singleton API, which I do not use. So I think promoting the regular API as the standard one, as a step towards deprecating then removing the singleton API in a future version, is a good idea.

[2020-05-07 16:29] suhaig opened #1655 "Specifying environment variable names"
The only feature I'm missing from this great library is the possibility to specify environment variable names for options. Something like this:
[code]
It is "2. The Explicit Approach" mentioned [here](https://github.com/yargs/yargs/issues/305#issue-119401740).

Saying `default: process.env.OTHER_THAN_OPTION_1` is not a good option, because the precedence is:
1. Command line args
2. Env vars
3. Con

[2020-05-07 20:20] william-richard commented on #1442
I've run into this same problem, where I had an option with a string default value, and I was thinking `implies` would just apply if someone overrode that default.  Instead, I saw the same behavior as you.
Here's an example:
[code]
I would expect that `implies` to enforce its behavior only if someone passed a different value to the `verify` option.

[2020-05-09 04:31] Niceplace commented on #1649
Hey there ! Also using Typescript, I've played semi extensively with yargs so I might be able to help out a bit.

I was not entirely sure where the confusion related to positional arguments comes from but now that I re-read the docs, I don't see any clear indication. In practice,  they have to be formatted as `[requiredPositional]` and `<optionalPositional>`. I don't remember where I read that but

[2020-05-09 04:34] Niceplace commented on #1641
Sweet ! I had the same issue and using your workaround to cast the default value worked !

[2020-05-10 00:19] #1625 closed

[2020-05-11 10:37] SkeLLLa opened #1658 "[q] How onFinishCommand works with commandDir"
Does `onFinishCommand` work with `commandDir`? And if it does, then how it should be configured?

[2020-05-11 11:45] mleguen commented on #1658
@SkeLLLa Yest, it should work with `commandDir`, and the configuration should be the same as with `command`, as the same handler is used for all commands.

Have a look at the example in the docs here:
https://github.com/yargs/yargs/blob/master/docs/advanced.md#command-finish-hook

[2020-05-12 21:39] hashtagchris opened #1659 "command string doesn't support required, named arguments"
The `usage` string supports required, named arguments (see [area.js example](https://github.com/yargs/yargs/blob/master/docs/examples.md#tell-users-how-to-use-your-options-and-make-demands)), but the `command` string does not.

commands.js

[code]

`./commands.js area -w 8.5 -h 11` fails with "Not enough non-option arguments: got 0, need at least 2"

Tested with `yargs@15.3.1`, `yargs-parser@18.1.

[2020-05-13 07:15] mleguen commented on #1659
Only positionals (ie non option arguments) can be defined in the command string. Option arguments are to be defined in the builder property, see https://github.com/yargs/yargs/blob/master/docs/api.md#commandcmd-desc-builder-handler.

[2020-05-13 15:50] hashtagchris commented on #1659
Thanks @mleguen. Is there is a way to provide a usage string for commands with required options for `--help`? The best way I've come up with is to add it to `describe`.

[code]

[code]

[2020-05-14 07:10] mleguen commented on #1659
@hashtagchris I strongly recommend you read the doc for a better understanding of yargs. For options (including descriptions), see : here: https://github.com/yargs/yargs/blob/master/docs/api.md#optionkey-opt

Do not hesitate to submit a PR to suggest docs rephrasing if things are not clear.

[2020-05-15 18:15] bcoe commented on #1659
@hashtagchris @mleguen I'd love to know if there's more stuff we could call out in the top level README, what's the minimal set of features that get people on their feet with yargs.

Commands and Positional arguments are new in yargs' history, but seem to be one of the features people love to use the most.

[2020-05-15 18:38] bcoe commented on #1586
_@mleguen I've added additional functionality to our publication that allows us to publish candidate releases (just add the label `publish:candidate` to the release PR)._

Doing this I released a candidate release of yargs with your TypeScript work ... It's pretty darn close to the same size as our non-typescript release at this point:

[code]

vs.,

[code]

This makes me happy and is really promi

[2020-05-18 06:57] mleguen commented on #1659
@bcoe

This kind of comment remind me I am a youngster in yargs' history: they are the reason I came first to yargs :-D

[2020-05-18 18:53] fbartho commented on #924
I'm also struggling to get Epilogue to work using the `.options()` helper.

I know this is an ancient issue, but I figured I'd reply too.

[code]

Version: `yargs@13.3.0`

[2020-05-18 18:59] fbartho commented on #924
Workaround based on @bcoe's helpful comment!

[code]

[2020-05-19 16:02] jtbennett opened #1660 "Can't override --version"
I'm using `yargs@15.3.1`.

With `yargs.version(false)` I can disable the `--version` and `-v` options. However, this sets the value of `argv.version` and `argv.v` to `false` and prevents using those option names for anything else.

The value of an option declared like this:
[code]
is treated as a positional argument. It's as if the `--version` isn't in the command line at all.

I would like to use

[2020-05-20 13:44] quilicicf opened #1661 "Compatibility with deno"
Hi guys,

Do you have any plans to add compatibility for [deno](https://deno.land/)?

The 1.0.0 is out so it's a good time to think about it I guess.

I'd be thrilled to test it!

[2020-05-20 17:05] mleguen commented on #1586
I'm roughly halfway now of converting `yargs.js` to `lib/yargs.ts`.

I knew it would be the hardest part, but on the way I am learning much on yargs inner workings, and honing my type inference skills too, so I enjoy the ride! :-)

[2020-05-20 20:50] bcoe commented on #1661
I'm not sure what this entails, would happily accept a patch moving us in that direction? I would guess that we need to get the library fully migrated to TypeScript first?

[2020-05-20 22:16] Zelgadis87 commented on #883
@gempain @fgarcia That unfortunately also throws on valid commands with unrecognized arguments, which is not exactly the same the OP is asking for.
Unfortunately I have the same issue as the OP, since I have dynamic arguments. I would only need to check if the command is correct with arbitrary arguments.

[2020-05-21 16:19] gempain commented on #883
@Zelgadis87 then I guess you have to use `*`

[2020-05-22 08:26] quilicicf commented on #1661
To migrate to deno you need to perform the following actions (this is gathered from documentary research and trying to migrate one of my own npm modules, which lead me here :laughing:).

* Migrate imports from CommonJS to ES: :warning: this pushes minimum NodeJS requirement for your module to version 13+ (the 12 will be the LTS until Oct 2020 when the LTS will switch to 14)
* Migrate dependencies

[2020-05-27 14:35] hovancik opened #1664 "Handler for command with parse(array)"
Hi there,

I guess I am doing something wrong but / missing some detail ...

Here's my related code:
[code]

I would expect it to print `Adding notes` but I am getting this:

[code]

What am I missing?

[2020-05-27 18:14] bcoe commented on #1664
@hovancik `.parse()` assumes that the `bin` and `app` name aren't present, so I think you want to do: `.parse(args.slice(2))`.

[2020-05-28 22:30] TomerAberbach commented on #859
It'd probably still be nice for `yargs` to support async `coerce` callbacks natively, but for anyone else who wants a short-term solution, I wrote up the following middleware that allows you to use both sync and async callbacks for `coerce` (it works because middleware can be async):
[code]

[2020-05-28 22:31] adjkilgore opened #1665 "yargs-parser 'strip-dashed' option is incompatible with yargs option names"
When specifying a command option (e.g. component-version), it is automatically converted to camel-case in the parsed object (i.e. componentVersion).

When using the _strip-dashed_ option to remove the non camel-case version, yargs fails validation, because the non camel-case option is missing.

Related Code
`
yargs
    .commandDir("./commands", {extensions: ["js", "ts"]})
    .demandCommand()

[2020-05-29 11:25] lhecker commented on #794
This issue is >3 years old. I'll close it for now to keep this project's issue list clean. :slightly_smiling_face:

[2020-05-29 11:25] #794 closed

[2020-05-29 15:56] mleguen opened #1666 "unexpected argsert error in tests are silently ignored"
Found while working on #1586 .

argsert errors are caught and sent to console.warn, so tests do not fail. As tests not expecting argset errors do not check console.warn, they do not fail and these errors are silently ignored (but can be seen in the test output).

All tests should check console.warn (by redirecting it and throwing if anything is written on console.war for example).

To reproduce th

[2020-05-29 16:55] bcoe commented on #859
@TomerAberbach I've been threatening to do this, for perhaps a year, but I would like to sit down and write a design document for how yargs handles async ... these features have grown organically.

[2020-05-29 17:14] TomerAberbach commented on #859
@bcoe Let me know if you need any help! Feel free to ping me on the Slack

[2020-05-30 20:09] bcoe commented on #1586
@mleguen anything I can do to pitch in on the conversion of `yargs.js`? Perhaps you can push a branch.

[2020-05-31 06:23] mleguen commented on #1586
@bcoe Sure. I finished debugging on Friday, and should be able to push a PR after a final review on my side by Tuesday or Wednesday.

This PR will not yet include type inference on parse arguments, as @types/yargs does, as it would increase the review delay and complexity. This will have to be done later when working on d.ts files.

[2020-06-01 12:06] pigulla commented on #873
Any update on the issue? It's been over three years since this was initially raised :-(

[2020-06-01 15:56] cxsper commented on #873
any update?

[2020-06-02 15:44] mscoobby opened #1668 "Help command is picked up from dependency module"
Hello, I building a CLI support for an Electron application which initialise CLI or GUI based on the arguments passed on startup. Everything works great for declaring the commands and so but when I try to use the `--help` flag the application picks up a Yargs definition from a module that I have in my dependencies (auth0-deploy-cli) instead of the one I'm writing.
`import { scriptName, terminalWid

[2020-06-02 20:55] bcoe commented on #873
@cxsper @pigulla no updates, if someone wanted to draft a proposal PR for a potential solution, very much open to the contribution.

[2020-06-02 21:07] bcoe commented on #859
@TomerAberbach where things get a little sticky with coerce, is the method is actually applied in [yargs-parser](https://github.com/yargs/yargs-parser/blob/master/index.js#L649).

Which was designed to be synchronous.

How I might approach things, would be to allow `coerce` to return a promise, and then yargs would need to do post processing, where arguments are awaited before the parsed object is

[2020-06-03 02:31] TomerAberbach commented on #859
@bcoe I'd be happy to try to put together a design document. I expect to be a bit busy with other things in the next few weeks, but I'll see what work I can fit in. If I don't find the time, then I'll work on it a few weeks from now.

[2020-06-03 07:51] mleguen opened #1669 "Eslint v7 is incompatible with node 8 and eslint-plugin-import"
@bcoe Due to #1656, we have warnings now in `npm install` as `eslint-plugin-import` is not yet compatible with eslint v7:
[code]

Nothing seems to be broken in linting however.

Upgrading to `eslint-plugin-import@2.20.2` does not change anything.

[2020-06-03 22:45] bcoe commented on #859
@TomerAberbach sounds great 🙌

We're pretty close to the TypeScript conversion, so things might time really well, where we can take on the async problem immediately afterwards.

[2020-06-05 10:16] vipzhicheng opened #1672 "Combine same name command"
I mainly use yargs by commandDir to register commands, that will lead to same commands in different directory. When I run --help, they are all shown, but if I run the command, only last command effected.

I think maybe need to clean up commands array by command name before showing help. Is this idea reasonable?

[2020-06-05 10:25] vipzhicheng commented on #1672
Related code: usage.js

find:

[code]

add this line above:

[code]

It works for me, but don't know if has any bad effects.

[2020-06-06 13:24] mleguen commented on #1669
Eslint 7.2.0 no longer supports node 8, so our tests on master are now failing on an optional catch binding.

[2020-06-06 17:41] #1669 closed

[2020-06-06 19:34] alexcochran commented on #1525
What was your eventual solution for this? I'm having the same issue and can't figure out anything about what is going on.

[2020-06-09 04:00] astorije commented on #1174
Stopping by here as I stumbled upon the same issue. I'm defining a shared set of arguments/options for a bunch of commands (but they don't all have the same options so I can't define them globally).

In the meantime I'll have to define an extra `username-or-email` to be able to describe both, but it was nice to be able to re-use the description.

[2020-06-09 11:05] rulatir commented on #1525
Gave up on yargs in favor of Microsoft's solution.

[2020-06-09 16:09] alexcochran commented on #1525
I understand that. I went the [oclif](https://oclif.io/) route myself.

[2020-06-11 02:40] fa93hws opened #1675 "Passing "help" as the only positional arguments leads to printing the help message"
Say I have a cli tools that is implemented by yargs as
[code]

When passing the positional argument `"help"` to the command, it prints the help message instead of treating it as the positional argument...
Is that expected?

[2020-06-12 02:33] Grandclosing commented on #156
Sorry to necro an old post; but what's the status of this item? Does yargs support command-specific options?

[2020-06-12 03:58] insidewhy commented on #156
@Grandclosing It does, yargs is great, I always choose this argument parser.

[2020-06-12 05:43] G-Rath opened #1676 "--no-config does not stop config file from being loaded"
I've got the following:

[code]

This is working well, except that if I do `--no-config`, the config is still loaded if a file matching the default value exists.
It seems that `config` might be handled before the `--no`, as `config` is set to a value of `false` but properties from the `mypackagerc` are still loaded in.

`configParser` is also not passed the `false` value, so I can't detect it that

[2020-06-12 18:20] bcoe commented on #1586
**Feature Request:**

My colleague brought up the fact that if you have validation and coercion right now, you don't get good typing information.

Basically, he would like to coerce an option, after applying validation. You could do something like this with `middleware` but you don't get good types out the other end.

[2020-06-14 05:53] mleguen commented on #1675
Yes, it is expected. `.help()` creates both a `--help` option and a `help` command, so when you type `my-cli help`, the `help` command is triggered. See https://github.com/yargs/yargs/blob/master/docs/api.md#help

[2020-06-14 06:08] mleguen commented on #1676
The `--no-` prefix is intended to be used with boolean options (i.e. flags), not string ones. See https://github.com/yargs/yargs/blob/master/docs/api.md#booleankey

[2020-06-14 06:20] G-Rath commented on #1676
I noticed that, but it actually works regardless of type, which I think is a good feature.

In saying that, I looked into this further and I suspect it's not an easy thing to support; if I understand the code right, the `--no-` checking is done well after the `config` logic.

I think I've come up with a decent solution however:

[code]

So far it seems to be working completely fine; the only diffe

[2020-06-14 07:54] mleguen commented on #1586
Mind a small example?

[2020-06-14 14:54] mleguen opened #1678 "Drop Node.js 8 and 13 support and add Node.js 14 and 15 support instead"
- Node.js 8 and 13 are no longer maintained
- Node.js 8 is being dropped from yargs-parser
- Node.js 8 support prevents use from using latest versions of gts (for linting), eslint, and mocha
- etc.

[2020-06-14 15:00] mleguen commented on #1678
Do not forget :
- [ ] to upgrade the typescript target in `tsconfig.json` to es2017
- [ ] to look after To-dos in comments mentioning limitations of older versions of es or node

[2020-06-15 02:05] #1675 closed

[2020-06-15 23:27] bcoe commented on #1586
@mleguen here's where my colleague was attempting to use `coerce` and `choices` in conjunction:

https://github.com/grpc/grpc-node/pull/1474/files#diff-30899751cdd83c7ea9d8e583f66504c6R528

The problem is that coerce runs prior to `choices`. Independently of the TypeScript types, this seems like a bug.

[2020-06-16 17:57] fedecarg commented on #1069
If you are here like me, you found through Google that the callback function doesn't work.

If you only want to capture the output of your script, call your node script from another script and pipe the output:

[code]

Good luck.

[2020-06-18 16:13] gzaripov commented on #1655
Explicit variant is helpful when you want to find usages of that env in project, with .env(prfix) this is impossible

[2020-06-19 15:09] xiaoxiangmoe commented on #1678
@mleguen Add support for esm with conditional exports will be great.

[2020-06-19 21:13] ozum commented on #774
This seems to generate README.md from yargs:

https://github.com/EliseevNP/cli-docs-generator?spm=a2c6h.14275010.0.0.3f872e28CXGJFf

[2020-06-20 06:46] mleguen commented on #1678
@xiaoxiangmoe This is something we are talking about, and will be easier to do in a near future, as we are currently switching to typescript.

However, it will remain a tricky point as:
- we cannot stop publishing cjs modules before node 10 support is dropped (from memory, esm import is supported without experimental flags only from node 12)
- we do not want to double the package size by publishin

[2020-06-20 07:09] xiaoxiangmoe commented on #1678
[code]
This will report an error in mjs.

[code]
But this will perform well.

Should we encourage everyone to use default import in mjs?

[2020-06-20 16:03] xiaoxiangmoe commented on #1678
Are there any plans for this?

If I can know which modules we should export, I can submit a PR and write an index.mjs file.

[2020-06-21 06:38] mleguen commented on #1678
I'd like index.mjs to be a mix of current entrypoints: index.js and yargs.js. It should export:
- the singleton index.js exports as `yargs` (lowercase) not to change anything for people used to the singleton. By the way, you would have to refactor first Argv and singletonify into a separate `singleton` module in lib, as it would be used both in index.js and index.mjs
- our main function yargs.js e

[2020-06-23 21:10] MatthiasKunnen opened #1679 "Entering camelCase in yargs.options and using kebab-case in the cli"
I have not found a way to do this and would like to do the following. Given the following config, `noProgress` should be in the resulting argv but the CLI help and parser should use `no-progress`. This follows both conventions for camelCase in JS/TS and kebab-case in the CLI.

Code:
[code]

CLI help:
[code]

**why**
I want to use this approach instead of the camel case expansion because the camel

[2020-06-23 21:17] MatthiasKunnen commented on #1532
@bcoe, would you be open to a PR for this flag type?

Discussion: what would the value be in the resulting object in case the flag is not set? Not present? `undefined`? `false`?

[2020-06-26 21:15] astorije opened #1680 "Global epilogue"
Given the (very) simplified example:

[code]

`foo --help` displays the epilogue:

[code]

but `foo bar --help` does not:

[code]

In this sense, defining `epilogue` at the top-level acts differently compared to a top-level `options`.

It would be very helpful to be able to display the epilogue for all commands, instead of repeating it for all commands.
I understand changing the default behavior w

[2020-06-27 04:00] astorije opened #1681 "Document environment variables in the usage helper"
Alternatively to `.env()` (or in addition to it), some CLIs make use of environment variables and it would be useful to document their usage with Yargs, similar to the `.options()` API (though only for documentation purposes):

[code]

Resulting in the following `help` output:

[code]

One useful thing for example is to document environment variables a CLI might benefit from, but indirectly throug

[2020-06-27 14:52] mleguen commented on #1679
@MatthiasKunnen The types come from `@types/yargs` (a separate project) and are not a 100% match of what yargs really does. We are working at the moment to port yargs to typescript and publish native types. However, I doubt we will be able to include camel (or kebab) case expansion into the returned types.

That said, let's come back to your need. In your above example, you define the option name

[2020-06-27 15:25] mleguen commented on #1681
Although this is not exactly the feature you request, yargs already supports providing options through environment variables, with [.env](https://github.com/yargs/yargs/blob/master/docs/api.md#envprefix).

In your above example, by using `.env()`, defining `FOO` and `BAR` options should allow users to use either `FOO` an `BAR` environment variables or `--FOO` and `--BAR` options on the command lin

[2020-06-28 23:18] rluvaton opened #1683 "Add multiple examples at once"
The ability to add multiple example at once will make it easier to add dynamic examples (based on OS and capability)

[2020-06-29 14:20] mscoobby commented on #1668
I will be closing the issue since it is not Yargs fault. The issue is in the library I have as a dependency.

[2020-06-29 14:20] #1668 closed

[2020-06-30 14:40] #1683 closed

[2020-06-30 20:15] cs01 opened #1684 "generate static completions for faster results"
The yargs default completion functionality works nicely, but it's sluggish since it has to call into node compile with babel each time tab is pressed.

Is there a way to generate tab completions for a given yargs instance to make the tab completions feel instant?

[2020-07-01 11:04] fiznool opened #1685 "Consider renaming whitelist/blacklist in docs?"
Other open source projects and organisations are renaming certain terms to avoid offence. Two such terms are whitelist and blacklist.

After reading through the source, I realise that the only reference to these terms are in the docs, so it might be prudent to alter the documentation to remove these terms altogether?

[2020-07-01 11:06] fiznool commented on #1685
I can see

[2020-07-02 14:46] MatthiasKunnen commented on #1679
Converting between camel and kebab case is indeed not supported by TypeScript's type system.

My problem is that given the following code:
[code]

The CLI help is:
[code]
I would like the CLI help to display `--no-progress`.

[2020-07-03 18:37] bcoe commented on #1685
@fiznool would happily make this change, want to send a patch for where you saw this language?

[2020-07-06 20:27] abhishree1 commented on #1310
try  > argv.parse()

[2020-07-07 13:45] sibelius commented on #1659
is there a documentation of all the syntax support of yargs command as a string?

checking the examples I've found

[code]

the first string is the command name
`<compareUrl>` is a required positional parameter
`[paths...]` accepts all the rest of parameters as an array

is there something else?

I'm reading the parse command here

https://github.com/yargs/yargs/blob/ca59758c2f0da709ea66ff53704d30

[2020-07-08 20:15] bcoe commented on #1659
@sibelius there's a discussion of the DSL [here](https://github.com/yargs/yargs/blob/master/docs/advanced.md#commands).

[2020-07-10 19:35] BinarySoftware opened #1688 ".strict() works unexpectedly on macOS 11"
Hello,
I'm trying to solve an issue, where our app crashes while loading on macOS 11 beta, with yargs 15.3 (also tested with 15.4).
Here's the [code](https://github.com/enso-org/ide/blob/main/src/js/lib/client/src/index.js) - line 44. What's strange is that it all worked perfectly fine on all platforms, except on Big Sur.

## Expected result
Electron window opens

## Actual result
App crashes. Sol

[2020-07-13 09:30] willdurand opened #1690 "Missing CHANGELOG entry for v15.4.1?"
Hi, npm has a version [15.4.1(https://www.npmjs.com/package/yargs/v/15.4.1) of this package listed but I don't find any reference to this version in the changelog or even a tag. Could you please tell us what has changed between `15.4.0` and `15.4.1`? Thanks!

[2020-07-13 09:40] aloisklink opened #1691 "yargs.js.org is broken, since there is no version tag for v15.4.1"
Hi!

I'm not sure if the yargs.js.org website is affiliated with you guys, but it's currently broken.

It seems to be detecting the current version of yargs as v15.4.1 from npm, but when it tries to download the markdown from https://raw.githubusercontent.com/yargs/yargs/v15.4.1/docs/api.md, it's getting a 404 not found error, since there isn't a v15.4.1 version release tag on GitHub.

Possibly re

[2020-07-13 15:44] TANAYTAPANSHU opened #1692 "Update yargs-parser>=13.1.2 <14.0.0 || >=15.0.1 <16.0.0 || >=18.1.2"
This is the package.json file, I am getting one vulnerability  in my project

 "dependencies": {
    "cliui": "^4.0.0",
    "decamelize": "^1.2.0",
    "find-up": "^3.0.0",
    "get-caller-file": "^1.0.1",
    "os-locale": "^3.0.0",
    "require-directory": "^2.1.1",
    "require-main-filename": "^1.0.1",
    "set-blocking": "^2.0.0",
    "string-width": "^2.0.0",
    "which-module": "^2.0.0",

[2020-07-16 00:14] bcoe commented on #1692
👋 hey @TANAYTAPANSHU it looks like  you'er on a fairly old version of `yargs-parser`, running:

[code]

Should do the trick for you.

[2020-07-16 00:14] #1692 closed

[2020-07-16 00:15] bcoe commented on #1690
yargs@15.4.0 was published with decamelize@3.x.x which pulls in the whole unicode character set, making the library 12mb.

[2020-07-16 00:18] bcoe commented on #1690
this is now documented in releases.

[2020-07-16 00:18] #1690 closed

[2020-07-16 00:25] bcoe commented on #1691
this is fixed now, thank you for the bug report.

[2020-07-16 00:25] #1691 closed

[2020-07-16 00:27] bcoe commented on #1688
@BinaryBrain is there a stack trace you can provide? strict exits with the status code `1` rather than `0`, perhaps Big  Sur fails loudly on non-zero exit codes?

[2020-07-16 02:01] qwang07 opened #1693 "Error with commandDir: ENOENT"
ENVIRONMENT:
yargs: 15.4.1
node: v14.5.0

Here is my project structure:
[code]
In `main.js`:
[code]
when I using the command, it always show Error of ENOENT:
[code]
`/Users/qwang` is where I running the command, it will change if I running the command somewhere else.

[2020-07-16 08:01] paurush11 commented on #1310
write at the end - console.log(yargs.argv)

[2020-07-16 20:13] dlong500 commented on #1690
Was there a reason for not going with decamelize@4.x?  It dropped the xregexp dependency which I think is what caused it to be so large.  Just curious--I don't have any specific reason to need the later version.

[2020-07-17 09:28] jhiode opened #1694 "Inconsistent behavior of boolean and option in strict mode"
I found an inconsistent behavior of `.boolean(key)` and `.option(key, { boolean: true })`.

Here is an example:
[code]

As far as I understand the documentation, these two APIs should work the same, but only option b2 is actually working, option b1 is simply ignored:

[code]

Using it results in an error:
[code]

But it works in non-strict mode though:
[code]

It seems that the call to `self.descr

[2020-07-18 08:33] SergiMP opened #1695 "demandOption not working on yargs"
Good morning,

I am not sure what am I doing wrong, but demandOption is not working.
I can type `node app.js add` and it will work even without specifying the `title`.

Does anybody know why?

[code]

[2020-07-19 17:46] bcoe commented on #1695
@SergiMP you need a final step that actually runs the parser:

[code]

☝️ the above works for me. Let me know if you continue having any issues and we can reopen the issue.

[2020-07-19 17:46] #1695 closed

[2020-07-20 07:41] SergiMP commented on #1695
Thanks a lot!!

It works now! :)

[2020-07-22 06:10] NewFuture opened #1699 "colors bug in v15.4.1"
[code]

when run `my-cmd test`, it works with v15.3.1;

but it breaks in v15.4.1, because  `test`  is not matched with `colors.red('test')`

[2020-07-22 06:48] bcoe commented on #1699
@NewFuture It was unintended behavior that `colors.red('test')` ever matched the string "test"... as `colors.red()` adds ansi escape codes, meaning the string is actually something like `\u001b[31m`.

I'm honestly not sure that this feature is something we're interested in making an effort to support, it would complicate the internal representation of the command, and we'd need to make an active e

[2020-07-22 07:25] NewFuture commented on #1699
Thanks, @bcoe.
I mostly agree with you. but it worked in the early versions (a hidden breaking change?)

In addition, this behavior is a greate feature to create colorful commands.

[2020-07-23 19:05] dillonredding opened #1700 "Cannot find module 'cliui' from '../node_modules/yargs/build/lib/usage.js'"
There seems to be a problem when testing a command module (as recommended [here](https://github.com/yargs/yargs/blob/master/docs/advanced.md#testing-a-command-module)) while using the [`mock-fs` library](https://www.npmjs.com/package/mock-fs) (v4.12.0).

To recreate the issue, here is the bare minimum command module `foo.ts` (using `yargs` v15.4.1):

[code]

(You don't have to use `fs` to trigger

[2020-07-26 03:51] rehangit commented on #1102
This seems an old open issue. Is there any news about it? What is the workaround if any?

[2020-07-28 05:43] bcoe commented on #1102
@rehangit I think it would be best to close this, and if folks are bumping into problems with commands, we should open a new  issue with a more specific error.

[2020-07-28 05:43] #1102 closed

[2020-07-28 05:46] bcoe commented on #1699
@NewFuture happy to  keep this open as a feature request. I think it would have always been broken, for instance the commands likely would have not worked properly in a variety of places. tldr; even tough this behavior might have changed at some point, I don't think it's worthwhile taking a new major version for yargs, or to make an effort to revert the change that was the culprit.

[2020-07-28 23:03] fcastilloec opened #1701 "Change on strict behaivor was a breaking change, a.k.a strict only for unknown options"
I know issue #1625 is closed and #1626 merged, but this was a breaking change (major version) from what `yargs` used to do and should have been properly labeled.

I was actually using `strict` old behavior as the opposite of `strictCommand`, in other words, `strict` will only apply to unrecognized options and not commands/arguments.
I had a command that takes various filenames, and I was counting

[2020-07-29 02:54] G-Rath opened #1702 "Support completion as an option instead of a command"
I'm using `yargs` to write a cli tool that is itself the entire "command", meaning you run it by just doing `$0`.

This has been working well so far with strict mode, but when I enable `completion`, it stops working as it adds the command `completion`, and then starts complaining about the argv process args not being understood:

[code]

[code]

While I can hide the command using `completion('comp

[2020-07-29 15:08] astorije commented on #1681
Thanks @mleguen, you're correct that it's not what I'm looking for, but definitely good to know!

In particular, I had missed this part in the doc:

In case someone is happy with this method, this is how it would look like:

[code]

With this, the `--help` output looks like this:

[code]

And one can change those values with either `BAR=42 my-cli` or `my-cli --BAR=42`.

So in case readers are wond

[2020-07-29 20:36] G-Rath commented on #1599
I'd love to see official support for this: right now yargs mostly accepts `--no-<flag>` for any flag regardless of type without any problems.

So far the only time yargs behaves differently to how I'd like is with arrays: `--no-array-flag` results in `[ false ]` rather than `false` or `[]` (either would be appropriate for me - `false` could be considered the most consistent, but an empty array in

[2020-07-31 02:42] G-Rath commented on #1679
This also applies to the generated completions: they suggest `--noProgress` instead of `--no-progress`.

[2020-07-31 03:28] Grandclosing commented on #672
Hi all,

I was also looking for a way to make choices case-insensitive. I decided to just `coerce()` the arguments to look like what I needed. I didn't quite understand how to use `coerce()` from reading the documentation, but with some futzing, I got it working. I wanted to drop this here to save someone else time:

[code]

Note that options `addOptional` and `addOverrides` were of type `array` (

[2020-08-04 19:14] MatthiasKunnen commented on #1679
@mleguen, could you change the label from _question_ to _enhancement_ or _feature request_?

[2020-08-04 21:43] cspotcode commented on #1277
Has there been any update on this?

[2020-08-04 21:56] cspotcode opened #1704 "yargs.command(module) signature missing in YargsInstance definition"
I see that the source no longer declares the `command(module)` signature on `YargsInstance`, where you can pass a single options object describing the command.  Is this function signature intentionally being removed?

https://github.com/yargs/yargs/blob/master/lib/yargs.ts#L1449-L1456

I ask because it effects decisions I make writing yargs code.  If it's likely to be removed in the next release,

[2020-08-04 23:03] cspotcode opened #1705 "Add missing /// <reference>s to ./typings/*"
EDIT I was initially mistaken; I think the correct fix is to add `/// <reference>`s to the contents of `./typings/`.

This is only a bug if you intend for consumers of yargs to eventually be able to use the bundled `.d.ts` declarations instead of `@types/yargs`.  I don't know if you do or not.

Yargs imports modules which do not have type declarations.  With `"strict": true`, this is an error, whi

[2020-08-05 06:11] bcoe commented on #1705
CC: @mleguen.

[2020-08-05 06:30] bcoe commented on #1704
@mleguen can you speak to this design decision?

[2020-08-05 06:35] bcoe commented on #1701
@fcastilloec we try to avoid it, but sometimes someone is relying on an edge-case of a feature that isn't covered appropriately by tests, and we accidentally break due to an oversight such as this.

I would certainly be open to the idea of adding a new method like `.strictOption()`.

If you have the time, could you submit a failing test case for the behavior  was working and began failing for you?

[2020-08-05 06:36] bcoe opened #1706 "Road to ESM/Deno support"
With ESM modules [landing in Node 14](https://nodejs.org/api/esm.html), our ongoing effort to convert fully to TypeScript (which easily targets ESM), and Deno (which leverages ESM and TypeScript) reaching v1, **I think it's worth the effort to try to build yargs such that it targets all these environments**.

I did an initial [spike on yargs-parser](https://github.com/yargs/yargs-parser/pull/295)

[2020-08-05 06:36] bcoe commented on #1661
closing in favor of https://github.com/yargs/yargs/issues/1706

[2020-08-05 06:37] #1661 closed

[2020-08-05 06:37] bcoe commented on #1706
@QmarkC let me know if you're interested in taking on any of these tasks, and we can toss our names next to them as we do the work.

[2020-08-05 06:39] #1403 closed

[2020-08-05 08:33] quilicicf commented on #1706
I'll look around and see if I'm up to any of the tasks above but that'll have to wait until September, holidays are coming :)
Glad to see this become a target for yargs though!

[2020-08-05 09:30] mleguen commented on #1705
@cspotcode , as I can see only a proposed solution here, could you please also describe the issue itself: what did you do? What did you expect to happen? What happened?

[2020-08-05 09:37] mleguen commented on #1704
No, it isn't intentional.

It is something we will probably fix (by adding the missing signature) when aligning yargs.d.ts and yargs.ts

[2020-08-05 11:07] mleguen commented on #1679
@MatthiasKunnen, well, I am not sure yet an enhancement would be needed.

Wouldn't the following code suite your needs?

[code]

It returns both `no-progress` and `noProgress` in the parsing results, and shows `--no-progress` in the help message.

[2020-08-05 11:09] G-Rath commented on #1679
That'd likely mess with TypeScript however, as it would infer `no-progress` (since it can't transform the key into camelCase)

[2020-08-05 11:22] mleguen commented on #1704
I finally fixed this in #1707

[2020-08-05 11:24] mleguen commented on #1679
Yes, you are right.

[2020-08-05 17:14] cspotcode commented on #1705
Here's a reproduction.  I don't know if you intend for yargs consumers to eventually use the bundled declarations emitted by tsc.  *Iff* you do, then you'll want to add `/// <reference>`s to the ./typings for require-directory, etc, to avoid the errors shown in the repro log.

https://github.com/cspotcode/repros/tree/yargs-declarations

[2020-08-06 01:52] #1704 closed

[2020-08-06 10:11] mleguen commented on #1705
Thanks @cspotcode, I got it.

At the moment, ./typings was only a temporary dev artifact, and was not intended to be used by end users (we shouldn't publish types for third party modules). So this directory should disappear by moving its contents to `@type/xxx` modules before we publish our own index.d.ts.

However, feel free to make a PR to add `/// <reference>` to these temporary files if it hel

[2020-08-06 10:57] #1362 closed

[2020-08-06 18:11] cspotcode opened #1709 "Code smell: singletonify() declares `$0` and `parsed` multiple times."
Just a quick note, I'm pretty sure this is a code smell: (is code smell the right term?)
https://github.com/yargs/yargs/blob/master/index.js#L31-L38

The `$0` and `parsed` getters are declared repeatedly, inside the loop.  It seems like they should be outside the loop.

This is not a bug, as far as I can tell.

[2020-08-06 18:14] cspotcode commented on #1705
Ok, good to know that you intend to eventually allow consumers to use the declarations emitted from `tsc`.  I assumed but wasn't sure.

When you eventually publish a version of yargs with stable bundled types, it will be exposed via something like this?

[code]

Are there any other tickets or discussions I should be following to stay up-to-date on your plans, changes to the declarations, etc?  Is

[2020-08-07 12:11] axi92 opened #1711 "Is there a way to get the version from yargs?"
Is there a way to get the version as in --version in the script, so I can use it as a variable?

[2020-08-07 18:44] EdsonAlcala opened #1712 "Customize types"
Is there a way to customise the types? i.e in Typescript is common or at least I do very often.

[code]
I guess my idea is that it helps to communicate better the program.

Would it be possible to put aliases for types?

Another thing would be to override the type being shown in the right size? ([number])

<img width="1180" alt="Screenshot 2020-08-07 at 19 37 56" src="https://user-images.githubuse

[2020-08-08 01:44] bcoe commented on #1711
@axi92 this isn't exposed as a variable today, the logic to add  this to your module is pretty simple though:

[code]

I wonder if it's worth increasing yargs' API surface for the benefit of this?

[2020-08-08 09:20] bcoe commented on #1709
seems like something worth fixing 👍

[2020-08-08 23:43] gardenappl commented on #1702
You can avoid automatically generating commands by just not using `completion(...)`. Instead, manually call `yargs.showCompletionScript()` whenever you need it.

[2020-08-08 23:49] gardenappl commented on #1702
(actually, I guess that's not strictly equivalent, cause if you don't use `completion` then you can't use your own completion function, etc.)

Yeah, on second thought, what you're suggesting would still be very helpful.

[2020-08-09 00:35] gardenappl commented on #1013
Any progress on this? I'm working on a project where this would be extremely helpful.

[2020-08-10 00:13] TaylorDale opened #1713 "Simple example not working"
I have the following yargs setup:

[code]

When called with

index.js test -s testschedule

The console.log line is not called. This seems very simple, what am I missing?

EDIT:

I've tried directly copying an example off the website:

[code]
To no success:
![image](https://user-images.githubusercontent.com/5500716/89745392-e8288100-daf6-11ea-8478-85aa36851698.png)

My vscode launch file contains

[2020-08-10 01:00] TaylorDale commented on #1713
Resolved - didn't realise args were being passed as one string to the file:
`"args": ["test --schedule xxx"]`
vs
`"args": ["test", "--schedule", "xxx"]`

[2020-08-10 01:00] #1713 closed

[2020-08-10 08:30] #1711 closed

[2020-08-10 17:37] bcoe commented on #1705
@cspotcode closing the loop here.  For the next major version of yargs at lest, I would like to not yet ship types with the library.

[2020-08-10 17:44] cspotcode commented on #1705
Understood; am I correct that the types will be omitted entirely from the
package, so I will not be able to refer to them even via `/// <reference>`?

On Mon, Aug 10, 2020, 1:37 PM Benjamin E. Coe <notifications@github.com>
wrote:

[2020-08-11 08:03] bluelovers opened #1714 "decamelize version wrong on 15.4.1 ?"
![image](https://user-images.githubusercontent.com/167966/89872818-150a9000-dbec-11ea-93f6-76e59bf7f446.png)

[2020-08-15 13:39] jdleesmiller opened #1716 "cccccciblekktnjbijjjndrntgkdfbilfetketietubh"

[2020-08-15 13:40] jdleesmiller commented on #1716
Sorry!

[2020-08-15 13:40] #1716 closed

[2020-08-18 01:52] #1714 closed

[2020-08-18 01:54] bcoe commented on #1714
@bluelovers we downgraded purposefully because `decamelize@3.x` is extremely large  due to `xregexp`:

[code]

[2020-08-21 14:27] BigBlueHat opened #1720 "Positional parameter and then command?"
I've loved working with yargs! However, I've just hit a snag which I can't seem to get around.

I'd like to have a command line tool that works this way:
[code]

I can have a single default command (i.e. `.command('$0')` which can parse all that, but then I miss out on the power of yargs.

I did explore subcommands, but I can't seem to get them to handle everything past a first positional argument

[2020-08-23 08:43] chevtek opened #1721 "Typescript typings manifest is missing a definition for "strictCommands" method."
![image](https://user-images.githubusercontent.com/874394/90974649-5d7a5580-e4ea-11ea-817f-68b7363fc405.png)

I've opened a PR: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/46984

[2020-08-24 09:37] quilicicf commented on #1706
Awesome!
I'll give it a spin ASAP thanks!

[2020-08-24 14:00] Gjoshi3107 opened #1722 "module `fs` was successfully found. However, this package itself specifies a `main` module field that could not be resolved"
First got the issue
[code]
installed `fs` with `npm i fs`

Now this issue does not leave:-

[code]

dependencies:-
[code]

Tried [this](https://stackoverflow.com/questions/51068105/react-native-bundling-failed) from stack overflow, already.
Please HELP!!!!

[2020-08-24 15:58] quilicicf commented on #1706
As for the terminal width, there have been discussions about it and I've taken the time to follow the thread.

It's been implemented in Deno 1.3.1 but is still unstable.

You can currently get the terminal size with:

[code]

But you'd have to run the script with:

[code]

I have found no clue about whether/when this can land in the stable features but one can always ask :)

There are other soluti

[2020-08-24 17:27] bcoe commented on #1722
@Gjoshi3107 yargs has native dependencies in Node.js, such as Node.js' `fs` module.

`yargs@16` actually changes this, try using`yargs@next` -- it  has a browser entry point in `./browser.mjs`.

[2020-08-24 22:15] jhechtf opened #1723 "No index.js file present in yargs"
yargs got installed due to my usage of Ava. My yarn.lock file has the resolved version as 15.4.1

However, trying to use Ava breaks with the following error because the `yargs` directory in node_modules does not have an `index.js` file:

[code]

Below is a screenshot of the sidebar in my VSCode

![image](https://user-images.githubusercontent.com/8152471/91101608-4d629300-e61c-11ea-9fc2-f554bb3b2f8

[2020-08-24 23:27] jhechtf commented on #1723
Hmm, I think this might have something to do with yarn more than yargs. I tried installing yargs through npm and it worked just fine. I'm looking through the yarn issues to see if this is reported anywhere else, but i find it weird that it is only the yargs library that this happens to. Will update as I know more.

[2020-08-26 04:43] swordf1zh commented on #1294
You can use `.check()` (https://yargs.js.org/docs/#api-reference-checkfn-globaltrue)

[code]

[2020-08-26 10:50] crazyxhz commented on #1675
Can I disable the positional help command, leave only `-h` and `--help` options?

[2020-08-26 18:30] jameswomack opened #1725 "`yargs.exit` takes an error as an argument but doesn't seem to output said error"
I ❤️  Yargs, thank you to everyone who's worked on it to make it how great it is today!

I'm wanting to implement a canonical way for our CLI commands to exit out in the case or error. After using a custom solution w/ `process.exit` & a Winston error log transport, a colleague pointed out `yargs.exit`. Given its method signature, I expected `yargs.exit` to output some sort of standardized error me

[2020-08-27 16:34] bcoe commented on #1706
@quilicicf I was thinking we probably just wait for `consoleSize` to be stable?

[2020-08-28 07:13] quilicicf commented on #1706
This would be the safest option IMO too yes :+1:
Deno seems to progress pretty fast, hopefully this won't take long.
And it's fine for the port of yargs to Deno to follow Deno's own pace :-)

[2020-08-28 11:29] zimtsui commented on #1417
@bcoe for yargs/yargs-parser#181, i don't think it's a good practice to separate options by whether the option is unknown. but it should be by position.

for example, node has options separated into node-args and script-args by position.

in command `node --experimental-json-modules ./index.js --port=3000`, the `--experimental-json-modules` is recognized to be a node-arg because it appears in fron

[2020-08-28 12:30] henderea commented on #1417
Honestly, the ability to distinguish between defined options and unknown options is very important for me. And it’s a behavior I’m used to coming over from Ruby where the option parsing extracts the options you define and leaves the rest of the arguments. The functionality is behind a setting, so people don’t have to use it if they don’t want. It’s not like the behavior I added is enabled by defau

[2020-08-28 15:12] BigBlueHat commented on #1266
@brewster1134 your contrived example is exactly what I'm attempting to do. 😄 It mostly works as the option is set and available later in the command's handlers.

It looks like yargs runs `coerce` on each alias also--which means if you have `configDir` as an option, it will run once for that and for `config-dir`.

However, I'm also noticing lots of excess coercion attempts where its value gets set

[2020-08-28 15:16] BigBlueHat commented on #1266
This problem seemed to have been because I was using `[]` instead of `<>` for a positional, and also had added the `--configDir [configDir]` text to the usage line. Seems there's more magic hiding in the "command" text than I'd realized...

[2020-08-28 16:59] bcoe commented on #1417
@henderea @zimtsu might be good to bring the  conversation to a new open issue, with examples? odds are I'll  forget about comments made on a closed issue.

[2020-08-29 12:23] whitecolor opened #1729 "alias for `--no-flag` ?"
Is it possible to set an alias that will set flag to false?

[2020-08-30 09:30] tshinnic commented on #1729
I can't see a way to do it with the documented api, but as motivation for others to suggest the right way to do it...
(the last result is what you were asking for?)
[code]

Note that this is in a setup that uses `.command()` as described in [Advanced Topics](https://github.com/yargs/yargs/blob/master/docs/advanced.md#commands), especially section [Middleware](https://github.com/yargs/yargs/blob/ma

[2020-08-30 09:56] tshinnic commented on #1706
In beginning project with package.json "type": "module", I installed yargs@next "v16.0.0-deno.beta.1" (which I _think_ is "modified-api-surface"?)

Tried out `.command(module)` api, as indeed `require-directory` completely dependent on `module.require` and `.commandDir()` is unavailable.  The below is working for me:
[code]

Thank you for this timely (for me anyway) work on enabling Yargs for ESM.

[2020-08-30 10:21] tshinnic commented on #1729
Hmm, it looks like `.check()` might be a better fit? It runs even when not using `.command()`. Though I can't find in docs at what stage in processing it does run.

Because `.check(fn)` is passed `argv`, you can update `argv` as you wish. (tested) I don't know if this was as intended... 😄

[2020-08-31 03:27] bcoe commented on #1723
@jhechtf the `index.js` is definitely present in `15.4.1`:

[code]

I'm going to assume this might have been a blip from a bad install.

Let me know if you continue to bump into issues.

[2020-08-31 03:27] #1723 closed

[2020-08-31 03:33] jhechtf commented on #1723
Yeah, closing for now is a good idea. It seems to be working now, but it was occurring only with yargs every time I tried to install it for a few days on multiple machines. Unsure what seems to have changed, but it appears to work just fine now.

[2020-09-01 16:35] bcoe commented on #1706
Yes, and I expect there will be a couple more beta releases before we publish for real.

[2020-09-02 05:25] Aminadav opened #1731 "How to give an error if command not found?"
I have yargs with 2 commands?
[code]

The user inputs:
[code]

But `yargs` don't throw an error. What should I do?

https://stackoverflow.com/questions/63699184/in-yargs-npm-package-how-to-give-an-error-if-command-not-specfied

[2020-09-02 07:53] quilicicf commented on #1706
@bcoe I tried taking Yargs for a spin with Deno and I'm facing some weird issue.

My code runs OK when run via `deno run` but fails miserably when run via `deno install`.

The trace:

[code]

I've had a look at the code and from https://deno.land/x/yargs@v16.0.0-deno.beta.1/deno and I don't have a clue what's going on ATM. Any idea? Or should I open an issue on Deno's repo?

[2020-09-02 18:46] cspotcode opened #1732 "demand() ignores anything after `--`"
Here's an example:
https://runkit.com/cspotcode/5f4fe1f3c5d0c8001a637b54

[code]
With:
[code]

Complains: "Not enough non-option arguments: got 0, need at least 2"

An array option accepts multiple values.  So to separate it from the demanded positionals, we use `--`.
`demand()` ignores all values after `--`.  Removing `demand()` shows that the values are `--` are parsed correctly and included in

[2020-09-02 18:48] bcoe commented on #1706
@quilicicf types are in their own file:

[code]

[2020-09-03 07:00] quilicicf commented on #1706
Ooooh, it's changed a bit since your [first code snippet](https://github.com/yargs/yargs/issues/1706#issuecomment-678673266) apparently.
The Deno integration in IntelliJ is misleading here, I ctrl-clicked the import URL (https://deno.land/x/yargs/deno.ts) and it pointed me to what seems to be an old cached file that was exposing the types.
Thanks for the answer. I'll continue testing Yargs. Looks

[2020-09-03 18:32] eugenet8k commented on #963
This issue hit us hard when we use a default config of `yargs`. Please consider this scenario

[code]

where `4.80`  is a Git tag or branch name

When I access the arg in my-script.js:

[code]

I get:
[code]

And we did not notice this issue in our CI for months with our release schedule 4.71, 4.72, 4.73 ... until we hit 4.80 today.

[2020-09-05 02:39] bcoe commented on #1731
@Aminadav if you use the setting `.strictCommands` it will throw on an unknown command 👍

[2020-09-05 02:39] #1731 closed

[2020-09-05 18:20] bcoe commented on #1706
@tshinnic I would just install `16.0.0-beta.1`, the `Deno` version is just a tag that includes the `build` directory.

[2020-09-08 04:28] bcoe commented on #1701
@fcastilloec please try `npm i yargs@next` it has the `strictOptions` functionality.

[2020-09-08 05:37] fcastilloec commented on #1701
@bcoe Thanks! I just tried it and it's working in most cases but I found a bug when combined with: `parserConfiguration({'strip-aliased': true})`. It's related to case-sensitive options, and of course aliases. Here's some code to reproduce the bug:

[code]
The previous code should fail but it passes. If you set `'strip-aliased': false` then it fails. As you can see, there's something happening wit

[2020-09-08 05:44] fcastilloec opened #1739 "strictOptions with 'strip-aliased' doesn't work with a capitalize option"
As reported in #1701, using `yargs@next` with the new `strictOptions` is not working correctly when using a capitalize alias and setting `parserConfiguration({ 'strip-aliased': true })`. Here's some working code to reproduce the bug:

[code]
If you set `'strip-aliased': false` then it fails as it should.

[2020-09-08 16:52] #1688 closed

[2020-09-09 04:07] #1701 closed

[2020-09-09 04:18] bcoe commented on #1721
@chevtek thank you for submitting the patch. Mind updating here when it lands?

[2020-09-09 15:02] dbjorge opened #1740 "(16.0.0 regression) Missing demandOption gives exit code 0, should be non-zero"
In <16.0.0, yargs exited with a non-zero exit code if a required option (`demandOption: true`) is omitted by a user. In 16.0.0, this no longer results in a non-zero exit code. Technically, [the API docs for demandOption](https://github.com/yargs/yargs/blob/master/docs/api.md#demandOption) do only guarantee that yargs exits in this scenario, not that it exits with any particular exit code, but I'm

[2020-09-09 15:29] kevinoid opened #1741 "v16.0.0 build fails due to rollup error"
If I run the following commands:
[code]
The last command fails with the following error:

    ./lib/cjs.ts → ./build/index.cjs...
    (!) Circular dependency
    lib/yargs-factory.ts -> lib/command.ts -> lib/yargs-factory.ts
    [!] Error: 'notStrictEqual' is not exported by ../node_modules/assert/assert.js, imported by lib/platform-shims/cjs.ts
    https://rollupjs.org/guide/en/#error-name-is-not

[2020-09-09 15:47] bcoe commented on #1741
@kevinoid this seems like a misconfiguration in your local environment, it should not be looking for `assert` inside `node_modules`.

If you create a `test.mjs` like this:

**teset.mjs**

[code]

Does it have the same issues?

[2020-09-09 15:47] kevinoid commented on #783
This is no longer an issue since v15.0.0 removed package.json-based parserConfiguration in #1460.

[2020-09-09 15:47] #783 closed

[2020-09-09 15:48] #1740 closed

[2020-09-09 16:01] kevinoid commented on #1741
I created `test.mjs` with the content you suggested.  If I run `./node_modules/.bin/rollup test.mjs` it completes successfully with the following output:

    test.mjs → stdout...
    (!) Unresolved dependencies
    https://rollupjs.org/guide/en/#warning-treating-module-as-external-dependency
    assert (imported by test.mjs)
    (!) Unused external imports
    notStrictEqual,strictEqual imported

[2020-09-09 16:15] bcoe commented on #1740
@dbjorge thank you for the bug report, this will be fixed in `16.0.1`, which was just released.

[2020-09-09 16:43] kevinoid commented on #1741
You were right, the problem was in my local environment.  The project in the parent directory had [assert](https://www.npmjs.com/package/assert) as a dependency, which gets picked up by rollup and causes the error.  Sorry for the noise!

[2020-09-09 16:43] #1741 closed

[2020-09-09 16:58] bcoe commented on #1741
@kevinoid awesome \o/ glad you're able to compile again ... I don't love that `assert` found that dependency, I guess we might need to occasionally help folks who bump into that.

[2020-09-09 17:14] kevinoid commented on #1741
@bcoe Indeed.  I agree.  I wouldn't be surprised if it popped up in other places when a module on npm has the same name as a built-in.  It looks like the [CJS resolution algorithm](https://nodejs.org/api/modules.html#modules_all_together) matches built-in modules first (step 1) and the [ESM resolution algorithm](https://nodejs.org/api/esm.html#esm_resolution_algorithm) only matches built-in module

[2020-09-10 08:10] dalcde opened #1749 "@types/typescript does not work with `import` syntax"
Reproduce by running the following in an empty directory:
[code]

We get the error
[code]
Reproduced with `yargs 16.0.3` and `tsc 4.0.2`.

[2020-09-10 08:19] AviVahl commented on #1749
https://github.com/yargs/yargs#typescript
yargs doesn't ship built-in types yet, so one has to install `@types/yargs` as well.

[2020-09-10 08:32] dalcde commented on #1749
This worked with yargs 15.4.2

[2020-09-10 08:47] AviVahl commented on #1749
Maintainers are working to convert the entire project to TypeScript: https://github.com/yargs/yargs/issues/1586
Work there is _probably_ related. They do write about `@types/yargs` and the built-in `.d.ts`

[2020-09-10 15:20] #1586 closed

[2020-09-10 15:25] bcoe commented on #1586
See: https://dev.to/bcoe/yargs-v16-released-14p7 we ultimately decided to continue pointing the community towards @types/yargs.

It's a significant benefit to the project to be written in TypeScript, for maintainers, but @types/yargs simply deviates too far from the API surface to easily consolidate it with the project.

[2020-09-10 15:29] bcoe commented on #1749
I apologize for the confusion if created having this briefly work in v15. We do not intend to ship TypeScript definitions in yargs or yargs-parser in the near future.

Here's a [post on the topic](https://dev.to/bcoe/yargs-v16-released-14p7).

@types/yargs is well supported and used widely by the community, but.deviates sigificantly from the actual TypeScript API surface of the library.

[2020-09-10 15:57] bcoe commented on #1732
@cspotcode I conceptually think of keys after `--` as meaning, "this is no longer parsing, please stop applying parsing rules and validation to them"

I feel like this is really a problem with implicit arrays, which are a feature I don't love; since they create ambiguity between positionals and array arguments.

If I could do it over, I think I'd suggest writing the above more like this:

[code]

[2020-09-10 15:59] bcoe commented on #1732
There's a setting called "greedy arrays" which I'd like to eventually consider defaulting to `false`:

https://github.com/yargs/yargs-parser#greedy-arrays

[2020-09-10 16:11] bcoe commented on #1725
@jameswomack hey 👋 sorry it took me a while to triage this. I would love to get to t he bottom of what's biting you here ... I'm  actually surprise that using `yargs.exit()` didn't work as  expected.

Perhaps send a failing test? and I can take a look ASAP?

[2020-09-10 16:12] cspotcode commented on #1732
These comments aren't addressing the bug raised by this ticket.

[2020-09-10 16:16] bcoe commented on #1720
@BigBlueHat the way commands are implemented is that they resolve to single command.

As a user of command line applications, I think this tends to be the expectation too, if you were going to do something compositional like this you'd tend to use `|`   or  `>` to combine multiple commands.

One option you might try would be a second full instance of `yargs` which parses the result of the first pa

[2020-09-10 16:19] dalcde commented on #1749
I understand that pure javascript libraries can be used in typescript projects (as in they can be imported and used, but not type checked), and I assumed that's how it previously worked. Currently it can't be imported at all.

[2020-09-10 16:20] bcoe opened #1751 "make yargs' simple types available to community"
## Problem

If  yargs ships its types, which a significantly simpler (_by  design_) from those defined in  `@types/yargs`, it will  break the existing TypeScript user-base.

Some users would like access to yargs' types.

## Question

Is there a way we can provide yargs' types to the community, such that they're as easy to install as `@types/yargs`, and  can  be  used as an  alternative?

Refs: htt

[2020-09-10 16:22] bcoe commented on #1751
@dalcde @AviVahl moved the conversation here. One thing I would be open to, would be publishing yargs' simplified types, if we could find a way to do so that's ergonomic.

Publishing them in the library itself, the way TypeScript resolves types, I believe breaks the existing community (_also, it bloats the library size quite a bit).

[2020-09-10 16:28] bcoe commented on #1749
@dalcde the syntax should be:

[code]

I believe to match the `@types/yargs` definitions.

[2020-09-10 16:52] bcoe commented on #1749
@dalcde I wonder if, now that we support ESM in yargs, there's a way `@types/yargs` could be  modified to support both `require` and `import` syntax.

The reason that `= require('yargs');`  is necessary, is  because the non-ESM API surface of yargs uses `module.exports`.

[2020-09-10 17:34] AviVahl commented on #1749
@bcoe you can already `import yargs as 'yargs';` if you have `esModuleInterop` turned on (default in `tsc --init`).
We do so in stylable: https://github.com/wix/stylable/blob/master/packages/cli/src/cli.ts

We are getting yargs in its `require` form though, as our modules transpile to commonjs (meaning a `require('yargs')` is being called).

[2020-09-10 18:10] bcoe commented on #1749
@AviVahl, I wish this was a bit more straightforward for folks ... especially now that the library itself does support ESM. I think there's just room  to improve the ESM/TypeScript interop story.

[2020-09-10 18:11] bcoe commented on #1749
@dalcde if @AviVahl's approach works for you, perhaps we can close this?

[2020-09-10 18:52] bcoe commented on #1732
@cspotcode I suppose what I'm getting at is that, is that I feel this potentially falls in the category of relying on undocumented  behavior, and I  don't really want to enshrine the behavior,  if I can convince you not to use the `array` type like  this.

[2020-09-10 21:30] cspotcode commented on #1732
It affects YousefED/typescript-json-schema#362, so it's not actually my code that's using arrays.

The behavior also crops up without using arrays, so it's pretty clearly a bug.

[code]

The filename could also be the same as a flag or option, and then you'd want `--` to separate positionals.

[2020-09-10 21:38] bcoe commented on #1732
@cspotcode so the argument is that, if you're collecting positionals after `--` in the `_` variable; they should count towards the `demand(N)` quota?

Is the behavior the same for `demandCommand` of  curiosity?

[2020-09-11 02:10] dalcde commented on #1749
I get the same error with --esModuleInterop

[2020-09-11 02:21] dalcde commented on #1751
I personally believe this is what semver is designed for.

Ultimately, you are going to break *something* by doing this. People who
didn't import @types/yargs previously could have incorrectly typed code
that now doesn't compile. And if you are eventually going to make a
breaking change, might as well break now.

[2020-09-11 05:05] bcoe commented on #1749
@dalcde could you share a minimal repository that is having this issue?

[2020-09-11 05:48] bcoe commented on #1729
@whitecolor this is not currently a feature of yargs. I'm curious what your use case is? one good thing about using `--no` is that folks get used to the convention.

[2020-09-11 05:50] bcoe commented on #1751
@dalcde the thing is, I think a lot of folks wouldn't be happy making the switch to the types we're using for development. `@types/yargs` is more full featured from a type definition perspective. It does fancy things like typing yargs' outputs, based on the configuration.

[2020-09-11 05:52] bcoe commented on #1722
@Gjoshi3107 please take a look at [this example](https://github.com/yargs/yargs/blob/master/example/yargs.html) for an idea of how to get yargs up and running in the browser 👍

Let me know if you have any additional questions.

[2020-09-11 05:52] #1722 closed

[2020-09-11 06:01] dalcde commented on #1749
The commands at the OP of the issue creates such a repository.

[2020-09-11 06:01] dalcde commented on #1751
Is it impossible to produce such a typing via typescript?

[2020-09-11 06:13] AviVahl commented on #1749
Those commands do not include `@types/yargs`, so you'll get a type error.
Also, they do not include `npx tsc --init`, so no tsconfig.json was created, and you may be missing other important config (module/moduleResolution)

[code]

Works just fine (notice the added `npm i @types/yargs typescript -D` and `npx tsc --init`).

[2020-09-11 06:14] bcoe commented on #1725
@jameswomack would an API like this do the trick for you:

[code]

It seems like it would be a pretty reasonable addition to how `fail` works.

[2020-09-11 06:15] bcoe commented on #1725
This outputs:

[code]

[2020-09-11 06:16] bcoe commented on #1706
this work is shipped in `v16`.

[2020-09-11 06:16] #1706 closed

[2020-09-11 06:17] bcoe commented on #1705
@cspotcode I think we can close this, since in `v16` we've opted to continue pointing users towards `@types/yargs`?

[2020-09-11 06:19] dalcde commented on #1749
I can confirm that adding `@types/yargs` solves the problem. `tsc --init` does not.

The issue was that javascript libraries are normally usable with
typescript without typings, and that was the case with yargs prior to
16.0

[2020-09-11 07:09] whitecolor commented on #1729
Just a quick way to have an alias `-S` for `--no-something` (setting `something` to `false`). Of course, it can be accomplished with a couple of additional lines of code.

[2020-09-11 18:46] bcoe commented on #1751
@dalcde the "perfect world" generics defined in `@types/yargs` are much more complex than the types in the library itself.

It would be a huge amount of work to make them match. We started down this path, but it honestly also makes the codebase very hard to read and update -- as generics are ugly.

[2020-09-13 06:03] #1732 closed

[2020-09-14 16:55] jameswomack commented on #1725
@bcoe that'd work. I'll try and cook up a test for `yargs.exit`

[2020-09-15 10:16] XGHeaven commented on #1042
@bcoe I think to add a new api returns Promise instead of create a new package would be a good choice. for example
[code]

You can ignore a promise return value in sync mode and await promise in async mode.

[2020-09-15 15:50] dl748 opened #1754 "Webpack building broken"
Upgraded from 15.4.1 to 16.0.3 and now all my scripts built with webpack now fail with the error.

Everything seems to compile, but when i run the resulted js file, I get

TypeError: y18n is not a function

https://github.com/yargs/yargs/blob/eb2b29d34f1a41e0fd6c4e841960e5bfc329dc3c/lib/platform-shims/cjs.ts#L40

If i modify the exported code to use `y18n.y18n(` then it works... also I needed to c

[2020-09-16 14:20] chipbite opened #1755 "Q: How to share options between commands?"
Hi!
Is there a simple way to describe an option that is then shared among some of the commands for a program?

See this example where the pageId option / parameter is shared, and duplicated among several commands.

I have moved some shared options as global parameters but they dont apply to all commands.

[code]

Tips, ideas?

Nice tool! Thanks! /mawi

[2020-09-16 17:06] klee214 opened #1756 "Where can i find documentation about builder?"
Where can i find documentation about "builder"?
I do not know what objects/functions can possibly be used inside the builder.

[2020-09-16 19:57] bcoe commented on #1754
@dl748 yargs now fully supports ESM, so in some cases there should be no need to WebPack. There's now an example of how to get things running in the browser in the `examples/` folder.

I think perhaps you just need to webpack the `browser.js` entry point rather than the index, if the goal is to create a full bundle.

[2020-09-16 20:01] bcoe commented on #1756
@klee214 the builder is documented [here](https://github.com/yargs/yargs/blob/master/docs/api.md#commandmodule) and also, in more detail, [here](https://github.com/yargs/yargs/blob/master/docs/advanced.md#commands) under advanced topics.

[2020-09-16 20:05] bcoe commented on #1754
@dl748 may I ask why you're using yargs in the browser? as I took on the work to make this possible, one question I had was whether it would actually benefit many people.

[2020-09-17 02:07] dl748 commented on #1754
I'm not using a browser as you can see with my configuration. "target: 'node'".  I generally use webpack to compile a typescript app to a single standalone app (.js file) so that i can run it on a machine that has node but can't install anything from a repository.

[2020-09-17 16:21] Michael-Tajmajer-Bentley commented on #1754
I also use webpack on my nodeJs services.  It keeps the clutter down and allows for quickly updating containers while troubleshooting issues inside of clusters.

[2020-09-17 22:41] bcoe commented on #1754
@dl748 @ Michael-Tajmajer-Bentley I suggest opening an issue on Webpack too, and I'll  happily take a patch to our docs.

[2020-09-17 22:54] bcoe commented on #1756
@klee214 did that help unblock you, wondering if I can close this issue?

[2020-09-17 22:58] boneskull commented on #1754
fwiw [ncc](https://www.npmjs.com/package/@vercel/ncc) may be more suitable for this use-case.  or even rollup.  I can't imagine the `node` target is really first-class in webpack, and I am _not_ surprised that it doesn't work well with Node.js' spec-compliant implementation

[2020-09-18 06:22] bcoe commented on #1754
@boneskull `ncc` is a great suggestion 👍 hadn't thought of that. Unfortunately, for ESM, it looks like it won't support `import.meta.url` until it's [updated to `Webpack@5`](https://github.com/webpack/webpack/pull/11075) -- but it works great for CommonJS.

[2020-09-18 06:28] bcoe commented on #1754
@dl748 please take a look at the docs I've added:

https://github.com/yargs/yargs/pull/1757

Thanks for your help sorting this out.

[2020-09-18 06:32] godspeedelbow opened #1758 "Bug: trailing .0 is stripped from positional string argument"
Consider the following script:

**`test.js`**:

[code]

**Run it:**
[code]

**Unexpected result:**
Note that `foo` has value `'12'`. It likely parsed `12.0` as a number first before coercing it to a string, stripping the `.0`.

**Version**:

Verified with version `14.2.3` and `13.3.2`.

[2020-09-18 06:35] dl748 commented on #1754
Ok, looks like yargs is a little broken..

1. Webpack is loading packages by "module" (in the package.json) due to "target: 'node'"
  a. Webpack loads y18n's module -> y18n/build/lib/index.js  (success)
  b. Webpack loads yargs-parser's module -> yargs-parser/build/lib/index.js (success)
  c. Webpack loads yargs module -> yargs/build/index.mjs (fails no such file)
  d. Webpack loads yargs cjs modu

[2020-09-18 06:35] godspeedelbow commented on #1758
Actually, an even simpler repro case was presented here: https://github.com/yargs/yargs/issues/963#issuecomment-686673491

[code]

[code]

[2020-09-18 06:36] godspeedelbow commented on #963
@eugenet8k Opened issue for this https://github.com/yargs/yargs/issues/1758

[2020-09-18 06:39] bcoe commented on #1754
In my opinion yargs isn't broken, Webpack is not properly resolving ESM and CJS dependencies (_as #6719 indicates_).

I think we should just document how to workaround this.

[2020-09-18 06:41] dl748 commented on #1754
according the package.json of yargs, there is no module to load as

[code]

this file doesn't exist

[2020-09-18 06:41] bcoe commented on #1754
I think I'd rather just document how to create a CJS bundle for the time being. And, when Webpack 5 solves this problem I'm happy to document an alternative approach.

[2020-09-18 06:43] bcoe commented on #1754
@dl748 oh, that certainly does sound like a bug. Can we simplify our configuration if that's fixed?

[2020-09-18 06:45] dl748 commented on #1754
I think you meant to have it

[code]

thats what i used to fix the initial issue.

[2020-09-18 06:50] dl748 commented on #1754
when running webpack

[code]

which at least LOOKS correct as its now loading the index.mjs now

[2020-09-18 10:05] dl748 commented on #1754
found a quick fix, could break some builds...

webpack.config.js
[code]

This will force all modules to use the main or in yargs case, the commonjs build, instead of the module ones.

[2020-09-18 20:24] NathanYocum opened #1760 "Should `deprecate/deprecated` be included in the docs and types?"
https://github.com/yargs/yargs/blob/8aae3332251d09fa136db17ef4a40d83fa052bc4/yargs.js#L636

I see this was added in #1559 (added in v15.2.0) - but I don't see it listed in the docs in [option](http://yargs.js.org/docs/#api-reference-optionkey-opt)'s documentation or in `@types/yargs@15.0.5`.

It would be nice to use in my typescript project without a `@ts-ignore`

---

Relevant issue: #1518

[2020-09-19 22:28] eulores commented on #1145
Here's a **quick fix** that solves the issue for me.
I patched the installed module, in file `node_modules/yargs/build/index.cjs` around line 900. The source code is in file [usage.ts](https://github.com/yargs/yargs/blob/eb2b29d34f1a41e0fd6c4e841960e5bfc329dc3c/lib/usage.ts#L325).

1) I added a oneliner:
[code]
2) and then replaced most instances of the construct ``` `[${__('string')}]` ``` with `

[2020-09-20 03:03] #1482 closed

[2020-09-20 03:04] bcoe commented on #1482
the `try`/`catch` logic has been working quite well.

[2020-09-20 03:47] bcoe commented on #1760
@NathanYocum we've opted to not ship types for yargs, so to add this to the type definition I suggest creating an issue on the `@types/yargs` definition in definitely typed.

I agree we should definitely document this feature in the API, if it hasn't been 😄

I would happily take a patch for this.

[2020-09-20 22:34] bcoe commented on #1042
@XGHeaven @quilicicf my thinking was that we could do this in the next major version of yargs, ideally once top level await is supported.

I believe we will need a bit of an overhaul of how we handle asynchronous behavior to get things right.

[2020-09-20 22:38] bcoe commented on #1725
@jameswomack I would happily take a patch, I did some experimentation, but I want to make sure it meets your use case before we land the feature.

[2020-09-21 04:18] bcoe commented on #1758
@godspeedelbow please try `npm i yargs@next`.

[2020-09-21 06:50] quilicicf commented on #1042
That would be great :+1:

[2020-09-21 09:59] godspeedelbow commented on #1758
@bcoe with `yargs@16.0.4-candidate.0`:

[code]

[code]

[2020-09-21 16:04] bcoe commented on #1758
@godspeedelbow yes, that's to be expected, it's fixed for the positional case:

[code]

It will still attempt to coerce numbers unless you explicitly turn this feature off or enable the positional.

[2020-09-21 17:45] bcoe commented on #1758
@godspeedelbow

[code]

[code]

[code]

[2020-09-21 17:46] bcoe commented on #1758
`npm ls`:

[code]

[2020-09-21 23:09] #1758 closed

[2020-09-22 17:22] kmadsen opened #1763 "yargs is throwing a ExperimentalWarning"
Cross posting this one https://stackoverflow.com/questions/63892611/yargs-is-throwing-a-experimentalwarning

How do you get rid of this experimental warning?

Here's a CLI to reproduce

[yargs-test.zip](https://github.com/yargs/yargs/files/5263018/yargs-test.zip)
[code]

index.js example
[code]

[2020-09-22 17:41] cyungmann commented on #1763
Looks to be caused by #1708. See also https://github.com/nodejs/node/issues/31819

[2020-09-22 18:06] kmadsen commented on #1763
thanks @cyungmann! experimental warning is gone.

[code]

[2020-09-22 18:06] #1763 closed

[2020-09-22 18:52] #1760 closed

[2020-09-22 18:53] bcoe commented on #1754
https://github.com/yargs/yargs/pull/1759 <-- the main issue should be fixed.

[2020-09-23 07:32] prographo opened #1764 "npm breaks on yargs install"
[code]

[2020-09-23 15:35] bcoe commented on #1764
Hey @prographo, that looks like a fairly old version of Node.js you're running. 8.x reached end of life a year ago I believe. Could you upgrade to a supported version of Node.js, and try?

[2020-09-23 20:23] ljharb opened #1765 "feature: `.defaultCommand`"
Hi! My use case is that I have `ls-exports path $x` and `ls-exports package $y`, and i want `ls-exports` by itself to default to a command of `path .`.

We spoke in Slack and you suggested adding a `.defaultCommand()` so i could do `.defaultComand('path .')`, for example. That seems like it'd solve my use case exactly :-)

[2020-09-24 02:35] #1754 closed

[2020-09-24 02:37] bcoe commented on #1754
@dl748 I landed documentation for `ncc` and Webpack, please feel free to submit any recommendations based on your own experiences.

[2020-09-24 02:40] bcoe commented on #1721
Going ahead and closing this, since it looks like it's being addressed upstream.

[2020-09-24 02:40] #1721 closed

[2020-09-24 02:53] bcoe commented on #1712
@EdsonAlcala we're currently trying to delegate support for TypeScript to the `@types/yargs`, so yargs itself doesn't have any real concept of types.

Are you asking for the ability to provide the type `Seconds` rather than `number`? I don't know if this is possible, but you might start a conversation with the folks working on [`@types/yargs`](https://github.com/DefinitelyTyped/DefinitelyTyped).

[2020-09-24 03:58] #1685 closed

[2020-09-24 03:58] bcoe commented on #1685
@fiznool docs have been updated, thank you for the recommendation.

[2020-09-24 04:00] bcoe commented on #1678
@xiaoxiangmoe yargs now provides ESM support, documented in the README.md.

[2020-09-24 04:02] bcoe commented on #1678
Node 8 has been dropped, will swap 13 for 15 when it's released.

[2020-09-24 04:02] #1678 closed

[2020-09-24 04:26] bcoe commented on #1672
To me it seems like the last command with the same name taking effect would be the ideal behavior?

It does sounds like it's a bug that we display the same command multiple times in the help output.

Perhaps we should:

* warn to the console if you load the same command twice.
* only display help for the last command registered.

It feels a little too fancy to me to support multiple versions of th

[2020-09-24 04:28] #1666 closed

[2020-09-24 04:31] bcoe commented on #1664
@hovancik  cleaning up some old issues, let me know if this is still an issue for you.

[2020-09-24 04:31] #1664 closed

[2020-09-24 04:35] bcoe commented on #1705
Let me know if this is still an issue, cleaning up some old issues.

[2020-09-24 04:35] #1705 closed

[2020-09-24 04:36] #416 closed

[2020-09-24 04:37] bcoe commented on #1660
duplicate of: https://github.com/yargs/yargs/issues/416

Keeping this one open since it's easier to find.

[2020-09-24 04:37] bcoe commented on #416
closed in favor of, https://github.com/yargs/yargs/issues/1660

[2020-09-24 04:41] bcoe commented on #778
@pedro93 lost track of this issue (_I'm doing a bit of cleanup._). The only special keys are `_`, `$0`, `help`, `version`, and sometimes  `--`. Could you just exclude these keys yourself after parsing? It feels like it might be feature creep to build this into yargs itself.

[2020-09-24 04:43] #746 closed

[2020-09-24 04:51] bcoe commented on #855
@egoist the default command is now shown in help output:

[code]

output:

[code]

Let me know if you continue to have any  issues.

[2020-09-24 04:51] #855 closed

[2020-09-24 04:52] bcoe commented on #1240
Linking docs here:

https://github.com/yargs/yargs/blob/master/docs/advanced.md#default-commands

Hopefully you got things working eventually @zzzgit, sorry we missed answering your question.

[2020-09-24 04:52] #1240 closed

[2020-09-24 04:57] bcoe commented on #880
@zypA13510 if you feel like making a PR for some of your suggestions, would happily accept them.

[2020-09-24 05:11] #752 closed

[2020-09-24 05:12] bcoe commented on #752
Hey @JakeSidSmith, I apologize that this bug was never triaged. Looks like we probably fixed this bug ages ago.

[2020-09-24 05:14] bcoe commented on #756
would happily take a patch for this, if someone wants demonstrate the recommended behavior.

[2020-09-24 05:17] bcoe commented on #768
I apologize that this ticket was never addressed for you (_I'm currently cleaning up some old issues_.).

At some point in the past, this bug was fixed:

[code]

[2020-09-24 05:17] #768 closed

[2020-09-24 05:20] bcoe commented on #777
I apologize for allowing this issue to stay open so long, it appears that  at some point this specific problem was addressed in full:

[code]

[2020-09-24 05:20] #777 closed

[2020-09-24 05:22] bcoe commented on #1519
@AndrewFinlay does this continue to be an issue for you, I have been unable to reproduce.

[2020-09-24 05:28] bcoe commented on #1519
Perhaps if @mleguen's suggestion of using `exitProcess(false)` works for you, that's sufficient?

[2020-09-24 05:29] #1360 closed

[2020-09-24 05:30] bcoe commented on #1360
we should have full support for ESM now, I've been using it quite a bit.

[2020-09-24 07:39] JakeSidSmith commented on #752
No worries. :blush:

[2020-09-24 09:14] godspeedelbow commented on #1758
thanks. I had some mono-repo hoisting issue which caused this false-positive.

[2020-09-25 03:41] vipzhicheng commented on #1672
I prefer the option 2. For option 1, in my scenario, I create a "plugin system" to register command from each plugin directory, it's possible to register same command, but may not need to warn in help.

[2020-09-25 03:47] bcoe commented on #1672
@vipzhicheng so, you'd prefer not to have a warning, but you want only the last command registered to show up in help, is what I'm understanding 👍

[2020-09-25 03:57] bcoe commented on #1660
@jtbennett I tried to reproduce your issue, and I think I'm misunderstanding the problem. I ran this code:

[code]

Without passing any arguments, the output is:

`{ _: [], '$0': 'foo.cjs' }`

Here's the output setting `--version`:

[code]

[2020-09-25 04:04] bcoe commented on #1593
Hey @ffMathy if you bump into any issues with the command interface, let's open some ticket for specific problems.

I'm open to specific issues/incremental work to gradually improve the output of yargs, but it's not a goal of the project to provide a level of customization for help output, that would allow you to match `docker-compose` exactly.

[2020-09-25 04:04] #1593 closed

[2020-09-25 04:10] bcoe commented on #1648
@roryokane @mleguen I agree that we should push folks towards the non-singleton interface, this is the default for the new ESM support we recently added to yargs:

[code]

I would be quite open to an update to docs that demonstrated the use of `yargs()` rather than `yargs.`.

Any interested in contributing?

[2020-09-25 04:20] bcoe commented on #1349
@maclockard if we were to use:

`[array] [default: "default-val"]`  I would assume that the value is not an array, but a single string.

Curious if you had a recommendation for what might be less confusing.

[2020-09-25 04:25] bcoe commented on #778
@pedro93 there's a good chance you've moved on from this specific problem now, so I'm going to go ahead and close this.

I wanted to also point you towards [`parserConfiguration()`](https://github.com/yargs/yargs/blob/master/docs/api.md#parserconfigurationobj), which makes it even easier to turn off settings like `camel-case-expansion`.

[2020-09-25 04:25] #778 closed

[2020-09-25 04:29] #918 closed

[2020-09-25 05:38] #1658 closed

[2020-09-25 05:40] bcoe commented on #1658
@SkeLLLa I've added the `onFinishCommand` to the API docs, should be working. Let us know if there are any bugs.

[2020-09-25 05:40] bcoe commented on #1344
@nija-at there is now an [onFinishCommand](https://github.com/yargs/yargs/pull/1769), which I believe should have the behavior you were looking for.

Let me know if there are any issues.

[2020-09-25 05:40] #1344 closed

[2020-09-25 08:42] nija-at commented on #1344
Indeed. Thanks!

[2020-09-25 14:44] ivan-kleshnin commented on #1344
@bcoe thanks for the doc update! Shouldn't this `onFinishCommand` functionality by available to middlewares?
It seems logical to, say, open DB connection in some middleware and close it in the very same module (maybe in another handler or something).

[2020-09-25 16:06] maclockard commented on #1349
FWIW the exact issue I ran into while maintaining an internal tool was people copying and pasting `["default-val"]`, trying to modify it and complaining when it didn't work.

If only changing the help message, I would prefer `[array] [default: "default-val"]` since it passes the copy and paste test and still calls out the fact yargs is expecting an array. However, I do agree there is some potentia

[2020-09-25 19:24] jtbennett commented on #1660
I know I did have that problem, because I remember being very frustrated by it. But now I can't reproduce it, with either v15 or v16 of yargs.

My apologies!

Closing this issue.

[2020-09-25 19:24] #1660 closed

[2020-09-25 22:13] bcoe commented on #1349
@maclockard I've come to hate the default behavior of arrays, where it will consume everything following `--arr a b c ...`, as this creates ambiguities in the parser ... how do you use positionals in conjunctions with arrays?

I prefer to define arrays as follows `my-app.js --arr 1 --arr 2 --arr 3`, I like that this is more explicit. It's difficult to document this advice in a way that can be copy

[2020-09-25 22:38] maclockard commented on #1349
Yeah, the explicitness is nice. Note sure how to solve the problem of making it copy and pastable though. If you can't think of anything low lift to solve it, I'm fine with this being closed.

[2020-09-26 19:48] cemtopkaya commented on #225
require("yargs").usage("$0 command")
    .command({
        command: "foo",
        description: "top level command",
        builder: {
            command: "bar",
            description: "child command of foo",
            builder: function() {
                console.log("builder barr!");
            },
            handler: a => {
                console.log("handler barr!");
            }

[2020-09-27 20:59] Robbie-Cook commented on #1360
Great! Congratulations @bcoe et al. looks super good!

[2020-09-28 06:32] vipzhicheng commented on #1672
Exactly!   👍

[2020-09-28 14:22] AndrewFinlay commented on #1519
@bcoe we added a work around to the nyc tests for this one so it's not a big issue for me right now.  Regarding @mleguen solution, if he's confident it works then go for it.  I don't mind bench testing this one with nyc from the machine with the flaky tests if you can point me to a yargs PR or a change set.

[2020-09-28 17:15] bcoe commented on #1519
@AndrewFinlay unfortunately there are 1000s of programs in the wild that assume `--help` will terminate an application before the next line of code is reached.

If you structure your program appropriately `.exitProcess(false)`, I suppose, might help make sure that the whole buffer is drained before the application exits, but I don't think this is something we can switch to being the default behavi

[2020-09-28 17:15] bcoe commented on #1519
@AndrewFinlay why don't we close this, and open an issue on nyc, we might in turn eventually open an issue on Node.js itself.

[2020-09-28 21:16] AndrewFinlay commented on #1519
The original problem for nyc was opened and resolved [here](https://github.com/istanbuljs/nyc/issues/1259).
When testing that nyc output a help message yargs was providing flaky output meaning that the test suite would randomly fail.
It was fixed by testing for the part of the help message output that yargs would reliably flush before exiting.
In short it's not really a nyc problem and I assume th

[2020-09-29 16:56] JaredReisinger commented on #1755
A couple of ideas:

* Since you're already using "builders" to create the per-command options (the `(ya) => { ya.positional(...) }` part), you could refactor out the common options into one or more helpers, like `addPageidArg(ya)`, and simply call those in the builder:

[code]

* You can define the common-ish positional call arguments in variables, and "spread" them into the `.positional()` calls

[2020-09-29 21:20] monarchwadia commented on #1218
Any updates on this? :)

[2020-09-30 13:52] luke-john opened #1771 "Incompatible with Deno 1.4.[0,1,2] due to deno adopting tsconfig settings importsNotUsedAsValues and isolatedModules"
In version 1.4 Deno adopted;

- ~the tsconfig setting [importsNotUsedAsValues](https://www.typescriptlang.org/tsconfig#importsNotUsedAsValues) - https://github.com/denoland/deno/pull/7413~
  This seems to have been reverted in deno 1.4.5, and it appears they aren't planning on making it a default anymore https://github.com/denoland/deno/pull/7800
- the tsconfig setting [isolatedModules](https://ww

[2020-09-30 16:34] bcoe commented on #1771
@luke-john thank you for the patches 👌

Do you think it would be worth updating our testing matrix too, to move to Deno 1.4, so that we'd catch this?

[2020-09-30 16:39] bcoe commented on #1771
@luke-john unrelated, there are a few shortcomings in Deno I'd love to address over time:

1. I don't think I picked an ideal default `bin` name, since it seems like folks install Deno bins in a variety of ways (_so `Deno run` isn't always how a command is run_).
2. I need to figure out a new approach to `requireDirectory`, that works with ESM -- I was thinking this might come in the next major, a

[2020-09-30 17:36] luke-john commented on #1771
I may be misunderstanding what you're referring to here, but from the looks of things the github action for deno is setup to use 1.x. so by default it picks the latest (https://github.com/yargs/yargs/pull/1772/checks?check_run_id=1188380822)

I've just done some testing, and it appears `deno test` behaves different to `deno run` and `deno test` is not impacted by the code which causes deno run to

[2020-09-30 22:27] bcoe commented on #1771
@luke-john whoops, slight issue with:

https://github.com/yargs/yargs-parser/pull/329

Mind recreating the PR with the PR being against `master`. The `deno` branch is automatically generated whenever we perform a release.

[2020-10-01 09:45] luke-john commented on #1771
Did some more checking here, and it seems that the issues I've reported here actually only present when using 1.4.x with the unstable flag (currently intended to be present without from 1.5).

So updating the ci to run `deno --unstable test` would result in these issues being detected, but `deno test` will pass.

Having the tests run with the `--unstable` flag seems a little unusual, not sure if y

[2020-10-01 21:26] Niceplace commented on #859
@bcoe Just curious, any idea if we can expect the `check` function to support async stuff anytime soon ? I don't mean to put any pressure, I understand these changes can be complicated to implement I just want an idea of a timeframe to satisfy my own curiosity.

Cheers !

[2020-10-01 22:58] bcoe commented on #859
@Niceplace I know I'd like to solve the problem in the not too distant future, as with ESM starting to get some traction, `import` requires async behavior, if we were to try to support command directories in the future.

But, I have almost no time to work on this, and it's a major project, so I'm not sure.

[2020-10-02 06:22] zhangchenglin opened #1773 "GHSA-p9pc-299p-vxgp"
https://github.com/advisories/GHSA-p9pc-299p-vxgp

[2020-10-02 17:03] #1773 closed

[2020-10-02 17:03] bcoe commented on #1773
@zhangchenglin this issue has been patched in recent releases of yargs.

[2020-10-03 00:00] manuscriptmastr opened #1774 "yargs.command is not a function"
I've been using yargs 15.4.1 for a CLI on Nodejs 14.8+ with ES Modules for some months. The index.js file is fairly simple:
[code]

After upgrading to 16.0.3, I get a `TypeError`:
[code]
Any thoughts? I suspect I'm missing an API change in v16?

[2020-10-03 00:09] manuscriptmastr commented on #1774
UPDATE:

When I follow the ESM example exactly and invoke `yargs` first, it works:
[code]
Not sure what this is doing, but it works!

[2020-10-03 00:09] #1774 closed

[2020-10-07 07:26] LiranBri commented on #793
I believe I found a clean way using a default function:

[code]

[2020-10-07 16:47] cjauvin commented on #1011
I struggled with this for a while, before finding this thread. I actually thought it was some strange bug and was getting ready to file an issue. Once I knew it wasn't, I had to search for another while in order to find the way to customize the parser without changing my `package.json`, as suggested above. In the context of the code snippet that started the thread, that would be:

[code]

I'm not

[2020-10-07 23:07] kilianc commented on #793
@mleguen I missed your message, on it.

[2020-10-08 01:13] bcoe commented on #1774
👍 awesome, glad you sorted this out.

[2020-10-08 01:14] bcoe commented on #1011
@cjauvin thanks for the note. would happily take a patch for docs if you have a suggestion, or feel free to open a docs issue with a recommendation 👍

[2020-10-11 22:00] bcoe opened #1778 "Don't rely "any" for internal TypeScript types"
Currently `@typescript-eslint/no-explicit-any` is turned off, as it raises a couple hundred errors.

It would be good to turn this rule on, but will require refactoring to make the internal types stricter.

Refs: https://github.com/yargs/yargs/pull/1777

[2020-10-12 03:08] #1648 closed

[2020-10-12 08:28] luke-john commented on #1771
Resolved in https://github.com/yargs/yargs/pull/1753

Cheers for you help on this 👍

[2020-10-12 08:28] #1771 closed

[2020-10-12 19:20] joekiller opened #1780 "typescript alias options not parsing off CommandModule in jest"
I'm trying to test some modules of yargs and noticed in my jest tests that yargs didn't seem to be processing aliases on options like I expected. Below I expect the option 'flag' to end up making argv entries 'flag' and 'f', the alias. Instead it seems to not process the flag on my builder. How can I ensure my CommandModule tests work with alias options? PS is this the best way to drive this code

[2020-10-12 22:32] petertorelli commented on #781
Just a bump that this stream of warnings still exists a year after the last post on this topic:

[code]

package.json

[code]

with the simple main.ts:

[code]

[2020-10-14 07:58] arbitrary-dev opened #1781 "One dash for short aliases"
### Description

Please use 1 dash for short aliases.

### Setup

[code]

### Current output

[code]

### Expected output

[code]

[2020-10-14 11:51] MichaRedM opened #1782 "Demand option of nested config file parameters is not working"
The following example will always fail, if the parameter ```--foo.bar``` is not passed through a config file:
[code]

config.json:
[code]

If ```demandOption``` is not set, the output is, as expected ```{ _: [], c: 'config.json', foo: { bar: 'asdf' }, '$0': 'index.js' }```.

[2020-10-14 13:11] manchuck commented on #793
@LiranBri Yea I thought the `--help` would be an issue to overcome. There is no way of knowing which choices to display when one argument is dependant on another.

BTW @mleguen Your solution did work for me

[2020-10-14 19:41] bcoe commented on #781
I don't expect it will ever be a priority of the yargs project to eliminate warnings from our WebPack build.

I suggest using one of the fine alternatives, such as commander.js 👍

[2020-10-14 19:45] bcoe commented on #781
@petertorelli would also happily accept a patch to reduce warnings.

I'm happy to make a best effort to support WebPack, but it's not considered a design priority.

[2020-10-14 23:54] bcoe commented on #1780
@joekiller we rely on `@types/yargs` for our types, might be worth opening an issue on DefinitelyTyped too.

[2020-10-14 23:56] bcoe commented on #1781
The single dash is used specifically for single character aliases, I don't think we should encourage people to use a single dash except for this case, as it has special meaning:

[code]

☝️ this is setting both the `-r` and `-f` option, not a single option called `-rf`.

[2020-10-14 23:59] bcoe commented on #1782
At this time, the keys on objects can not be configured, so it basically expects the `foo.bar` option to be set, but the parser then parses as `foo = {bar:  'asdf'}` which doesn't satisfy the constraint.

[2020-10-15 12:16] arbitrary-dev commented on #1781
Ah, I see…

[2020-10-15 12:16] #1781 closed

[2020-10-15 20:55] joekiller commented on #1069
I used a spy to capture the output and then tried to shape the call per the [.parse() docs](http://yargs.js.org/docs/#api-reference-parseargs-context-parsecallback).  Seems the trick is to await the parser and return that to the handler.

[code]

[2020-10-16 00:11] bcoe commented on #1069
@fedecarg  @joekiller in both your cases, are you using Promises for the handler?

We need to completely overhaul how yargs approaches async behavior, is what it comes down to. And it's not a small amount of work.

[2020-10-16 02:32] joekiller commented on #1069
@bcoe I figured it out.

Yes these are promise handlers. Researching the progress thus far it appears I have to wrap everything such that the [finish hook `.onFinishCommand(async ...)`](https://github.com/yargs/yargs/blob/master/docs/advanced.md#command-finish-hook) closes over the async call.

Second try. If you wrap your command calls in the following `execCmd` promise, it'll always "do the work

[2020-10-16 03:56] ryancat commented on #1344
Nope this will work for the case when the async handler eventually passing. When anything goes wrong (error got thrown, promise got rejected), you would need to:

1. make sure you return the promise in async handler
2. Add `fail` API on command to catch the failures

[2020-10-16 04:34] tianyingchun commented on #1069
I have removed my old patches, changed into `onFinishCommand` and  all unit test works fine. great job ~~ 💯

[2020-10-16 06:04] tomsabin commented on #1294
This works but you'll need to drop the `demand` key for the checked options.

It would be neat if `.conflicts()` handled this case automatically (https://github.com/yargs/yargs/blob/master/docs/api.md#conflictsx-y)

[2020-10-16 19:22] joekiller commented on #1780
With my newly discovered `onFinishCommand` this now works with the following:

[code]

[2020-10-16 19:22] #1780 closed

[2020-10-16 19:50] tanjilk commented on #569
[code]

[2020-10-16 23:40] isaacs opened #1784 "`check:js` script broken when peerDeps are satisfied"
Full explanation here: https://github.com/eslint/eslint/issues/13764

I believe that this is an eslint bug.  For the time being, might be a good idea to `npm i --legacy-peer-deps`, and ignore the `npm ls` errors.  Or perhaps upgrade to a version of `standardx` that uses the same version of `eslint` in use by `gts`.

[2020-10-19 07:20] LiranBri opened #1785 "Trigger commands manually"
Hi,
Given that my CLI has two commands A, B

can I trigger B from A's handler ?
currently I was able to do so by using [execa](https://github.com/sindresorhus/execa) but if there is a built in way would be better.

[2020-10-21 13:32] bcoe commented on #1780
@joekiller 👍 I'd like to make this a little more intuitive eventually, with the ability to do something like:

[code]

But it's a bit of an overhaul to get there.

[2020-10-21 13:34] bcoe commented on #1069
@tianyingchun @joekiller just thinking out loud about the API surface, I wonder if we could make:

[code]

and alias for"

[code]

[2020-10-21 16:49] joekiller commented on #1780
@bcoe yes I literally had to "async" everything on a project recently. It is a virus. Thanks for great attention you give to yargs.

[2020-10-21 19:17] shadowtime2000 opened #1786 "Documentation for commandDir?"
The current documentation for `commandDir` only specifies the parameters a usage would be nice because I can't seem to figure out how the commands inside of the folder are supposed to be structured.

[2020-10-22 01:52] alisonailea opened #1787 "bug: validation conflicts object should only run forEach on props"
I'm using a module which uses yargs as a dependency and it is passing in an empty object to yargs which is throwing an error at validation.ts:406

[code]

adding `conflicting.hasOwnProperty(key)` to yargs solves the problem.

[2020-10-22 02:19] tianyingchun commented on #1069
yeah, i think. the parse mean we transform all parameters don't need to care the result to command exec,
if we provider `parseAsync()` maybe it will give me some `confusion`, what's is parse async?, i think onFinishCommand() is fine. cause of in most case we don't need to care when the command has been executed, maybe we need to case this  for `UNIT TEST` . so we can just wrap `onFInishedCommand`

[2020-10-22 04:27] gpoole opened #1789 "Readme CJS example fails with versions of Node older than 12.17"
Using the CJS example code from the README.md seems to fail for me on all Node versions I tried before 12.17 (12.16.1, 12.15.0, 12.14.1 and 11.15.0):

[code]

The error varies by version.

12.16.1:
[code]

12.14.1 and 12.15.0:
[code]

11.15.0:
[code]

Works fine in 12.17 and 12.18.

Here's a sample of how I set it up: https://github.com/gpoole/yargs-node-error

[2020-10-22 20:45] rchrd2 commented on #1312
Unfortunately, even inputting `-` as a string, eg `--file="-"` produces `""` as the value of `argv.file`.

[2020-10-22 21:29] rchrd2 commented on #1312
@ALMaclaine  Why did you close it? Is it fixed?

[2020-10-23 16:50] bcoe commented on #1787
@alisonailea would you be able to provide a minimal failing example? I'm curious as to how a user of the library would get into this situation (_we do our best to validate parameters as they're passed  to the API._)

[2020-10-23 19:17] ALMaclaine commented on #1312
Lol because I thought you were a dev and that was a response on why it couldn't happen. Sorry.

[2020-10-23 19:47] lilleyse commented on #1203
Possibly related - a command like `node command.js --longitude=0 --latitude=10` fails:

[code]

[2020-10-27 00:43] bcoe commented on #1312
@ALMaclaine @rchrd2 this isn't a convention I'm accustomed to. Can you point me to some tools that document using `-` to indicate `stdin`.

[2020-10-27 15:19] apoorv-mishra commented on #1789
I researched a bit and found that `yargs/yargs` also exports `hideBin` [here](https://github.com/yargs/yargs/blob/75f98fbd7997c6cfbf04998844ebea0a8e09c2fc/yargs#L7), therefore following change fixes the problem.
[code]

[2020-10-27 15:23] bcoe commented on #1789
@apoorv-mishra @gpoole I think we should update the docs wherever we use `require`, to use the approach @apoorv-mishra outlines.

If anyone feels like submitting a patch, we would happily take the contribution.

[2020-10-27 15:24] bcoe commented on #1203
thanks for the bug report. If you're so inclined, would happily take a PR for a failing test, or a fix 😄

[2020-10-27 16:17] ljharb commented on #1789
Could we add a helpers.js instead (alongside helpers.mjs), so the same entry point works for everyone?

[2020-10-27 21:13] ALMaclaine commented on #1312
@bcoe https://unix.stackexchange.com/questions/16357/usage-of-dash-in-place-of-a-filename

I however, don't remember why I wanted it, I think someone else asked me to implement it in replace.

[2020-10-27 21:19] rchrd2 commented on #1312
Here's an example in python:

[code]
Source: https://stackoverflow.com/a/59381303

Also: `For utilities that use operands to represent files to be opened for either reading or writing, the '-' operand should be used to mean only standard input (or standard output when it is clear from context that an output file is being specified) or a file named -.` (https://pubs.opengroup.org/onlinepubs/9699919

[2020-10-28 15:15] jissv opened #1790 "Security Vulnerabilities detected in the dependency packages requires an update"
Hi, for one of our projects that uses yargs, the Veracode static code analysis tool points out one of the dependency library is vulnerable to prototype pollution,  Details are as given below.

Prototype Pollution: y18n is vulnerable to prototype pollution. An attacker is able to exploit the vulnerability to inject arbitrary properties into existing construct prototypes and modify attributes such a

[2020-10-28 15:21] bcoe commented on #1790
This prototype pollution issue is addressed in the latest version of `y18n`.

[2020-10-28 16:56] bcoe commented on #1790
@jissv the fix is in `v5.0.5`, which it doesn't look to be listed in the Veracode UI? It might be worth opening an issue with their product.

[2020-10-28 17:45] jissv commented on #1790
Sure. Thank you so much @bcoe for your quick response.

[2020-10-29 15:47] bcoe commented on #1789
@ljharb @ef4 I'd be open to this. Would it be enough to add the `helpers.js` file, or are there Node.js versions that would also need an update to our exports map?

[2020-10-29 16:17] ljharb commented on #1789
For pre-exports node, that file would be sufficient - for post-exports node, you may want to modify the “require” condition, but the entry point will at least work for CJS already.

[2020-10-30 13:56] Crono1981 commented on #513
I really would benefit from such a feature myself. In my scenario, I have an output file argument which has a default value. I also have a flag option. If it's off, the app output goes straight to the console but if it's on then it goes into the specified file.

This way, the following will cause output to go to the console:

[code]

... the following will output to the default file location:

[co

[2020-10-30 16:00] wesleytodd opened #1791 "Default command invoked when calling .showHelp"
[code]

The above application will also execute the default command even though we never called `.argv` or `.parse`.  This seems like unexpected behavior to me and I could not find any docs on this.  Is this intended for some reason I am unaware of?

[2020-11-01 22:21] shadowspawn commented on #1786
I see that `commandDir` is used in one of the examples which might help:
- https://github.com/yargs/yargs/blob/63e1173bb47dc651c151973a16ef659082a9ae66/example/command_hierarchy.js

(Example added in #1058)

[2020-11-01 23:54] #1786 closed

[2020-11-02 08:23] ffMathy opened #1793 "Expose CommandHandlerDefinition in Deno"
Today, it's hard to have command handlers in separate files that are strong typed, if this is not exposed.

See #1792, where I need some help.

[2020-11-02 08:29] ffMathy opened #1794 "Not working with Deno 1.5.1"
I ran the sample. Latest TypeScript, latest Deno.

`deno --version` yields:

Code:

[code]

Command: `deno run main.ts`

Result:

[2020-11-02 08:37] ffMathy commented on #1706
Doesn't work anymore. See #1794

[2020-11-02 08:42] ffMathy commented on #1794
Hmmm this could also be why #1793 is failing.

[2020-11-02 16:15] bcoe commented on #1794
@ffMathy I haven't had a chance to dig into this yet, but it seems like there was a change in how Deno loads types that will need to be fixed in each dependency.

[2020-11-02 16:18] bcoe commented on #1791
@wesleytodd this definitely doesn't seem like intended behavior, thanks for the bug report.

[2020-11-02 17:30] ffMathy commented on #1794
I unfortunately don't have time to fix this myself. Is there any chance you'll have time anytime soon?

[2020-11-03 23:50] gpoole commented on #1789
Not sure if this helps and I haven't been able to get to the bottom of it, but I had a go at adding `helpers.js` and had problems in 12.16. It felt a lot to me like like 12.16 wasn't using the exports map, or I couldn't get it to work. If I added helpers.js as a CJS module, 12.16 would try to import that when I used `require('yargs/helpers')` and then errored because it should be an ESM:

[code]

[2020-11-04 00:01] ljharb commented on #1789
@gpoole 12.16 doesn’t look at “exports” at all, that’s why the file needs to be added where pre-exports node can find it.

[2020-11-04 00:02] ljharb commented on #1789
If the root is using type module (which I’d discourage), then you can do a `helpers` directory with an `index.js` file, and a package.json with type “commonjs”.

[2020-11-04 02:36] kamalyzl opened #1796 "High severity vulnerability detected in dependencies"
A security assessment was performed and vulnerabilities were found to dependency sane

It is requested to update from version  " y18n": "^4.0.0" to " y18n": "^5.0.5"

reference:
https://github.com/yargs/yargs/blob/v15.0.0/package.json
https://github.com/yargs/y18n/pull/109

[2020-11-04 02:52] gpoole commented on #1789
Yeah, that does seem to be the case, but I was thrown because the Node documentation seemed to me to say [conditional exports were introduced in 12.16](https://nodejs.org/api/packages.html#packages_exports) (and 13.2.0?). Are the docs wrong there or am I misunderstanding it? Seems like actually 12.17 was the version it was added?